.table-tr{
  border: 1px solod black;
}
.label-align-right {
    text-align: right;
}
.info-table-text {
  padding: 0 10px;
  text-align: right;
  color: #6f6f6f;
  font-weight: normal;
}
.pm-table-row-cell{
  height: 32px;
  width: 230px;
  line-height: 32px;
  padding: 0 10px;
  border-bottom: #f0f0f0 solid 1px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  border-right: #c6c6c6 solid 1px;
}
.pm-cell-color{
  color: rgb(0,87,118);
  text-align: center;
}
.pm-table-header-cell{
  width: 230px;
  background: #f9f9f9;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  color: #000;
  border-bottom: #f0f0f0 solid 1px;
  border-right: #c6c6c6 solid 1px;
}

.header-img{
  overflow: hidden;
  max-height: 360px;
  /* min-height: 200px; */
  margin-bottom: 20px;
}

a{
  color: rgb(237, 139, 0);
  cursor: pointer;
}

a:hover{
  color:rgb(237, 139, 0);
}

.panel-default h2{
  margin: 0;
  font-weight: 400;
}



