.btn-light {
    color: #75787b !important;
    background-color : white !important;
}
.btn-light-search {
    display: block;
    width: 100%;
}

.btn-block {
    color: white !important;
    background-color : #DA4405 !important;
}

.btn-block:hover {
}
.btn-light:hover, .btn-primary:active, .btn-primary:visited{
    color: #DA4405 !important;
}
code {
  display: block;
  white-space: pre-wrap   
}

.opblock-summary-description {
   
}

.authorization__btn {
}

.try-out__btn {
    display: none;
}

.url{
    display: none;
}
