.btn-light {
    color: #005776 !important;
    background-color : white !important;
}
.btn-light-search {
    display: block;
    width: 100%;
}

.btn-block {
    color: white !important;
    background-color : #005776 !important;
}

.btn-light:hover, .btn-primary:active, .btn-primary:visited{
    color: #005776 !important;
}
code {
  display: block;
  white-space: pre-wrap   
}

.try-out__btn {
    display: none;
}

.url{
    display: none;
}
