<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">

        <br>
    </div>
    <div class="col-md-1">
    </div>
</div>
<img src="img/CC_MC.jpeg" width="100%"></img>
<div class="row">
    <br>
    <div class="col-md-1"></div>
    <div ng-init="menu=true;" class="col-md-2 btn-group-vertical">
        <button type="button" class="btn btn-light text-left" ng-click="menu=!menu"><h3>3D Secure</h3> </button>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/3dsecure/3dsecure_v1">3DS 1.0</a>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/3dsecure/3dsecure_v2">3DS 2.0</a>
        <ul>
            <li><a href="/3dsecure/3dsecure_v2_introduction/">Introduction</a></li>
            <li><a href="/3dsecure/3dsecure_v2_parameters">Parameters</a></li>
            <li><a href="/3dsecure/3dsecure_v2_use_cases">Use Cases</a></li>
            <li><a href="#">Integration Types</a></li>
            <li><a href="/3dsecure/3dsecure_v2_integration_impact">Integration Impact</a></li>
            <li><a href="/3dsecure/3dsecure_v2_testing">Testing</a></li>
        </ul>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="#">Credentials on File</a>
        <ul>
            <li><a href="/3dsecure/credentials_on_file_introduction">Introduction</a></li>
            <!-- <li><a href="#">Use Cases</a></li>-->
            <li><a href="/3dsecure/credentials_on_file_integration_types">Integration Types</a></li> 
        </ul>
        <br/>
    </div>
    <div class="col-md-8">
      <div ng-show="cur=='3dsecure_v1'">
        <div  ng-include="'/partials/3dsecure/3dsecure_v1.html'">
        </div>
      </div>
      <div ng-show="cur=='3dsecure_v2'">
        <div  ng-include="'/partials/3dsecure/3dsecure_v2.html'">
        </div>
      </div>
      <div ng-show="cur=='3dsecure_v2_introduction'">
        <div  ng-include="'/partials/3dsecure/3dsecure_v2/introduction.html'">
        </div>
      </div>
      <div ng-show="cur=='3dsecure_v2_parameters'">
        <div  ng-include="'/partials/3dsecure/3dsecure_v2/parameters.html'">
        </div>
      </div>
      <div ng-show="cur=='3dsecure_v2_use_cases'">
        <div  ng-include="'/partials/3dsecure/3dsecure_v2/use_cases.html'">
        </div>
    </div>
    <div ng-show="cur=='3dsecure_v2_testing'">
        <div  ng-include="'/partials/3dsecure/3dsecure_v2/testing.html'">
        </div>
    </div>
    <div ng-show="cur=='3dsecure_v2_integration_impact'">
        <div  ng-include="'/partials/3dsecure/3dsecure_v2/integration_impact.html'">
        </div>
    </div>
    <div ng-show="cur=='credentials_on_file_introduction'">
        <div  ng-include="'/partials/3dsecure/credentials_on_file/introduction.html'">
        </div>
    </div>
    <div ng-show="cur=='credentials_on_file_integration_types'">
        <div  ng-include="'/partials/3dsecure/credentials_on_file/integration_types.html'">
        </div>
    </div>
    </div>
</div>
