<img src="img/CC_PowerSmall.jpg" width="100%"></img>
<br><br>
<div class="container">
    <h4 class="p-title"><span>Unlimited Power</span></h4>
    <div class="container pad20B row">
        <div class="col-md-4">
            <a href="/buildyourown/restdoc">
                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                    <img src="img/newIcons/API_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.6s"></img>
                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>REST API Documentation</b></h2>
                    <p class="icon-content wow fadeInUp"><b>We offer a REST based API, with HTTP Basic Access Authorization and JSON as payload format.</b></p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/buildyourown/apidocu" target="_blank">
                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                    <img src="img/newIcons/API_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.7s"></img>
                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>REST API Example</b></h2>
                    <p class="icon-content wow fadeInUp" > <b>All Endpoints with Examples <br><p style="color:white">t <br>t</p></b></p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
           <a href="/buildyourown/bridge">
                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                    <img src="img/newIcons/API_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.5s"></img>
                    <h2 class="text-transform-upr icon-title wow fadeInUp"><b>Bridge</b></h2>
                    <p class="icon-content wow fadeInUp"><b>Javascript alternative to our iframe <a class="thumb-link" href="/outofthebox/widgetmenu" title="">Widget</a><br><p style="color:white">t  <br>t</p></p>
                </div>
            </a>
        </div>
    </div>
</div>
