<div class="container" style="padding-top:100px;">
	<div class="col-md-6">
		<img src="/img/24 7 256x256.png" class="contact-image">
		<h2 class="center-div" style="color: #005776;">24/7 Support</h2>
		<p class="center-div" >
			Concardis customers expect more. We offer more. <br>
			Customer service takes high priority at Concardis.
		<table class="table table-striped" style="padding:20px;">
			<tr>
				<th>Telefon: </th>
				<th><a href="tel:+496979222090">069/79 22-20 90</a> (1/1/52)</th>
			</tr>
			<tr>
				<th>E-Mail: </th>
				<th><a href="mailto:eComHelp@concardis.com">eComHelp@concardis.com</a></th>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<img src="/img/call_center 256x256.png" class="contact-image">
		<h2 class="center-div" style="color: rgb(237, 139, 0);">Sales</h2>
		<p class="center-div">
			Our team helps you to find your individual solution. </br>
		</br>
		</p> 
		<table class="table table-striped" style="padding:20px;">
			<tr>
				<th>Telefon: </th>
				<th><a href="tel:+496979224059">069/79 22-4059</a></th>
			</tr>
			<tr>
				<th>E-Mail: </th>
				<th><a href="mailto:eCommerce@concardis.com">eCommerce@concardis.com</a></th>
			</tr>
		</table>
	</div>
</div>
