<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="p-title" style="color:rgb(237, 139, 0);"><span style="font-weight:400;">Payment Methods</span></h4>
		<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Credit card   
						<img class="alignnone size-medium wp-image-5822" src="/uploads/2020/Visa_300x214.png" alt="" width="30"/>
						<img class="alignnone size-medium wp-image-5823" src="/uploads/2020/mastercard_300x214.png" alt="" width="30"/>
						<img class="alignnone size-medium wp-image-5825" src="/uploads/2020/diners_300x214.png" alt="" width="30"/>
						<img class="alignnone size-medium wp-image-5826" src="/uploads/2020/discover_300x214.png" alt="" width="30"/>
						<img class="alignnone size-medium wp-image-5827" src="/uploads/2020/jcb_300x214.png" alt="" width="30"/>
						<img class="alignnone size-medium wp-image-5824" src="/uploads/2020/amex_300x214.png" alt="" width="30"/></h2>
				</uib-accordion-heading>
				To process Credit cards you need a credit card acceptance agreement with us.<br> Get your offer:  <a href="https://easycontract.concardis.com/p/user/register">https://easycontract.concardis.com/p/user/register</a><br>
				<br> We support the following brands:<br>
				<br>
				<img class="alignnone size-medium wp-image-5822" src="/uploads/2020/Visa_300x214.png" alt="" width="75"/><img class="alignnone size-medium wp-image-5823" src="/uploads/2020/mastercard_300x214.png" alt="" width="75"/><img
				  class="alignnone size-medium wp-image-5825" src="/uploads/2020/diners_300x214.png" alt="" width="75"/><img class="alignnone size-medium wp-image-5826" src="/uploads/2020/discover_300x214.png" alt="" width="75"/><img
				  class="alignnone size-medium wp-image-5827" src="/uploads/2020/jcb_300x214.png" alt="" width="75" /><img class="alignnone size-medium wp-image-5824" src="/uploads/2020/amex_300x214.png" alt="" width="75"/>
				<h4>Integration</h4><br> According to your PCI security level we offer three options to process credit cards:<br>
				<ol>
					<li><a href="/outofthebox/widgetmenu">Widget Solution</a> – SAQ-A low security level / low flexibility</li>
					<li><a href="/buildyourown/bridge">Bridge Solution</a> – SAQ-A / SAQ-AEP medium security level / medium flexibility</li>
					<li><a href="/buildyourown/restdoc">API direct</a> – SAQ-D high security level / full flexibility</li>
				</ol>
				Test your integration with our simulator <a href="/buildyourown/restdoc/simulator">here</a>.<br>
				<br> Read more about PCI security levels <a href="/systemurl/pcidss">here</a>.<br>
				<br>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Paydirekt <img class="" src="/img/paydirekt.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_paydirekt.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>SOFORT <img class="" src="/img/faq/sofort/sofort-logo.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_sofort.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>PayPal <img class="" src="/img/PP_Logo.png" alt="PayPal logo"  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_paypal.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>SEPA Direct Debit <img class="" src="/img/faq/sepa.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_sepa.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Prepayment <img class="" src="/img/faq/prepayment.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_prepayment.html'"></div>
			</div>
		<!-- 	<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>EPS <img class="" src="/img/faq/eps.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_eps.html'"></div>
			</div> -->
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Giropay <img class="" src="/img/faq/giropay.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_giropay.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Klarna <img class="" src="/img/faq/klarna.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_klarna.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>TWINT <img class="" src="/img/faq/twint/twint_logo_rgd.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_twint.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>PayU <img class="" src="/img/faq/payU/PAYULogo-1-1024x614.jpg" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_payu.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Paysafecard <img class="" src="/img/faq/paysafe/paysafecard-logo.png" alt=""  height="30" style="vertical-align: middle;" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_paysafecard.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>iDEAL <img class="" src="/img/faq/ideal.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_ideal.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Bancontact <img class="" src="/img/faq/bancontact.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_bancontact.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Alipay <img class="" src="/img/faq/alipay.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_alipay.html'"></div>
			</div>			
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Union Pay <img class="" src="/img/faq/unionpay.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_unionpay.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>WeChat Pay <img class="" src="/img/faq/wechat.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_wechat.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>RatePAY Direct Debit <img class="" src="/img/faq/ratepay.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_ratepay_dd.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>RatePAY Invoice <img class="" src="/img/faq/ratepay.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_ratepay_invoice.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>RatePAY Installment <img class="" src="/img/faq/ratepay.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_ratepay_installments.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>PostFinance <img class="" src="/img/faq/postFinance/logo-highresolution.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_postFinance.html'"></div>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Apple Pay <img class="" src="/img/faq/apple_pay/apple-pay-logo.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				<div ng-include="'/partials/faq_pm_apple_pay.html'"></div>
			</div>
		<br/>
		<br/>

		</uib-accordion>
		<h4 class="p-title" style="color:rgb(237, 139, 0);"><span style="font-weight:400;">The Frequently Asked Questions about Concardis Payengine</span></h4>
		<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="How can I convert a test account (’sandbox‘ account) into a production or live account?">
				<p>Test account and production account represent two different user accounts on two separated environments with separated data bases. An automatic conversion from test into live is therefore not possible. You would need to additionally register a live
					account, for which a signed contract is a prerequisite. If in doubt, please contact your Concardis representative to get more information on how to obtain and sign a contract.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="I have forgotten my password, how can I reset it?">
				<p>Your password can be reset by following the according ‚password forgotten‘- link that is located on Merchant Center login page https://merchanttest.payengine.de (sandbox) or https://merchant.payengine.de (production).</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How can I change my password?">
				<p>Admins can change their password within Merchant Center at ‚My Account- Password‘. Alternatively, you can use the ‚password forgotten‘- link located on Merchant Center login page (see above).</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How can I add more supported payment methods?">
				<p>Please get in contact with the Concardis Tech Support at +49 69 7922 2090. Please choose: 1 (de) or 2(en) (for language) - 1 (for technical support) - 52 (terminalid, for payengine product) or ecomhelp@nets.eu. The support is available 24/7.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How can I change my bank account details for payouts?">
				<p>Please get in touch with the Concardis Support at +49 69 7922 4060 (Mon.-Thu. 8:30-17:30, Fri. 8:30-17:00)</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How can I do a refund?">
				<p>A refund can be initiated either through our API call or through our Merchant Center UI. After successful login into Merchant Center, please navigate to ‚Orders‘ and open the according orders details (‚action‘). After clicking on the according debit
					or capture transaction you want to refund, the according ‚Refund‘ button appears and leads you to the appropriate form to trigger the refund.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Can I refund on a different card or payment instrument of another brand?">
				<p>This is not possible. An order is connected to at most one payment instrument that is to be used for all containing transactions.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Can I cancel or delete a refund?">
				<p>This is not possible. A successful refund can’t be revoked.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Why was my customer declined?">
				<p>A decline can have multiple reasons. In case a transaction got declined because of customer or payment instrument details, there will be a dedicated exception message within Payengines API response. The latter can also be found within transaction
					details in Merchant Center.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How kann I ’save‘ my customers card details for future use, e.g. for recurring payments?">
				<p>Each individual card, bank or user account that is used for payment within Payengine is transformed into a ‚Payment Instrument‘ whose unique ID represents an encrypted token. Recurring payments can be initiated by using these paymentInstrumentId’s
					when communicating with Payengine API or within Merchant Center, provided the according payment method or scheme is supporting recurring payments at all. Please note that a credit card must first be successfully authenticated through strong authentication
					process such as 3D Secure before it supports ‚recurring‘.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="When will I receive my payout?">
				<p>Payment methods for which Concardis is acting as Acquirer (amongst others cards, paydirekt, SEPA and Giropay) will be settled and payed out according to the agreement within Payengine service contract. Please check for the settlement interval and
					a possible payout delay in order, both being part of the Payengine service contract. All other payment methods will be settled and payed out by the schemes directly according to the individual contract that you and the scheme agreed upon.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Why do the payout funds get delayed?">
				<p>Most banks only transfer funds during working days. Bank holidays or weekends may delay the transfer of your funds.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How do I identify a successful payment?">
				<p>Orders and transactions always have a dedicated status that represents the exact state of a customer payment. A successful payment is indicated by the debit or capture transaction state ‚SUCCESS‘. A detailed list of all status including the state
					transition rules can be found <a href="https://docs.payengine.de/systemurl/transactionstate">here</a></p>
			</div>
			<div uib-accordion-group class="panel-default" heading="When can I start shipping goods?">
				<p>You should initiate the shipping only if the according capture or debit transaction is in status ‚SUCCESS‘. If you ship at an earlier stage you might risk a financial loss, since the transaction could still end in one of the negative and final status
					‚FAILURE‘, ‚DECLINED‘, ‚ABORTED‘ or ‚EXPIRED‘.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Who can help me with technical issues I encounter?">
				<p>Please get in contact with the Concardis Tech Support at +49 69 7922 2090. Please choose: 1 (de) or 2(en) (for language) - 1 (for technical support) - 52 (terminalid, for payengine product) or ecomhelp@nets.eu. The support is available 24/7.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Who can help me with general questions about Payengine?">
				<p>Please get in contact with the Concardis Tech Support at +49 69 7922 2090. Please choose: 1 (de) or 2(en) (for language) - 1 (for technical support) - 52 (terminalid, for payengine product) or ecomhelp@nets.eu. The support is available 24/7.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Do I get in touch with credit card numbers or do I see my customers‘ credit card details?">
				<p>As long as you do not collect credit card details on your homepage in plain text, you will not get in touch with any credit card details that are subject of PCI DSS security requirements. Payengine tokenises every credit card (and all other payment
					instrument) according to PCI DSS standards and delivers you the token ID (‚paymentInstrumentId‘) that can be used for all subsequent payment transactions. In Merchant Center, you will only be able to see your customers‘ masked credit card number
					(e.g. ************0123).</p>
			</div>
		</uib-accordion>
		</div>
	</div>
