<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="p-title" style="color:#DA4405;"><span>Payment Methods</span></h4>
		<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Creditcard   <img class="alignnone size-medium wp-image-5822" src="/uploads/2017/09/visa-300x214.png" alt="" width="30" height="25" /><img class="alignnone size-medium wp-image-5823" src="/uploads/2017/09/mastercard-300x214.png" alt="" width="30" height="25" /><img class="alignnone size-medium wp-image-5825" src="/uploads/2017/09/diners-club-300x214.png" alt="" width="30" height="25" /><img class="alignnone size-medium wp-image-5826" src="/uploads/2017/09/discover-300x214.png" alt="" width="30" height="25" /><img class="alignnone size-medium wp-image-5827" src="/uploads/2017/09/JCB-300x214.png" alt="" width="30" height="25" /><img class="alignnone size-medium wp-image-5824" src="/uploads/2017/09/Amex-300x214.png" alt="" width="30" height="25" /></h2>
				</uib-accordion-heading>	
				 To process Credit cards you need a credit card acceptance agreement with us.<br>
				Get your offer:  <a href="https://easycontract.concardis.com/p/user/register">https://easycontract.concardis.com/p/user/register</a><br>
				<br>
				We support the following brands:<br>
				<br>
				<img class="alignnone size-medium wp-image-5822" src="/uploads/2017/09/visa-300x214.png" alt="" width="75" height="50" /><img class="alignnone size-medium wp-image-5823" src="/uploads/2017/09/mastercard-300x214.png" alt="" width="75" height="50" /><img class="alignnone size-medium wp-image-5825" src="/uploads/2017/09/diners-club-300x214.png" alt="" width="75" height="50" /><img class="alignnone size-medium wp-image-5826" src="/uploads/2017/09/discover-300x214.png" alt="" width="75" height="50" /><img class="alignnone size-medium wp-image-5827" src="/uploads/2017/09/JCB-300x214.png" alt="" width="75" height="50" /><img class="alignnone size-medium wp-image-5824" src="/uploads/2017/09/Amex-300x214.png" alt="" width="75" height="50" />
				<h4>Integration</h4><br>
				According to your PCI security level we offer three options to process credit cards:<br>
				<ol>
				 	<li><a href="/outofthebox/widgetmenu">Widget Solution</a> – SAQ-A low security level / low flexibility</li>
				 	<li><a href="/buildyourown/bridge">Bridge Solution</a> – SAQ-A / SAQ-AEP medium security level / medium flexibility</li>
				 	<li><a href="/buildyourown/restdoc">API direct</a> – SAQ-D high security level / full flexibility</li>
				</ol>
				Test your integration with our simulator <a href="/buildyourown/restdoc/simulator">here</a>.<br>
				<br>

				Read more about PCI security levels <a href="/systemurl/pcidss">here</a>.<br>
				<br>
			</div>
			<div uib-accordion-group class="panel-default" >
				<uib-accordion-heading>
					<h2>PayPal   <img class="alignnone size-medium wp-image-5822" src="/img/PP_Logo.png" alt=""  height="30" /></h2>
				</uib-accordion-heading>	
				To offer PayPal to your customers you first need a creditcard acceptance agreement with us. Get your offer <a href="https://easycontract.concardis.com/p/user/register">here</a>.<br>
				<br>
				Additional you need a PayPal merchant account. Get your offer <a href="https://www.paypal.com/de/webapps/mpp/merchant">here</a>.<br>
				<br>
				<h4>Setup</h4><br>
				Contact our service to deposit your PayPal credentials (Username / Password / Signature / SFTP User) in our system.<br>
				<br>
				Creating and managing PayPal API Credentials: <br>
				<a href="https://developer.paypal.com/docs/classic/api/apiCredentials/">https://developer.paypal.com/docs/classic/api/apiCredentials/</a><br>
				<br>
				Setting up SFTP Reports with PayPal: <br>
				<a href="https://www.paypal-community.com/t5/SFTP-Reports/Setting-Up-SFTP-reports-with-PayPal/td-p/1124738">https://www.paypal-community.com/t5/SFTP-Reports/Setting-Up-SFTP-reports-with-PayPal/td-p/1124738</a>
				<br>

				<h3>Integration</h3><br>
				We have two options to integrate PayPal:<br>
				<ol>
				 	<li><a href="/outofthebox/widgetMenu">Widget </a>- Out of the Box / easy to integrate / low flexibility</li>
				 	<li><a href="/buildyourown/restdoc">API </a>- use directly our API / maximum flexibility</li>
				</ol>
				<br>
				<h3>Instant Payment Notifications</h3><br>
				To make sure that the Concardis Payengine can process asynchronous notifications (IPN = Instant Payment Notifications) from PayPal, please make sure to select the <i>UTF-8</i> encoding in your PayPal business account settings.<br>
				<br>
				<b>New PayPal business accounts:</b><br>
				Follow these steps to change the encoding to <i>UTF-8</i>: <a href="https://developer.paypal.com/docs/classic/admin/checkout-settings/#change-the-encoding-used-by-your-website">Change the encoding</a><br>
				<br>
				<b>Old PayPal business accounts:</b> <br>
				First please login in to your PayPal Account (http://www.paypal.com) and select "My Account / Profile".
				Select "More Options" here:<br>
				<img src="/uploads/2018/03/Paypal1.png" alt="" width="527" height="355" class="alignnone size-full wp-image-6538" />
				Select <i>UTF-8</i> (red box) here and save the settings.<br>
				<img src="/uploads/2018/03/Paypal2.png" alt="" width="505" height="412" class="alignnone size-full wp-image-6539" />
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>RatePAY   <img class="alignnone size-medium wp-image-5822" src="/img/ratepay.png" alt=""height="30" /></h2>
				</uib-accordion-heading>
				To offer RatePAY to your customers you first need a creditcard acceptance agreement with us. Get your offer <a href="https://easycontract.concardis.com/p/user/register">here</a>.<br>
				<br>
				<br>
				<h4>Setup</h4><br>
				Contact our service to deposit your RatePAY credentials in our system.<br>
				<br>
				<br>
				<h3>Integration</h3><br>
				We have two options to integrate RatePAY:<br>
				<ol>
				 	<li><a href="/outofthebox/widgetMenu">Widget </a>- Out of the Box / easy to integrate / low flexibility</li>
				 	<li><a href="/buildyourown/restdoc">API </a>- use directly our API / maximum flexibility</li>
				</ol>
			</div>
			<div uib-accordion-group class="panel-default">
				<uib-accordion-heading>
					<h2>Paydirekt   <img class="alignnone size-medium wp-image-5822" src="/img/paydirekt.png" alt=""  height="30" /></h2>
				</uib-accordion-heading>
				To offer Paydirekt to your customers you first need a creditcard acceptance agreement with us. Get your offer <a href="https://easycontract.concardis.com/p/user/register">here</a>.<br>
				<br>
				<br>
				<h4>Setup</h4><br>
				Contact our service to deposit your Paydirekt credentials in our system.<br>
				<br>
				<br>
				<h3>Integration</h3><br>
				We have two options to integrate Paydirekt:<br>
				<ol>
				 	<li><a href="/outofthebox/widgetMenu">Widget </a>- Out of the Box / easy to integrate / low flexibility</li>
				 	<li><a href="/buildyourown/restdoc">API </a>- use directly our API / maximum flexibility</li>
				</ol>
			</div>
			<div uib-accordion-group class="panel-default" >
				<uib-accordion-heading>
					<h2>Sofort   <img class="alignnone size-medium wp-image-5822" src="/img/sofort.png" alt=""  height="20" /></h2>
				</uib-accordion-heading>
				To offer Sofort to your customers, you firstly need a credit card acceptance agreement with us. Get your<br>
				offer <a href="https://easycontract.concardis.com/p/user/register">here</a>.<br>
				<br>
				<h3>Setup</h3><br>
				Contact our service to deposit your Sofort credentials in our system.<br>
				<h3>Integration</h3><br>
				We have two options to integrate Sofort:<br>
				1. <a href="/outofthebox/widgetMenu">Widget</a> – Out of the Box / easy to integrate / low flexibility<br>
				2. <a href="/buildyourown/restdoc">API</a> – use directly our API / maximum flexibility
				<h3>Transaction status</h3><br>
				After creating a debit order with the payment method Sofort the transaction status will be PENDING and
				a redirect URL will be provided.<br>
				The end customer needs to be redirected to the redirect URL.<br>
				When the end customer completes his payment via Sofort, the transaction status results either in
				SUCCESS or in case of failure in FAILURE.<br>
				<h2>With Deutsche Handelsbank bank account</h2><br>
				<h3>Payment loss</h3><br>
				In case that the payment does not arrive to your bank account, a new chargeback transaction in the
				status CHARGEBACK will be created as a child of the initial debit transaction.
				In this case you should directly contact the end customer to inform him that there is an issue with the
				payment.<br>
				The end customer can initiate a bank transfer with the order.paymentProviderTransactionId
				as reference to complete the transaction.<br>
				You can find the order.paymentProviderTransactionId in the Merchant Center detail view of
				your order.<br>
				To read the order information via API click <a href="/buildyourown/restapi">here</a>.<br>
				<h3>Payment received</h3><br>
				As soon as the payment amount is available on your bank account, the flag order.settled will be
				set to true.
				If there was a chargeback transaction present, the chargeback status will change from CHARGEBACK to
				BOOKIN.
				See API spec for reading order information <a href="/buildyourown/restapi">here</a>.
				<h2>Without Deutsche Handelsbank bank account</h2><br>
				No further status updates will be available.<br>
				<h3>Support</h3><br>
				If you need to contact the Sofort support to solve a transaction specific problem, ensure that you have
				always provided the order.paymentProviderTransactionId.<br>
				<h3>Webhooks</h3><br>
				Not implemented yet.<br>
			</div>
		</uib-accordion>
		<h4 class="p-title" style="color:#DA4405;"><span>The Frequently Asked Questions about Concardis Payengine</span></h4>
		<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="How can I convert a test account (’sandbox‘ account) into a production or live account?">
				 <p>Test account and production account represent two different user accounts on two separated environments with separated data bases. An automatic conversion from test into live is therefore not possible. You would need to additionally register a live account, for which a signed contract is a prerequisite. If in doubt, please contact your Concardis representative to get more information on how to obtain and sign a contract.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="I have forgotten my password, how can I reset it?">
				<p>Your password can be reset by following the according ‚password forgotten‘- link that is located on Merchant Center login page https://merchanttest.payengine.de (sandbox) or https://merchant.payengine.de (production).</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How can I change my password?">
				<p>Admins can change their password within Merchant Center at ‚My Account- Password‘. Alternatively, you can use the ‚password forgotten‘- link located on Merchant Center login page (see above).</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How can I add more supported payment methods?">
				<p>Please get in contact with the Concardis Tech Support at +49 69 7922 2090. Please choose: 1 (de) or 2(en) (for language) - 1 (for technical support) - 52 (terminalid, for payengine product) or eComHelp@concardis.com. The support is available 24/7.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How can I change my bank account details for payouts?">
				<p>Please get in touch with the Concardis Support at +49 69 7922 4060 (Mon.-Thu. 8:30-17:30, Fri. 8:30-17:00)</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How can I do a refund?">
				<p>A refund can be initiated either through our API call or through our Merchant Center UI. After successful login into Merchant Center, please navigate to ‚Orders‘ and open the according orders details (‚action‘). After clicking on the according debit or capture transaction you want to refund, the according ‚Refund‘ button appears and leads you to the appropriate form to trigger the refund.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Can I refund on a different card or payment instrument of another brand?">
				<p>This is not possible. An order is connected to at most one payment instrument that is to be used for all containing transactions.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Can I cancel or delete a refund?">
				<p>This is not possible. A successful refund can’t be revoked.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Why was my customer declined?">
				<p>A decline can have multiple reasons. In case a transaction got declined because of customer or payment instrument details, there will be a dedicated exception message within Payengines API response. The latter can also be found within transaction details in Merchant Center.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How kann I ’save‘ my customers card details for future use, e.g. for recurring payments?">
				<p>Each individual card, bank or user account that is used for payment within Payengine is transformed into a ‚Payment Instrument‘ whose unique ID represents an encrypted token. Recurring payments can be initiated by using these paymentInstrumentId’s when communicating with Payengine API or within Merchant Center, provided the according payment method or scheme is supporting recurring payments at all. Please note that a credit card must first be successfully authenticated through strong authentication process such as 3D Secure before it supports ‚recurring‘.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="When will I receive my payout?">
				<p>Payment methods for which Concardis is acting as Acquirer (amongst others cards, paydirekt, SEPA and Giropay) will be settled and payed out according to the agreement within Payengine service contract. Please check for the settlement interval and a possible payout delay in order, both being part of the Payengine service contract. All other payment methods will be settled and payed out by the schemes directly according to the individual contract that you and the scheme agreed upon.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Why do the payout funds get delayed?">
				<p>Most banks only transfer funds during working days. Bank holidays or weekends may delay the transfer of your funds.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="How do I identify a successful payment?">
				<p>Orders and transactions always have a dedicated status that represents the exact state of a customer payment. A successful payment is indicated by the debit or capture transaction state ‚SUCCESS‘. A detailed list of all status including the state transition rules can be found <a href="https://docs.payengine.de/systemurl/transactionstate">here</a></p>
			</div>
			<div uib-accordion-group class="panel-default" heading="When can I start shipping goods?">
				<p>You should initiate the shipping only if the according capture or debit transaction is in status ‚SUCCESS‘. If you ship at an earlier stage you might risk a financial loss, since the transaction could still end in one of the negative and final status ‚FAILURE‘, ‚DECLINED‘, ‚ABORTED‘ or ‚EXPIRED‘.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Who can help me with technical issues I encounter?">
				<p>Please get in contact with the Concardis Tech Support at +49 69 7922 2090. Please choose: 1 (de) or 2(en) (for language) - 1 (for technical support) - 52 (terminalid, for payengine product) or eComHelp@concardis.com. The support is available 24/7.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Who can help me with general questions about Payengine?">
				<p>Please get in contact with the Concardis Tech Support at +49 69 7922 2090. Please choose: 1 (de) or 2(en) (for language) - 1 (for technical support) - 52 (terminalid, for payengine product) or eComHelp@concardis.com. The support is available 24/7.</p>
			</div>
			<div uib-accordion-group class="panel-default" heading="Do I get in touch with credit card numbers or do I see my customers‘ credit card details?">
				<p>As long as you do not collect credit card details on your homepage in plain text, you will not get in touch with any credit card details that are subject of PCI DSS security requirements. Payengine tokenises every credit card (and all other payment instrument) according to PCI DSS standards and delivers you the token ID (‚paymentInstrumentId‘) that can be used for all subsequent payment transactions. In Merchant Center, you will only be able to see your customers‘ masked credit card number (e.g. ************0123).</p>
			</div>
		</uib-accordion>
	</div>
</div>
