<div  class="col-md-12">
	<ul>
			<li><a href="/faq_pm_sepa_direct_debit">SEPA Direct Debit</a></li>
			<ul>
					<li><a href="/faq_pm_sepa_single_order">Single Order</a></li>
					<li><a href="/faq_pm_sepa_ro_with_Initial_payment">Recurring Order with Initial Payment</a>
					<li><a href="/faq_pm_sepa_ro_without_initial_payment">Recurring Order without Initial Payment</a></li>

			</ul>
			
		</ul>

		
<div class="col-md-8">
<div ng-show="cur=='faq_pm_sepa_direct_debit'">
	<div  ng-include="'/partials/faq_pm_sepa_direct_debit.html'">
	</div>
</div>
<div ng-show="cur=='faq_pm_sepa_single_order'">
	<div  ng-include="'/partials/faq_pm_sepa_single_order.html'">
	</div>
</div>
<div ng-show="cur=='faq_pm_sepa_ro_with_Initial_payment'">
		<div  ng-include="'/partials/faq_pm_sepa_ro_with_Initial_payment.html'">
		</div>
	</div>
</div>
<div ng-show="cur=='faq_pm_sepa_ro_without_initial_payment'">
		<div  ng-include="'/partials/faq_pm_sepa_ro_without_initial_payment.html'">
		</div>
	</div>
</div>

</div>

