

<div>
  <ul>
    <li>Overview</li>
    <li>Preconditions</li>
    <li>Customer Experience</li>
    <li>Payengine Details
      <ul>
        <li>General</li>
        <li>Supported Features & Services</li>
        <li>Integration Types</li>
        <li>Technical Flow</li>
        <li>Specifics
          <ul>
            <li>PostFinance input parameters</li>
          </ul>
        </li>
        <li>Samples
          <ul>
            <li>Preauth Transaction</li>
            <li>Debit Transaction</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <br>
  <br>
  <div>
    <br/>
    <br/>
    <h2>Overview</h2>
    <br/>
    <p>
      Тhe PostFinance Card is a local debit card in Switzerland issued by PostFinance. It is a popular payment method in eCommerce and more than 3 million PostFinance Card holders can reached.
    </p>
  </div>
  <br/>
  <br/>
  <div>
    <h2>Preconditions</h2>
    <br/>
    <p>
      Merchants will need a CHF business account and an acquiring contract with PostFinance in order to offer PostFinance Card.
    </p>
  </div>
  <br>
  <br>
  <div>
    <h2>Customer Experience</h2>
    <br/>
    <p>The following list will describe a simplified payment flow using PostFinance Card.</p>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th width="5%">Step</th>
          <th width="25%">Description</th>
          <th width="70%">Screenshot</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>The customer selects the PostFinance Card payment method.</td>
          <td>
            <img src="/img/faq/postFinance/pf-1.png" alt="postFinance" width="50%">
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>The customer will be redirected to PostFinance.</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>The customer can select the options to pay via their mobile app (option on the left) or proceed with PostFinance Card (option on the right).</td>
          <td><img src="/img/faq/postFinance/PostFinance-1.png" alt="postFinance" width="80%"></td>
          </tr>
          <tr>
            <td>4</td>
            <td>When the PostFinance Card option is selected (see step 3) the cardholder has to enter the card credentials and authenticate via TAN generator or app.</td>
            <td><img src="/img/faq/postFinance/PostFinance-2.png" alt="postFinance" width="80%">
            <br>
            <img src="/img/faq/postFinance/PostFinance-3.png" alt="postFinance" width="80%">
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>Once the payment is be completed and the customer is redirected back to the shop.</td>
            <td>
              <img src="/img/faq/postFinance/PostFinance-4.png" alt="postFinance" width="80%">
            </td>
          </tr>
      </tbody>
    </table>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th><img src="/img/3dsecure/error-triangle.png" alt="warrning error-triangle" width="80%"></th>
          <th>All payments are processed by PostFinance at the end of the day and the purchase amount is debited from the cardholder account the following day. Funds are usually transfered to the seller's account the following day.</th>
        </tr>
      </thead>
    </table>
    <br>
  </div>
  <div>
    <h2>Payengine Details</h2>
    <br/>
    <h3>General</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Product</th>
          <td width="50%">PostFinance card</td>
        </tr>
        <tr>
          <th width="50%">Channels</th>
          <td width="50%">ECOM</td>
        </tr>
        <tr>
          <th width="50%">Currencies</th>
          <td width="50%">CHF, EUR</td>
        </tr>
        <tr>
          <th width="50%">Countries</th>
          <td width="50%">CF</td>
        </tr>
        <tr>
          <th width="50%">Type</th>
          <td width="50%">Direct debit/Preauth</td>
        </tr>
        <tr>
          <th width="50%">Technical Flow</th>
          <td width="50%">asynchronous</td>
        </tr>
        <tr>
          <th width="50%">Recurring</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Chargebacks</th>
          <td width="50%" color="red">no</td>
        </tr>
        <tr>
          <th width="50%">Reusable Payment Instruments</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3>Supported Features and Services</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Debit</th>
          <td width="50%"><strong>yes</strong></td>
        </tr>
        <tr>
          <th width="50%">Preauthorization</th>
          <td width="50%"><strong>yes</strong></td>
        </tr>
        <tr>
          <th width="50%">Cancellation</th>
          <td width="50%"><strong>yes</strong> (only full)</td>
        </tr>
        <tr>
          <th width="50%">Capture</th>
          <td width="50%"><strong>yes</strong> (only full)</td>
        </tr>
        <tr>
          <th width="50%">Refunds</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Notifications</th>
          <td width="50%">yes - webhook, email</td>
        </tr>
        <tr>
          <th width="50%">Settlement Reporting</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3>Integration Types</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">API</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Widget</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Widget as a Bridge</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Shop Plugin</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Paylink</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div>
    <h3>Technical Flow</h3>
    <br/>
    <img src="/img/faq/postFinance/PostFinance-technical-flow.png" width="80%">
  </div>
<br>
<br>
<div>
  <h3>Specifics</h3>
  <br>
  <p><strong>PostFinance input parameters</strong></p>
  <br>
  <p>The following input parameters are required for initiating a PostFinance payment via direct API integration.</p>
  <br>
  <br>
  <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Mandatory/Optional</th>
          <th>Description</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>async.successUrl</td>
          <td>M</td>
          <td>Redirect URL for successful payment</td>
          <td><a href="https://my.shop.com/success" target="_blank">https://my.shop.com/success</a></td>
        </tr>
        <tr>
          <td>async.failureUrl</td>
          <td>M</td>
          <td>Redirect URL for unsuccessful payment</td>
          <td><a href="https://my.shop.com/search/fail" target="_blank">https://my.shop.com/search/fail</a></td>
        </tr>
        <tr>
          <td>async.cancelUrl</td>
          <td>M</td>
          <td>Redirect URL when payment is canceled</td>
          <td><a href="https://my.shop.com/search/cancel" target="_blank">https://my.shop.com/search/cancel</a></td>
        </tr>
        <tr>
          <td>payment.displayLanguage</td>
          <td>M</td>
          <td>One  of the possible values: de, en, fr, it (there is validation on PE for permitted value)</td>
          <td>"displayLanguage" : "en"</td>
        </tr>
        <tr>
          <td>payment.displayMobileScreen</td>
          <td>O</td>
          <td>Optional set up for mobile view. Boolean type.</td>
          <td>"displayMobileScreen" : true</td>
        </tr>
      </tbody>
    </table>
</div>
<br>
<br>
<div>
  <h3>Samples</h3>
  <br>
  <p><strong>Preauth Transaction</strong></p>
  <br>
  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShoww=false">
        <h3 class="content-box-header bg-default">
          PostFinance Preauth Request
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShoww=!createCustomerResponseShoww;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShoww"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShoww"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShoww">
          <code>
          {
            "product" : "postfinance-card",
            "merchantOrderId": "ORDER12345",
            "initialAmount": 1000,
            "currency": "CHF",
            "channel": "ECOM",
            "payment": {
              "displayLanguage" : "en",
              "displayMobileScreen" : false
            },
            "async": {
              "successUrl": "https://my.shop.com/success",
              "failureUrl": "https://my.shop.com/fail",
              "cancelUrl": "https://my.shop.com/cancel"
            }
          }
          </code>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow=false">
        <h3 class="content-box-header bg-default">
          PostFinance Preauth Response
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow=!createCustomerResponseShow;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow">
          <code>
            {
                "createdAt": 1576849099719,
                "modifiedAt": 1576849099719,
                "merchantId": "merchant_6nqj1bh7ap",
                "terms": null,
                "privacy": null,
                "orderId": "blgung8xx4",
                "merchantOrderId": "ORDER12345",
                "paymentProviderTransactionId": null,
                "description": null,
                "statementDescription": null,
                "initialAmount": 1000,
                "preauthorizedAmount": 0,
                "capturedAmount": 0,
                "refundedAmount": 0,
                "canceledAmount": 0,
                "currency": "CHF",
                "basket": [],
                "customer": {
                    "merchantCustomerId": null,
                    "organizationRegistrationRegister": null,
                    "organizationRegistrationId": null,
                    "organizationEntityType": null,
                    "organizationVatId": null,
                    "companyName": null,
                    "reference": null,
                    "email": "test_customer@gmail.com",
                    "customerId": "customer_rwdvi4gvat",
                    "addresses": [],
                    "personas": [],
                    "paymentInstruments": [],
                    "createdAt": 1576849099720,
                    "modifiedAt": 1576849099720,
                    "customerType": null
                },
                "persona": null,
                "billingAddress": null,
                "shippingAddress": null,
                "ipAddress": null,
                "paymentInstrument": null,
                "transactions": [],
                "status": "OPEN",
                "channel": "ECOM",
                "source": "Postfinance PreAuth Test",
                "settled": false,
                "settlementDate": null,
                "allowedProducts": null,
                "product": "postfinance-card",
                "transactionType": "PREAUTH",
                "meta": {
                    "displayLanguage": "en",
                    "displayMobileScreen": false,
                    "authenticationRequestId": "ZmhXSv97T8vxdjCarBOU",
                    "paymentId": "1LJbWEt8GjAJL7kLiQBq"
                },
                "async": {
                    "successUrl": "https://my.shop.com/success",
                    "failureUrl": "https://my.shop.com/fail",
                    "cancelUrl": "https://my.shop.com/cancel"
                },
                "deviceIdent": null,
                "clientType": "BRW",
                "asyncNotificationSubscriptionId": null,
                "lastOperation": null,
                "locale": null,
                "redirectUrl": "https://public-api-app50te.psp.cardtech.de/postfinance/auth/1LJbWEt8GjAJL7kLiQBq"
            }
          </code>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<br>
  <p><strong>Debit Transaction</strong></p>
  <br>
  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow3=false">
        <h3 class="content-box-header bg-default">
          PostFinance Debit Request
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow3=!createCustomerResponseShow3;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow3"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow3"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow3">
          <code>
            {
              "product" : "postfinance-card",
              "merchantOrderId": "ORDER67890",
              "initialAmount": 2000,
              "currency": "CHF",
              "channel": "ECOM",
              "payment": {
                "displayLanguage" : "en",
                "displayMobileScreen" : false
              },
              "async": {
                "successUrl": "https://my.shop.com/success",
                "failureUrl": "https://my.shop.com/fail",
                "cancelUrl": "https://my.shop.com/cancel"
              }
            }
          </code>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow4=false">
        <h3 class="content-box-header bg-default">
          PostFinance Debit Response
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow4=!createCustomerResponseShow4;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow4"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow4"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow4">
          <code>
            {
              "createdAt": 1576849437518,
              "modifiedAt": 1576849437518,
              "merchantId": "merchant_6nqj1bh7ap",
              "terms": null,
              "privacy": null,
              "orderId": "raguugydj2",
              "merchantOrderId": "ORDER67890",
              "paymentProviderTransactionId": null,
              "description": null,
              "statementDescription": null,
              "initialAmount": 2000,
              "preauthorizedAmount": 0,
              "capturedAmount": 0,
              "refundedAmount": 0,
              "canceledAmount": 0,
              "currency": "CHF",
              "basket": [],
              "customer": {
                  "merchantCustomerId": null,
                  "organizationRegistrationRegister": null,
                  "organizationRegistrationId": null,
                  "organizationEntityType": null,
                  "organizationVatId": null,
                  "companyName": null,
                  "reference": null,
                  "email": null,
                  "customerId": "customer_3umiexmjxk",
                  "addresses": [],
                  "personas": [],
                  "paymentInstruments": [],
                  "createdAt": 1576849437518,
                  "modifiedAt": 1576849437519,
                  "customerType": null
              },
              "persona": null,
              "billingAddress": null,
              "shippingAddress": null,
              "ipAddress": null,
              "paymentInstrument": null,
              "transactions": [],
              "status": "OPEN",
              "channel": "ECOM",
              "source": null,
              "settled": false,
              "settlementDate": null,
              "allowedProducts": null,
              "product": "postfinance-card",
              "transactionType": "DEBIT",
              "meta": {
                  "displayLanguage": "en",
                  "displayMobileScreen": false,
                  "authenticationRequestId": "rFK6LcDLfGl4Ku6u5oj8",
                  "paymentId": "cPf2TgKjCJclNK4XrTfa"
              },
              "async": {
                  "successUrl": "https://my.shop.com/success",
                  "failureUrl": "https://my.shop.com/fail",
                  "cancelUrl": "https://my.shop.com/cancel"
              },
              "deviceIdent": null,
              "clientType": "BRW",
              "asyncNotificationSubscriptionId": null,
              "lastOperation": null,
              "locale": null,
              "redirectUrl": "https://public-api-app50te.psp.cardtech.de/postfinance/auth/cPf2TgKjCJclNK4XrTfa"
          }
          </code>
        </div>
      </div>
    </div>
  </div>
 
</div>

