<img src="/img/faq/giropay/giropay.png" alt="" width="30%">
<br>
<br>
<ul>
	<li>Overview</li>
	<li>Customer Experience</li>
	<li>Payengine Details
		<ul>
			<li>General</li>
			<li>Supported Features & Services</li>
			<li>Integration Types</li>
			<li>Technical Flow
				<ul>
					<li>Webhook Notifications</li>
				</ul>
			</li>
			<li>Specifics
				<ul>
					<li>Prerequisites for Debit Transactions</li>
					<li>Specific Debit Request Parameters</li>
				</ul>
			</li>
			<li>Samples
				<ul>
					<li>Debit Transaction</li>
				</ul>
			</li>
			<li>Testing</li>
		</ul>
	</li>
</ul>
<br>
<br>
<h2>Overview</h2>
<br>
<p><strong>Giropay</strong> is an Internet payment system in Germany, based on online banking. This payment method allows customers to buy securely on Internet using direct online transfers from their bank account.</p>
<p>Main advantages of Giropay as payment method are:</p>
<p><strong>For merchants:</strong> Giropay offers merchants guaranteed payments at zero risk. Merchants receive a payment guarantee from the customer's bank immediately after successful Giropay transfer and can thus issue the goods immediately and without risk. Online payments are 100% guaranteed from the customer's bank.</p>		
<p><strong>For customers:</strong>  Giropay uses the same environment as their banks' online banking sites. No sensitive information is being shared with the merchant. For Giropay payments, customers only need an online banking checking account with a bank participating in Giropay. The authentication takes place via PIN and TAN.</p>
<br>
<h2>Customer Experience</h2>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th width="10%">Step</th>
			<th width="20%">Description</th>
			<th width="70%">Screenshot</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Select Giropay</td>
			<td><img src="/img/faq/giropay/Giropay Selsct.jpeg" alt="" width="40%"></td>
		</tr>
		<tr>
			<td>2</td>
			<td>View payment</td>
			<td><img src="/img/faq/giropay/paymentform giropay.jpeg" alt="" width="40%"></td>
		</tr>
		<tr>
			<td>3</td>
			<td>Redirect to Giropay</td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>Select Bank</td>
			<td><img src="/img/faq/giropay/giropay_widget_3.png" alt="" width="40%"></td>
		</tr>
		<tr>
			<td>5</td>
			<td>Log in to online banking</td>
			<td><img src="/img/faq/giropay/giropay_payment_4.png" alt="" width="40%"></td>
		</tr>
		<tr>
			<td>6</td>
			<td>Follow the steps and pay the purchase</td>
			<td><img src="/img/faq/giropay/giropay_payment_5.png" alt="" width="40%" style="display:block;">
					<img src="/img/faq/giropay/giropay_payment_50.png" alt="" width="40%" style="display:block;">
					<img src="/img/faq/giropay/giropay_payment_60.png" alt="" width="40%" style="display:block;">
					<img src="/img/faq/giropay/giropay_payment_6.png" alt="" width="40%" style="display:block;">
			</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h2>Payengine Details</h2>
<br>
<h3>General</h3>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<tbody>
		<tr>
			<th width="50%">Product</th>
			<td width="50%">Giropay</td>
		</tr>
		<tr>
			<th>Channels</th>
			<td>ecom</td>
		</tr>
		<tr>
			<th>Currencies</th>
			<td>EUR</td>
		</tr>
		<tr>
			<th>Countries</th>
			<td>DE</td>
		</tr>
		<tr>
			<th>Technical Flow</th>
			<td>asynchronous</td>
		</tr>
		<tr>
			<th>Recurring</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Chargebacks</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Reusable Payment Instruments</th>
			<td>yes</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h3>Supported Features & Services</h3>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<tbody>
		<tr>
			<th width="50%">Debit</th>
			<td width="50%">yes</td>
		</tr>
		<tr>
			<th>Preauthorization</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Cancelation</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Capture</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Refunds</th>
			<td>yes (only TAN based)</td>
		</tr>
		<tr>
			<th>Notifications</th>
			<td>yes - webhook, email</td>
		</tr>
		<tr>
			<th>PayLink Integration</th>
			<td>yes *(please contact support or account manager for this feature)</td>
		</tr>
		<tr>
			<th>Settlement Reporting</th>
			<td>no (on the road map)</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h3>Integration Types</h3>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<tbody>
		<tr>
			<th width="50%">API</th>
			<td width="50%">yes</td>
		</tr>
		<tr>
			<th>Widget</th>
			<td>yes</td>
		</tr>
		<tr>
			<th>Bridge</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Shop Plugin</th>
			<td>no</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h3>Technical Flow</h3>
<br>
<img src="/img/faq/giropay/giro-tech-flow.png" alt="" width="100%">
<br>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th style="border-right: none;" ><img class="" src="/img/3dsecure/exclamation.png" width="16px" style="vertical-align: supper;"></th>
			<th>Note
				<br>
				<p>Before execution of Giropay transactions, it's necessary merchant to setup a Giropay <em>Bank account</em>.</p>
			</th>
		</tr>
	</thead>
</table>
<br>
<h4>Webhook Notifications</h4>
<br>
<p>As it is not ensured at the time of the redirect to the shop that the payment was 100% successful, the Payengine waits for the final asynchronous notification before a status is moved from PENDING into SUCCESS or FAILURE.</p>
<p>A merchant should register for the Payengine webhook notifications in order to receive this final status update.</p>
<p>Alternatively a GET request on the order or DEBIT transaction would also work, but it is not ensured that the final status will be available immediately after the redirect and a merchant might have to query the GET multiple times.</p>		
<p>Therefore it is strongly recommended that the asynchronous notifications from the Payengine are used instead.</p>		
<p>The Giropay notifications could be subscribed</p>
<ul>
	<li>via the payengine API (<a href="https://docs.payengine.de/buildyourown/restapi">link to API documentation</a>)</li>
	<li>via the Payengine Merchant Center (<a href="https://docs.payengine.de/merchantcenter/managenotification">link to Merchant Center notifications docu</a> )</li>
</ul>
<br>
<br>
<h3>Specifics</h3>
<br>
<h4>Prerequisites for Debit Transactions</h4>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Prerequisite</th>
			<th>Mandatory/Optional</th>
			<th>Create Prerequisite</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Customer</td>
			<td>O</td>
			<td>POST /customers</td>
		</tr>
		<tr>
			<td>Persona</td>
			<td>O</td>
			<td>POST /customers/{{customerId}}/personas</td>
		</tr>
		<tr>
			<td>Billing Address</td>
			<td>O</td>
			<td>POST /customers/{{customerId}}/addresses</td>
		</tr>
		<tr>
			<td>Shipping Address</td>
			<td>O</td>
			<td>POST /customers/{{customerId}}/addresses</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h4>Specific Debit Request Parameters</h4>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>PARAMETER</th>
			<th>MANDATORY/OPTIONAL</th>
			<th>DESCRIPTION</th>
			<th>EXAMPLE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>payment.iban</td>
			<td>O</td>
			<td>IBAN of the customer</td>
			<td>DE15111111111111111199</td>
		</tr>
		<tr>
			<td>async.successUrl</td>
			<td>M</td>
			<td>Redirect URL for successful payment</td>
			<td>http://my.shop.com/success</td>
		</tr>
		<tr>
			<td>async.failureUrl</td>
			<td>M</td>
			<td>async.failureUrl</td>
			<td>async.failureUrl</td>
		</tr>
		<tr>
			<td>async.cancelUrl</td>
			<td>M</td>
			<td>Redirect URL when payment is canceled</td>
			<td>http://my.shop.com/cancel</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h3>Samples</h3>
<br>
<h4>Debit Transaction</h4>
<br>
<div>
	<div class="example-box-wrapper">
		<div class="content-box" ng-init="createCustomerResponseShoww=false">
			<h3 class="content-box-header bg-default">
				Giropay Debit request
				<div class="header-buttons-separator">
					<a href class="icon-separator toggle-button" ng-click="createCustomerResponseShoww=!createCustomerResponseShoww;">
						<i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShoww"></i>
						<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShoww"></i>
					</a>
				</div>
			</h3>
			<div class="content-box-wrapper" ng-if="createCustomerResponseShoww">
				<code>
					{
						"product" : "giropay",
						"terms": 1468590412476,
						"privacy": 1468590412476,
						"merchantOrderId": "merchantOrderId{{$timestamp}}",
						"description": "test transaction",
						"statementDescription": "statement description",
						"initialAmount": {{totalAmount}},
						"currency": "EUR",
						"basket": [
							{
								"name": "USB-Stick",
								"articleNumber": "SW10029",
								"totalPrice": {{totalAmount}},
								"totalPriceWithTax": {{totalAmount}},
								"unitPrice": {{totalAmount}},
								"unitPriceWithTax": {{totalAmount}},
								"tax": 0,
								"quantity": 1
							}
						],
						"customer": "{{customerId}}",
						"persona": "{{personaId}}",
						"billingAddress": "{{addressId}}",
						"shippingAddress": "{{addressId}}",
						"channel": "ECOM",
						"source": "Postman Test",
						"async": {
							"successUrl": "https://www.google.de/#newwindow=1&q=success",
							"failureUrl": "https://www.google.de/#newwindow=1&q=failure",
							"cancelUrl": "https://www.google.de/#newwindow=1&q=cancel"
						}
					}
				</code>
			</div>
		</div>
	</div>
</div>
<br>
<div>
	<div class="example-box-wrapper">
		<div class="content-box" ng-init="createCustomerResponseShoww=false">
			<h3 class="content-box-header bg-default">
				Giropay Debit response
				<div class="header-buttons-separator">
					<a href class="icon-separator toggle-button" ng-click="createCustomerResponseShoww=!createCustomerResponseShoww;">
						<i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShoww"></i>
						<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShoww"></i>
					</a>
				</div>
			</h3>
			<div class="content-box-wrapper" ng-if="createCustomerResponseShoww">
				<code>
						<div>
								<div class="example-box-wrapper">
									<div class="content-box" ng-init="createCustomerResponseShoww=false">
										<h3 class="content-box-header bg-default">
											Giropay Debit request
											<div class="header-buttons-separator">
												<a href class="icon-separator toggle-button" ng-click="createCustomerResponseShoww=!createCustomerResponseShoww;">
													<i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShoww"></i>
													<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShoww"></i>
												</a>
											</div>
										</h3>
										<div class="content-box-wrapper" ng-if="createCustomerResponseShoww">
											<code>
												{
													"product" : "giropay",
													"terms": 1468590412476,
													"privacy": 1468590412476,
													"merchantOrderId": "merchantOrderId{{$timestamp}}",
													"description": "test transaction",
													"statementDescription": "statement description",
													"initialAmount": {{totalAmount}},
													"currency": "EUR",
													"basket": [
														{
															"name": "USB-Stick",
															"articleNumber": "SW10029",
															"totalPrice": {{totalAmount}},
															"totalPriceWithTax": {{totalAmount}},
															"unitPrice": {{totalAmount}},
															"unitPriceWithTax": {{totalAmount}},
															"tax": 0,
															"quantity": 1
														}
													],
													"customer": "{{customerId}}",
													"persona": "{{personaId}}",
													"billingAddress": "{{addressId}}",
													"shippingAddress": "{{addressId}}",
													"channel": "ECOM",
													"source": "Postman Test",
													"async": {
														"successUrl": "https://www.google.de/#newwindow=1&q=success",
														"failureUrl": "https://www.google.de/#newwindow=1&q=failure",
														"cancelUrl": "https://www.google.de/#newwindow=1&q=cancel"
													}
												}
											</code>
										</div>
									</div>
								</div>
							</div>
				</code>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<h3>Testing</h3>
<br>
<p>Currently testing of Giropay payment transactions on TM environment is possible only via simulator.</p>
<br>
<br>