

<div class="container row col-12">
  <br>
  <br>
  <h1>Apple Pay for the web</h1>
  <br>
  <br>
  <ul>
    <li>Overview</li>
    <li>Preconditions</li>
    <li>Customer Experience</li>
    <li>Payengine Details</li>
      <ul>
        <li>General</li>
        <li>Supported Features and Services</li>
        <li>Integration Types</li>
        <li>Technical Flow</li>
        <li>Specifics</li>
      </ul>
    <li>Samples</li>
  </ul>
  <br>
  <br>
  <div>
    <br/>
    <br/>
  <div>
    <h2>Overview</h2>
    <br/>
    <p>
      Apple Pay is easy and works with the Apple devices you use every day. You can make secure purchases in stores, in apps, and on the web.
      <br>
      Its main advantages are:
      <br>
      For merchants: secure and simplified payment processing. Excellent support by Apple and improved user experience.
      <br>
      For customers: safe and secure. It easy to pay using the Apple Wallet, manage billing and shipping addresses.
    </p>
  </div>
  <br>
  <br>
  <div>
    <h2>Preconditions</h2>
    <br/>
    <p>
      Before setting up Apple Pay, a merchant must have a valid credit card setup with ECOM channels enabled. The supported card schemes are Visa, MasterCard, Amex and Discover. 
      <br>
      In order to use Apple Pay, the customer must use Safari on iOS or MacOS. 
    </p>
  </div>
  <br>
  <br>
  <div>
    <h2>Customer Experience</h2>
    <br/>
    <p>The following list describes a simplified payment flow using Apple Pay.</p>
    <br>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th width="5%">Step</th>
          <th width="25%">Description</th>
          <th width="70%">Screenshot</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="vertical-align: top;">1</td>
          <td style="vertical-align: top;">The customer selects the Apple Pay payment method.</td>
          <td>
            <img src="/img/faq/apple_pay/apple_pay_1.png" alt="" width="50%">
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>The customer will be redirected to Apple Pay sheet</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Customer selects payment details</td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Customer completes the payment</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br>
  </div>
  <div>
    <h2>Payengine Details</h2>
    <h3>General</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Product</th>
          <td width="50%">apple-pay</td>
        </tr>
        <tr>
          <th width="50%">Channels</th>
          <td width="50%">ECOM</td>
        </tr>
        <tr>
          <th width="50%">Currencies</th>
          <td width="50%">All currencies, supported by Credit Card setup</td>
        </tr>
        <tr>
          <th width="50%">Countries</th>
          <td width="50%">List of countries available at <a href="https://support.apple.com/en-us/HT207957">https://support.apple.com/en-us/HT207957</a></td>
        </tr>
        <tr>
          <th width="50%">Technical Flow</th>
          <td width="50%">asynchronous</td>
        </tr>
        <tr>
          <th width="50%">Recurring</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Chargebacks</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Reusable Payment Instruments</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3>Supported Features and Services</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Debit</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Preauthorization</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Cancellation</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Capture</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Refunds</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Notifications</th>
          <td width="50%">yes - webhook, email</td>
        </tr>
        <tr>
          <th width="50%">Settlement Reporting</th>
          <td width="50%">yes</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3>Integration Types</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">API</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Widget</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Widget as a Bridge</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Shop Plugin</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Paylink</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div>
    <h3>Technical Flow</h3>
    <br>
    <img src="/img/faq/apple_pay/apple_pay_tf.png" width="80%">
  </div>
<br>
<br>
<div>
  <h3>Specifics</h3>
  <br>
  <p>Shopper experience:</p>
  <ul>
    <li>The Apple Payment sheet is part of the iOS and MacOS systems. It does not redirect the customer nor does the customer leave the merchant's website at any time. </li>
    <li>It is important to notice that once the payment is completed, the user will remain on the same page. The widget provides successCallback/errorCallback/cancelCallback methods to handle the shopper experience on the merchant's side.</li>
  </ul>
  <br>
  <p>Billing and shipping addresses:</p>
  <ul>
    <li>Optional property within the widget. They can be requested from Apple Pay and passed to the widget, which overrides the initial billing and shipping addresses.</li>
  </ul>
  <br>
  <p>Direct API integration:</p>
  <ul>
    <li>The token, received from Apple Pay must be submitted within the "payment" object under key "applePayToken". Example:</li>
  </ul>
  <br>
  <br>
  <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow=false">
        <h3 class="content-box-header bg-default">
            Token
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow=!createCustomerResponseShow;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow">
          <code>
  "applePayToken": {
    "paymentData":{
        "version":"EC_v1","data":"xPE3fXmvym6529AxxQw2PN6czhxoXj2ylfHnJdiRdZktiMdDe2.........",
        "signature":"MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCAB......",
        "header":{
            "ephemeralPublicKey":"MFkwEw.......",
            "publicKeyHash":"qfj/gQGrF0K6y2EhKDoYUhdi84JEg.....",
            "transactionId":"58afcabaa130747ca92eeaff362......"
        }
        },
        "paymentMethod":{
            "displayName":"Visa 0492",
            "network":"Visa",
            "type":"debit"
        },
        "transactionIdentifier":"58AFCABAA130747CA92EEAFF36236988F92C9A07F2FD30B01E1770B2D3052A06"
        }
    }
          </code>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <h3>Samples</h3>
  <br>
  <p>
    <strong>NOTE!</strong>
    <br>
    The token provided below is generated using a specific encryption key. It cannot be used as an example requests in our API. Please, update it with a token, generated using your own encryption key within PayEngine.
  </p>
  <br>
  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow9=false">
        <h3 class="content-box-header bg-default">
          Preauth request
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow9=!createCustomerResponseShow9;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow9"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow9"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow9">
  <code>
    {
      "product" : "applepay",
      "merchantOrderId": "1231258912561259",
      "description": "test transaction",
      "statementDescription": "statement description",
      "initialAmount": 1990,
      "currency": "EUR",
      "channel": "ECOM",
      "source": "ApplePay PreAuth Test",
      "payment": {
          "applePayToken": {
                "paymentData":{
                    "version":"EC_v1","data":"xPE3fXmvym6529AxxQw2PN6czhxoXj2ylfHnJdiRdZktiMdDe2.........",
                    "signature":"MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCAB......",
                    "header":{
                        "ephemeralPublicKey":"MFkwEw.......",
                        "publicKeyHash":"qfj/gQGrF0K6y2EhKDoYUhdi84JEg.....",
                        "transactionId":"58afcabaa130747ca92eeaff362......"
                    }
                },
                "paymentMethod":{
                    "displayName":"Visa 0492",
                    "network":"Visa",
                    "type":"debit"
                },
                "transactionIdentifier":"58AFCABAA130747CA92EEAFF36236988F92C9A07F2FD30B01E1770B2D3052A06"
            }
      }
    }
  </code>
        </div>
      </div>
    </div>
  </div>
</div>

  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow=false">
        <h3 class="content-box-header bg-default">
          Preauth response
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow=!createCustomerResponseShow;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow">
          <code>
  {
    "createdAt": 1589364201986,
    "modifiedAt": 1589364202094,
    "merchantId": "Merchant-11111111-1111-1111-1111-111111111111",
    "terms": null,
    "privacy": null,
    "orderId": "1kwo2c3psl",
    "merchantOrderId": "1589364201",
    "paymentProviderTransactionId": "960796",
    "description": "test transaction",
    "statementDescription": "statement description",
    "initialAmount": 1990,
    "preauthorizedAmount": 1990,
    "capturedAmount": 0,
    "refundedAmount": 0,
    "canceledAmount": 0,
    "currency": "EUR",
    "basket": [],
    "paymentInstrument": {
        "createdAt": 1589364201989,
        "modifiedAt": 1589364201989,
        "paymentInstrumentId": "paymentinstrument_uin7qqkaik",
        "merchantPaymentInstrumentId": null,
        "attributes": {
            "cardHolder": null,
            "cardNumber": "************3439",
            "brand": "VISA",
            "expiryMonth": "12",
            "expiryYear": "23",
            "issuerCountry": null,
            "cofContracts": []
        },
        "encrypted": true,
        "origin": "applepay",
        "type": "creditcard",
        "recurring": false
    },
    "transactions": [
        {
            "createdAt": 1589364201987,
            "modifiedAt": 1589364202094,
            "type": "PREAUTH",
            "transactionId": "transaction_3ey0hig0ak",
            "description": "test transaction",
            "initialAmount": 1990,
            "capturedAmount": 0,
            "canceledAmount": 0,
            "currency": "EUR",
            "status": "OK",
            "order": "1kwo2c3psl",
            "parentTransaction": null,
            "transactions": null,
            "basket": [],
            "providerCode": "00",
            "merchantMessage": null,
            "customerMessage": null,
            "descriptor": null,
            "meta": null,
            "challenge": null,
            "asyncNotificationSubscriptionId": null,
            "tracking": null
        }
    ],
    "status": "OPEN",
    "channel": "ECOM",
    "source": "ApplePay PreAuth Test",
    "settled": false,
    "settlementDate": null,
    "allowedProducts": null,
    "product": "applepay",
    "transactionType": "PREAUTH",
    "meta": {
        "threeDsData": {
            "authenticationResult": {
                "version": "2.0",
                "transactionId": null,
                "status": null,
                "redirectUrl": null,
                "eci": "07",
                "authenticationValue": "AtIC9RcAGijdPkgFO0IcMAACAAA=",
                "challengeData": null,
                "statusReason": null,
                "forceChallenge": false,
                "correlationId": null
            }
        }
    },
    "async": null,
    "deviceIdent": null,
    "clientType": "BRW",
    "asyncNotificationSubscriptionId": null,
    "lastOperation": "TRANSACTION_PREAUTH_OK",
    "locale": null,
    "risk": null
}
          </code>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow3=false">
        <h3 class="content-box-header bg-default">
          Capture request
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow3=!createCustomerResponseShow3;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow3"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow3"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow3">
          <code>
  {
    "description": "Capturing the preauth",
    "initialAmount": 1190,
    "currency": "EUR"
  }
          </code>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow4=false">
        <h3 class="content-box-header bg-default">
          Capture response
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow4=!createCustomerResponseShow4;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow4"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow4"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow4">
          <code>
  {
    "createdAt": 1589364459516,
    "modifiedAt": 1589364459523,
    "type": "CAPTURE",
    "transactionId": "transaction_t8ur2piwkq",
    "description": "description for operation.",
    "initialAmount": 1190,
    "refundedAmount": 0,
    "currency": "EUR",
    "status": "SUCCESS",
    "order": {
        "createdAt": 1589364201986,
        "modifiedAt": 1589364459523,
        "merchantId": "Merchant-11111111-1111-1111-1111-111111111111",
        "terms": null,
        "privacy": null,
        "orderId": "1kwo2c3psl",
        "merchantOrderId": "1589364201",
        "paymentProviderTransactionId": "960796",
        "description": "test transaction",
        "statementDescription": "statement description",
        "initialAmount": 1990,
        "preauthorizedAmount": 1990,
        "capturedAmount": 1190,
        "refundedAmount": 0,
        "canceledAmount": 0,
        "currency": "EUR",
        "basket": [],
        "paymentInstrument": {
            "createdAt": 1589364201989,
            "modifiedAt": 1589364201989,
            "paymentInstrumentId": "paymentinstrument_uin7qqkaik",
            "merchantPaymentInstrumentId": null,
            "attributes": {
                "cardHolder": null,
                "cardNumber": "************3439",
                "brand": "VISA",
                "expiryMonth": "12",
                "expiryYear": "23",
                "issuerCountry": null,
                "cofContracts": []
            },
            "encrypted": true,
            "origin": "applepay",
            "type": "creditcard",
            "recurring": false
        },
        "transactions": [
            {
                "createdAt": 1589364201987,
                "modifiedAt": 1589364202106,
                "type": "PREAUTH",
                "transactionId": "transaction_3ey0hig0ak",
                "description": "test transaction",
                "initialAmount": 1990,
                "capturedAmount": 1190,
                "canceledAmount": 0,
                "currency": "EUR",
                "status": "OK",
                "order": "1kwo2c3psl",
                "parentTransaction": null,
                "transactions": [
                    "transaction_t8ur2piwkq"
                ],
                "basket": [],
                "providerCode": "00",
                "merchantMessage": null,
                "customerMessage": null,
                "descriptor": null,
                "meta": null,
                "challenge": null,
                "asyncNotificationSubscriptionId": null,
                "tracking": []
            }
        ],
        "status": "OPEN",
        "channel": "ECOM",
        "source": "ApplePay PreAuth Test",
        "settled": false,
        "settlementDate": null,
        "allowedProducts": [],
        "product": "applepay",
        "transactionType": "PREAUTH",
        "meta": {
            "threeDsData": {
                "authenticationResult": {
                    "version": "2.0",
                    "transactionId": null,
                    "status": null,
                    "redirectUrl": null,
                    "eci": "07",
                    "authenticationValue": "AtIC9RcAGijdPkgFO0IcMAACAAA=",
                    "challengeData": null,
                    "statusReason": null,
                    "forceChallenge": false,
                    "correlationId": null
                }
            }
        },
        "async": null,
        "deviceIdent": null,
        "clientType": "BRW",
        "asyncNotificationSubscriptionId": null,
        "lastOperation": "TRANSACTION_CAPTURE_SUCCESS",
        "locale": null,
        "risk": null
    },
    "parentTransaction": {
        "createdAt": 1589364201987,
        "modifiedAt": 1589364202106,
        "type": "PREAUTH",
        "transactionId": "transaction_3ey0hig0ak",
        "description": "test transaction",
        "initialAmount": 1990,
        "capturedAmount": 1190,
        "canceledAmount": 0,
        "currency": "EUR",
        "status": "OK",
        "order": {
            "createdAt": 1589364201986,
            "modifiedAt": 1589364459523,
            "merchantId": "Merchant-11111111-1111-1111-1111-111111111111",
            "terms": null,
            "privacy": null,
            "orderId": "1kwo2c3psl",
            "merchantOrderId": "1589364201",
            "paymentProviderTransactionId": "960796",
            "description": "test transaction",
            "statementDescription": "statement description",
            "initialAmount": 1990,
            "preauthorizedAmount": 1990,
            "capturedAmount": 0,
            "refundedAmount": 0,
            "canceledAmount": 0,
            "currency": "EUR",
            "basket": [],
            "paymentInstrument": {
                "createdAt": 1589364201989,
                "modifiedAt": 1589364201989,
                "paymentInstrumentId": "paymentinstrument_uin7qqkaik",
                "merchantPaymentInstrumentId": null,
                "attributes": {
                    "cardHolder": null,
                    "cardNumber": "************3439",
                    "brand": "VISA",
                    "expiryMonth": "12",
                    "expiryYear": "23",
                    "issuerCountry": null,
                    "cofContracts": []
                },
                "encrypted": true,
                "origin": "applepay",
                "type": "creditcard",
                "recurring": false
            },
            "transactions": [
                "transaction_3ey0hig0ak"
            ],
            "status": "OPEN",
            "channel": "ECOM",
            "source": "ApplePay PreAuth Test",
            "settled": false,
            "settlementDate": null,
            "allowedProducts": [],
            "product": "applepay",
            "transactionType": "PREAUTH",
            "meta": {
                "threeDsData": {
                    "authenticationResult": {
                        "version": "2.0",
                        "transactionId": null,
                        "status": null,
                        "redirectUrl": null,
                        "eci": "07",
                        "authenticationValue": "AtIC9RcAGijdPkgFO0IcMAACAAA=",
                        "challengeData": null,
                        "statusReason": null,
                        "forceChallenge": false,
                        "correlationId": null
                    }
                }
            },
            "async": null,
            "deviceIdent": null,
            "clientType": "BRW",
            "asyncNotificationSubscriptionId": null,
            "lastOperation": "TRANSACTION_CAPTURE_SUCCESS",
            "locale": null,
            "risk": null
        },
        "parentTransaction": null,
        "transactions": [
            "transaction_t8ur2piwkq"
        ],
        "basket": [],
        "providerCode": "00",
        "merchantMessage": null,
        "customerMessage": null,
        "descriptor": null,
        "meta": null,
        "challenge": null,
        "asyncNotificationSubscriptionId": null,
        "tracking": []
    },
    "transactions": null,
    "basket": [],
    "providerCode": "00",
    "merchantMessage": null,
    "customerMessage": null,
    "descriptor": null,
    "meta": null,
    "challenge": null,
    "asyncNotificationSubscriptionId": null,
    "tracking": null
  }
          </code>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

  
</div>

