<img src="/img/faq/eps/EPS-logo.png" alt="" width="30%">
<br>
<br>
<ul>
	<li>Overview</li>
	<li>Customer Experience</li>
	<li>Payengine Details
		<ul>
			<li>General</li>
			<li>Supported Features & Services</li>
			<li>Integration Types</li>
		</ul>
		<li>Technical Flow
			<ul>
				<li>Webhook Notifications</li>
			</ul>
		</li>
			
			<li>Specifics
				<ul>
					<li>Prerequisites for Debit Transactions</li>
					<li>Specific Debit Request Parameters</li>
				</ul>
			</li>
			<li>Samples
				<ul>
					<li>Debit Transaction</li>
				</ul>
			</li>
			<li>Testing</li>
		</ul>
	</li>
</ul>
<br>
<br>
<h2>Overview</h2>
<br>
<p><strong>Electronic Payment Standard (EPS)</strong> is currently the most widely used payment method in Austria. It is developed  jointly by Austrian banks and the Government. </p>
<p>Main advantages of EPS as payment method are:</p>
<p><strong>For merchants:</strong> EPS offers merchants guaranteed payments at zero risk. Merchants receive a payment guarantee from the customer's bank immediately after successful EPS transfer and can thus issue the goods or services immediately and without risk. Online payments are 100% guaranteed from the customer's bank.</p>		
<p><strong>For customers:</strong>  EPS offers merchants guaranteed payments at zero risk. Merchants receive a payment guarantee from the customer's bank immediately after successful EPS transfer and can thus issue the goods or services immediately and without risk. Online payments are 100% guaranteed from the customer's bank.</p>
<br>
<h2>Customer Experience</h2>
<br>
<img src="/img/faq/eps/eps-customer-experience.png" alt="" width="80%">
<br>
<p>From customer perspective successful payment with EPS contains the following steps:</p>
<br>
<ol>
	<li>Selecting EPS on merchant's site</li>
	<li>Choosing bank in which customer has bank account </li>
	<li>Redirecting the customer to his/her bank's login page</li>
	<li>Entering payment details by the customer - account number, PIN, and either:
		<ul>
			<li>A remittance slip is sent to the customer for confirming the transaction, containing a TAN (Transaction Authentication Number). The customer enters it to confirm the transaction.</li>
			<li>The customer signs the transaction digitally using a 2FA token (if their bank offers that service)</li>
		</ul>
	</li>
	<li>Authorizing the transaction in real-time by the bank, deducting the amount directly from the customers's account (if there is not enough balance, the transaction will be refused)</li>
</ol>
<br>
<br>
<p>Notifications in case of successful EPS payment are:</p>
<br>
<ol>
	<li>For the merchant: Real-time confirmation of the payment by the bank.</li>
	<li>For the customer: Redirection back to the merchant's page with a confirmation that the payment has been successful.</li>
</ol>
<br>
<p>In the Payengine Modal Widget the selection of the payment method and bank follows steps described below:</p>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th width="10%">Step</th>
			<th width="20%">Description</th>
			<th width="70%">Screenshot</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Select EPS</td>
			<td><img src="/img/faq/eps/EPS-BUTTON-1.png" alt="" width="40%"></td>
		</tr>
		<tr>
			<td>2</td>
			<td>View payment</td>
			<td><img src="/img/faq/eps/eps-payment-form-1.png" alt="" width="40%"></td>
		</tr>
		<tr>
			<td>3</td>
			<td>Redirect to EPS</td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>Select Bank</td>
			<td><img src="/img/faq/eps/eps_pay_1.png" alt="" width="40%"></td>
		</tr>
		<tr>
			<td>5</td>
			<td>Log in to online banking</td>
			<td><img src="/img/faq/eps/eps_pay_5.png" alt="" width="40%"></td>
		</tr>
		<tr>
			<td>6</td>
			<td>Follow the steps and pay the purchase</td>
			<td><img src="/img/faq/eps/eps_pay_6.png" alt="" width="40%" style="display:block;">
					<img src="/img/faq/eps/eps_pay_8.png" alt="" width="40%" style="display:block;">
					<img src="/img/faq/eps/eps_pay_9.png" alt="" width="40%" style="display:block;">
					<img src="/img/faq/eps/eps_pay_4.png" alt="" width="40%" style="display:block;">
			</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h2>Payengine Details</h2>
<br>
<h3>General</h3>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<tbody>
		<tr>
			<th width="50%">Product</th>
			<td width="50%">EPS</td>
		</tr>
		<tr>
			<th>Channels</th>
			<td>ecom</td>
		</tr>
		<tr>
			<th>Currencies</th>
			<td>EUR</td>
		</tr>
		<tr>
			<th>Countries</th>
			<td>AT</td>
		</tr>
		<tr>
			<th>Technical Flow</th>
			<td>asynchronous</td>
		</tr>
		<tr>
			<th>Recurring</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Chargebacks</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Reusable Payment Instruments</th>
			<td>yes</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h3>Supported Features & Services</h3>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<tbody>
		<tr>
			<th width="50%">Debit</th>
			<td width="50%">yes</td>
		</tr>
		<tr>
			<th>Preauthorization</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Cancelation</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Capture</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Refunds</th>
			<td>yes (only TAN based)</td>
		</tr>
		<tr>
			<th>Notifications</th>
			<td>yes - webhook, email</td>
		</tr>
		<tr>
			<th>PayLink Integration</th>
			<td>yes *(please contact support or account manager for this feature)</td>
		</tr>
		<tr>
			<th>Settlement Reporting</th>
			<td>no (on the road map)</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h3>Integration Types</h3>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<tbody>
		<tr>
			<th width="50%">API</th>
			<td width="50%">yes</td>
		</tr>
		<tr>
			<th>Widget</th>
			<td>yes</td>
		</tr>
		<tr>
			<th>Bridge</th>
			<td>no</td>
		</tr>
		<tr>
			<th>Shop Plugin</th>
			<td>no</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h3>Technical Flow</h3>
<br>
<img src="/img/faq/eps/eps-techical-flow.png" alt="" width="100%">
<br>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th style="border-right: none;" ><img class="" src="/img/3dsecure/exclamation.png" width="16px" style="vertical-align: supper;"></th>
			<th>Note
				<br>
				<p>Before execution of EPS transactions, it's necessary merchant to setup a EPS <em>Bank account</em>.</p>
			</th>
		</tr>
	</thead>
</table>
<br>
<h4>Webhook Notifications</h4>
<br>
<p>As it is not ensured at the time of the redirect to the shop that the payment was 100% successful, the Payengine waits for the final asynchronous notification before a status is moved from PENDING into SUCCESS or FAILURE.</p>
<p>A merchant should register for the Payengine webhook notifications in order to receive this final status update.</p>
<p>Alternatively a GET request on the order or DEBIT transaction would also work, but it is not ensured that the final status will be available immediately after the redirect and a merchant might have to query the GET multiple times.</p>		
<p>Therefore it is strongly recommended that the asynchronous notifications from the Payengine are used instead.</p>		
<p>The EPS notifications could be subscribed</p>
<ul>
	<li>via the payengine API (<a href="https://docs.payengine.de/buildyourown/restapi">link to API documentation</a>)</li>
	<li>via the Payengine Merchant Center (<a href="https://docs.payengine.de/merchantcenter/managenotification">link to Merchant Center notifications docu</a> )</li>
</ul>
<br>
<br>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th style="border-right: none;" ><img class="" src="/img/3dsecure/exclamation.png" width="16px" style="vertical-align: supper;"></th>
			<th>Important
				<br>
				<p>Once the merchant receives notification for Debit transaction success, he can immediately ship the goods or provide the service subject of the order.
					<br>
					The amount of the order will be received in the merchant's bank account one business day after receiving notification for successful Debit transaction.
				</p>
			</th>
		</tr>
	</thead>
</table>
<br>
<br>
<h3>Specifics</h3>
<br>
<h4>Prerequisites for Debit Transactions</h4>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Prerequisite</th>
			<th>Mandatory/Optional</th>
			<th>Create Prerequisite</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Customer</td>
			<td>O</td>
			<td>POST /customers</td>
		</tr>
		<tr>
			<td>Persona</td>
			<td>O</td>
			<td>POST /customers/{{customerId}}/personas</td>
		</tr>
		<tr>
			<td>Billing Address</td>
			<td>O</td>
			<td>POST /customers/{{customerId}}/addresses</td>
		</tr>
		<tr>
			<td>Shipping Address</td>
			<td>O</td>
			<td>POST /customers/{{customerId}}/addresses</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h4>Specific Debit Request Parameters</h4>
<br>
<table class="row clearfix  table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>PARAMETER</th>
			<th>MANDATORY/OPTIONAL</th>
			<th>DESCRIPTION</th>
			<th>EXAMPLE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>payment.iban</td>
			<td>O</td>
			<td>IBAN of the customer</td>
			<td>DE15111111111111111199</td>
		</tr>
		<tr>
			<td>async.successUrl</td>
			<td>M</td>
			<td>Redirect URL for successful payment</td>
			<td>http://my.shop.com/success</td>
		</tr>
		<tr>
			<td>async.failureUrl</td>
			<td>M</td>
			<td>Redirect URL for unsuccessful payment</td>
			<td>http://my.shop.com/fail</td>
		</tr>
		<tr>
			<td>async.cancelUrl</td>
			<td>M</td>
			<td>Redirect URL when payment is canceled</td>
			<td>http://my.shop.com/cancel</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h3>Samples</h3>
<br>
<h4>Debit Transaction</h4>
<br>
<div>
	<div class="example-box-wrapper">
		<div class="content-box" ng-init="createCustomerResponseShoww=false">
			<h3 class="content-box-header bg-default">
				EPS Debit request
				<div class="header-buttons-separator">
					<a href class="icon-separator toggle-button" ng-click="createCustomerResponseShoww=!createCustomerResponseShoww;">
						<i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShoww"></i>
						<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShoww"></i>
					</a>
				</div>
			</h3>
			<div class="content-box-wrapper" ng-if="createCustomerResponseShoww">
				<code>
					{
						"product" : "eps",
						"terms": 1468590412476,
						"privacy": 1468590412476,
						"merchantOrderId": "merchantOrderId1549459380",
						"description": "test transaction",
						"statementDescription": "statement description",
						"initialAmount": 1190,
						"currency": "EUR",
						"basket": [
							{
								"name": "USB-Stick",
								"articleNumber": "SW10029",
								"totalPrice": 1190,
								"totalPriceWithTax": 1190,
								"unitPrice": 1190,
								"unitPriceWithTax": 1190,
								"tax": 0,
								"quantity": 1
							}
						],
						
						"customer": "customer_1jfrnw2fem",
						"persona": "persona_dlzrcbhecu",
						"billingAddress": "address_5yus2kppsb",
						"shippingAddress": "address_5yus2kppsb",
						"channel": "ECOM",
						"source": "Postman Test",
						"async": {
							"successUrl": "https://www.google.de/#newwindow=1&q=success",
							"failureUrl": "https://www.google.de/#newwindow=1&q=failure",
							"cancelUrl": "https://www.google.de/#newwindow=1&q=cancel"
						}
					}
				</code>
			</div>
		</div>
	</div>
</div>
<br>
<div>
<br>
<h4>Debit Transaction</h4>
<br>
<div>
	<div class="example-box-wrapper">
		<div class="content-box" ng-init="createCustomerResponseShow=false">
			<h3 class="content-box-header bg-default">
				EPS Debit response
				<div class="header-buttons-separator">
					<a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow=!createCustomerResponseShow;">
						<i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow"></i>
						<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow"></i>
					</a>
				</div>
			</h3>
			<div class="content-box-wrapper" ng-if="createCustomerResponseShow">
				<code>
					{
						"createdAt": 1549459395975,
						"modifiedAt": 1549459395997,
						"merchantId": "Merchant-11111111-1111-1111-1111-111111111111",
						"terms": 1468590412476,
						"privacy": 1468590412476,
						"orderId": "nho7jqtzuc",
						"merchantOrderId": "merchantOrderId1549459396",
						"paymentProviderTransactionId": "SJRT849RN1",
						"description": "test transaction",
						"statementDescription": "statement description",
						"initialAmount": 1190,
						"preauthorizedAmount": 0,
						"capturedAmount": 0,
						"refundedAmount": 0,
						"canceledAmount": 0,
						"currency": "EUR",
						"basket": [
								{
										"id": "Article-402c5c75-1b8c-4fad-ae06-400229e060e8",
										"name": "USB-Stick",
										"articleNumber": "SW10029",
										"totalPrice": 1190,
										"totalPriceWithTax": 1190,
										"unitPrice": 1190,
										"unitPriceWithTax": 1190,
										"quantity": 1,
										"tax": 0,
										"discount": null,
										"imageUrl": null,
										"articleUrl": null,
										"articleType": null
								}
						],
						"customer": {
								"merchantCustomerId": "merchantCustomerId_1549436498",
								"organizationRegistrationRegister": null,
								"organizationRegistrationId": null,
								"organizationEntityType": null,
								"organizationVatId": null,
								"companyName": null,
								"reference": null,
								"email": "1549436498@payengine-test.de",
								"customerId": "customer_1jfrnw2fem",
								"addresses": [
										{
												"firstName": "Jane",
												"lastName": "Smith",
												"street": "PRESTON BRIDGE",
												"houseNumber": "125",
												"city": "Musterhausen",
												"zip": "56231",
												"country": "DE",
												"state": "Bayern",
												"phone": "00493012345",
												"fax": "00493012345",
												"mobile": "00493012345",
												"title": "Prof. Dr.",
												"additionalDetails": "premium buyer",
												"addressId": "address_5yus2kppsb",
												"createdAt": 1549436500904,
												"modifiedAt": 1549436500904
										}
								],
								"personas": [
										{
												"personaId": "persona_dlzrcbhecu",
												"firstName": "Jane",
												"lastName": "Smith",
												"phone": "00493012345",
												"mobile": "00493012345",
												"fax": "00493012345",
												"birthday": 358293600000,
												"gender": "MALE",
												"title": "Prof. Dr.",
												"createdAt": 1549288382888,
												"modifiedAt": 1549288382888
										}
								],
								"paymentInstruments": [
										{
												"createdAt": 1549439177668,
												"modifiedAt": 1549439177668,
												"paymentInstrumentId": "paymentinstrument_rky2gikdt4",
												"merchantPaymentInstrumentId": null,
												"attributes": {
														"iban": "DE46940594210000012345",
														"bic": "TESTDETT421",
														"accountHolder": "Dr. Hans-Peter Meier",
														"bankName": "TEST",
														"sepaMandate": null
												},
												"encrypted": false,
												"origin": "eps",
												"type": "sepa",
												"recurring": false
										},
										{
												"createdAt": 1549459395971,
												"modifiedAt": 1549459395971,
												"paymentInstrumentId": "paymentinstrument_hwdtykx2ih",
												"merchantPaymentInstrumentId": null,
												"attributes": null,
												"encrypted": false,
												"origin": "eps",
												"type": "sepa",
												"recurring": false
										},
										{
												"createdAt": 1549459355119,
												"modifiedAt": 1549459355119,
												"paymentInstrumentId": "paymentinstrument_glndwb39qp",
												"merchantPaymentInstrumentId": null,
												"attributes": null,
												"encrypted": false,
												"origin": "ideal",
												"type": "sepa",
												"recurring": false
										},
										{
												"createdAt": 1549436986808,
												"modifiedAt": 1549436992753,
												"paymentInstrumentId": "paymentinstrument_uw0gp5wqel",
												"merchantPaymentInstrumentId": null,
												"attributes": {
														"iban": "NL18ABNA0484869868",
														"bic": "ABNANL2A",
														"accountHolder": "max max",
														"bankName": null,
														"sepaMandate": null
												},
												"encrypted": false,
												"origin": "ideal",
												"type": "sepa",
												"recurring": true
										},
										{
												"createdAt": 1549436514379,
												"modifiedAt": 1549436605642,
												"paymentInstrumentId": "paymentinstrument_ksbv2xn5is",
												"merchantPaymentInstrumentId": null,
												"attributes": {
														"iban": "NL18ABNA0484869868",
														"bic": "ABNANL2A",
														"accountHolder": "Dr. Hans-Peter Meier",
														"bankName": null,
														"sepaMandate": null
												},
												"encrypted": false,
												"origin": "ideal",
												"type": "sepa",
												"recurring": true
										},
										{
												"createdAt": 1549439101960,
												"modifiedAt": 1549439151938,
												"paymentInstrumentId": "paymentinstrument_0uj1qbgsnc",
												"merchantPaymentInstrumentId": null,
												"attributes": {
														"iban": "XX000",
														"bic": "VBOEATWWXXX",
														"accountHolder": null,
														"bankName": null,
														"sepaMandate": null
												},
												"encrypted": false,
												"origin": "eps",
												"type": "sepa",
												"recurring": true
										}
								],
								"createdAt": 1549436498596,
								"modifiedAt": 1549436498596,
								"customerType": null
						},
						"persona": {
								"personaId": "persona_dlzrcbhecu",
								"firstName": "Jane",
								"lastName": "Smith",
								"phone": "00493012345",
								"mobile": "00493012345",
								"fax": "00493012345",
								"birthday": 358293600000,
								"gender": "MALE",
								"title": "Prof. Dr.",
								"createdAt": 1549288382888,
								"modifiedAt": 1549288382888
						},
						"billingAddress": {
								"firstName": "Jane",
								"lastName": "Smith",
								"street": "PRESTON BRIDGE",
								"houseNumber": "125",
								"city": "Musterhausen",
								"zip": "56231",
								"country": "DE",
								"state": "Bayern",
								"phone": "00493012345",
								"fax": "00493012345",
								"mobile": "00493012345",
								"title": "Prof. Dr.",
								"additionalDetails": "premium buyer",
								"addressId": "address_5yus2kppsb",
								"createdAt": 1549436500904,
								"modifiedAt": 1549436500904
						},
						"shippingAddress": {
								"firstName": "Jane",
								"lastName": "Smith",
								"street": "PRESTON BRIDGE",
								"houseNumber": "125",
								"city": "Musterhausen",
								"zip": "56231",
								"country": "DE",
								"state": "Bayern",
								"phone": "00493012345",
								"fax": "00493012345",
								"mobile": "00493012345",
								"title": "Prof. Dr.",
								"additionalDetails": "premium buyer",
								"addressId": "address_5yus2kppsb",
								"createdAt": 1549436500904,
								"modifiedAt": 1549436500904
						},
						"ipAddress": null,
						"paymentInstrument": {
								"createdAt": 1549459395971,
								"modifiedAt": 1549459395971,
								"paymentInstrumentId": "paymentinstrument_hwdtykx2ih",
								"merchantPaymentInstrumentId": null,
								"attributes": null,
								"encrypted": false,
								"origin": "eps",
								"type": "sepa",
								"recurring": false
						},
						"transactions": [
								{
										"createdAt": 1549459395986,
										"modifiedAt": 1549459395986,
										"type": "DEBIT",
										"transactionId": "transaction_f1t4us08va",
										"description": "test transaction",
										"initialAmount": 1190,
										"refundedAmount": 0,
										"currency": "EUR",
										"status": "PENDING",
										"order": "nho7jqtzuc",
										"parentTransaction": null,
										"transactions": null,
										"basket": [
												{
														"id": "Article-402c5c75-1b8c-4fad-ae06-400229e060e8",
														"name": "USB-Stick",
														"articleNumber": "SW10029",
														"totalPrice": 1190,
														"totalPriceWithTax": 1190,
														"unitPrice": 1190,
														"unitPriceWithTax": 1190,
														"quantity": 1,
														"tax": 0,
														"discount": null,
														"imageUrl": null,
														"articleUrl": null,
														"articleType": null
												}
										],
										"providerCode": null,
										"merchantMessage": null,
										"customerMessage": null,
										"descriptor": null,
										"meta": null,
										"challenge": null,
										"asyncNotificationSubscriptionId": null,
										"tracking": null
								}
						],
						"status": "OPEN",
						"channel": "ECOM",
						"source": "Postman Test",
						"settled": false,
						"settlementDate": null,
						"allowedProducts": null,
						"product": "eps",
						"transactionType": "DEBIT",
						"meta": null,
						"async": null,
						"deviceIdent": null,
						"asyncNotificationSubscriptionId": null,
						"redirectUrl": "https://public-api-app76t.psp.cardtech.de/order/giropay/1.0/redirect/transaction_f1t4us08va"
				}
				</code>
			</div>
		</div>
	</div>
</div>
<br>
<div>
</div>
<br>
<br>
<h3>Testing</h3>
<br>
<p>Currently testing of Giropay payment transactions on TM environment is possible only via simulator.</p>
<br>
<br>