

<div>
  <ul>
    <li>Overview</li>
    <li>Preconditions</li>
    <li>Customer Experience</li>
    <li>Payengine Details
      <ul>
        <li>General</li>
        <li>Supported Features & Services</li>
        <li>Integration Types</li>
        <li>Technical Flow</li>
        <li>Specifics
          <ul>
            <li>PostFinance processing delay</li>
            <li>PostFinance input parameters</li>
          </ul>
        </li>
        <li>Samples
          <ul>
            <li>Preauth Transaction</li>
            <li>Capture transaction</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <br>
  <br>
  <div>
    <br/>
    <br/>
    <h2>Overview</h2>
    <br/>
    <p>
      Тhe PostFinance Card is a local debit card in Switzerland issued by PostFinance. It is a popular payment method in eCommerce and more than three million PostFinance Card holders can reached.
    </p>
  </div>
  <br/>
  <br/>
  <div>
    <h2>Preconditions</h2>
    <br/>
    <p>
      Merchants need a CHF business account and an acquiring contract with PostFinance to offer PostFinance Card.
    </p>
  </div>
  <br>
  <br>
  <div>
    <h2>Customer Experience</h2>
    <br/>
    <p>The following list describes a simplified payment flow using PostFinance Card.</p>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th width="5%">Step</th>
          <th width="25%">Description</th>
          <th width="70%">Screenshot</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="vertical-align: top;">1</td>
          <td style="vertical-align: top;">The customer selects the PostFinance Card payment method.</td>
          <td>
            <img src="/img/faq/postFinance/pf-1.png" alt="postFinance" width="50%">
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">2</td>
          <td style="vertical-align: top;">The customer will be redirected to PostFinance.</td>
          <td></td>
        </tr>
        <tr>
          <td style="vertical-align: top;">3</td>
          <td style="vertical-align: top;">The customer can select the option to pay via their mobile app (option on the left) or proceed with PostFinance Card (option on the right).</td>
          <td><img src="/img/faq/postFinance/PostFinance-1.png" alt="postFinance" width="80%"></td>
          </tr>
          <tr>
            <td style="vertical-align: top;">4</td>
            <td style="vertical-align: top;">When the PostFinance Card option is selected (see step 3) the cardholder has to enter the card credentials and authenticate via TAN generator or app.</td>
            <td><img src="/img/faq/postFinance/PostFinance-2.png" alt="postFinance" width="80%">
            <br>
            <img src="/img/faq/postFinance/PostFinance-3.png" alt="postFinance" width="80%">
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;">5</td>
            <td style="vertical-align: top;">Once the payment is be completed and the customer is redirected back to the shop.</td>
            <td>
              <img src="/img/faq/postFinance/PostFinance-4.png" alt="postFinance" width="80%">
            </td>
          </tr>
      </tbody>
    </table>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th><img src="/img/3dsecure/error-triangle.png" alt="warrning error-triangle" width="80%"></th>
          <th><strong>Note</strong> All payments are processed by PostFinance at the end of the day and the purchase amount is debited from the cardholder account the following day. Funds are usually transferred to the seller's account the following day.</th>
        </tr>
      </thead>
    </table>
    <br>
  </div>
  <div>
    <h2>Payengine Details</h2>
    <br/>
    <h3>General</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Product</th>
          <td width="50%">postfinance-card</td>
        </tr>
        <tr>
          <th width="50%">Channels</th>
          <td width="50%">ECOM</td>
        </tr>
        <tr>
          <th width="50%">Currencies</th>
          <td width="50%">CHF, EUR</td>
        </tr>
        <tr>
          <th width="50%">Countries</th>
          <td width="50%">CH</td>
        </tr>
        <tr>
          <th width="50%">Technical Flow</th>
          <td width="50%">asynchronous</td>
        </tr>
        <tr>
          <th width="50%">Recurring</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Chargebacks</th>
          <td width="50%" color="red">no</td>
        </tr>
        <tr>
          <th width="50%">Reusable Payment Instruments</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3>Supported Features and Services</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Debit</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Preauthorization</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Cancellation</th>
          <td width="50%">yes (only full)</td>
        </tr>
        <tr>
          <th width="50%">Capture</th>
          <td width="50%">
            yes (only full) <br>
            <strong>Note</strong> See further notes under "Specifics"
          </td>
        </tr>
        <tr>
          <th width="50%">Refunds</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Notifications</th>
          <td width="50%">yes - webhook, email</td>
        </tr>
        <tr>
          <th width="50%">Settlement Reporting</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3>Integration Types</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">API</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Widget</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Widget as a Bridge</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Shop Plugin</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Paylink</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div>
    <h3>Technical Flow</h3>
    <br/>
    <img src="/img/faq/postFinance/PostFinance-tf.png" width="80%">
  </div>
<br>
<br>
<div>
  <h3>Specifics</h3>
  <br>
  <h4><strong>PostFinance processing delay</strong></h4>
  <br>
  <p>The transactions for PostFinance (capture, cancel, refund) are handled offline via batch file processing and and it can take up to 48 hours before Postfinance sends a notification about the successful transaction.</p>
  <br>
  <p><strong>PostFinance input parameters</strong></p>
  <br>
  <p>The following input parameters are required for initiating a PostFinance payment via direct API integration.</p>
  <br>
  <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Mandatory/Optional</th>
          <th>Description</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>async.successUrl</td>
          <td>M</td>
          <td>Redirect URL for successful payment</td>
          <td><a href="https://my.shop.com/success" target="_blank">https://my.shop.com/success</a></td>
        </tr>
        <tr>
          <td>async.failureUrl</td>
          <td>M</td>
          <td>Redirect URL for unsuccessful payment</td>
          <td><a href="https://my.shop.com/search/fail" target="_blank">https://my.shop.com/search/fail</a></td>
        </tr>
        <tr>
          <td>async.cancelUrl</td>
          <td>M</td>
          <td>Redirect URL when payment is canceled</td>
          <td><a href="https://my.shop.com/search/cancel" target="_blank">https://my.shop.com/search/cancel</a></td>
        </tr>
        <tr>
          <td>payment.displayLanguage</td>
          <td>M</td>
          <td>One  of the possible values: de, en, fr, it (there is validation on PE for permitted value)</td>
          <td>"displayLanguage" : "en"</td>
        </tr>
        <tr>
          <td>payment.displayMobileScreen</td>
          <td>O</td>
          <td>Optional set up for mobile view. Boolean type.</td>
          <td>"displayMobileScreen" : true</td>
        </tr>
      </tbody>
    </table>
</div>
<br>
<br>
<div>
  <h3>Samples</h3>
  <br>
  <p><strong>Preauth Transaction</strong></p>
  <br>
  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShoww=false">
        <h3 class="content-box-header bg-default">
          PostFinance Preauth Request
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShoww=!createCustomerResponseShoww;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShoww"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShoww"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShoww">
          <code>
  {
    "product" : "postfinance-card",
    "merchantOrderId": "ORDER12345",
    "initialAmount": 1000,
    "currency": "CHF",
    "channel": "ECOM",
    "payment": {
      "displayLanguage" : "en",
      "displayMobileScreen" : false
    },
    "async": {
      "successUrl": "https://my.shop.com/success",
      "failureUrl": "https://my.shop.com/fail",
      "cancelUrl": "https://my.shop.com/cancel"
    }
  }
          </code>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow=false">
        <h3 class="content-box-header bg-default">
          PostFinance Preauth Response
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow=!createCustomerResponseShow;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow">
          <code>
  {
    "createdAt": 1576849099719,
    "modifiedAt": 1576849099719,
    "merchantId": "merchant_6nqj1bh7ap",
    "terms": null,
    "privacy": null,
    "orderId": "fxszcrqxe9",
    "merchantOrderId": "ORDER12345",
    "paymentProviderTransactionId": null,
    "description": null,
    "statementDescription": null,
    "initialAmount": 1000,
    "preauthorizedAmount": 0,
    "capturedAmount": 0,
    "refundedAmount": 0,
    "canceledAmount": 0,
    "currency": "CHF",
    "basket": [],
    "customer": {
        "merchantCustomerId": null,
        "organizationRegistrationRegister": null,
        "organizationRegistrationId": null,
        "organizationEntityType": null,
        "organizationVatId": null,
        "companyName": null,
        "reference": null,
        "email": "test_customer@gmail.com",
        "customerId": "customer_rwdvi4gvat",
        "addresses": [],
        "personas": [],
        "paymentInstruments": [],
        "createdAt": 1576849099720,
        "modifiedAt": 1576849099720,
        "customerType": null
    },
    "persona": null,
    "billingAddress": null,
    "shippingAddress": null,
    "ipAddress": null,
    "paymentInstrument": null,
    "transactions": [],
    "status": "OPEN",
    "channel": "ECOM",
    "source": "Postfinance PreAuth Test",
    "settled": false,
    "settlementDate": null,
    "allowedProducts": null,
    "product": "postfinance-card",
    "transactionType": "PREAUTH",
    "meta": {
        "displayLanguage": "en",
        "displayMobileScreen": false,
        "authenticationRequestId": "ZmhXSv97T8vxdjCarBOU",
        "paymentId": "1LJbWEt8GjAJL7kLiQBq"
    },
    "async": {
        "successUrl": "https://my.shop.com/success",
        "failureUrl": "https://my.shop.com/fail",
        "cancelUrl": "https://my.shop.com/cancel"
    },
    "deviceIdent": null,
    "clientType": "BRW",
    "asyncNotificationSubscriptionId": null,
    "lastOperation": null,
    "locale": null,
    "redirectUrl": "https://public-api-app50te.psp.cardtech.de/postfinance/auth/1LJbWEt8GjAJL7kLiQBq"
  }
          </code>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<br>
  <p><strong>Capture transaction</strong></p>
  <br>
  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow3=false">
        <h3 class="content-box-header bg-default">
          PostFinance Capture Request
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow3=!createCustomerResponseShow3;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow3"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow3"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow3">
          <code>
  {
    "description": "Description for operation.",
    "initialAmount": 1000,
    "currency": "CHF",
    "basket": [
      {
        "name": "USB-Stick",
        "articleNumber": "SW10029",
        "totalPrice": 1000,
        "totalPriceWithTax": 1000,
        "unitPrice": 1000,
        "unitPriceWithTax": 1000,
        "tax": 0,
        "quantity": 1
      }
    ]
  }
          </code>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
  <div>
    <div class="example-box-wrapper">
      <div class="content-box" ng-init="createCustomerResponseShow4=false">
        <h3 class="content-box-header bg-default">
          PostFinance Capture Response
          <div class="header-buttons-separator">
            <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow4=!createCustomerResponseShow4;">
              <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow4"></i>
              <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow4"></i>
            </a>
          </div>
        </h3>
        <div class="content-box-wrapper" ng-if="createCustomerResponseShow4">
          <code>
  {
    "createdAt": 1582298926718,
    "modifiedAt": 1582298926718,
    "type": "CAPTURE",
    "transactionId": "transaction_10abfpyihj",
    "description": "description for operation.",
    "initialAmount": 1000,
    "refundedAmount": 0,
    "currency": "CHF",
    "status": "OK",
    "order": {
        "createdAt": 1582298662593,
        "modifiedAt": 1582298784440,
        "merchantId": "merchant_6nqj1bh7ap",
        "terms": null,
        "privacy": null,
        "orderId": "fxszcrqxe9",
        "merchantOrderId": "ORDER12345",
        "paymentProviderTransactionId": null,
        "description": null,
        "statementDescription": null,
        "initialAmount": 1000,
        "preauthorizedAmount": 1000,
        "capturedAmount": 0,
        "refundedAmount": 0,
        "canceledAmount": 0,
        "currency": "CHF",
        "basket": [],
        "customer": {
            "merchantCustomerId": null,
            "organizationRegistrationRegister": null,
            "organizationRegistrationId": null,
            "organizationEntityType": null,
            "organizationVatId": null,
            "companyName": null,
            "reference": null,
            "email": null,
            "customerId": "customer_ghflfedgkn",
            "addresses": [],
            "personas": [],
            "paymentInstruments": [],
            "createdAt": 1582298662594,
            "modifiedAt": 1582298662594,
            "customerType": null
        },
        "persona": null,
        "billingAddress": null,
        "shippingAddress": null,
        "ipAddress": null,
        "paymentInstrument": {
            "createdAt": 1582298662596,
            "modifiedAt": 1582298662596,
            "paymentInstrumentId": "paymentinstrument_qx1widjtw4",
            "merchantPaymentInstrumentId": null,
            "attributes": {},
            "encrypted": false,
            "origin": "postfinance-card",
            "type": "postfinance-card",
            "recurring": false
        },
        "transactions": [
            {
                "createdAt": 1582298662596,
                "modifiedAt": 1582298784440,
                "type": "PREAUTH",
                "transactionId": "transaction_g3m1xmlsuh",
                "description": null,
                "initialAmount": 1000,
                "capturedAmount": 0,
                "canceledAmount": 0,
                "currency": "CHF",
                "status": "OK",
                "order": "fxszcrqxe9",
                "parentTransaction": null,
                "transactions": [
                    "transaction_10abfpyihj"
                ],
                "basket": [],
                "providerCode": null,
                "merchantMessage": null,
                "customerMessage": null,
                "descriptor": null,
                "meta": null,
                "challenge": null,
                "asyncNotificationSubscriptionId": null,
                "tracking": []
            }
        ],
        "status": "OPEN",
        "channel": "ECOM",
        "source": null,
        "settled": false,
        "settlementDate": null,
        "allowedProducts": [],
        "product": "postfinance-card",
        "transactionType": "PREAUTH",
        "meta": {
            "displayLanguage": "en",
            "displayMobileScreen": false,
            "authenticationRequestId": "E1blEuV7PTr8OHkQJKJY",
            "paymentId": "dLQ7nXkHucPbdtEOpb8O"
        },
        "async": null,
        "deviceIdent": null,
        "clientType": "BRW",
        "asyncNotificationSubscriptionId": null,
        "lastOperation": "TRANSACTION_CAPTURE_PENDING",
        "locale": null
    },
    "parentTransaction": {
        "createdAt": 1582298662596,
        "modifiedAt": 1582298784440,
        "type": "PREAUTH",
        "transactionId": "transaction_g3m1xmlsuh",
        "description": null,
        "initialAmount": 1000,
        "capturedAmount": 0,
        "canceledAmount": 0,
        "currency": "CHF",
        "status": "OK",
        "order": {
            "createdAt": 1582298662593,
            "modifiedAt": 1582298784440,
            "merchantId": "ORDER12345",
            "terms": null,
            "privacy": null,
            "orderId": "fxszcrqxe9",
            "merchantOrderId": "ORDER12345",
            "paymentProviderTransactionId": null,
            "description": null,
            "statementDescription": null,
            "initialAmount": 1000,
            "preauthorizedAmount": 1000,
            "capturedAmount": 0,
            "refundedAmount": 0,
            "canceledAmount": 0,
            "currency": "CHF",
            "basket": [],
            "customer": {
                "merchantCustomerId": null,
                "organizationRegistrationRegister": null,
                "organizationRegistrationId": null,
                "organizationEntityType": null,
                "organizationVatId": null,
                "companyName": null,
                "reference": null,
                "email": null,
                "customerId": "customer_ghflfedgkn",
                "addresses": [],
                "personas": [],
                "paymentInstruments": [],
                "createdAt": 1582298662594,
                "modifiedAt": 1582298662594,
                "customerType": null
            },
            "persona": null,
            "billingAddress": null,
            "shippingAddress": null,
            "ipAddress": null,
            "paymentInstrument": {
                "createdAt": 1582298662596,
                "modifiedAt": 1582298662596,
                "paymentInstrumentId": "paymentinstrument_qx1widjtw4",
                "merchantPaymentInstrumentId": null,
                "attributes": {},
                "encrypted": false,
                "origin": "postfinance-card",
                "type": "postfinance-card",
                "recurring": false
            },
            "transactions": [
                "transaction_g3m1xmlsuh"
            ],
            "status": "OPEN",
            "channel": "ECOM",
            "source": null,
            "settled": false,
            "settlementDate": null,
            "allowedProducts": [],
            "product": "postfinance-card",
            "transactionType": "PREAUTH",
            "meta": {
                "displayLanguage": "en",
                "displayMobileScreen": false,
                "authenticationRequestId": "E1blEuV7PTr8OHkQJKJY",
                "paymentId": "dLQ7nXkHucPbdtEOpb8O"
            },
            "async": null,
            "deviceIdent": null,
            "clientType": "BRW",
            "asyncNotificationSubscriptionId": null,
            "lastOperation": "TRANSACTION_CAPTURE_PENDING",
            "locale": null
        },
        "parentTransaction": null,
        "transactions": [
            "transaction_10abfpyihj"
        ],
        "basket": [],
        "providerCode": null,
        "merchantMessage": null,
        "customerMessage": null,
        "descriptor": null,
        "meta": null,
        "challenge": null,
        "asyncNotificationSubscriptionId": null,
        "tracking": []
    },
    "transactions": null,
    "basket": [
        {
            "id": "Article-8982f440-4d2c-4f49-907a-eca043d79b33",
            "name": "Item description",
            "articleNumber": "SW10029",
            "totalPrice": 1000,
            "totalPriceWithTax": 1000,
            "unitPrice": 1000,
            "unitPriceWithTax": 1000,
            "quantity": 1,
            "tax": 0,
            "discount": null,
            "imageUrl": null,
            "articleUrl": null,
            "articleType": null
        }
    ],
    "providerCode": null,
    "merchantMessage": null,
    "customerMessage": null,
    "descriptor": null,
    "meta": null,
    "challenge": null,
    "asyncNotificationSubscriptionId": null,
    "tracking": null
  }
          </code>
        </div>
      </div>
    </div>
  </div>
 
</div>

