<div class="container row col-12">
<ul>
	<li><a href="#overview" name="">Overview</a></li>
	<li><a href="#advantages" name="">Advantages</a></li>
		<ul>
			<li><a href="#customerExperience">Customer Experience</a></li>
		</ul>
		<li><a href="#payengineDetails">Payengine Details</a></li>
			<ul>
				<li><a href="#general">General</a></li>
				<li><a href="#sfas">Supported Features and Services</a></li>
				<li><a href="#integrationTypes">Integration Types</a></li>
				<li><a href="#technicalFlow">Technical Flow</a></li>
				<ul>
					<li><a href="#singleOrder">Single Order</a></li>
					<li><a href="#recurringOrder">Recurring Order</a></li>
					<li><a href="#recurringOrderTypes">Recurring Order Types</a></li>
					<li><a href="#recurringOrderWithoutInitialPayment">Recurring Order Without initial Payment</a></li>
					<li><a href="#recuringOrderWithInitialPayment">Recuring Order With Initial Payment</a></li>
					<li><a href="#paymentMethodSpecificParameters">Payment Method Specific Parameters</a></li>
					<li><a href="#refunds">Refunds</a></li>
				</ul>
			</ul>
	<li><a href="#testing">Testing</a></li>
	<li><a href="#settlements">Settlements</a></li>
</ul>
<div>
	<div id="overview">
		<br/>
		<h2>Overview</h2>
		<br/>
		<p>
			SEPA, the Single Euro Payments Area is an European initiative which aims to address making cashless payments across European borders by creating common payment instruments and a more innovative market for retail payments.
		</p>
		<br/>
		<p>
				The European payments industry has created three basic payment instruments introduced across Europe: <em>SEPA Credit Transfer, SEPA Direct Debit</em> and <em>SEPA for Cards</em>.
		</p>
		<br/>
		<ul>
			<li>
					With <em>SEPA Credit Transfers</em>, people can move funds in a single transaction to an account inside or outside their home country within a single business day.
			</li>
			<li>With <em>SEPA Direct Debits</em>, a company in one country can directly charge an account in another country.</li>
			<li>
					<em>SEPA for Cards</em> enables consumers to use the payment cards they are using in their own country for purchases elsewhere in Europe and merchants can readily accept payment cards from all over Europe. <em>SEPA for Cards</em> combines convenience with a high level of security. 
			</li>
		</ul>
	</div>
	<br/>
	<br/>
	<div id="advantages">
		<br/>
		<h2>Advantages</h2>
		<br/>
		<ul>
			<li>SEPA Payment Instruments are used for all credit transfers and direct debits in euro, both within the euro area countries, and between them. </li>
			<li>Internet payments based on SEPA foster electronic commerce in Europe. </li>
			<li>SEPA has paved the way for other innovative services, such as mobile payments. </li>
			<li>Consumers can easily buy goods and services anywhere in Europe.</li>
			<li>Payments are fast and reliable, what you see is what you pay.</li>
			<li>Companies can centralize their European treasuries and make all their payments through just one account.</li>
			<li>Banks and payment providers can expand their businesses.</li>
		</ul>
		<br/>
		<br/>
		<div id="customerExperience">
			<br/>
			<h3>Customer Experience</h3>
			<br/>
			<br/>
			<table border="1px solid black" class="table table-bordered table-striped table-condensed" >
				<thead>
					<tr>
						<th>Step</th>
						<th>Description</th>
						<th>Screenshot</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Select the <strong>SEPA</strong> payment method.</td>
						<td><img class="" src="/img/faq/sepa/SEPA-widget-marked.png" width="50%" /></td>
					</tr>
					<tr>
						<td>2</td>
						<td>
								Provide your bank account details:
							<ul>
								<li><strong>mandatory:</strong> Account Holder and IBAN </li>
								<li><strong>optional:</strong> BIC and Bank Name </li>
							</ul>
						</td>
						<td><img class="" src="/img/faq/sepa/AC IBAN mandatory-marked.png" width="50%" /></td>
					</tr>
					<tr>
						<td>3</td>
						<td>Accept <strong>SEPA mandate</strong> by marking a check box</td>
						<td><img class="" src="/img/faq/sepa/Mandate required-marked.png" width="50%" /></td>
					</tr>
					<tr>
						<td>4</td>
						<td>You will be redirected to the <strong>Payment form success</strong> or the <strong>Payment form failure</strong> popup window.</td>
						<td><img class="" src="/img/faq/sepa/Success.png" width="50%" /></td>
					</tr>
				</tbody>
			</table>
			<br/>
			<h3><a href="#">Integration via API</a></h3>
			<br/>
			<br/>
			<div id="payengineDetails">
				<h3>Payengine Details</h3>
				<br/>
				<h4>General</h4>
				<br/>
				<table border="1px solid black" class="table table-bordered table-striped table-condensed">
					<tbody>
						<tr>
							<th width="50%"><strong>Product</strong></th>
							<td width="50%">SEPA</td>
						</tr>
						<tr>
							<th width="50%"><strong>Type</strong></th>
							<td width="50%">Direct debit</td>
						</tr>
						<tr>
							<th width="50%"><strong>Channels</strong></th>
							<td width="50%">ecom, moto</td>
						</tr>
						<tr>
							<th width="50%"><strong>Currencies</strong></th>
							<td width="50%">EUR</td>
						</tr>
						<tr>
							<th width="50%"><strong>Countries</strong></th>
							<td width="50%">
								AT, BE, CY, EE, FI, FR, DE, GR, IE, IT, 
								<br>
								LV, LT, LU, MT, NL, PT, SK, SI, ES, CH
							</td>
						</tr>
						<tr>
							<th width="50%"><strong>Technical Flow</strong></th>
							<td width="50%">synchronous</td>
						</tr>
						<tr>
							<th width="50%"><strong>Recurring</strong></th>
							<td width="50%">yes</td>
						</tr>
						<tr>
							<th width="50%"><strong>Chargebacks</strong></th>
							<td width="50%">yes</td>
						</tr>
						<tr>
							<th width="50%"><strong>Reusable Payment Instruments</strong></th>
							<td width="50%">yes</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<h4>Supported Features and Services</h4>
				<br/>
				<table border="1px solid black" class="table table-bordered table-striped table-condensed">
					<tbody>
						<tr>
							<th width="50%"><strong>Debit</strong></th>
							<td width="50%">yes</td>
						</tr>
						<tr>
							<th width="50%"><strong>Preauthorization</strong></th>
							<td width="50%">yes</td>
						</tr>
						<tr>
							<th width="50%"><strong>Cancelation</strong></th>
							<td width="50%">yes (full, partial)</td>
						</tr>
						<tr>
							<th width="50%"><strong>Capture</strong></th>
							<td width="50%">yes (full, partial)</td>
						</tr>
						<tr>
							<th width="50%"><strong>Refunds</strong></th>
							<td width="50%">yes *<br/>
								<strong>NOTE</strong> Refunds can only be executed if the merchant bank account connection is set up 
							</td>
						</tr>
						<tr>
							<th width="50%"><strong>Notifications</strong></th>
							<td width="50%">yes - webhook, email</td>
						</tr>
						<tr>
							<th width="50%"><strong>Settlement Reporting</strong></th>
							<td width="50%">yes</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<h4>Integration Types</h4>
				<br/>
				<table border="1px solid black" class="table table-bordered table-striped table-condensed">
					<tbody>
						<tr>
							<th width="50%"><strong>API</strong></th>
							<td width="50%">yes</td>
						</tr>
						<tr>
							<th width="50%"><strong>Widget</strong></th>
							<td width="50%">yes</td>
						</tr>
						<tr>
							<th width="50%"><strong>Bridge</strong></th>
							<td width="50%">
								<ul>
									<li>Payment Instruments can be created via bridge.</li>
									<li>Mandate creation within the bridge</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th width="50%"><strong>Shop Plugin</strong></th>
							<td width="50%">no (on the roadmap)</td>
						</tr>
						<tr>
							<th width="50%"><strong>Paylink</strong></th>
							<td width="50%">yes</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
			<div id="technicalFlow">
				<br/>
				<h3>Technical Flow</h3>
				<br/>
				<p><strong>Prerequisite:</strong> Collect mandate acceptance</p>
				<br/>
				<p>
						Before creating a SEPA direct debit order, your customer must accept the SEPA Direct Debit mandate. The acceptance authorizes Concardis to collect payments for the specified amount from their bank account, using SEPA Direct Debit.
				</p>
				<br/>
				<p><strong>What is a Mandate?</strong></p>
				<p>
					Usually, the SEPA mandate is a paper document, but since it is not possible to implement a paper document in eCommerce, electronic mandates (eMandates) are used. The Mandates are stored within the Payengine payment instrument.
					<br/><br/>
					These mandates have a unique <em>mandateId</em>, and store the mandateText as well as the createdDateTime (the timestamp the customer agreed to the specific mandate).
					<br/>	<br/>
					Within Payengine, the mandate object of a payment instrument is used for tracking the usage of a payment instrument through the type property.
				</p>
				<br/>
				<div class="example-box-wrapper">
						<div class="content-box" ng-init="createCustomerResponseShows=false">
							<h3 class="content-box-header bg-default">
								SEPA Mandate Text
								<div class="header-buttons-separator">
									<a href class="icon-separator toggle-button" ng-click="createCustomerResponseShows=!createCustomerResponseShows;">
										<i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShows"></i>
										<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShows"></i>
									</a>
								</div>
							</h3>
							<div class="content-box-wrapper" ng-if="createCustomerResponseShows">
								<code>
	"Ich ermächtige die Concardis GmbH, Helfman-Park 7 in 65760 Eschborn, GläubigerID DE82ZZZ00000346626, Zahlungen von meinem Konto mittels SEPA-Lastschrift unter der Mandatsreferenz [mandateId] einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von Concardis GmbH auf mein Konto gezogenen SEPA-Lastschriften einzulösen.

	Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
		
	Verkürzung der Ankündigungsfrist:
		
	Die Frist für die Vorabinformation der SEPA-Lastschrift wird auf einen Tag verkürzt."
								</code>
							</div>
						</div>
					</div>
				<br/>
				<div id="singleOrder">
					<br/>
					<h4>Single Order</h4>
					<br/>
					<p>When a customer provides authorization for a single usage of his bank details for a payment.</p>
					<br/>
					<p>You can:</p>
					<ul>
						<li>Collect payment data and place the order in your shop.</li>
						<li>Create debit or preauth with the <em>directDebitType</em> set to <strong>SINGLE</strong></li>
					</ul>
					<p>For more information, see <a href="https://docs.payengine.de/faq_pm_sepa_single_order">Single Order</a>.</p>
				</div>
				<br/>
				<div id="recurringOrder">
					<br/>
					<h4>Recurring Order</h4>
					<br/>
					<p>When a customer provides authorization to perform a series of payments with his bank details.</p>
					<br/>
					<p>
						Recurring payments are handled with use of the <em>directDebitType</em> of mandate object which points to the type of usage for the particular order. Mark the orders as <strong>FIRST, RECURRING</strong> or <strong>FINAL</strong>.
					</p>
				</div>
				<br/>
				<div id="recurringOrderTypes">
					<br/>
					<h4 style="padding-left:2em;">Recurring Order Types</h4>
					<br/>
					<p>There are two types of recurring orders: Recurring Order With initial Payment and Recurring Order Without initial Payment.</p>
					<br/>
					<h4>Recurring Order Without initial Payment</h4>
					<br/>
					<p>This option provides:</p>
					<ul>
						<li>Collect payment data and place the order in your shop.</li>
						<li>
							Perform the backend-to-backend payment instrument request POST /payment-instruments with the <em>directDebitType</em> set to <strong>FIRST</strong>. This request should result in a recurring payment instrument.
						</li>
						<li>For recurring usage, see next paragraph.</li>
					</ul>
					<p>For more information, see <a href="https://docs.payengine.de/faq_pm_sepa_ro_without_initial_payment" id="recuringOrderWithoutInitialPayment"> Recurring Order Without Initial Payment</a>.</p>
					<br/>
					<br/>
					<h4 style="padding-left:2em;">Recuring Order With Initial Payment</h4>
					<br/>
					<p>This option provides:</p>
					<ul>
						<li>Collect payment data and place the order in your shop.</li>
						<li>
							Create debit or preauth with the directDebitType set to <strong>FIRST</strong>. This request should result in a recurring payment instrument.
						</li>
						<li>
								Use the already created payment instrument for executing orders providing only the directDebitType that stands for the current usage of the mandate. <strong>(RECURRING/FINAL)</strong>.
						</li>
					</ul>
					<p>For more information, see <a href="https://docs.payengine.de/faq_pm_sepa_ro_with_Initial_payment" id="recuringOrderWithInitialPayment"> Recurring Order with Initial Payment</a>.</p>
				</div>
				<br/>
				<br/>
				<div id="paymentMethodSpecificParameters">
					<br/>
					<h4>Payment Method Specific Parameters</h4>
					<br/>
				</div>
				<br/>
				<br/>
				<div id="POST​paymentInstrumentsSpecificRequestParameters">
					<br/>
					<h4>POST​/payment-instruments Specific Request Parameters</h4>
					<br/>
					<table border="1px solid black" class="table table-bordered table-striped table-condensed" >
						<thead>
							<tr>
								<th>PARAMETER</th>
								<th>MANDATORY/<br/>OPTIONAL</th>
								<th>DESCRIPTION</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>payment.bankName</td>
								<td>O</td>
								<td>
										<strong>string</strong> <br>
										The name of the bank of the SEPA account. <br>
										minLength: 1 <br>
										maxLength: 255
								</td>
								<td></td>
							</tr>
							<tr>
								<td>payment.iban</td>
								<td>M</td>
								<td>
										<strong>string</strong> <br>
										<br/><br/>
										maxLength: 34 <br>
										IBAN of the SEPA account.
								</td>
								<td></td>
							</tr>
							<tr>
								<td>payment.bic</td>
								<td>O</td>
								<td>BIC of the SEPA account.</td>
								<td></td>
							</tr>
							<tr>
								<td>payment.accountHolder</td>
								<td>M</td>
								<td>
									<strong>string</strong> <br>
									minLength: 4 <br>
									maxLength: 128 
									<br/><br/>
									The account holder's name of the SEPA account. 
								</td>
								<td></td>
							</tr>
							<tr>
								<td>order.statementDescription</td>
								<td>O</td>
								<td>
									The statement description from your system/shop of this order.
									<br><br>
									The field <span><strong>order.statementDescription</strong></span> will be used as purpose text. <br>
									When no <span><strong>order.statementDescription</strong></span> is present the following logic will be applied: <br>
									1) <strong>order.merchantOrderId</strong> is used when it's present
									<br>
									2) <strong>order.orderId </strong> is used when <strong>order.merchantOrderId</strong> is not present
									<br>
									For both cases <br>
									fields <strong>merchant.companyName</strong> and <strong>merchant.shopUrl</strong> will be added after either <strong>order.merchantOrderId</strong> or <strong>order.orderId</strong> separated with space.
									<br>
									The max length of the purpose text is <strong>108</strong> characters and it will be cut off if it's longer.
									<br>
									Please see the sample below the table.
								</td>
							</tr>
							<tr>
								<td>mandate.mandateId</td>
								<td>O</td>
								<td>
										The <em>mandateId</em> assigned to the SEPA mandate (Optionally, Payengine will generate the ID (if it not available). The ID must follow the '^[a-zA-Z0-9-]{1,35}' pattern.
								</td>
							</tr>
							<tr>
								<td>mandate.createdDateTime</td>
								<td>M</td>
								<td>
									number($date-time)<br/><br/>
									Timestamp for mandate creation (mandatory).
								</td>
							</tr>
							<tr>
								<td>mandate.mandateText</td>
								<td>M</td>
								<td>
									string<br/><br/>
									Mandate text displayed to the customer (mandatory)
								</td>
							</tr>
							<tr>
								<td>mandate.directDebitType</td>
								<td>M</td>
								<td>
									string title: <em>DirectDebitType</em><br/><br/>
									The current mandate type of the direct debit type. <br>
									The mandate type can be one of the following. <br>
									<strong>FIRST</strong>: It is the first execution of the mandate <strong>SINGLE</strong>: It is used only for one execution of the mandate <strong>RECURRING</strong>: It is used for recurring mandate usage <strong>FINAL</strong>: It is the last execution of the recurring mandate.
								</td>
							</tr>
							<tr>
								<td>mandate.directDebitType.SINGLE</td>
								<td>One execution</td>
								<td></td>
							</tr>
							<tr>
								<td>mandate.directDebitType.FIRST</td>
								<td>The initial usage of the recurring payment instrument</td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<br>
					<br>
					<div>
							<div class="example-box-wrapper">
								<div class="content-box" ng-init="createCustomerResponseShowwa=false">
									<h3 class="content-box-header bg-default">
										Sample of order.statementDescription Logic
										<div class="header-buttons-separator">
											<a href class="icon-separator toggle-button" ng-click="createCustomerResponseShowwa=!createCustomerResponseShowwa;">
												<i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShowwa"></i>
												<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShowwa"></i>
											</a>
										</div>
									</h3>
									<div class="content-box-wrapper" ng-if="createCustomerResponseShowwa">
										<code>
String statementDescription = order.getStatementDescription();

if ( StringUtils.isEmpty( statementDescription ) ) {
	statementDescription = order.getMerchantOrderId() != null ? order.getMerchantOrderId() : order.getBusinessKey() + " " + merchant.getCompanyName() + " " + merchant.getShopUrl();
}
	
return statementDescription.length() > MAX_LENGTH_OF_STATEMENT_DESCRIPTION ? statementDescription.substring( 0, MAX_LENGTH_OF_STATEMENT_DESCRIPTION ) : statementDescription;												
										</code>
									</div>
								</div>
							</div>
						</div>
					<br/>
					<h3>POST​/payment-instruments Specific Response Parameters</h3>
					<br/>
					<table border="1px solid black" class="table table-bordered table-striped table-condensed" >
						<thead>
							<tr>
								<th colspan="4">PARAMETER</th>
								<th colspan="1">MANDATORY/<br/>OPTIONAL</th>
								<th colspan="4">DESCRIPTION</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="4">mandateId</td>
								<td colspan="1">M</td>
								<td colspan="4">If there is no <em>mandateID</em> transmitted in the request, Payengine will generate one and send it back in the response.</td>
							</tr>
						</tbody>
					</table>
					<br/>
					<h3>POST/customers Specific Request Parameters</h3>
					<br/>
					<table border="1px solid black" class="table table-bordered table-striped table-condensed" >
						<thead>
							<tr>
								<th colspan="4">PARAMETER</th>
								<th colspan="1">MANDATORY/<br/>OPTIONAL</th>
								<th>DESCRIPTION</th>
								<th>EXAMPLE</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="4">email</td>
								<td colspan="1">M</td>
								<td>The customer's e-mail address.</td>
								<td>user@example.com</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br/>
				<h3>POST​/orders​/preauth/</h3>
				<br/>
				<h3>POST​/orders​/debit Request Parameters</h3>
				<br/>
				<table border="1px solid black" class="table table-bordered table-striped table-condensed" >
					<thead>
						<tr>
							<th>PARAMETER</th>
							<th>MANDATORY/<br/>OPTIONAL</th>
							<th>DESCRIPTION</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>payment.bankName</td>
							<td>O</td>
							<td>
								string<br/><br/>
								The name of the bank of the SEPA account. <br/> 
								minLength: 1<br/> 
								maxLength: 255
							</td>
						</tr>
						<tr>
							<td>payment.iban</td>
							<td>M</td>
							<td>
								string<br/><br/>
								maxLength: 34<br/><br/> 
								IBAN of the SEPA account
							</td>
						</tr>
						<tr>
							<td>payment.bic</td>
							<td>O</td>
							<td>BIC of the SEPA account. </td>
						</tr>
						<tr>
							<td>payment.accountHolder</td>
							<td>M</td>
							<td>
								string<br/><br/>
								minLength: 4<br/>
								maxLength: 128<br/><br/>
								The account holder's name of the SEPA account. 
							</td>
						</tr>
						<tr>
							<td>mandate.mandateId</td>
							<td>O</td>
							<td>The <em>mandateId</em> assigned to the SEPA mandate (Optionally, Payengine will generate the ID if it is not available). The ID must follow the '^[a-zA-Z0-9-]{1,35}' pattern.
							</td>
							<td></td>
						</tr>
						<tr>
							<td>mandate.createdDateTime</td>
							<td>М</td>
							<td>
								number($date-time)<br/><br/>
								Timestamp for mandate creation (mandatory).<br/><br/>
								<strong>NOTE</strong> Should only be transmitted for <em>directDebitType</em> <strong>FIRST, SINGLE.</strong>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>mandate.mandateText</td>
							<td>М</td>
							<td>
								string<br/><br/>
								Mandate text displayed to the customer (mandatory)<br/><br/>
								<strong>NOTE</strong> Should only be transmitted for <em>directDebitType</em> <strong>FIRST, SINGLE.</strong>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>mandate.directDebitType</td>
							<td>М</td>
							<td>
								string title: DirectDebitType<br/><br/>
								The current mandate type of the direct debit type.<br/>
								The mandate type can be one of the following.<br/>
								<strong>FIRST:</strong> It is the first execution of the mandate <strong>SINGLE:</strong> It is used only for one execution of the mandate <strong>RECURRING:</strong> It is used for recurring mandate usage <strong>FINAL:</strong> It is the last execution of the recurring mandate.
							</td>
							<td></td>
						</tr>
						<tr>
							<td>mandate.directDebitType.SINGLE</td>
							<td>One execution</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>mandate.directDebitType.FIRST</td>
							<td>The initial usage of the recurring payment instrument</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>mandate.directDebitType.RECURRING</td>
							<td>Any further usage of the payment instrument.</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>mandate.directDebitType.FINAL</td>
							<td>The last usage of a payment instrument.</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
			<div>
				<br/>
				<h4>Refunds</h4>
				<br/>
				<p>
					To use the refund service of Payengine, configure your bank account connection at the Concardis Merchant Center.
				</p>
				<br/>
				<h2>Testing</h2>
				<br/>
				<table border="1px solid black" class="table table-bordered table-striped table-condensed" >
					<thead>
						<tr>
							<th>Result</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Success</td>
							<td>Any amount + any merchant/customer IBAN: The transaction's status changes from "OK" to "SUCCESS"</td>
						</tr>
						<tr>
							<td>Chargeback</td>
							<td>
									Each of the amounts listed below + any merchant/customer IBAN: The transaction succeeds but a dispute is immediately created.<br/>
									The debit's/preauth's status stays in success and a new chargeback transaction is created with status "booked". This might take some time, according to the scheduler settings.
									<br/><br/>
									<ul>
										<li>33333 (333,33 €)</li>
										<li>11111 (111,11 €)</li>
										<li>111 (1,11 €)</li>
									</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<h2>Settlements</h2>
				<br/>
				<p>
					You can see all settlement information in the Unified Settlement Report. For more information on the format and mappings, see <a href="https://docs.payengine.de/merchantcenter/settlement_report">Unified Settlement Report</a>.
				</p>
			</div>
			<br/><br/>
		</div>
	</div>
</div>
</div>