
<br/>
<div>
	<h2>Overview</h2>
	<br/>
	<p>
		<strong>Alipay</strong> is the most important e-wallet in China and has a potential reach to over 520 million registerd users.
	</p>
	<br/>
	<p>
		A customer can place his cards or bank account behind the Alipay wallet as the prefered payment instruments.  A payment can either be executed in the web via a login into the Alipay account or via the Alipay mobile app which is most commonly used by the Alipay users. With the mobile app the user can either scan a QR-code referencing the order or the app will be automatically opened in case the user shops with the mobile device.
	</p>
	<br/>
	<p>
		There are no chargebacks and there is a very high consumer trust due to the strong brand awareness. Therefore Alipay is a must-have payment method for any businesses that want to reach out to Chinese shoppers.
	</p>
	<br/>
	<br/>
	<h2>CUSTOMER EXPERIENCE</h2>
	<br/>
	<p>
		<img class="" src="/img/faq/alipay_pm/alipay_customer_flow.png" width="100%" />
	</p>
	<br/>

	<p>
		Optionally a user could also scan a QR-code with his mobile app (step 3) and authorize and execute the payment via the app.
	</p>
	<br/>

	<h2>Payengine Details</h2>
	<br/>
	<div>
		<div class="content-box-wrapper">
			<div class="pricing-box-alt row clearfix">
				<div class="col-md-3 plans-features">
					<ul>
						<li class="header ms-hover"><strong>General</strong></li>
						<li class="ms-hover">Product</li>
						<li class="ms-hover">Channels</li>
						<li class="ms-hover">Currencies</li>
						<li class="ms-hover">Countries</li>
						<li class="ms-hover">Technical Flow</li>
						<li class="ms-hover">Recurring</li>
						<li class="ms-hover">Chargebacks</li>
					</ul>
				</div>
				<div class="individual-plan">
					<ul>
						<li class="header ms-hover"></li>
						<li class="ms-hover">Alipay</li>
						<li class="ms-hover">ecom</li>
						<li class="ms-hover">AUD, CAD, EUR, GBP, HKD, SGD, USD</li>
						<li class="ms-hover">crossborder (outside of China)</li>
						<li class="ms-hover">asynchronous</li>
						<li class="ms-hover">no</li>
						<li class="ms-hover">no</li>
					</ul>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<div class="content-box-wrapper">
			<div class="pricing-box-alt row clearfix">
				<div class="col-md-3 plans-features">
					<ul>
						<li class="header ms-hover"><strong>Supported Features</strong></li>
						<li class="header ms-hover"><strong>& Services</strong></li>
						<li class="ms-hover">Debit</li>
						<li class="ms-hover">Preauthorization</li>
						<li class="ms-hover">Cancelation</li>
						<li class="ms-hover">Capture</li>
						<li class="ms-hover">Refunds</li>
						<li class="ms-hover">Notifications</li>
						<li class="ms-hover">Settlement Reporting</li>
					</ul>
				</div>
				<div class="individual-plan">
					<ul>
						<li class="header ms-hover"></li>
						<li class="header ms-hover"></li>
						<li class="ms-hover">yes</li>
						<li class="ms-hover">no</li>
						<li class="ms-hover">no</li>
						<li class="ms-hover">no</li>
						<li class="ms-hover">yes</li>
						<li class="ms-hover">yes - webhook, email</li>
						<li class="ms-hover">yes - unified settlement reporting</li>
					</ul>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<div class="content-box-wrapper">
			<div class="pricing-box-alt row clearfix">
				<div class="col-md-3 plans-features">
					<ul>
						<li class="header ms-hover"><strong>Integration Types</strong></li>
						<li class="ms-hover">API</li>
						<li class="ms-hover">Widget</li>
						<li class="ms-hover">Bridge</li>
						<li class="ms-hover">Shop Plugin</li>
					</ul>
				</div>
				<div class="individual-plan">
					<ul>
						<li class="header ms-hover"><strong></strong></li>
						<li class="ms-hover">yes</li>
						<li class="ms-hover">yes</li>
						<li class="ms-hover">no</li>
						<li class="ms-hover">no</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<h2>Technical Flow</h2>
	<br/>
	<p>
		<img class="" src="/img/faq/alipay_pm/alipay_flow.png" width="100%" />
	</p>
	<br/>
	<h4>Webhook notifications</h4>
	<br/>
	<p>
		As it is not ensured at the time of the redirect to the shop that the payment was 100% successful the Payengine waits for the final asynchronous notification from the bank before a status is moved from PENDING into SUCCESS or FAILURE.
	</p>
	<br/>
	<p>
		A merchant should register for the Payengine webhook notifications in order to receive this final status update. A GET on the order or DEBIT transaction would also work, but it is not ensured that the final status will be available immediately after the redirect and a merchant might have to query the GET multiple times. Therefore it is strongly recommended that the asynchronous notifications from the Payengine are used insted.
	</p>
	<br/>
	<p>
		The Alipay notifications could be subscribed.
	</p>
	<ul>
		<li>via the payengine API
			<a href="https://docs.payengine.de/buildyourown/restapi">
			(Link to API documentation)
			</a>
	</li>
		<li>via the Payengine merchant center
			<a href="https://docs.payengine.de/merchantcenter/notifications_mc">
			(Link to Merchant Center notifications documentation)
			</a>
		</li>
	</ul>
	<br/>
	<p>
		The following events have to be subscribed for in order to receive the Alipay notifications, depending on the preferred source of notification.
	</p>
	<br/>
	<table border="1">
		<thead>
			<th>Source</th>
			<th>Event</th>
		</thead>
		<tr>
			<td>
				API
			</td>
			<td>
				notificationState = UPDATED
			</td>
		</tr>
		<tr>
			<td>
				Merchant Center
			</td>
			<td>
				<table>
				<tr>
					<td>
						event type = order update success
					</td>
				</tr>
				<tr>
					<td>
						event type = order update failure
					</td>
				</tr>
				</table>
			</td>
		</tr>
	</table>
	<br/>

	<div>
		<br/>
		<h2>Specifics</h2>
		<br/>
		<h3>Alipay input parameters</h3>
		<br/>
		<p>The following input parameters are required for initiating an Alipay payment via direct API integration.</p>
		<br/>
		<table border="1">
			<tr>
				<td >
					PARAMETER
				</td>
				<td >
					MANDATORY/OPTIONAL
				</td>
				<td >
					DESCRIPTION
				</td>
				<td >
					EXAMPLE
				</td>
			</tr>
			<tr>
				<td>
					payment.accountHolder
				</td>
				<td>
					M
				</td>
				<td>
					Name of the bank account holder
				</td>
				<td>
					John Doe
				</td>
			</tr>
			<tr>
				<td>
					payment.successUrl
				</td>
				<td>
					M
				</td>
				<td>
					Redirect URL for successful payment
				</td>
				<td>
					http://my.shop.com/success
				</td>
			</tr>
			<tr>
				<td>
					payment.failureUrl
				</td>
				<td>
					M
				</td>
				<td>
					Redirect URL for unsuccessful payment
				</td>
				<td>
					http://my.shop.com/fail
				</td>
			</tr>
			<tr>
				<td>
					payment.cancelUrl
				</td>
				<td>
					M
				</td>
				<td>
					Redirect URL when payment is canceled
				</td>
				<td>
					http://my.shop.com/cancel
				</td>
			</tr>
			<tr>
				<td>
					meta.mobileView
				</td>
				<td>
					O
				</td>
				<td>
					Set to “true” for the mobile enabled variant of Alipay
				</td>
				<td>
					true
				</td>
			</tr>
		</table>
		<br/>

	<div>
		<br/>
		<h2>Samples</h2>
		<br/>
		<p>Alipay debit endpoint: </p>
		<br/>
		<p>/orders/debit </p>
		<br/>
		<div class="example-box-wrapper">
			<div class="content-box" ng-init="createCustomerRequestShow=false">
				<h3 class="content-box-header bg-default">
						Alipay Debit request
						<div class="header-buttons-separator">
								<a href class="icon-separator toggle-button" ng-click="createCustomerRequestShow!=createCustomerRequestShow; console.log(createCustomerRequestShow)">
									<!-- <i class="glyph-icon icon-chevron-up"></i> -->
									<i class="glyph-icon icon-chevron-up" ng-if="createCustomerRequestShow"></i>
									<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerRequestShow"></i>
								</a>
						</div>
				</h3>
				<!-- <div class="content-box-wrapper" ng-if="createCustomerRequestShow"> -->
				<div class="content-box-wrapper">
					<code>
{
  "product" : "alipay",
  "terms": 1468590412476,
  "privacy": 1468590412476,
  "merchantOrderId": "merchantOrderId_45rw3",
  "description": "test transaction",
  "statementDescription": "statement description",
  "initialAmount": 2380,
  "currency": "USD",
  "basket": [
    {
      "name": "USB-Stick 1554964122",
      "articleNumber": "SW10029",
      "totalPrice": 1190,
      "totalPriceWithTax": 1190,
      "unitPrice": 1190,
      "unitPriceWithTax": 1190,
      "tax": 0,
      "quantity": 2
    }
  ],
  "meta": {
    "mobileView": true
  },
  "payment": {
    "accountHolder": "max max"
  },
  "customer": "customer_h4elq72qjb",
  "persona": "persona_lki12nchxk",
  "billingAddress": "address_2ignpvcsoc",
  "shippingAddress": "address_2ignpvcsoc",
  "ipAddress": "82.120.21.79",
  "channel": "ECOM",
  "source": "Test",
  "async": {
    "successUrl": "https://www.google.de/#newwindow=1&q=success",
    "failureUrl": "https://www.google.de/#newwindow=1&q=failure",
    "cancelUrl": "https://www.google.de/#newwindow=1&q=cancel"
  }
}
					</code>
				</div>
			</div>
		</div>
		<br/>

		<div class="example-box-wrapper">
			<div class="content-box" ng-init="createCustomerRequestShow=false">
				<h3 class="content-box-header bg-default">
						Alipay Debit response
						<div class="header-buttons-separator">
								<a href class="icon-separator toggle-button" ng-click="createCustomerRequestShow!=createCustomerRequestShow; console.log(createCustomerRequestShow)">
									<!-- <i class="glyph-icon icon-chevron-up"></i> -->
									<i class="glyph-icon icon-chevron-up" ng-if="createCustomerRequestShow"></i>
									<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerRequestShow"></i>
								</a>
						</div>
				</h3>
				<!-- <div class="content-box-wrapper" ng-if="createCustomerRequestShow"> -->
				<div class="content-box-wrapper">
					<code>
{
    "createdAt": 1554964122158,
    "modifiedAt": 1554964122173,
    "merchantId": "merchant_pwtmsdg1wt",
    "terms": 1468590412476,
    "privacy": 1468590412476,
    "orderId": "upirfohyf3",
    "merchantOrderId": "merchantOrderId_45rw3",
    "paymentProviderTransactionId": "4a0a6229-57ed-436c-a",
    "description": "test transaction",
    "statementDescription": "statement description",
    "initialAmount": 2380,
    "preauthorizedAmount": 0,
    "capturedAmount": 0,
    "refundedAmount": 0,
    "canceledAmount": 0,
    "currency": "USD",
    "basket": [
        {
            "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
            "name": "USB-Stick 1554964122",
            "articleNumber": "SW10029",
            "totalPrice": 1190,
            "totalPriceWithTax": 1190,
            "unitPrice": 1190,
            "unitPriceWithTax": 1190,
            "quantity": 2,
            "tax": 0,
            "discount": null,
            "imageUrl": null,
            "articleUrl": null,
            "articleType": null
        }
    ],
    "customer": {
        "merchantCustomerId": "my_customer_1231554964081",
        "organizationRegistrationRegister": null,
        "organizationRegistrationId": null,
        "organizationEntityType": null,
        "organizationVatId": null,
        "companyName": null,
        "reference": null,
        "email": "1554964081@payengine-test.de",
        "customerId": "customer_h4elq72qjb",
        "addresses": [],
        "personas": [],
        "paymentInstruments": [],
        "createdAt": 1554964081531,
        "modifiedAt": 1554964081531,
        "customerType": null
    },
    "persona": {
        "personaId": "persona_lki12nchxk",
        "firstName": "Max",
        "lastName": "1554964087",
        "phone": "00493012346",
        "mobile": "00493012345",
        "fax": "00493012345",
        "birthday": 358293600000,
        "gender": "MALE",
        "title": "Prof. Dr.",
        "createdAt": 1554964087243,
        "modifiedAt": 1554964087243
    },
    "billingAddress": {
        "firstName": "Max",
        "lastName": "Muster",
        "street": "Musterweg",
        "houseNumber": "1554964085",
        "city": "Musterhausen",
        "zip": "12345",
        "country": "DE",
        "state": "Bayern",
        "phone": "00493012345",
        "fax": "00493012345",
        "mobile": "00493012345",
        "title": "Prof. Dr.",
        "additionalDetails": "premium buyer",
        "addressId": "address_2ignpvcsoc",
        "createdAt": 1554964084554,
        "modifiedAt": 1554964084554
    },
    "shippingAddress": {
        "firstName": "Max",
        "lastName": "Muster",
        "street": "Musterweg",
        "houseNumber": "1554964085",
        "city": "Musterhausen",
        "zip": "12345",
        "country": "DE",
        "state": "Bayern",
        "phone": "00493012345",
        "fax": "00493012345",
        "mobile": "00493012345",
        "title": "Prof. Dr.",
        "additionalDetails": "premium buyer",
        "addressId": "address_2ignpvcsoc",
        "createdAt": 1554964084554,
        "modifiedAt": 1554964084554
    },
    "ipAddress": "82.120.21.79",
    "paymentInstrument": {
        "createdAt": 1554964122147,
        "modifiedAt": 1554964122147,
        "paymentInstrumentId": "paymentinstrument_pj8pxaytkp",
        "merchantPaymentInstrumentId": null,
        "attributes": {
            "accountHolder": "max max"
        },
        "encrypted": false,
        "origin": "alipay",
        "type": "ali-pay",
        "recurring": false,
        "recurringConsent": null
    },
    "transactions": [
        {
            "createdAt": 1554964122164,
            "modifiedAt": 1554964122173,
            "type": "DEBIT",
            "transactionId": "transaction_4hsdffgwxg",
            "description": "test transaction",
            "initialAmount": 2380,
            "refundedAmount": 0,
            "currency": "USD",
            "status": "PENDING",
            "order": "upirfohyf3",
            "parentTransaction": null,
            "transactions": null,
            "basket": [
                {
                    "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                    "name": "USB-Stick 1554964122",
                    "articleNumber": "SW10029",
                    "totalPrice": 1190,
                    "totalPriceWithTax": 1190,
                    "unitPrice": 1190,
                    "unitPriceWithTax": 1190,
                    "quantity": 2,
                    "tax": 0,
                    "discount": null,
                    "imageUrl": null,
                    "articleUrl": null,
                    "articleType": null
                }
            ],
            "providerCode": null,
            "merchantMessage": null,
            "customerMessage": null,
            "descriptor": null,
            "meta": null,
            "challenge": null,
            "asyncNotificationSubscriptionId": null,
            "tracking": null
        }
    ],
    "status": "OPEN",
    "channel": "ECOM",
    "source": "Postman Test",
    "settled": false,
    "settlementDate": null,
    "allowedProducts": null,
    "product": "alipay",
    "transactionType": "DEBIT",
    "meta": {
        "mobileView": true
    },
    "async": {
        "successUrl": "https://www.google.de/#newwindow=1&q=success",
        "failureUrl": "https://www.google.de/#newwindow=1&q=failure",
        "cancelUrl": "https://www.google.de/#newwindow=1&q=cancel"
    },
    "deviceIdent": null,
    "clientType": "BRW",
    "asyncNotificationSubscriptionId": null,
    "lastOperation": "TRANSACTION_DEBIT_PENDING",
    "redirectUrl": "https://public-api-app76te.psp.cardtech.de/order/alipay/1.0/redirect/Order-fd133d91-e0d6-4ed6-9fe9-07ec7ca37ed7"
}
					</code>
				</div>
			</div>
		</div>
		<br/>


		<br/>
		<p>Refund endpoint: </p>
		<br/>
		<p>/orders/{orderId}/transactions/{transactionId}/refund </p>
		<div class="example-box-wrapper">
			<div class="content-box" ng-init="createCustomerResponseShow=false">
				<h3 class="content-box-header bg-default">
						Alipay refund request
						<div class="header-buttons-separator">
								<a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow!=createCustomerResponseShow; console.log(createCustomerResponseShow)">
									<!-- <i class="glyph-icon icon-chevron-up"></i> -->
									<i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow"></i>
									<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow"></i>
								</a>
						</div>
				</h3>
				<!-- <div class="content-box-wrapper" ng-if="createCustomerRequestShow"> -->
				<div class="content-box-wrapper">
					<code>
{
  "initialAmount": 10,
  "currency": "EUR",
  "description": "string",
  "basket": [
    {
      "name": "USB-Stick 1541107031",
        "articleNumber": "SW10029",
        "totalPrice": 1000,
        "totalPriceWithTax": 1190,
        "unitPrice": 100,
        "unitPriceWithTax": 119,
        "quantity": 10,
        "tax": 19,
        "discount": null
    }
  ]
}
					</code>
				</div>
			</div>
		</div>


		<div class="example-box-wrapper">
			<div class="content-box" ng-init="createCustomerResponseShow=false">
				<h3 class="content-box-header bg-default">
						Alipay refund response
						<div class="header-buttons-separator">
								<a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow!=createCustomerResponseShow; console.log(createCustomerResponseShow)">
									<!-- <i class="glyph-icon icon-chevron-up"></i> -->
									<i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow"></i>
									<i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow"></i>
								</a>
						</div>
				</h3>
				<!-- <div class="content-box-wrapper" ng-if="createCustomerRequestShow"> -->
				<div class="content-box-wrapper">
					<code>
{
    "createdAt": 1554966733820,
    "modifiedAt": 1554966733821,
    "type": "REFUND",
    "transactionId": "transaction_x1a2qnj7yj",
    "description": "string",
    "initialAmount": 100,
    "currency": "USD",
    "status": "SUCCESS",
    "order": {
        "createdAt": 1554964122158,
        "modifiedAt": 1554966733820,
        "merchantId": "merchant_pwtmsdg1wt",
        "terms": 1468590412476,
        "privacy": 1468590412476,
        "orderId": "upirfohyf3",
        "merchantOrderId": "merchantOrderId_45rw3",
        "paymentProviderTransactionId": "4a0a6229-57ed-436c-a",
        "description": "test transaction",
        "statementDescription": "statement description",
        "initialAmount": 2380,
        "preauthorizedAmount": 2380,
        "capturedAmount": 2380,
        "refundedAmount": 100,
        "canceledAmount": 0,
        "currency": "USD",
        "basket": [
            {
                "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                "name": "USB-Stick 1554964122",
                "articleNumber": "SW10029",
                "totalPrice": 1190,
                "totalPriceWithTax": 1190,
                "unitPrice": 1190,
                "unitPriceWithTax": 1190,
                "quantity": 2,
                "tax": 0,
                "discount": null,
                "imageUrl": null,
                "articleUrl": null,
                "articleType": null
            }
        ],
        "customer": {
            "merchantCustomerId": "my_customer_1231554964081",
            "organizationRegistrationRegister": null,
            "organizationRegistrationId": null,
            "organizationEntityType": null,
            "organizationVatId": null,
            "companyName": null,
            "reference": null,
            "email": "1554964081@payengine-test.de",
            "customerId": "customer_h4elq72qjb",
            "addresses": [],
            "personas": [],
            "paymentInstruments": [],
            "createdAt": 1554964081531,
            "modifiedAt": 1554964081531,
            "customerType": null
        },
        "persona": {
            "personaId": "persona_lki12nchxk",
            "firstName": "Max",
            "lastName": "1554964087",
            "phone": "00493012346",
            "mobile": "00493012345",
            "fax": "00493012345",
            "birthday": 358293600000,
            "gender": "MALE",
            "title": "Prof. Dr.",
            "createdAt": 1554964087243,
            "modifiedAt": 1554964087243
        },
        "billingAddress": {
            "firstName": "Max",
            "lastName": "Muster",
            "street": "Musterweg",
            "houseNumber": "1554964085",
            "city": "Musterhausen",
            "zip": "12345",
            "country": "DE",
            "state": "Bayern",
            "phone": "00493012345",
            "fax": "00493012345",
            "mobile": "00493012345",
            "title": "Prof. Dr.",
            "additionalDetails": "premium buyer",
            "addressId": "address_2ignpvcsoc",
            "createdAt": 1554964084554,
            "modifiedAt": 1554964084554
        },
        "shippingAddress": {
            "firstName": "Max",
            "lastName": "Muster",
            "street": "Musterweg",
            "houseNumber": "1554964085",
            "city": "Musterhausen",
            "zip": "12345",
            "country": "DE",
            "state": "Bayern",
            "phone": "00493012345",
            "fax": "00493012345",
            "mobile": "00493012345",
            "title": "Prof. Dr.",
            "additionalDetails": "premium buyer",
            "addressId": "address_2ignpvcsoc",
            "createdAt": 1554964084554,
            "modifiedAt": 1554964084554
        },
        "ipAddress": "82.120.21.79",
        "paymentInstrument": {
            "createdAt": 1554964122147,
            "modifiedAt": 1554964122147,
            "paymentInstrumentId": "paymentinstrument_pj8pxaytkp",
            "merchantPaymentInstrumentId": null,
            "attributes": {
                "accountHolder": "max max"
            },
            "encrypted": false,
            "origin": "alipay",
            "type": "ali-pay",
            "recurring": false,
            "recurringConsent": null
        },
        "transactions": [
            {
                "createdAt": 1554964122164,
                "modifiedAt": 1554966714733,
                "type": "DEBIT",
                "transactionId": "transaction_4hsdffgwxg",
                "description": "test transaction",
                "initialAmount": 2380,
                "refundedAmount": 100,
                "currency": "USD",
                "status": "SUCCESS",
                "order": "upirfohyf3",
                "parentTransaction": null,
                "transactions": [
                    "transaction_x1a2qnj7yj"
                ],
                "basket": [
                    {
                        "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                        "name": "USB-Stick 1554964122",
                        "articleNumber": "SW10029",
                        "totalPrice": 1190,
                        "totalPriceWithTax": 1190,
                        "unitPrice": 1190,
                        "unitPriceWithTax": 1190,
                        "quantity": 2,
                        "tax": 0,
                        "discount": null,
                        "imageUrl": null,
                        "articleUrl": null,
                        "articleType": null
                    }
                ],
                "providerCode": null,
                "merchantMessage": null,
                "customerMessage": null,
                "descriptor": null,
                "meta": null,
                "challenge": null,
                "asyncNotificationSubscriptionId": null,
                "tracking": []
            }
        ],
        "status": "OPEN",
        "channel": "ECOM",
        "source": "Postman Test",
        "settled": false,
        "settlementDate": null,
        "allowedProducts": [],
        "product": "alipay",
        "transactionType": "DEBIT",
        "meta": {
            "mobileView": true
        },
        "async": null,
        "deviceIdent": null,
        "clientType": "BRW",
        "asyncNotificationSubscriptionId": null,
        "lastOperation": "TRANSACTION_REFUND_SUCCESS",
        "redirectUrl": "https://public-api-app76te.psp.cardtech.de/order/alipay/1.0/redirect/Order-fd133d91-e0d6-4ed6-9fe9-07ec7ca37ed7"
    },
    "parentTransaction": {
        "createdAt": 1554964122164,
        "modifiedAt": 1554966714733,
        "type": "DEBIT",
        "transactionId": "transaction_4hsdffgwxg",
        "description": "test transaction",
        "initialAmount": 2380,
        "refundedAmount": 100,
        "currency": "USD",
        "status": "SUCCESS",
        "order": {
            "createdAt": 1554964122158,
            "modifiedAt": 1554966733820,
            "merchantId": "merchant_pwtmsdg1wt",
            "terms": 1468590412476,
            "privacy": 1468590412476,
            "orderId": "upirfohyf3",
            "merchantOrderId": "merchantOrderId_45rw3",
            "paymentProviderTransactionId": "4a0a6229-57ed-436c-a",
            "description": "test transaction",
            "statementDescription": "statement description",
            "initialAmount": 2380,
            "preauthorizedAmount": 2380,
            "capturedAmount": 2380,
            "refundedAmount": 100,
            "canceledAmount": 0,
            "currency": "USD",
            "basket": [
                {
                    "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                    "name": "USB-Stick 1554964122",
                    "articleNumber": "SW10029",
                    "totalPrice": 1190,
                    "totalPriceWithTax": 1190,
                    "unitPrice": 1190,
                    "unitPriceWithTax": 1190,
                    "quantity": 2,
                    "tax": 0,
                    "discount": null,
                    "imageUrl": null,
                    "articleUrl": null,
                    "articleType": null
                }
            ],
            "customer": {
                "merchantCustomerId": "my_customer_1231554964081",
                "organizationRegistrationRegister": null,
                "organizationRegistrationId": null,
                "organizationEntityType": null,
                "organizationVatId": null,
                "companyName": null,
                "reference": null,
                "email": "1554964081@payengine-test.de",
                "customerId": "customer_h4elq72qjb",
                "addresses": [],
                "personas": [],
                "paymentInstruments": [],
                "createdAt": 1554964081531,
                "modifiedAt": 1554964081531,
                "customerType": null
            },
            "persona": {
                "personaId": "persona_lki12nchxk",
                "firstName": "Max",
                "lastName": "1554964087",
                "phone": "00493012346",
                "mobile": "00493012345",
                "fax": "00493012345",
                "birthday": 358293600000,
                "gender": "MALE",
                "title": "Prof. Dr.",
                "createdAt": 1554964087243,
                "modifiedAt": 1554964087243
            },
            "billingAddress": {
                "firstName": "Max",
                "lastName": "Muster",
                "street": "Musterweg",
                "houseNumber": "1554964085",
                "city": "Musterhausen",
                "zip": "12345",
                "country": "DE",
                "state": "Bayern",
                "phone": "00493012345",
                "fax": "00493012345",
                "mobile": "00493012345",
                "title": "Prof. Dr.",
                "additionalDetails": "premium buyer",
                "addressId": "address_2ignpvcsoc",
                "createdAt": 1554964084554,
                "modifiedAt": 1554964084554
            },
            "shippingAddress": {
                "firstName": "Max",
                "lastName": "Muster",
                "street": "Musterweg",
                "houseNumber": "1554964085",
                "city": "Musterhausen",
                "zip": "12345",
                "country": "DE",
                "state": "Bayern",
                "phone": "00493012345",
                "fax": "00493012345",
                "mobile": "00493012345",
                "title": "Prof. Dr.",
                "additionalDetails": "premium buyer",
                "addressId": "address_2ignpvcsoc",
                "createdAt": 1554964084554,
                "modifiedAt": 1554964084554
            },
            "ipAddress": "82.120.21.79",
            "paymentInstrument": {
                "createdAt": 1554964122147,
                "modifiedAt": 1554964122147,
                "paymentInstrumentId": "paymentinstrument_pj8pxaytkp",
                "merchantPaymentInstrumentId": null,
                "attributes": {
                    "accountHolder": "max max"
                },
                "encrypted": false,
                "origin": "alipay",
                "type": "ali-pay",
                "recurring": false,
                "recurringConsent": null
            },
            "transactions": [
                "transaction_4hsdffgwxg"
            ],
            "status": "OPEN",
            "channel": "ECOM",
            "source": "Postman Test",
            "settled": false,
            "settlementDate": null,
            "allowedProducts": [],
            "product": "alipay",
            "transactionType": "DEBIT",
            "meta": {
                "mobileView": true
            },
            "async": null,
            "deviceIdent": null,
            "clientType": "BRW",
            "asyncNotificationSubscriptionId": null,
            "lastOperation": "TRANSACTION_REFUND_SUCCESS",
            "redirectUrl": "https://public-api-app76te.psp.cardtech.de/order/alipay/1.0/redirect/Order-fd133d91-e0d6-4ed6-9fe9-07ec7ca37ed7"
        },
        "parentTransaction": null,
        "transactions": [
            "transaction_x1a2qnj7yj"
        ],
        "basket": [
            {
                "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                "name": "USB-Stick 1554964122",
                "articleNumber": "SW10029",
                "totalPrice": 1190,
                "totalPriceWithTax": 1190,
                "unitPrice": 1190,
                "unitPriceWithTax": 1190,
                "quantity": 2,
                "tax": 0,
                "discount": null,
                "imageUrl": null,
                "articleUrl": null,
                "articleType": null
            }
        ],
        "providerCode": null,
        "merchantMessage": null,
        "customerMessage": null,
        "descriptor": null,
        "meta": null,
        "challenge": null,
        "asyncNotificationSubscriptionId": null,
        "tracking": []
    },
    "transactions": null,
    "basket": [
        {
            "id": "Article-ea34a24a-029f-4184-8fc8-f9f24c9a5c66",
            "name": "USB-Stick 1541107031",
            "articleNumber": "SW10029",
            "totalPrice": 1000,
            "totalPriceWithTax": 1190,
            "unitPrice": 100,
            "unitPriceWithTax": 119,
            "quantity": 10,
            "tax": 19,
            "discount": null,
            "imageUrl": null,
            "articleUrl": null,
            "articleType": null
        }
    ],
    "providerCode": null,
    "merchantMessage": null,
    "customerMessage": null,
    "descriptor": null,
    "meta": null,
    "challenge": null,
    "asyncNotificationSubscriptionId": null,
    "tracking": null
}
					</code>
				</div>
			</div>
		</div>


	</div>
	<div>
		<br/>
		<h2>Settlements</h2>
		<br/>
		<p>All settlement information will be provided in the Unified Settlement Report. The format and mappings can be found in the corresponding documentation (see
			<a href="https://docs.payengine.de/merchantcenter/settlement_report">
				Unified Settlement Report
			</a>
			).
		</p>
	</div>
</div>
