<div  class="col-md-12">
    <ul>
      <li><a href="/faq_pm_apple_pay_for_the_web">Apple Pay for the web</a></li>
      <li><a href="/faq_pm_merchant_onboarding_for_apple_pay">Merchant onboarding for Apple Pay</a>
    </ul>


<div class="col-md-8">
  <div ng-show="cur=='faq_pm_apple_pay_for_the_web'">
    <div  ng-include="'/partials/faq_pm_apple_pay_for_the_web.html.html'">
    </div>
  </div>
  <div ng-show="cur=='faq_pm_merchant_onboarding_for_apple_pay'">
      <div  ng-include="'/partials/faq_pm_merchant_onboarding_for_apple_pay.html'">
      </div>
    </div>
</div>

</div>