

<div>
  <div>
    <br/>
    <br/>
    <h2>Overview</h2>
    <br/>
    <p>
      Тhe PostFinance payment methods are e-payment methods well-suited for online shops selling goods and services in Switzerland.
      <br/><br/>
      The majority of all e-payment transactions in the sales market in Switzerland are processed, using the PostFinance, Visa and Mastercard payment methods.
     </p>
  </div>
  <br/>
  <br/>
  <div>
    <h2>PostFinance Card Payment Method</h2>
    <br/>
    <p>
      The PostFinance card is a plastic debit card that refers to the direct and immediate access to the funds and available credit under the bank account permits.
      <br/><br/>
      It is only available in combination with a private or business account of PostFinance in CHF or EUR. 
      <br/><br/>
      With the PostFinance card in CHF you can shop conveniently in-store throughout Switzerland or online, and withdraw cash worldwide.
      <br/><br/>
      You can also:
    </p>
    <br/>
    <ul>
      <li>Make fast contactless payments for amounts of up to 40 CHF without using your PIN.</li>
      <li>Make free withdrawals cash at Postomats and post offices, at Migros and Manor Customer Service desks, at Spar branches, at SBB and private railway counters, at Coop Pronto shops and Denner in Switzerland.</li>
      <li>Make cash withdrawals from savings accounts.</li>
      <li>Top up prepaid credit for mobile phones at Postomats.</li>
      <li>Pay in online shops free of charge.</li>
      <li>Make a direct debit from your business account.</li>
      <li>Have transparent invoicing.</li>
      <li>Reach a customer potential of over three million cardholders.</li>
    </ul>
  </div>
  <br/>
  <br/>
  <div>
    <h2>Preconditions</h2>
    <ul>
      <li>A business account in CHF or an association account in CHF.</li>
      <li>Cardholder with sole signatory rights for business account.</li>
    </ul>
    <br/>
  </div>
  <div>
    <h2>Withdrawal Limits</h2>
    <br/>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Cash withdrawals at ATMs</th>
          <td width="50%">1,000 CHF per day</td>
        </tr>
        <tr>
          <th width="50%">Cash withdrawals at post offices</th>
          <td width="50%">Account balance in terms of cash holdings</td>
        </tr>
        <tr>
          <th width="50%">Goods purchases</th>
          <td width="50%">3,000 CHF per day</td>
        </tr>
        <tr>
          <th width="50%">Monthly limit per card</th>
          <td width="50%">	5,000 CHF</td>
        </tr>
        <tr>
          <th width="50%">Monthly limit per account if more than one card </th>
          <td width="50%">	5,000 CHF</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <p><strong>NOTE:</strong></p>
    <ul>
      <li>The maximum withdrawal amount depends on the terminal. Amounts exceeding the terminal limit can be withdrawn in several instalments. Any applicable fees are charged for each withdrawal.</li>
      <li>At unattended petrol stations, a standard amount of 150 CHF is reserved prior to the fuel purchase. On receipt of the actual amount after the fuel is purchased, the reserved amount is deleted and the actual amount debited.</li>
      <li>The PostFinance card may only be used for recurring payments online up to a specified monthly limit: 1,500 CHF or 1,300 EUR per month.</li>
      <li>The PostFinance card may only be used for one-off payments online up to a specified monthly limit: 500 CHF or 350 EUR per month.</li>
      <li>Payments with the PostFinance card via the Migros app can only be made up to a limit of 1500 CHF each month.</li>
      <li>Post offices: Please note that there are amount limits applicable depending on the location selected.</li>
    </ul>
    <br/>
  </div>
  <div>
    <br/>
    <h2>PostFinance Card Payment Process</h2>
    <br/>
    <p><strong>At a POS terminal:</strong></p>
    <ol>
      <li>Customers identify with their card and PIN on the card reader.</li>
      <li>The amount to be settled is checked and, authorized within seconds (in case that sufficient account funds are available).</li>
      <li>At the end of the business day, the transactions are sent to PostFinance.</li>
      <li>The purchase amount is debited from the cardholder.</li>
      <li>The amounts paid with a PostFinance card are credited to the seller’s business account on the following day. The seller regularly receives an account statement and additional credit advice upon request. Credit card amounts may also be credited to the business account.</li>
    </ol>
    <br/>
    <p><strong>NOTE:</strong> Contact your credit card processor for details.</p>
    <br/>
    <h3>Contactless:</h3>
    <br/>
    <p>
      All newly-issued credit and debit cards from PostFinance have the contactless function.
      <br/><br/>
      For small amounts you can simply hold the card to the payment terminal and the purchase is already paid.
      <br/><br/>
      <strong>NOTE:</strong> For amounts exceeding 40 CHF, an authentication via PIN is required.
      <br/><br/>
      A contact-type transaction PIN input is always necessary before the first contactless payment, for example, a balance inquiry at Postomats.
      <br/><br/>
      Contactless payment is possible wherever the contactless symbol can be seen. In Switzerland, this is the case at most points of sale. The Postcard can also be stored digitally in the PostFinance App for Android (PostFinance Mobile), provided the smartphoneequipped with an NFC function. To pay only the screen of the smartphone must be activated.
    </p>
  </div>
  <br/>
  <br/>
  <div>
    <h2>Advantages</h2>
    <br/>
    <ul>
      <li>Over 3 million PostFinance card holders as potential customers.</li>
      <li>Payment guarantee when posting within 3 days.</li>
      <li>Easy identification process (without card reader) for amounts up to 500 CHF/350 EUR.</li>
      <li>Credit by one day after posting at the latest.</li>
      <li>Individual or batch entry possible.</li>
      <li>Credit advice for manual transaction reconciliation.</li>
      <li>Reconciliation file for semi-automatic or fullyautomatic transaction reconciliation.</li>
    </ul>
  </div>
  <br/>
  <br/>
  <div>
    <h2>Customer Experience</h2>
    <br/>
    <p>When the customer selects the PostFinance payment method and pays the amount, they will be redirected to PostFinance.</p>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Step</th>
          <th>Description</th>
          <th>Screenshot</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Select PostFinance</td>
          <td>
            <img src="/img/faq/postFinance/pf-1.png" alt="postFinance" width="50%">
            <br/>
            <img src="/img/faq/postFinance/pf-2.png" alt="postFinance" width="50%">
        </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Confirm payment</td>
          <td><img src="/img/faq/postFinance/pf-3.png" alt="postFinance" width="50%"></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Payment form success</td>
          <td><img src="/img/faq/postFinance/pf-4.png" alt="postFinance" width="50%"></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Redirect to PostFinance</td>
            <td><img src="/img/faq/postFinance/pf-5.png" alt="postFinance" width="80%"></td>
          </tr>
          <tr>
            <td>5</td>
            <td>The cardholder identifies with the PostFinance card and PIN on the card reader.</td>
            <td>
              <img src="/img/faq/postFinance/pf-6.png" alt="postFinance" width="80%">
              <br/>
              <img src="/img/faq/postFinance/pf-7.png" alt="postFinance" width="80%">
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>The amount to be offset is checked and, if sufficient funds are paid, authorized within seconds</td>
            <td><img src="/img/faq/postFinance/pf-8.png" alt="postFinance" width="80%"></td>
          </tr>
      </tbody>
    </table>
    <br/>
    <p>
      <strong>NOTE:</strong>
      <br/>
      The transactions are delivered to PostFinance at the end of the day.
      <br/><br/>
      The purchase amount is usually debited to the cardholder the following day.
      <br/><br/>
      Amounts paid by Postcard are credited to the seller's postal account the following day.
    </p>
  </div>
  <br/>
  <br/>
  <div>
    <h2>Payengine Details</h2>
    <br/>
    <h3>General</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Product</th>
          <td width="50%">PostFinance card</td>
        </tr>
        <tr>
          <th width="50%">Type</th>
          <td width="50%">Direct debit/Preauth</td>
        </tr>
        <tr>
          <th width="50%">Channels</th>
          <td width="50%">ecom</td>
        </tr>
        <tr>
          <th width="50%">Currencies</th>
          <td width="50%">CHF, EUR</td>
        </tr>
        <tr>
          <th width="50%">Countries</th>
          <td width="50%">CF</td>
        </tr>
        <tr>
          <th width="50%">Technical Flow</th>
          <td width="50%">asynchronous</td>
        </tr>
        <tr>
          <th width="50%">Recurring</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Chargebacks</th>
          <td width="50%" color="red">no</td>
        </tr>
        <tr>
          <th width="50%">Reusable Payment Instruments</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3>Supported Features and Services</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Debit</th>
          <td width="50%"><strong>yes</strong></td>
        </tr>
        <tr>
          <th width="50%">Preauthorization</th>
          <td width="50%"><strong>yes</strong></td>
        </tr>
        <tr>
          <th width="50%">Cancellation</th>
          <td width="50%"><strong>yes</strong> (only full)</td>
        </tr>
        <tr>
          <th width="50%">Capture</th>
          <td width="50%"><strong>yes</strong> (only full)</td>
        </tr>
        <tr>
          <th width="50%">Refunds</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Notifications</th>
          <td width="50%">yes - webhook, email</td>
        </tr>
        <tr>
          <th width="50%">PayLink Integration</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Settlement Reporting</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3>Integration Types</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">API</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Widget</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Widget as a Bridge</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Shop Plugin</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <br/>
  <div>
    <h2>Technical Flow</h2>
    <br/>
    <ol>
      <li>Customer requests a PostFinance Preauthorization/Debit.</li>
      <li>The merchant requests a PostFinance Preauthorization/Debit.</li>
      <li>Payengine automatically creates a Customer Persona and a Payment Instrument.</li>
      <li>Payengine creates internally a new order of channel POS:</li>
      <li>Refund
        <ul>
          <li>preauth (the funds are blocked) + capture (the funds are withdrawn via Merchant Center, or via Payengine API).</li>
          <li>debit (payment is authorized and the funds are automatically withdrawn)</li>
        </ul>
      </li>
      <li>Refund
        <ul>
          <li>refund via Payengine Merchant Center or an API (Swagger).</li>
          <li>refund via a POS Terminal: The Payengine receives a refund - notification from the Omnichannel Backend. The status will be updated in Merchant Center and on an API level.</li>
        </ul>
      </li>
    </ol>
    <br/>
    <p>Fig. Omnichannel Process Flow</p>
    <img src="/img/faq/postFinance/PostfinanceAuthenticationandAuthorisationFlow.png" alt="PostfinanceAuthenticationandAuthorisationFlow" width="80%">
  </div>
</div>

