<ul>
  <li><a href="#overview">Overview</a></li>
  <li><a href="#customerExperience">Customer Experience</a></li>
  <li><a href="#payengineDetails">Payengine Details</a>
    <ul>
      <li><a href="#general">General</a></li>
      <li><a href="#supportedFeaturesAndServices">Supported Features & Services</a></li>
      <li><a href="#integrationTypes">Integration Types</a></li>
      <li><a href="#technicalFlow">Technical Flow</a>
        <ul>
          <li><a href="#webhookNotifications">Webhook notifications</a></li>
        </ul>
      </li>
      <li><a href="#specifics">Specifics</a>
        <ul>
          <li><a href="#alipayInputParameters">Alipay input parameters</a></li>
        </ul>
      </li>
      <li><a href="#samples">Samples</a>
        <ul>
          <li><a href="#debitTransaction">Debit transaction</a></li>
          <li><a href="#refundTransaction">RefundTransaction</a></li>
        </ul>
      </li>
      <li><a href="#settlements">Settlements</a></li>
    </ul>
  </li>
</ul>

<div>
  <div id="overview">
    <br/>
    <br/>
    <h2>Overview</h2>
    <br/>
    <p>
      Alipay is the most important e-wallet in China and has a potential reach to over 520 million registerd users.
      <br/><br/>
      A customer can place his cards or bank account behind the Alipay wallet as the prefered payment instruments.  A payment can either be executed in the web via a login into the Alipay account or via the Alipay mobile app which is most commonly used by the Alipay users. With the mobile app the user can either scan a QR-code referencing the order or the app will be automatically opened in case the user shops with the mobile device.
      <br/><br/>
      There are no chargebacks and there is a very high consumer trust due to the strong brand awareness. Therefore Alipay is a must-have payment method for any businesses that want to reach out to Chinese shoppers.
    </p>
  </div>
  <br/>
  <br/>
  <div id="customerExperience">
    <br/>
    <br/>
    <h2>Customer Experience</h2>
    <br/>
    <img src="/img/faq/alipay-1.png" alt="alipay" width="80%">
    <br/>
    <br/>
    <p>Optionally a user could also scan a QR-code with his mobile app (step 3) and authorize and execute the payment via the app.</p>
  </div>
  <br/>
  <br/>
  <div id="payengineDetails">
    <br/>
    <br/>
    <h2>Payengine Details</h2>
    <br/>
    <br/>
    <h3 id="general">General</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">Product</th>
          <td width="50%">Alipay</td>
        </tr>
        <tr>
          <th width="50%">Channels</th>
          <td width="50%">ecom</td>
        </tr>
        <tr>
          <th width="50%">Currencies</th>
          <td width="50%">AUD, CAD, EUR, GBP, HKD, SGD, USD</td>
        </tr>
        <tr>
          <th width="50%">Countries</th>
          <td width="50%">crossborder (outside of China)</td>
        </tr>
        <tr>
          <th width="50%">Technical Flow</th>
          <td width="50%">asynchronous</td>
        </tr>
        <tr>
          <th width="50%">Recurring</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Chargebacks</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3 id="supportedFeaturesAndServices">Supported Features & Services</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">supportedFeaturesAndServices</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">supportedFeaturesAndServices</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Cancelation</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Cancelation</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Refunds</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Notifications</th>
          <td width="50%">yes - webhook, email</td>
        </tr>
        <tr>
          <th width="50%">Settlement Reporting</th>
          <td width="50%">yes - unified settlement reporting</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3 id="integrationTypes">Integration Types</h3>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <th width="50%">API</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Widget</th>
          <td width="50%">yes</td>
        </tr>
        <tr>
          <th width="50%">Bridge</th>
          <td width="50%">no</td>
        </tr>
        <tr>
          <th width="50%">Shop Plugin</th>
          <td width="50%">no</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3 id="technicalFlow">Technical Flow</h3>
    <br/>
    <img src="/img/faq/alipay_pm/alipay_flow.png" alt="alipay flow" width="80%">
    <br/>
    <br/>
    <h4 id="webhookNotifications">Webhook notifications</h4>
    <br/>
    <p>
      As it is not ensured at the time of the redirect to the shop that the payment was 100% successful the Payengine waits for the final asynchronous notification from the bank before a status is moved from PENDING into SUCCESS or FAILURE.
      <br/><br/>
      A merchant should register for the Payengine webhook notifications in order to receive this final status update. A GET on the order or DEBIT transaction would also work, but it is not ensured that the final status will be available immediately after the redirect and a merchant might have to query the GET multiple times. Therefore it is strongly recommended that the asynchronous notifications from the Payengine are used insted.
      <br/><br/> 
      The Alipay notifications could be subscribed
    </p>
    <br/>
    <ul>
      <li>via the payengine API (<a href="/buildyourown/restapi">link to API documentation</a>)</li>
      <li>via the Payengine Merchant Center (<a href="/merchantcenter/managenotification">link to Merchant Center notifications docu</a>)</li>
    </ul>
    <br/>
    <p>
      The following events have to be subscribed for in order to receive the Alipay notifications, depending on the preferred source of notification.
    </p>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <tr>
            <th width="50%">Source</th>
            <th width="50%">Event</th>
          </tr>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="50%">API</td>
          <td width="50%">notificationState = UPDATED</td>
        </tr>
        <tr>
          <td width="50%">Merchant Cente</td>
          <td width="50%">event type = order update success <br/> <hr/> event type = order update failure</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3 id="specifics">Specifics</h3>
    <br/>
    <h4 id="alipayInputParameters">Alipay input parameters</h4>
    <br/>
    <p>The following input parameters are required for initiating an Alipay payment via direct API integration.</p>
    <br/>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <tr>
            <th width="25%">Parameter</th>
            <th width="25%">Mandatory/Optional</th>
            <th width="25%">description</th>
            <th width="25%">Example</th>
          </tr>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="25%">payment.accountHolder</td>
          <td width="25%">O</td>
          <td width="25%">Name of the bank account holder</td>
          <td width="25%">John Doe</td>
        </tr>
        <tr>
          <td width="25%">async.successUrl</td>
          <td width="25%">M</td>
          <td width="25%">Redirect URL for successful payment</td>
          <td width="25%"><a href="http://my.shop.com/success">http://my.shop.com/success</a></td>
        </tr>
        <tr>
          <td width="25%">async.failureUrl</td>
          <td width="25%">M</td>
          <td width="25%">Redirect URL for unsuccessful payment</td>
          <td width="25%"><a href="http://my.shop.com/fail">http://my.shop.com/fail</a></td>
        </tr>
        <tr>
          <td width="25%">async.cancelUrl</td>
          <td width="25%">М</td>
          <td width="25%">Redirect URL when payment is canceled</td>
          <td width="25%"><a href="http://my.shop.com/cancel">http://my.shop.com/cancel</a></td>
        </tr>
        <tr>
          <td width="25%">meta.mobileView</td>
          <td width="25%">O</td>
          <td width="25%">Set to “true” for the mobile enabled variant of Alipay</td>
          <td width="25%">true</td>
        </tr>
        <tr>
          <td width="25%">meta.preferredLanguage</td>
          <td width="25%">O</td>
          <td width="25%">preferredLanguage</td>
          <td width="25%">en</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <h3 id="samples">Samples</h3>
    <br/>
    <h4 id="debitTransaction">Debit transaction</h4>
    <br/>
    <p>POST /orders/debit</p>
    <br/>
    <div>
      <div class="example-box-wrapper">
        <div class="content-box" ng-init="createCustomerResponseShoww=false">
          <h3 class="content-box-header bg-default">
            Alipay Debit request
            <div class="header-buttons-separator">
              <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShoww=!createCustomerResponseShoww;">
                <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShoww"></i>
                <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShoww"></i>
              </a>
            </div>
          </h3>
          <div class="content-box-wrapper" ng-if="createCustomerResponseShoww">
            <code>
              {
                "product" : "alipay",
                "terms": 1468590412476,
                "privacy": 1468590412476,
                "merchantOrderId": "merchantOrderId_45rw3",
                "description": "test transaction",
                "statementDescription": "statement description",
                "initialAmount": 2380,
                "currency": "USD",
                "basket": [
                  {
                    "name": "USB-Stick 1554964122",
                    "articleNumber": "SW10029",
                    "totalPrice": 1190,
                    "totalPriceWithTax": 1190,
                    "unitPrice": 1190,
                    "unitPriceWithTax": 1190,
                    "tax": 0,
                    "quantity": 2
                  }
                ],
                "meta": {
                  "mobileView": true
                },
                "payment": {
                  "accountHolder": "max max"
                },
                "customer": "customer_h4elq72qjb",
                "persona": "persona_lki12nchxk",
                "billingAddress": "address_2ignpvcsoc",
                "shippingAddress": "address_2ignpvcsoc",
                "ipAddress": "82.120.21.79",
                "channel": "ECOM",
                "source": "Test",
                "async": {
                  "successUrl": "https://www.google.de/#newwindow=1&q=success",
                  "failureUrl": "https://www.google.de/#newwindow=1&q=failure",
                  "cancelUrl": "https://www.google.de/#newwindow=1&q=cancel"
                }
              }
            </code>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="example-box-wrapper">
        <div class="content-box" ng-init="createCustomerResponseShow3=false">
          <h3 class="content-box-header bg-default">
            Alipay Debit response
            <div class="header-buttons-separator">
              <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow3=!createCustomerResponseShow3;">
                <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow3"></i>
                <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow3"></i>
              </a>
            </div>
          </h3>
          <div class="content-box-wrapper" ng-if="createCustomerResponseShow3">
            <code>{
                "createdAt": 1554964122158,
                "modifiedAt": 1554964122173,
                "merchantId": "merchant_pwtmsdg1wt",
                "terms": 1468590412476,
                "privacy": 1468590412476,
                "orderId": "upirfohyf3",
                "merchantOrderId": "merchantOrderId_45rw3",
                "paymentProviderTransactionId": "4a0a6229-57ed-436c-a",
                "description": "test transaction",
                "statementDescription": "statement description",
                "initialAmount": 2380,
                "preauthorizedAmount": 0,
                "capturedAmount": 0,
                "refundedAmount": 0,
                "canceledAmount": 0,
                "currency": "USD",
                "basket": [
                    {
                        "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                        "name": "USB-Stick 1554964122",
                        "articleNumber": "SW10029",
                        "totalPrice": 1190,
                        "totalPriceWithTax": 1190,
                        "unitPrice": 1190,
                        "unitPriceWithTax": 1190,
                        "quantity": 2,
                        "tax": 0,
                        "discount": null,
                        "imageUrl": null,
                        "articleUrl": null,
                        "articleType": null
                    }
                ],
                "customer": {
                    "merchantCustomerId": "my_customer_1231554964081",
                    "organizationRegistrationRegister": null,
                    "organizationRegistrationId": null,
                    "organizationEntityType": null,
                    "organizationVatId": null,
                    "companyName": null,
                    "reference": null,
                    "email": "1554964081@payengine-test.de",
                    "customerId": "customer_h4elq72qjb",
                    "addresses": [],
                    "personas": [],
                    "paymentInstruments": [],
                    "createdAt": 1554964081531,
                    "modifiedAt": 1554964081531,
                    "customerType": null
                },
                "persona": {
                    "personaId": "persona_lki12nchxk",
                    "firstName": "Max",
                    "lastName": "1554964087",
                    "phone": "00493012346",
                    "mobile": "00493012345",
                    "fax": "00493012345",
                    "birthday": 358293600000,
                    "gender": "MALE",
                    "title": "Prof. Dr.",
                    "createdAt": 1554964087243,
                    "modifiedAt": 1554964087243
                },
                "billingAddress": {
                    "firstName": "Max",
                    "lastName": "Muster",
                    "street": "Musterweg",
                    "houseNumber": "1554964085",
                    "city": "Musterhausen",
                    "zip": "12345",
                    "country": "DE",
                    "state": "Bayern",
                    "phone": "00493012345",
                    "fax": "00493012345",
                    "mobile": "00493012345",
                    "title": "Prof. Dr.",
                    "additionalDetails": "premium buyer",
                    "addressId": "address_2ignpvcsoc",
                    "createdAt": 1554964084554,
                    "modifiedAt": 1554964084554
                },
                "shippingAddress": {
                    "firstName": "Max",
                    "lastName": "Muster",
                    "street": "Musterweg",
                    "houseNumber": "1554964085",
                    "city": "Musterhausen",
                    "zip": "12345",
                    "country": "DE",
                    "state": "Bayern",
                    "phone": "00493012345",
                    "fax": "00493012345",
                    "mobile": "00493012345",
                    "title": "Prof. Dr.",
                    "additionalDetails": "premium buyer",
                    "addressId": "address_2ignpvcsoc",
                    "createdAt": 1554964084554,
                    "modifiedAt": 1554964084554
                },
                "ipAddress": "82.120.21.79",
                "paymentInstrument": {
                    "createdAt": 1554964122147,
                    "modifiedAt": 1554964122147,
                    "paymentInstrumentId": "paymentinstrument_pj8pxaytkp",
                    "merchantPaymentInstrumentId": null,
                    "attributes": {
                        "accountHolder": "max max"
                    },
                    "encrypted": false,
                    "origin": "alipay",
                    "type": "ali-pay",
                    "recurring": false,
                    "recurringConsent": null
                },
                "transactions": [
                    {
                        "createdAt": 1554964122164,
                        "modifiedAt": 1554964122173,
                        "type": "DEBIT",
                        "transactionId": "transaction_4hsdffgwxg",
                        "description": "test transaction",
                        "initialAmount": 2380,
                        "refundedAmount": 0,
                        "currency": "USD",
                        "status": "PENDING",
                        "order": "upirfohyf3",
                        "parentTransaction": null,
                        "transactions": null,
                        "basket": [
                            {
                                "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                                "name": "USB-Stick 1554964122",
                                "articleNumber": "SW10029",
                                "totalPrice": 1190,
                                "totalPriceWithTax": 1190,
                                "unitPrice": 1190,
                                "unitPriceWithTax": 1190,
                                "quantity": 2,
                                "tax": 0,
                                "discount": null,
                                "imageUrl": null,
                                "articleUrl": null,
                                "articleType": null
                            }
                        ],
                        "providerCode": null,
                        "merchantMessage": null,
                        "customerMessage": null,
                        "descriptor": null,
                        "meta": null,
                        "challenge": null,
                        "asyncNotificationSubscriptionId": null,
                        "tracking": null
                    }
                ],
                "status": "OPEN",
                "channel": "ECOM",
                "source": "Postman Test",
                "settled": false,
                "settlementDate": null,
                "allowedProducts": null,
                "product": "alipay",
                "transactionType": "DEBIT",
                "meta": {
                    "mobileView": true
                },
                "async": {
                    "successUrl": "https://www.google.de/#newwindow=1&q=success",
                    "failureUrl": "https://www.google.de/#newwindow=1&q=failure",
                    "cancelUrl": "https://www.google.de/#newwindow=1&q=cancel"
                },
                "deviceIdent": null,
                "clientType": "BRW",
                "asyncNotificationSubscriptionId": null,
                "lastOperation": "TRANSACTION_DEBIT_PENDING",
                "redirectUrl": "https://public-api-app76te.psp.cardtech.de/order/alipay/1.0/redirect/Order-fd133d91-e0d6-4ed6-9fe9-07ec7ca37ed7"
            }
            </code>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <h4 id="refundTransaction">Refund transaction</h4>
    <br/>
    <p>POST /orders/{{orderId}}/transactions/{{transactionId}}/refund</p>
    <br/>
    <div>
      <div class="example-box-wrapper">
        <div class="content-box" ng-init="createCustomerResponseShow4=false">
          <h3 class="content-box-header bg-default">
            Alipay refund request
            <div class="header-buttons-separator">
              <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow4=!createCustomerResponseShow4;">
                <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow4"></i>
                <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow4"></i>
              </a>
            </div>
          </h3>
          <div class="content-box-wrapper" ng-if="createCustomerResponseShow4">
            <code>{
                "initialAmount": 10,
                "currency": "EUR",
                "description": "string",
                "basket": [
                  {
                    "name": "USB-Stick 1541107031",
                      "articleNumber": "SW10029",
                      "totalPrice": 1000,
                      "totalPriceWithTax": 1190,
                      "unitPrice": 100,
                      "unitPriceWithTax": 119,
                      "quantity": 10,
                      "tax": 19,
                      "discount": null
                  }
                ]
              }
            </code>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div>
      <div class="example-box-wrapper">
        <div class="content-box" ng-init="createCustomerResponseShow5=false">
          <h3 class="content-box-header bg-default">
              Alipay refund response
            <div class="header-buttons-separator">
              <a href class="icon-separator toggle-button" ng-click="createCustomerResponseShow5=!createCustomerResponseShow5;">
                <i class="glyph-icon icon-chevron-up" ng-if="createCustomerResponseShow5"></i>
                <i class="glyph-icon icon-chevron-down" ng-if="!createCustomerResponseShow5"></i>
              </a>
            </div>
          </h3>
          <div class="content-box-wrapper" ng-if="createCustomerResponseShow5">
            <code>{
                "createdAt": 1554966733820,
                "modifiedAt": 1554966733821,
                "type": "REFUND",
                "transactionId": "transaction_x1a2qnj7yj",
                "description": "string",
                "initialAmount": 100,
                "currency": "USD",
                "status": "SUCCESS",
                "order": {
                    "createdAt": 1554964122158,
                    "modifiedAt": 1554966733820,
                    "merchantId": "merchant_pwtmsdg1wt",
                    "terms": 1468590412476,
                    "privacy": 1468590412476,
                    "orderId": "upirfohyf3",
                    "merchantOrderId": "merchantOrderId_45rw3",
                    "paymentProviderTransactionId": "4a0a6229-57ed-436c-a",
                    "description": "test transaction",
                    "statementDescription": "statement description",
                    "initialAmount": 2380,
                    "preauthorizedAmount": 2380,
                    "capturedAmount": 2380,
                    "refundedAmount": 100,
                    "canceledAmount": 0,
                    "currency": "USD",
                    "basket": [
                        {
                            "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                            "name": "USB-Stick 1554964122",
                            "articleNumber": "SW10029",
                            "totalPrice": 1190,
                            "totalPriceWithTax": 1190,
                            "unitPrice": 1190,
                            "unitPriceWithTax": 1190,
                            "quantity": 2,
                            "tax": 0,
                            "discount": null,
                            "imageUrl": null,
                            "articleUrl": null,
                            "articleType": null
                        }
                    ],
                    "customer": {
                        "merchantCustomerId": "my_customer_1231554964081",
                        "organizationRegistrationRegister": null,
                        "organizationRegistrationId": null,
                        "organizationEntityType": null,
                        "organizationVatId": null,
                        "companyName": null,
                        "reference": null,
                        "email": "1554964081@payengine-test.de",
                        "customerId": "customer_h4elq72qjb",
                        "addresses": [],
                        "personas": [],
                        "paymentInstruments": [],
                        "createdAt": 1554964081531,
                        "modifiedAt": 1554964081531,
                        "customerType": null
                    },
                    "persona": {
                        "personaId": "persona_lki12nchxk",
                        "firstName": "Max",
                        "lastName": "1554964087",
                        "phone": "00493012346",
                        "mobile": "00493012345",
                        "fax": "00493012345",
                        "birthday": 358293600000,
                        "gender": "MALE",
                        "title": "Prof. Dr.",
                        "createdAt": 1554964087243,
                        "modifiedAt": 1554964087243
                    },
                    "billingAddress": {
                        "firstName": "Max",
                        "lastName": "Muster",
                        "street": "Musterweg",
                        "houseNumber": "1554964085",
                        "city": "Musterhausen",
                        "zip": "12345",
                        "country": "DE",
                        "state": "Bayern",
                        "phone": "00493012345",
                        "fax": "00493012345",
                        "mobile": "00493012345",
                        "title": "Prof. Dr.",
                        "additionalDetails": "premium buyer",
                        "addressId": "address_2ignpvcsoc",
                        "createdAt": 1554964084554,
                        "modifiedAt": 1554964084554
                    },
                    "shippingAddress": {
                        "firstName": "Max",
                        "lastName": "Muster",
                        "street": "Musterweg",
                        "houseNumber": "1554964085",
                        "city": "Musterhausen",
                        "zip": "12345",
                        "country": "DE",
                        "state": "Bayern",
                        "phone": "00493012345",
                        "fax": "00493012345",
                        "mobile": "00493012345",
                        "title": "Prof. Dr.",
                        "additionalDetails": "premium buyer",
                        "addressId": "address_2ignpvcsoc",
                        "createdAt": 1554964084554,
                        "modifiedAt": 1554964084554
                    },
                    "ipAddress": "82.120.21.79",
                    "paymentInstrument": {
                        "createdAt": 1554964122147,
                        "modifiedAt": 1554964122147,
                        "paymentInstrumentId": "paymentinstrument_pj8pxaytkp",
                        "merchantPaymentInstrumentId": null,
                        "attributes": {
                            "accountHolder": "max max"
                        },
                        "encrypted": false,
                        "origin": "alipay",
                        "type": "ali-pay",
                        "recurring": false,
                        "recurringConsent": null
                    },
                    "transactions": [
                        {
                            "createdAt": 1554964122164,
                            "modifiedAt": 1554966714733,
                            "type": "DEBIT",
                            "transactionId": "transaction_4hsdffgwxg",
                            "description": "test transaction",
                            "initialAmount": 2380,
                            "refundedAmount": 100,
                            "currency": "USD",
                            "status": "SUCCESS",
                            "order": "upirfohyf3",
                            "parentTransaction": null,
                            "transactions": [
                                "transaction_x1a2qnj7yj"
                            ],
                            "basket": [
                                {
                                    "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                                    "name": "USB-Stick 1554964122",
                                    "articleNumber": "SW10029",
                                    "totalPrice": 1190,
                                    "totalPriceWithTax": 1190,
                                    "unitPrice": 1190,
                                    "unitPriceWithTax": 1190,
                                    "quantity": 2,
                                    "tax": 0,
                                    "discount": null,
                                    "imageUrl": null,
                                    "articleUrl": null,
                                    "articleType": null
                                }
                            ],
                            "providerCode": null,
                            "merchantMessage": null,
                            "customerMessage": null,
                            "descriptor": null,
                            "meta": null,
                            "challenge": null,
                            "asyncNotificationSubscriptionId": null,
                            "tracking": []
                        }
                    ],
                    "status": "OPEN",
                    "channel": "ECOM",
                    "source": "Postman Test",
                    "settled": false,
                    "settlementDate": null,
                    "allowedProducts": [],
                    "product": "alipay",
                    "transactionType": "DEBIT",
                    "meta": {
                        "mobileView": true
                    },
                    "async": null,
                    "deviceIdent": null,
                    "clientType": "BRW",
                    "asyncNotificationSubscriptionId": null,
                    "lastOperation": "TRANSACTION_REFUND_SUCCESS",
                    "redirectUrl": "https://public-api-app76te.psp.cardtech.de/order/alipay/1.0/redirect/Order-fd133d91-e0d6-4ed6-9fe9-07ec7ca37ed7"
                },
                "parentTransaction": {
                    "createdAt": 1554964122164,
                    "modifiedAt": 1554966714733,
                    "type": "DEBIT",
                    "transactionId": "transaction_4hsdffgwxg",
                    "description": "test transaction",
                    "initialAmount": 2380,
                    "refundedAmount": 100,
                    "currency": "USD",
                    "status": "SUCCESS",
                    "order": {
                        "createdAt": 1554964122158,
                        "modifiedAt": 1554966733820,
                        "merchantId": "merchant_pwtmsdg1wt",
                        "terms": 1468590412476,
                        "privacy": 1468590412476,
                        "orderId": "upirfohyf3",
                        "merchantOrderId": "merchantOrderId_45rw3",
                        "paymentProviderTransactionId": "4a0a6229-57ed-436c-a",
                        "description": "test transaction",
                        "statementDescription": "statement description",
                        "initialAmount": 2380,
                        "preauthorizedAmount": 2380,
                        "capturedAmount": 2380,
                        "refundedAmount": 100,
                        "canceledAmount": 0,
                        "currency": "USD",
                        "basket": [
                            {
                                "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                                "name": "USB-Stick 1554964122",
                                "articleNumber": "SW10029",
                                "totalPrice": 1190,
                                "totalPriceWithTax": 1190,
                                "unitPrice": 1190,
                                "unitPriceWithTax": 1190,
                                "quantity": 2,
                                "tax": 0,
                                "discount": null,
                                "imageUrl": null,
                                "articleUrl": null,
                                "articleType": null
                            }
                        ],
                        "customer": {
                            "merchantCustomerId": "my_customer_1231554964081",
                            "organizationRegistrationRegister": null,
                            "organizationRegistrationId": null,
                            "organizationEntityType": null,
                            "organizationVatId": null,
                            "companyName": null,
                            "reference": null,
                            "email": "1554964081@payengine-test.de",
                            "customerId": "customer_h4elq72qjb",
                            "addresses": [],
                            "personas": [],
                            "paymentInstruments": [],
                            "createdAt": 1554964081531,
                            "modifiedAt": 1554964081531,
                            "customerType": null
                        },
                        "persona": {
                            "personaId": "persona_lki12nchxk",
                            "firstName": "Max",
                            "lastName": "1554964087",
                            "phone": "00493012346",
                            "mobile": "00493012345",
                            "fax": "00493012345",
                            "birthday": 358293600000,
                            "gender": "MALE",
                            "title": "Prof. Dr.",
                            "createdAt": 1554964087243,
                            "modifiedAt": 1554964087243
                        },
                        "billingAddress": {
                            "firstName": "Max",
                            "lastName": "Muster",
                            "street": "Musterweg",
                            "houseNumber": "1554964085",
                            "city": "Musterhausen",
                            "zip": "12345",
                            "country": "DE",
                            "state": "Bayern",
                            "phone": "00493012345",
                            "fax": "00493012345",
                            "mobile": "00493012345",
                            "title": "Prof. Dr.",
                            "additionalDetails": "premium buyer",
                            "addressId": "address_2ignpvcsoc",
                            "createdAt": 1554964084554,
                            "modifiedAt": 1554964084554
                        },
                        "shippingAddress": {
                            "firstName": "Max",
                            "lastName": "Muster",
                            "street": "Musterweg",
                            "houseNumber": "1554964085",
                            "city": "Musterhausen",
                            "zip": "12345",
                            "country": "DE",
                            "state": "Bayern",
                            "phone": "00493012345",
                            "fax": "00493012345",
                            "mobile": "00493012345",
                            "title": "Prof. Dr.",
                            "additionalDetails": "premium buyer",
                            "addressId": "address_2ignpvcsoc",
                            "createdAt": 1554964084554,
                            "modifiedAt": 1554964084554
                        },
                        "ipAddress": "82.120.21.79",
                        "paymentInstrument": {
                            "createdAt": 1554964122147,
                            "modifiedAt": 1554964122147,
                            "paymentInstrumentId": "paymentinstrument_pj8pxaytkp",
                            "merchantPaymentInstrumentId": null,
                            "attributes": {
                                "accountHolder": "max max"
                            },
                            "encrypted": false,
                            "origin": "alipay",
                            "type": "ali-pay",
                            "recurring": false,
                            "recurringConsent": null
                        },
                        "transactions": [
                            "transaction_4hsdffgwxg"
                        ],
                        "status": "OPEN",
                        "channel": "ECOM",
                        "source": "Postman Test",
                        "settled": false,
                        "settlementDate": null,
                        "allowedProducts": [],
                        "product": "alipay",
                        "transactionType": "DEBIT",
                        "meta": {
                            "mobileView": true
                        },
                        "async": null,
                        "deviceIdent": null,
                        "clientType": "BRW",
                        "asyncNotificationSubscriptionId": null,
                        "lastOperation": "TRANSACTION_REFUND_SUCCESS",
                        "redirectUrl": "https://public-api-app76te.psp.cardtech.de/order/alipay/1.0/redirect/Order-fd133d91-e0d6-4ed6-9fe9-07ec7ca37ed7"
                    },
                    "parentTransaction": null,
                    "transactions": [
                        "transaction_x1a2qnj7yj"
                    ],
                    "basket": [
                        {
                            "id": "Article-c4dea503-26bd-41bd-93a7-61010e3efd76",
                            "name": "USB-Stick 1554964122",
                            "articleNumber": "SW10029",
                            "totalPrice": 1190,
                            "totalPriceWithTax": 1190,
                            "unitPrice": 1190,
                            "unitPriceWithTax": 1190,
                            "quantity": 2,
                            "tax": 0,
                            "discount": null,
                            "imageUrl": null,
                            "articleUrl": null,
                            "articleType": null
                        }
                    ],
                    "providerCode": null,
                    "merchantMessage": null,
                    "customerMessage": null,
                    "descriptor": null,
                    "meta": null,
                    "challenge": null,
                    "asyncNotificationSubscriptionId": null,
                    "tracking": []
                },
                "transactions": null,
                "basket": [
                    {
                        "id": "Article-ea34a24a-029f-4184-8fc8-f9f24c9a5c66",
                        "name": "USB-Stick 1541107031",
                        "articleNumber": "SW10029",
                        "totalPrice": 1000,
                        "totalPriceWithTax": 1190,
                        "unitPrice": 100,
                        "unitPriceWithTax": 119,
                        "quantity": 10,
                        "tax": 19,
                        "discount": null,
                        "imageUrl": null,
                        "articleUrl": null,
                        "articleType": null
                    }
                ],
                "providerCode": null,
                "merchantMessage": null,
                "customerMessage": null,
                "descriptor": null,
                "meta": null,
                "challenge": null,
                "asyncNotificationSubscriptionId": null,
                "tracking": null
            }
            </code>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <h3 id="settlements">Settlements</h3>
    <br/>
    <p>
      All settlement information will be provided in the Unified Settlement Report. The format and mappings can be found in the corresponding documentation (see <a href="">[PubDoc] Unified Settlement Report</a>).
    </p>
</div>

