<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">

        <br>
    </div>
    <div class="col-md-1">
    </div>
</div>
<img src="img/CC_MC.jpeg" width="100%"></img>
<div class="row">
    <br>
    <div class="col-md-1"></div>
    <div ng-init="" class="col-md-2 btn-group-vertical">

      <div> <!-- General -->
        <hr/>
        <a type="button" class=" btn-light text-left" ng-click="general=!general">
          <h4>
            <b>General</b>
            <span ng-show="!general" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="general" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="general">
          <hr/>
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/general">General Information</a> -->
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/registration">Registration</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/login">Login</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/navigation">Navigation</a>
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/languages">Languages</a> -->
        </div>
      </div>
      <div> <!-- Dashboard -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="dashboard=!dashboard">
          <h4>
            <b>Dashboard</b>
            <span ng-show="!dashboard" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="dashboard" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="dashboard">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/dashboard">General Information</a>
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/dashboard_layouts">Layouts</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/dashboard_filters">Filters</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/dashboard_widgets">Widgets</a> -->
        </div>
      </div>
      <div> <!-- Orders -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="orders=!orders">
          <h4>
            <b>Orders</b>
            <span ng-show="!orders" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="orders" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="orders">
          <hr/>
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/orders">General Information</a> -->
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/orders_filters">Filters</a> -->
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/orders_exportfile">Export CSV File</a> -->
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/orders_create">Create Order</a>
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/orders_details">Order Details</a> -->
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/transaction_operations">Transaction Operations</a> -->
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/currencies"> Currencies</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/managebaskets">Baskets</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/errortransaction">Messages by external systems </a>
        </div>
      </div>
      <div> <!-- Settlements -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="settlement=!settlement">
          <h4>
            <b>Settlements</b>
            <span ng-show="!settlement" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="settlement" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="settlement">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/settlement">General Information</a>
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/settlement/settlement_download">Download Settlements</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/settlement/settlement_filters">Filters</a> -->
        </div>
      </div>
      <div> <!-- User Management -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="users=!users">
          <h4>
            <b>User Management</b>
            <span ng-show="!users" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="users" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="users">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/user_management">General Information</a>
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/user_list">Users</a> -->
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/user_invite">Invite User</a>
        </div>
      </div>
      <div> <!-- Payment Methods -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="paymentmethods=!paymentmethods">
          <h4>
            <b>Payment Methods</b>
            <span ng-show="!paymentmethods" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="paymentmethods" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="paymentmethods">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/paymentmethods">General Information</a>
        </div>
      </div>
      <div> <!-- Payment Instruments -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="paymentinstrument=!paymentinstrument">
          <h4>
            <b>Payment Instruments</b>
            <span ng-show="!paymentinstrument" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="paymentinstrument" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="paymentinstrument">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/paymentinstrument">General Information</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/createpaymentinstrument">How to manage Payment Instrumentsn</a>
        </div>
      </div>
      <div> <!-- Customers -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="customer=!customer">
          <h4>
            <b>Customers</b>
            <span ng-show="!customer" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="customer" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="customer">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/customer">General Information</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/createcustomer">Create Customer</a>
        </div>
      </div>
      <div> <!-- My Account -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="myaccount=!myaccount">
          <h4>
            <b>My Account</b>
            <span ng-show="!myaccount" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="myaccount" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="myaccount">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/myaccount">General Information</a>
        </div>
        </div>
      <div> <!-- Custom Stylest -->
        <!-- <hr/>
        <a type="button" class="btn-light text-left" ng-click="customstyles=!customstyles">
          <h4>
            <b>Custom Styles</b>
            <span ng-show="!customstyles" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="customstyles" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="customstyles">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/customstyles">General Information</a>
        </div> -->
      </div>
      <div> <!-- Notifications -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="notifications=!notifications">
          <h4>
            <b>Notifications</b>
            <span ng-show="!notifications" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="notifications" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="notifications">
          <hr/>
          <!-- <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/notifications">General Information</a> -->
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/managenotification">How to manage Notifications</a>
        </div>
      </div>
      <div> <!-- Risk settings -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="risksetting=!risksetting">
          <h4>
            <b>Risk settings</b>
            <span ng-show="!risksetting" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="risksetting" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="risksetting">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/risksetting">General Information</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/manageblacklist">How to manage blacklists</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/manageriskcard">How to manage risk cards</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/rulecomparison">Ruletype I: Comparison (simple)</a>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/rulevelocityrisk">Ruletype II: Limits (velocity) Risks</a>
        </div>
        </div>
      <div> <!-- Widget Translations -->
        <!-- <hr/>
        <a type="button" class="btn-light text-left" ng-click="widgettranslations=!widgettranslations">
          <h4>
            <b>Widget Translations</b>
            <span ng-show="!widgettranslations" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="widgettranslations" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="widgettranslations">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/widgettranslations">General Information</a>
        </div> -->
      </div>
      <div> <!-- Others -->
        <hr/>
        <a type="button" class="btn-light text-left" ng-click="other=!other">
          <h4>
            <b>Others</b>
            <span ng-show="!other" class="pull-right glyph-icon icon-chevron-down"></span>
            <span ng-show="other" class="pull-right glyph-icon icon-chevron-up"></span>
          </h4>
        </a>
        <div ng-show="other">
          <hr/>
          <a type="button" class="btn btn-light text-left col-md-12" href="/merchantcenter/gicc">Messages by External Systems<br/>( GICC )</a>
        </div>
      </div>
      <br/>
    </div>
    <div class="col-md-8">
      <div> <!-- General -->
        <!-- <div ng-show="cur=='general'">
          <div ng-include="'/partials/merchant/general.html'"></div>
        </div> -->
        <div ng-show="cur=='registration'">
          <div ng-include="'/partials/merchant/registration.html'"></div>
        </div>
        <div ng-show="cur=='login'">
          <div ng-include="'/partials/merchant/login.html'"></div>
        </div>
        <div ng-show="cur=='navigation'">
          <div ng-include="'/partials/merchant/navigation.html'"></div>
        </div>
        <!-- <div ng-show="cur=='languages'">
          <div ng-include="'/partials/merchant/languages.html'"></div>
        </div> -->
      </div>
      <div> <!-- Dashboard -->
          <div ng-show="cur=='dashboard'">
            <div ng-include="'/partials/merchant/dashboard.html'"></div>
          </div>
          <!-- <div ng-show="cur=='dashboard_layouts'">
            <div ng-include="'/partials/merchant/dashboard_layouts.html'"></div>
          </div>
          <div ng-show="cur=='dashboard_filters'">
            <div ng-include="'/partials/merchant/dashboard_filters.html'"></div>
          </div>
          <div ng-show="cur=='dashboard_widgets'">
            <div ng-include="'/partials/merchant/dashboard_widgets.html'"></div>
          </div> -->
      </div>
      <div> <!-- Orders -->
        <!-- <div ng-show="cur=='orders'">
          <div ng-include="'/partials/merchant/orders.html'"></div>
        </div> -->
        <!-- <div ng-show="cur=='orders_filters'">
          <div ng-include="'/partials/merchant/orders_filters.html'"></div>
        </div> -->
        <!-- <div ng-show="cur=='orders_exportfile'">
          <div ng-include="'/partials/merchant/orders_exportfile.html'"></div>
        </div> -->
        <div ng-show="cur=='orders_create'">
          <div ng-include="'/partials/merchant/createtransaction.html'"></div>
        </div>
        <!-- <div ng-show="cur=='orders_details'">
          <div ng-include="'/partials/merchant/orders_details.html'"></div>
        </div> -->
        <!-- <div ng-show="cur=='transactionoperations'">
          <div ng-include="'/partials/merchant/transaction_operations.html'"></div>
        </div> -->
        <div ng-show="cur=='currencies'">
          <div ng-include="'/partials/merchant/currencies.html'"></div>
        </div>
        <div ng-show="cur=='managebaskets'">
          <div ng-include="'/partials/merchant/manage_baskets.html'"></div>
        </div>
        <div ng-show="cur=='errortransaction'">
          <div ng-include="'/partials/merchant/errortransaction.html'"></div>
        </div>
      </div>
      <div> <!-- Settlements -->
        <div ng-show="cur=='settlement'">
          <div ng-include="'/partials/merchant/settlement.html'"></div>
        </div>
        <!-- <div ng-show="cur=='settlement_download'">
          <div ng-include="'/partials/merchant/settlement_download.html'"></div>
        </div>
        <div ng-show="cur=='settlement_filters'">
          <div ng-include="'/partials/merchant/settlement_filters.html'"></div>
        </div> -->
      </div>
      <div> <!-- User Management -->
        <div ng-show="cur=='user_management'">
          <div ng-include="'/partials/merchant/usermanagement.html'"></div>
        </div>
        <!-- <div ng-show="cur=='user_list'">
          <div ng-include="'/partials/merchant/user_list.html'"></div>
        </div> -->
        <div ng-show="cur=='user_invite'">
          <div ng-include="'/partials/merchant/inviteuser.html'"></div>
        </div>
      </div>
      <div> <!-- Payment Methods -->
        <div ng-show="cur=='paymentmethods'">
          <div ng-include="'/partials/merchant/paymentmethods.html'"></div>
        </div>
      </div>
      <div> <!-- Payment Instruments -->
        <div ng-show="cur=='paymentinstruments'">
          <div ng-include="'/partials/merchant/paymentinstruments.html'"></div>
        </div>
        <div ng-show="cur=='createpaymentinstrument'">
          <div ng-include="'/partials/merchant/createpaymentinstrument.html'"></div>
        </div>
      </div>
      <div> <!-- Customers -->
        <div ng-show="cur=='customer'">
          <div ng-include="'/partials/merchant/customer.html'"></div>
        </div>
        <div ng-show="cur=='createcustomer'">
          <div ng-include="'/partials/merchant/manage_customers.html'"></div>
        </div>
      </div>
      <div> <!-- My Account -->
        <div ng-show="cur=='myaccount'">
          <div ng-include="'/partials/merchant/myaccount.html'"></div>
        </div>
      </div>
      <div> <!-- Custom Stylest -->
        <!-- <div ng-show="cur=='customstyles'">
          <div ng-include="'/partials/merchant/customstyles.html'"></div>
        </div> -->
      </div>
      <div> <!-- Notifications -->
        <!-- <div ng-show="cur=='notifications'">
          <div ng-include="'/partials/merchant/notifications.html'"></div>
        </div> -->
        <div ng-show="cur=='managenotification'">
          <div ng-include="'/partials/merchant/managenotification.html'"></div>
        </div>
      </div>
      <div> <!-- Risk settings -->
        <div ng-show="cur=='risksetting'">
          <div ng-include="'/partials/merchant/risksetting.html'"></div>
        </div>
        <div ng-show="cur=='manageblacklist'">
          <div ng-include="'/partials/merchant/manageblacklist.html'"></div>
        </div>
        <div ng-show="cur=='manageriskcard'">
          <div ng-include="'/partials/merchant/manageriskcard.html'"></div>
        </div>
        <div ng-show="cur=='rulecomparison'">
          <div ng-include="'/partials/merchant/rulecomparison.html'"></div>
        </div>
        <div ng-show="cur=='rulevelocityrisk'">
          <div ng-include="'/partials/merchant/rulevelocityrisk.html'"></div>
        </div>
      </div>
      <div> <!-- Widget Translations -->
        <!-- <div ng-show="cur=='widgettranslations'">
          <div ng-include="'/partials/merchant/widgettranslations.html'"></div>
        </div> -->
      </div>
      <div> <!-- Others -->
        <div ng-show="cur=='gicc'">
          <div ng-include="'/partials/merchant/gicc.html'"></div>
        </div>
      </div>

    </div>
</div>
