<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">

        <br>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="header-img">
    <img src="/img/Folie5.jpg"  width="100%" alt="">
</div>
<div class="row">
    <br>
    <div class="col-md-1"></div>
    <div ng-init="menu=true;" class="col-md-2 btn-group-vertical">
        <button type="button" class="btn btn-light text-left" ng-click="menu=!menu"><h3>Notifications</h3> </button>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/notifications/introduction">Introduction</a>
        <a type="button" ng-show="menu" class="btn btn-light text-left" href="/notifications/subscription_via_mc">Subscription via Merchant Center</a>
        <br/>
    </div>
    <div class="col-md-8">
      <div ng-show="cur=='subscription_via_mc'">
          <div  ng-include="'/partials/notifications/subscription_via_mc.html'">
          </div>
      </div>
      <div ng-show="cur=='introduction'">
          <div  ng-include="'/partials/notifications/introduction.html'">
          </div>
      </div>
    </div>
</div>
