<div class="header-img">
    <img src="/img/Unbenannt-1.jpg" width="100%"></img>
</div>
<br/><br/>
<div class="container">
    <ul id="portfolio-grid" class="reset-ul">
      <li class="col-md-4 col-sm-6">
        <div class="thumbnail-box-wrapper">
          <div class="thumbnail-box thumbnail-box-inverse" height="300px" style="border-radius: 5px 5px 0px 0px;">
              <a class="thumb-link" href="/outofthebox/widgetmenu" title=""></a>
              <div class="thumb-content">
                  <div class="center-vertical">
                      <div class="center-content">
                          <p class="thumb-heading animated fadeInDown" style="font-size:70px;">
                            <i class="glyph-icon icon-plus-circle"></i>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="thumb-overlay bg-black"></div>
              <img src="img/widget2.png" height="250px" alt="">
          </div>
          <div class="thumb-pane" style="height:150px;">
            <div class="text-center"><strong  style="color:rgb(237, 139, 0);">Widget</strong></div>
            <small>Widget feature is a SAQ-A compliant solution, which gives you a styled out-of-the-box payment form for end customers, both as a modal view or directly in your website.</small>
          </div>
        </div>
      </li>
      <li class="col-md-4 col-sm-6" >
        <div class="thumbnail-box-wrapper">
          <div class="thumbnail-box thumbnail-box-inverse" height="300px" style="border-radius: 5px 5px 0px 0px;">
              <a class="thumb-link" href="/outofthebox/paylink" title=""></a>
              <div class="thumb-content">
                  <div class="center-vertical">
                      <div class="center-content">
                          <p class="thumb-heading animated fadeInDown" style="font-size:70px;">
                            <i class="glyph-icon icon-plus-circle"></i>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="thumb-overlay bg-black"></div>
              <img src="img/paylink2.png" height="250px" alt="">
          </div>
          <div class="thumb-pane" style="height:150px;">
            <div class="text-center"><strong  style="color:rgb(237, 139, 0);">Paylink</strong></div>
            <small>The Concardis Paylink is an additional very easy solution to process payments.</small>
          </div>
        </div>
    </li>
    <li class="col-md-4 col-sm-6">
      <div class="thumbnail-box-wrapper">
        <div class="thumbnail-box thumbnail-box-inverse" style="border-radius: 5px 5px 0px 0px;">
            <a class="thumb-link" href="/outofthebox/plugins" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <p class="thumb-heading animated fadeInDown" style="font-size:70px;">
                            <i class="glyph-icon icon-plus-circle"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-black"></div>
            <img src="img/Plugins.jpg" height="250px" alt="">
        </div>
        <div class="thumb-pane" style="height:150px;">
          <div class="text-center"><strong  style="color:rgb(237, 139, 0);">Plugins</strong></div>
          <small>Mangento, Wordpress, Shopware, Gambio and more!</small>
        </div>
      </div>
    </li>
    
  </ul>
</div>