<div class="container">
	<div class="col-md-10 col-md-offset-1">
        <h4 class="p-title" style="color:rgb(237, 139, 0);"><span>Concardis Paylink</span></h4>
		<p>An additional very easy possibility to process payments it the Concardis Paylink<br><br>

		Would you like to receive partial or advance payments before the service is delivered completely? And give your customers the opportunity to pay quickly and conveniently online with their preferred payment method and channel?<br><br>

		Send a Concardis payment link - via e-mail, SMS, WhatsApp or via your social media channels. Your customer can access an individual payment page via the paylink, choose from common payment methods and pay for it. Whether it is a hotel, a travel agency, a government agency or an association that wants to collect membership fees. The Payengine Paylink is suitable for almost all industries and services. Fast, simple and above all safe.
		<br><br>

		 <table class="table table-striped">
            <tbody>
            <tr>
                <td><strong>Individual and flexible</strong></td>
                <td>With the form editor, individual payment forms can be created simply by drag &amp; drop</td>
            </tr>
            <tr>
                <td><strong>All relevant payment methods</strong></td>
                <td>All relevant Payment methods are available like credit cards (all brands) , PayPal, SOFORT and many more</td>
            </tr>
            <tr>
                <td><strong>Multi language</strong></td>
                <td>The Payengine paylink is available in five languages: DE, EN, FR, IT and NL</td>
            </tr>
            <tr>
                <td><strong>Secure Transaktions</strong></td>
                <td>Avoid payment delays and security issues with 3D Secure and PCI DSS secured operations</td>
            </tr>
            </tbody>
            </table>
		<br>
		</p>
		<div class="row">
			<div class="col-md-1"></div>
			<a class="col-md-3" href="https://www.concardis.com/produkte/online/payengine/paylink/paylink-faq" target="_blank" rel="noopener noreferrer">Paylink FAQ's</a>
			<a class="col-md-3" href="https://paylink.readme.io/" target="_blank">Technical documentation</a>
			<a class="col-md-3" href="https://github.com/concardis/paylink" target="_blank"><img height="50px" src="/uploads/2017/05/GitHub_Logo-300x123.png" /></a>
		</div>
	</div>
</div>