<!-- <video autoplay height="360px" width="100%" poster="img/load.png">
    <source src="img/CC_Start.mp4" type="video/mp4" >
    Your browser does not support the video tag.
</video> -->
<div class="header-img">
    <img src="/img/Unbenannt-13.jpg"  width="100%" alt="">
</div>

<div class="container" >
    <div class="row" padding-top="10px">
        <div  class="col-md-6" >
            <div class="panel panel-warning" >
                <div class="panel-body">
                    <h4 class="p-title" style="margin-top:5px; margin-bottom:5px; padding:5px;"><span>Integration Solution</span></h4>
                    <div class="container pad20B row" >
                        <div class="col-md-6">
                            <a href="/outofthebox">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="/img/newIcons/image2.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.6s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" >easy integration</h2>
                                    <p class="icon-content wow fadeInUp">Widgets / Paylink / Plugins<br>Out of the Box</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/buildyourown">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="/img/newIcons/image8.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.7s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" >custom integration</h2>
                                    <p class="icon-content wow fadeInUp" > API / Bridge<br>Build your own</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="container pad20B row" >
                        <div class="col-md-6">
                           <a href="/systemurl">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="/img/newIcons/image4.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.5s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp">System URLs <br> Errors & Validation</h2>
                                    <p class="icon-content wow fadeInUp">Errors / Validation / Transaction states / ...</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/faq">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="/img/newIcons/image9.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.8s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" >FAQ <br> Payment Methods</h2>
                                    <p class="icon-content wow fadeInUp">Getting started with our payment methods</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning" >
                <div class="panel-body">
                    <h4 class="p-title" style="margin-top:5px; margin-bottom:5px; padding:5px;"><span>Features</span></h4>
                    <div class="container pad20B row">
                        <div class="col-md-6">
                            <a href="/merchantcenter">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="/img/newIcons/image3.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.6s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" >Merchant Center</h2>
                                    <p class="icon-content wow fadeInUp">Manage your payment and reporting</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/merchantcenter/risksetting">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="/img/newIcons/image5.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.7s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" >Fraud Management</h2>
                                    <p class="icon-content wow fadeInUp">Customize your Fraud Management</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="container pad20B row">
                        <div class="col-md-6" >
                           <a href="/notifications">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="/img/newIcons/image7.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.5s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp">Notifications<br/><span style="color:white">Notifications</span></h2>
                                    <p class="icon-content wow fadeInUp">Keep your records up-to-date with asynchronous notifications</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/3dsecure/3dsecure_v1">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="/img/newIcons/image6.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.8s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" >3D Secure & COF<br/><span style="color:white">3D Secure</span></h2>
                                    <p class="icon-content wow fadeInUp">Strong customer authentication and credentials on file<!--& credentials on file--></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
