<video autoplay height="360px" width="100%" poster="img/load.png">
    <source src="img/CC_Start.mp4" type="video/mp4" >
    Your browser does not support the video tag.
</video>
<div class="container" >
    <div class="row" padding-top="10px">
        <div  class="col-md-6" >
            <div class="panel panel-warning" >
                <div class="panel-body">
                    <h4 class="p-title" style="margin-top:5px; margin-bottom:5px; padding:5px;"><span>Integration Solution</span></h4>
                    <div class="container pad20B row" >
                        <div class="col-md-6">
                            <a href="/outofthebox">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/newIcons/easy_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.6s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>easy integration</b></h2>
                                    <p class="icon-content wow fadeInUp"><b>Widgets / Paylink / Plugins</b><br>Out of the Box</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/buildyourown">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/newIcons/API_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.7s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>custom integration</b></h2>
                                    <p class="icon-content wow fadeInUp" > <b>API / Bridge </b><br>Build your own</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="container pad20B row" >
                        <div class="col-md-6">
                           <a href="/systemurl">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/newIcons/system_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.5s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp"><b>System URLs <br> Errors & Validation</b></h2>
                                    <p class="icon-content wow fadeInUp"><b>Errors / Validation / Transaction states / ...</b></p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/faq">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/newIcons/FAQ_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.8s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>FAQ <br> Payment Methods</b></h2>
                                    <p class="icon-content wow fadeInUp"><b>Getting started with our payment methods</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning" >
                <div class="panel-body">
                    <h4 class="p-title" style="margin-top:5px; margin-bottom:5px; padding:5px;"><span>Merchant Center</span></h4>
                    <div class="container pad20B row">
                        <div class="col-md-6">
                            <a href="/merchantcenter">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/newIcons/accounting_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.6s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>Accounting</b></h2>
                                    <p class="icon-content wow fadeInUp"><b>Find your way in our Merchant Center</b></p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/merchantcenter/risksetting">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/newIcons/fraud_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.7s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>Fraud Management</b></h2>
                                    <p class="icon-content wow fadeInUp" > <b>Customize your Fraud Management</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="container pad20B row">
                        <div class="col-md-6" >
                           <a href="/batch">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/newIcons/batch_processing.jpg" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.5s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp"><b>Batch Processing</b><br><p style="color:white">t </p> </h2>
                                    <p class="icon-content wow fadeInUp"><b>Batch Processing</b><br> <p style="color:white">t </p></p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/merchantcenter/paymentinstrument">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/newIcons/recurring_Ready.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.8s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>Recurring payments</b><br><p style="color:white">t </p> </h2>
                                    <p class="icon-content wow fadeInUp"><b>Create recurring payments</b><br> <p style="color:white">t </p> </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
