<div class="container">
	<div class="col-md-10 col-md-offset-1">
        <h4 class="p-title" style="color:#DA4405;"><span>Plugins</span></h4>
        <br>
        <br>
        <h1>Partner plugins:</h1>
        <ul>
            <li><a href="https://www.sellxed.com/shop/en/chf/magento-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Magento (from v. 1.5.x and higher incl. Enterprise Edition)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/magento-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Magento (v. 2.x CE and EE)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/wordpress-woocommerce-concardis-start-now-speed-up-flex-pro-zahlungs-plugin-1.html">WordPress WooCommerce (from v. 2.x / 3.x)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/wordpress-e-commerce-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">WordPress E-Commerce (from v. 3.x)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/wordpress-jigoshop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">WordPress JigoShop (v. 1.2.x) </a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/prestashop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">PrestaShop (from v. 1.5.x / 1.6.x / 1.7.x)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/xt-commerce-v-3-x-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">xt:Commerce (v. 3.x)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/xt-commerce-4-5-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Xt:Commerce 4 & 5 (from. V. 4.x / 5.x)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/gambio-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Gambio (v. GX 1 / 2)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/modified-shop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">xtcModified (v. 1.x)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/commerce-seo-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">commerce:SEO (v1 und v2)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/opencart-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">OpenCart (from v. 1.5.x / ab. V. 2.x) </a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/mijoshop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Mijoshop Opencart for Joomla</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/aceshop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">AceShop Opencart for Joomla</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/oxid-esales-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Oxid eSales (from v. 4.7.x including Enterprise Edition)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/seo-mercari-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">seo:Mercari (from v. 1.x)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/jtl-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">JTL 3 (3.x)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/jtl-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">JTL 4 (4.x)</a></li>
            <li><a href="https://www.sellxed.com/shop/en/chf/drupal-commerce-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Drupal Commerce (from Drupal 7.x) Only Drupal 7.x</a></li>
        </ul>
        <hr>
        <h1>Shopware <small>our plugin</small></h1>
        <h3>Requirements</h3>
            For the installation of the plugin, your system has to fulfill all requirements for Shopware. The plugin was developed for version 5.2.x of Shopware and in PHP version 5.6.27. Older versions of Shopware and PHP might be compatible with the plugin but are not supported. Please make sure to run the installation process in a test environment before updating your production system.

            <h1>Installation and configuration</h1>
            <h2>Installation</h2>
            The following is a step-by-step instruction for the successful installation of the plugin:
            <ol>
                <li>Login to the backend of your shop and select the plugin manager. The plugin manager is located under <em><strong>Configuration → Plugin Manager.</strong></em></li>
                <li>Select <em><strong>Installed</strong></em> from the left menu bar and then <em><strong>Upload plugin</strong></em> from the top of the page to upload the zip file containing the plugin.</li>
                <li>The plugin <em><strong>Concardis Payengine</strong></em> should now appear under the tab <em><strong>Uninstalled</strong></em> in the left menu bar. Press the “<em><strong>+</strong></em>“ button to install the plugin.</li>
                <li>Following the installation process, the configuration page of the plugin is opened automatically. There you can adjust and activate the plugin.</li>
            </ol>
            <h2>Configuration</h2>
            <img class="alignnone size-full wp-image-5434" src="/uploads/2017/07/config_en.png" alt="Konfiguration" width="926" height="495" />
            <div class="table-responsive">
            <table class="table table-striped">
            <thead>
            <tr>
            <th>Option</th>
            <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>Live-mode</td>
            <td>This dropdown enables the switch between live and test mode. Please consider that you need additional login details.</td>
            </tr>
            <tr>
            <td>Merchant ID</td>
            <td>Enter your Concardis Merchant ID here.</td>
            </tr>
            <tr>
            <td>API Key</td>
            <td>Enter your Concardis API Key here.</td>
            </tr>
            <tr>
            <td>Checkout mode (PayPal)</td>
            <td>Choose between “Preauth” and “Debit” orders.</td>
            </tr>
            <tr>
            <td>Checkout mode (PayDirekt)</td>
            <td>Choose between “Preauth” and “Debit” orders.</td>
            </tr>
            <tr>
            <td>Checkout mode (SEPA)</td>
            <td>Choose between “Preauth” and “Debit” orders.</td>
            </tr>
            <tr>
            <td>Checkout mode (credit card)</td>
            <td>Choose between “Preauth” and “Debit” orders.</td>
            </tr>
            <tr>
            <td>Show dropdown with the customers used bank data</td>
            <td>If this option is set to “Yes”, customers will be able to select their masked bank data from a dropdown during the checkout process provided they already have completed a checkout process in the past.</td>
            </tr>
            <tr>
            <td>Show dropdown with the customers used creditcards</td>
            <td>If this option is set to “Yes”, customers will be able to select their masked credit card data from a dropdown during the checkout process provided they already have completed a checkout process in the past.</td>
            </tr>
            <tr>
            <td>RatePAY DeviceFingerPrinting SID</td>
            <td>Enter your RatePAY SID here.</td>
            </tr>
            </tbody>
            </table>
            </div>
            <h3>Configure payment methods</h3>
            All payment methods added through the plugin can be activated or deactivated in the backend of Shopware by selecting the menu item “Configuration → Payment methods”. Also, additional surcharges can be added. In its condition as supplied to customer, all payment methods are deactivated in the plugin.
            <h3>Assign payment methods to shipping mode</h3>
            Selecting the menu item <em><strong>Configuration → Shipping costs</strong></em> you can choose your preferred shipping mode and edit its configuration by clicking on the “pen” symbol. Switch to the tab <em><strong>Payment methods</strong></em> to assign payment methods to this shipping mode.
            <h3>Hide payment methods</h3>
            To hide the display of payment methods, choose to not activate them as shown under item 2.3 or select <em><strong>Configuration → Risk management</strong></em> to control the amount limit for not displaying the payment method. There, choose the payment method and then take the necessary adjustments.
            <h1>Order processing</h1>
            Within the order summary of Shopware (<em><strong>Customers → Orders</strong></em>) there is a detailed overview for every order which can be reached through the “pen” button. This overview shows the additional tab <em><strong>Concardis Payengine</strong></em>.
            <h2>Overview</h2>
            The tab <em><strong>Overview</strong></em> displays information involving the transaction, the payment method used, and the customer's data.

            <img class="alignnone size-full wp-image-5435" src="/uploads/2017/07/overview_en.png" alt="" width="860" height="246" /> <img class="alignnone size-full wp-image-5436" src="/uploads/2017/07/overview2_en.png" alt="" width="863" height="191" /> <img class="alignnone size-full wp-image-5437" src="/uploads/2017/07/overview3_en.png" alt="" width="863" height="430" />
            <h2>Transactions</h2>
            The tab <em><strong>Transactions</strong></em> displays information about the transaction. Additionally, you can process the transaction through the buttons <em><strong>Capture</strong></em>, <em><strong>Cancel</strong></em>, or <em><strong>Refund</strong></em>.

            <img class="alignnone size-full wp-image-5439" src="/uploads/2017/07/transac_en.png" alt="" width="888" height="842" />

            To <em><strong>Capture</strong></em>, <em><strong>Cancel</strong></em>, or <em><strong>Refund</strong></em> the transaction, select the transaction, displaying the articles associated with it in the section below. Then, the only thing displayed for this transaction will be the aforementioned buttons.

            <img class="alignnone size-full wp-image-5440" src="/uploads/2017/07/transac2_en.png" alt="" width="889" height="837" />

            If you want to process an article, for example by <em><strong>Capture</strong></em>, select the field under the tab “Selected” by clicking on it and enter the amount of the articles that need capturing. This process needs to be repeated for every button.
            <h3>Capture</h3>
            The collection of a reserved transaction can be achieved through pressing <em><strong>Capture</strong></em>.
            <h3>Cancel</h3>
            The cancellation of a transaction can be achieved through pressing <em><strong>Cancel</strong></em>.
            <h3>Refund</h3>
            The refund of a transaction can be achieved through pressing <em><strong>Refund</strong></em>.
            <h1>Order modification</h1>
            It is possible to modify an order<em><strong>*</strong></em> by adding, editing, or deleting articles. Select the “pen” icon of the order you would like to adjust. There, select the tab <em><strong>Concardis Payengine</strong></em> and subsequently “Positions”.

            <em><strong>*currently only applicable to orders with RatePAY payment method</strong></em>
            <h2>Positions</h2>
            <img class="alignnone size-full wp-image-5438" src="/uploads/2017/07/positions_en.png" alt="" width="892" height="418" />

            To adjust the order, double-click on the articles to change them or press the “Add” button to add a new article. Pressing the “Confirm” button will update the order. Subsequently, the articles will be updated under <em><strong>Concardis Payengine → Transactions</strong></em>.

            <h1>This Plugin on </h1><a target="_blank" style="line-height: inherit;" href="https://github.com/concardis/shopware_plugin"><img class="alignnone size-medium wp-image-5594" src="/uploads/2017/05/GitHub_Logo-300x123.png" alt="" width="100" height="41" /></a>
	</div>
</div>