<div class="container">
	<div class="col-md-10 col-md-offset-1">
        <h4 class="p-title" style="color:#DA4405;"><span>Plugins</span></h4>
        <h3 >
        <ul>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/shopware-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">Shopware</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/magento-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Magento (1 & 2)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/wordpress-woocommerce-concardis-start-now-speed-up-flex-pro-zahlungs-plugin-1.html">WordPress WooCommerce (from v. 2.x / 3.x)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/wordpress-e-commerce-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">WordPress E-Commerce (from v. 3.x)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/wordpress-jigoshop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">WordPress JigoShop (v. 1.2.x) </a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/prestashop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">PrestaShop (from v. 1.5.x / 1.6.x / 1.7.x)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/xt-commerce-v-3-x-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">xt:Commerce (v. 3.x)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/xt-commerce-4-5-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Xt:Commerce 4 & 5 (from. V. 4.x / 5.x)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/gambio-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Gambio (v. GX 1 / 2)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/modified-shop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">xtcModified (v. 1.x)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/commerce-seo-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">commerce:SEO (v1 und v2)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/opencart-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">OpenCart (from v. 1.5.x / ab. V. 2.x) </a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/mijoshop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Mijoshop Opencart for Joomla</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/aceshop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">AceShop Opencart for Joomla</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/oxid-esales-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Oxid eSales (from v. 4.7.x including Enterprise Edition)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/seo-mercari-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">seo:Mercari (from v. 1.x)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/jtl-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">JTL 3 (3.x)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/jtl-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">JTL 4 (4.x)</a></li>
            <li><a href="https://www.customweb.com/concardis/cc_en/eur/drupal-commerce-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Drupal Commerce (from Drupal 7.x) Only Drupal 7.x</a></li>
        </ul>
    </h3>
	</div>
</div>