<img src="img/CC_PowerSmall.jpg" width="100%"></img>
<div class="container">
	<div class="col-md-10 col-md-offset-1">
        <h4 class="p-title" style="color:#DA4405;"><span>Plugins</span></h4>
        <div class="row" style="margin-top:-30px;">
            <div class="col-md-6" >
                <h3>
                    <ul>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/aceshop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">AceShop</a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/commerce-seo-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">commerce:SEO </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/drupal-commerce-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">Drupal Commerce </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/gambio-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">Gambio </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/jtl-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">JTL 3 </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/jtl-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">JTL 4 </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/magento-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">Magento (1 & 2)</a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/mijoshop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html">Mijoshop Opencart for Joomla</a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/opencart-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">OpenCart </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/oxid-esales-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">Oxid eSales </a><br>
                    </ul>
                </h3>
            </div>
            <div class="col-md-6" >
                <h3>
                    <ul>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/prestashop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">PrestaShop </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/shopware-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">Shopware</a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/seo-mercari-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">seo:Mercari </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/wordpress-woocommerce-concardis-start-now-speed-up-flex-pro-zahlungs-plugin-1.html" target="_blank">WordPress WooCommerce </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/wordpress-e-commerce-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">WordPress E-Commerce </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/wordpress-jigoshop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">WordPress JigoShop  </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/xt-commerce-v-3-x-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">xt:Commerce 3</a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/xt-commerce-4-5-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">Xt:Commerce 4 & 5 </a><br>
                        <a href="https://www.customweb.com/concardis/cc_en/eur/modified-shop-concardis-start-now-speed-up-flex-pro-zahlungs-plugin.html" target="_blank">xtcModified </a><br>
                    </ul>
                </h3>
            </div>
        </div>
	</div>
</div>