<h2>Widget Integration</h2><br>
Widget feature is an SAQ-A compliant solution, which gives you a styled out-of-the-box payment form for end customers, both as a modal view or directly in your website.<br>
<br>
<h3>Integrate and use in 3 steps</h3><br>
Depending on your needs, you can choose between Modal and Inline Widget.<br>
<br>
<hr />
<br>
<b>Modal Widget</b><br>
1. Create your order
You should create an order on your server through our API. See how to do it <a href="/buildyourown/restapi">here</a>.<br>

2. Show Widget to end customer
Display a styled modal view, in which the end customer can fill and submit his/her payment information. Follow the guide for implementing modal functionality in details <a href="/outofthebox/widgetmenu/modalwidget">here</a>.<br>

3. Get informed about payment status
Check the webhooks on all events you've subscribed for. See how to get notified here (Link to Notifications).<br>
Pull information for the order’s status through our API. See example <a href="/buildyourown/restapi">here.</a><br>
<br>
<b>Inline Widget</b><br>
1. Create your order
You should create an order on your server through our API. See how to do it <a href="/buildyourown/restapi">here</a>.<br>

2. Show Widget to end customer
Display an iframe directly into your website, in which the end customer can fill and submit his/her payment information. Follow the guide for implementing inline functionality in details <a href="/outofthebox/widgetmenu/inlinewidget">here</a>.<br>

3. Get informed about payment status
Check the webhooks on all events you've subscribed for. See how to get notified here (Link to Notifications).
Pull information for the order's status through our API. See example <a href="/buildyourown/restapi">here.</a><br>
<br>
<b>Widget as a Bridge</b><br>
1. Show Widget to end customer
Display an iframe directly into your website, in which the end customer can fill and submit his/her payment information. Follow the guide for implementing inline functionality in details <a href="/outofthebox/widgetmenu/piwidget">here</a>.<br>

2. Save the payment instrument
As a response you recieve a payment instrument.<br>

3. Create your order with the payment instrument
You should create an order on your server through our API. See how to do it <a href="/buildyourown/restapi">here</a>.<br>

4. Get informed about payment status
Check the webhooks on all events you've subscribed for. See how to get notified here (Link to Notifications).
Pull information for the order's status through our API. See example <a href="/buildyourown/restapi">here.</a><br><br>
<hr />
<br>
