{
  "swagger": "2.0",
  "info": {
    "title": "Payengine Public",
    "description": "Documentation for Payengine API v1.0\n",
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "host": "apitest.payengine.de",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/health": {
      "get": {
        "description": "Endpoint that reports an aggregated boolean value describing the general health of the system.\n",
        "tags": [
          "health"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The system health is successfully measured.",
            "schema": {
              "$ref": "#/definitions/HealthResponse"
            }
          },
          "403": {
            "description": "The health endpoint is disabled via configuration."
          }
        }
      }
    },
    "/orders/credit": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create a credit transaction.\nInitialise a transaction and book an amount. The creditor is the customer and the debitor is the merchant.\nCredit transaction is always processed synchronously, 'channel' has to be MOTO.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersCredit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body for creating a credit transaction.",
            "schema": {
              "$ref": "#/definitions/OrderCreditRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful response.",
            "schema": {
              "$ref": "#/definitions/OrderResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersCreditPostBadRequest"
            }
          }
        }
      }
    },
    "/orders/debit": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create a debit.\n\nThe debit transaction is a initial transaction to create an order. It is directly booking the initialAmount (No capture needed to receive the funds).\n\nThere are 2 workflows to process an order: ASYNC and SYNC.\n\nWith SYNC payment methods the transaction will directly result in a SUCCESS or a negative status.\n\nWith ASYNC payment methods the transaction will result in a PENDING or a negative status. If the status of the transaction is in PENDING the response will contain a redirectUrl.\n\nThe merchant system needs to redirect the shopper to the redirectUrl. After the shopper completes the payment action the transaction status will change to SUCCESS or a negative status.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersDebit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body for creating a debit.",
            "schema": {
              "$ref": "#/definitions/OrderOpenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful response.",
            "schema": {
              "$ref": "#/definitions/OrderResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersDebitPostBadRequest"
            }
          }
        }
      }
    },
    "/orders/preauth": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create a preauth.\n\nThe preauth transaction is a initial transaction to create an order. It is not directly booking the initialAmount (A capture is needed to receive the funds).\n\nThere are 2 workflows to process an order: ASYNC and SYNC.\n\nWith SYNC payment methods the transaction will directly result in a OK/SUCCESS or a negative status.\n\nWith ASYNC payment methods the transaction will result in a PENDING or FAILURE/DECLINED/ABORTED status. If the status of the transaction is in PENDING the response will contain a redirectUrl.\n\nThe merchant system needs to redirect the shopper to the redirectUrl. After the shopper completes the payment action the transaction status will change to OK or a negative status.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersPreauth",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body for creating a preauth.",
            "schema": {
              "$ref": "#/definitions/OrderOpenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/OrderResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersPreauthPostBadRequest"
            }
          }
        }
      }
    },
    "/orders/{orderId}/transactions/{transactionId}/refund": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create a refund on a debit or capture transaction.\n\nA refund transaction can be applied on an existing debit or capture transaction in the status SUCCESS.\n\nIt can be used to refund the shopper with the given initialAmont.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersTransactionsRefundByOrderId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the affected order."
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the affected transaction. note: it must be a capture or a debit."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Response body for creating a refund.",
            "schema": {
              "$ref": "#/definitions/TransactionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/TransactionResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersTransactionsRefundPostBadRequest"
            }
          }
        }
      }
    },
    "/orders/{orderId}/transactions/{transactionId}/capture": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create a capture on a preauth transaction.\n\nA capture transaction can be applied on an existing and not expired preauth transaction in the status SUCCESS.\n\nIt can be used to capture the given initialAmount and can not be higher then the initialAmount of the given preauth transaction.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersTransactionsCaptureByOrderId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the affected order."
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the affected transaction. note: it must be a preauth."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body for creating a capture.",
            "schema": {
              "$ref": "#/definitions/TransactionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/CaptureResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersTransactionsCapturePostBadRequest"
            }
          }
        }
      }
    },
    "/orders/{orderId}/transactions/{transactionId}/cancel": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create a cancel on a preauth transaction.\n\nA cancel transaction can be applied on an existing and not expired preauth transaction in the status SUCCESS.\n\nIt can be used to cancel the given initialAmount and can not be higher then the initialAmount of the given preauth transaction.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersTransactionsCancelByOrderId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the affected order."
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the affected transaction. note: it must be a preauth."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body for creating a cancel",
            "schema": {
              "$ref": "#/definitions/TransactionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/TransactionResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersTransactionsCancelPostBadRequest"
            }
          }
        }
      }
    },
    "/orders/{orderId}/transactions/{transactionId}": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a specific transaction.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersTransactionsByOrderId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the affected order."
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific transaction."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/TransactionResponse"
            }
          },
          "404": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersTransactionsGetNotFound"
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to update a specific transaction.\n\nCurrently only available for non captured preauth transactions for the following payment methods: ratepay-invoice, ratepay-directdebit and ratepay-installment.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersTransactionsByOrderId1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the affected order."
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific transaction."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body for updating a transaction",
            "schema": {
              "$ref": "#/definitions/TransactionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/TransactionResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersTransactionsPatchBadRequest"
            }
          }
        }
      }
    },
    "/orders/{orderId}/transactions": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to get a list of all transactions for a specific order.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersTransactionsByOrderId2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the affected order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/TransactionList"
            }
          },
          "404": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersTransactionsGetAllNotFound"
            }
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to get a specific order.\n\nThe  object represents an order and includes multiple transactions for different actions ( preauth, debit, capture, cancel, refund).\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersByOrderId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/OrderList"
            }
          },
          "404": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/OrdersGetNotFound"
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to update an order.\n\nOnly available for orders in status CREATED.\n",
        "tags": [
          "orders"
        ],
        "operationId": "OrdersByOrderId1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific order."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body for updating an order.",
            "schema": {
              "$ref": "#/definitions/OrderUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/OrderResponse"
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a list of orders.\n\nThe following parameters can be used as filter.\n\n- terms\n\n- privacy\n\n- orderId\n\n- merchantOrderId\n\n- paymentProviderTransactionId\n\n- initialAmount\n\n- currency\n\n- customerId\n\n- ipAddress\n\n- status\n\n- channel\n\n- source\n\n- product\n\n- settled\n\n- settlementDate\n\n- createdAt\n\n- modifiedAt\n\nThe following parameters can be used as a range filter.\n\nDates\n\n- terms\n\n- privacy\n\n- settlementDate\n\n- createdAt\n\n- modifiedAt\n\nNumbers\n\n- initialAmount\n",
        "tags": [
          "orders"
        ],
        "operationId": "Orders",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/OrderList"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create an order intent ( order with status CREATED)\n\nAn order with this status will not result in any charges, untill executed. The actual execution is done by some of the integration components (e.g. widget)\n",
        "tags": [
          "orders"
        ],
        "operationId": "Orders1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body to create a order intent.",
            "schema": {
              "$ref": "#/definitions/OrderCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/OrderResponse"
            }
          }
        }
      }
    },
    "/customers/{customerId}/personas/{personaId}": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a specific persona connected to a given customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersPersonasByCustomerId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          },
          {
            "name": "personaId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific persona."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/PersonaResponse"
            }
          },
          "404": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersPersonasGetNotFound"
            }
          }
        }
      }
    },
    "/customers/{customerId}/personas": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a list of personas for a specific customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersPersonasByCustomerId1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PersonaList"
            }
          },
          "400": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersPersonasGetAllBadRequest"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create a new persona for a specific customer.\n\nPersonas contain person related attributes of a customer which are needed to process some payment methods.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersPersonasByCustomerId2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body to create a new persona.",
            "schema": {
              "$ref": "#/definitions/PersonaRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/PersonaResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersPersonasPostBadRequest"
            }
          }
        }
      }
    },
    "/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a specific address of a specific customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersAddressesByCustomerId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific address."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "404": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersAddressesGetNotFound"
            }
          }
        }
      }
    },
    "/customers/{customerId}/addresses": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a list of addresses of a specific customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersAddressesByCustomerId1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/AddressList"
            }
          },
          "400": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersAddressesGetAllBadRequest"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create a new address for a specific customer.\n\nAddresses containing address related attributes of a customer which are needed to process some payment methods.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersAddressesByCustomerId2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body to create a new address.",
            "schema": {
              "$ref": "#/definitions/AddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersAddressesPostBadRequest"
            }
          }
        }
      }
    },
    "/customers/{customerId}/payment-instruments/{paymentInstrumentId}": {
      "delete": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to delete a specific paymentinstrument from a customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersPaymentInstrumentsByCustomerId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          },
          {
            "name": "paymentInstrumentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific paymentinstrument."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response."
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersPaymentInstrumentsDeleteBadRequest"
            }
          }
        }
      }
    },
    "/customers/{customerId}/payment-instruments": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a list of paymentinstrument of a specific customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersPaymentInstrumentsByCustomerId1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentList"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersPaymentInstrumentsGetBadRequest"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to assign a paymentinstrument to a specific customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersPaymentInstrumentsByCustomerId2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body for creating a new paymentinstrument.",
            "schema": {
              "$ref": "#/definitions/CustomerPaymentInstrumentRelation"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response."
          },
          "400": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersPaymentInstrumentsPostBadRequest"
            }
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a specific customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersByCustomerId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/CustomerResponse"
            }
          },
          "404": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersGetNotFound"
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to update a specific customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "CustomersByCustomerId1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body for updating a customer.",
            "schema": {
              "$ref": "#/definitions/CustomerUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/CustomerResponse"
            }
          },
          "400": {
            "description": "Bad value caused by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersPatchBadRequest"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to delete a specific customer.\n",
        "tags": [
          "customers"
        ],
        "operationId": "DeleteCustomerByCustomerId",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific customer."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response."
          },
          "404": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersGetNotFound"
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a list of customers.\n\nThe following parameters can be used as filter.\n\n- customerId\n\n- email\n\n- merchantCustomerId\n\n- createdAt\n\n- modifiedAt\n\nThe following parameters can be used as a range filter.\n\n- createdAt\n\n- modifiedAt\n",
        "tags": [
          "customers"
        ],
        "operationId": "Customers",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/CustomerList"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to create a new customer.\n\nA customer acts as a container for customer specific personas and addresses.\n\nIf the email address of the given customer is already known to the platform the API will respond with HTTP status 200 OK.\n\nFor every new created customer the platform will respond with the HTTP status 201 CREATED\n",
        "tags": [
          "customers"
        ],
        "operationId": "Customers1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body to create a new customer.",
            "schema": {
              "$ref": "#/definitions/CustomerRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/CustomerResponse"
            }
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/CustomersPostBadRequest"
            }
          }
        }
      }
    },
    "/payment-instruments/{paymentInstrumentId}": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a specific paymentinstrument.\n\nPayment instruments are objects representing the payment information used by the end customer.\n\nA payment instrument can be created either explicitly ( creditcard & sepa via javascript bridge ) or implicitly with a debit or preauth transaction.\n\nDepending on the type, payment instruments have different attributes, whereas some values will be masked to remain PCI conform ( e.g. creditcard number)\n\nPayment instruments can be used for recurring payments, if the flag \"recurring\" is set to true.\n\nPayment instruments are unique ( e.g. if a creditcard number is used twice, it will result in one payment instrument )\n",
        "tags": [
          "payment"
        ],
        "operationId": "PaymentInstrumentsByPaymentInstrumentId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentInstrumentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific paymentinstrument."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentResponse"
            }
          },
          "404": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentsGetNotFound"
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Endpoint to update the data associated with the specified paymentinstrument.\n\nAlso used to refresh the CVC of a creditcard payment instrument. In case of a recurring transaction the shopper can be forced to re-enter the verification code (cvc) - depends on the creditcard settings configuration.\n\nNormally handled by the javascript bridge.\n",
        "tags": [
          "payment"
        ],
        "operationId": "PaymentInstrumentsByPaymentInstrumentId1",
        "parameters": [
          {
            "name": "paymentInstrumentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific paymentinstrument."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request object containing some or all of the updateable fields applicable for the type of the specified payment instrument. (CC or SEPA)",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentUpdateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentsPatchBadRequest"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to delete payment instrument with a given ID.\n",
        "tags": [
          "payment"
        ],
        "operationId": "DeletePaymentInstrumentByPaymentInstrumentId",
        "parameters": [
          {
            "name": "paymentInstrumentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the specific paymentinstrument."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "404": {
            "description": "Not found casued by invalid input.",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentsGetNotFound"
            }
          }
        }
      }
    },
    "/payment-instruments": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Endpoint to receive a list of paymentinstruments.\n\nThe following parameters can be used as filter.\n\n- paymentInstrumentId\n\n- merchantPaymentInstrumentId\n\n- type\n\n- origin\n\n- recurring\n\n- createdAt\n\n- modifiedAt\n",
        "tags": [
          "payment"
        ],
        "operationId": "PaymentInstruments",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentList"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Endpoint to create a new paymentinstrument.\n\nExplicitly creating  payment instruments is possible for credit card and SEPA and should be done from the end customer's browser.\n\nCall would normally be handled by the javascript bridge.\n",
        "tags": [
          "payment"
        ],
        "operationId": "PaymentInstruments1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request body to create a new paymentinstrument.",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentResponse"
            }
          },
          "400": {
            "description": "Bad request based on invalid input.",
            "schema": {
              "$ref": "#/definitions/PaymentInstrumentsPostBadRequest"
            }
          }
        }
      }
    },
    "/installment/config": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "The Configuration Request allows the merchant to read the stored configuration parameters for his merchant profile.\n",
        "tags": [
          "installments"
        ],
        "operationId": "InstallmentConfig",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/InstallmentConfigResponse"
            }
          }
        }
      }
    },
    "/installment/calculation/rate": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "The Calculation Request calculates and returns an installment plan depending on the request parameters and the stored parameters of the merchant profile.\n",
        "tags": [
          "installments"
        ],
        "operationId": "InstallmentCalculationRate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Amount to be financed"
          },
          {
            "name": "calculationRate",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Contains the rate information"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/InstallmentCalculationRateResponse"
            }
          }
        }
      }
    },
    "/installment/calculation/time": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "The Calculation Request calculates and returns an installment plan depending on the request parameters and the stored parameters of the merchant profile.\n",
        "tags": [
          "installments"
        ],
        "operationId": "InstallmentCalculationTime",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Amount to be financed"
          },
          {
            "name": "calculationTime",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Contains the duration information of the installment plan"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/InstallmentCalculationTimeResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "HealthResponse": {
      "title": "HealthResponse",
      "type": "object",
      "properties": {
        "systemHealth": {
          "type": "string",
          "description": "The aggregated system health",
          "enum": [
            "GOOD",
            "BAD"
          ]
        }
      }
    },
    "GenderBaseTypeEnum": {
      "title": "GenderBaseTypeEnum",
      "type": "string",
      "description": "The gender of the persona.",
      "enum": [
        "MALE",
        "FEMALE"
      ]
    },
    "ChannelsBaseTypeEnum": {
      "title": "ChannelsBaseTypeEnum",
      "type": "string",
      "description": "The channel determine the kind of origin for this order. (optional, mandatory for creditcard, ratepay-invoice, ratepay-directdebit and ratepay-installment)",
      "enum": [
        "MOTO",
        "ECOM"
      ]
    },
    "ProductsBaseTypeEnum": {
      "title": "ProductsBaseTypeEnum",
      "type": "string",
      "description": "The product used to create this order. (mandatory)",
      "enum": [
        "creditcard",
        "paypal",
        "paydirekt",
        "ratepay-invoice",
        "ratepay-directdebit",
        "ratepay-installment",
        "sepa",
        "sofort"
      ]
    },
    "Item": {
      "title": "Item",
      "type": "object",
      "properties": {
        "name": {
          "description": "The articles name used in your shop.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "articleNumber": {
          "description": "The articles number used in your shop.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "totalPrice": {
          "description": "The total price for this item excluding taxes. The total amount should be given as smallest currency unit.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "totalPriceWithTax": {
          "description": "The total price for this item including taxes. The total amount should be given as smallest currency unit.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "unitPrice": {
          "description": "The unit price for this item excluding taxes. The unit amount should be given as smallest currency unit.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "unitPriceWithTax": {
          "description": "The unit price for this item including taxes. The unit amount should be given as smallest currency unit.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "tax": {
          "description": "The tax for this item. The tax should be given as smallest currency unit.",
          "type": "number",
          "format": "int",
          "minimum": 0,
          "maximum": 100
        },
        "quantity": {
          "description": "The quantity for this item.",
          "type": "number",
          "format": "int",
          "minimum": 1
        }
      }
    },
    "Async": {
      "title": "Async",
      "type": "object",
      "description": "Async object for asynchronous payment methods like PayPal.",
      "properties": {
        "successUrl": {
          "description": "In case of a successful order the customer will be redirected to the given URL.",
          "type": "string",
          "format": "url",
          "minLength": 6,
          "maxLength": 2048
        },
        "failureUrl": {
          "description": "In case of a failed order the customer will be redirected to the given URL.",
          "type": "string",
          "format": "url",
          "minLength": 6,
          "maxLength": 2048
        },
        "cancelUrl": {
          "description": "In case of a cancellation by the customer, the customer will be redirected to the given URL.",
          "type": "string",
          "format": "url",
          "minLength": 6,
          "maxLength": 2048
        }
      },
      "required": [
        "successUrl",
        "failureUrl",
        "cancelUrl"
      ]
    },
    "OrderCreateRequest": {
      "title": "OrderCreateRequest",
      "type": "object",
      "properties": {
        "initialAmount": {
          "description": "Amount as smallest currency unit\ne.g 100€ will be result in amount = 10000\n",
          "type": "number",
          "format": "int"
        },
        "currency": {
          "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217",
          "type": "string",
          "minLength": 3,
          "maxLength": 3
        },
        "async": {
          "$ref": "#/definitions/Async"
        },
        "transactionType": {
          "$ref": "#/definitions/InitialTransactionTypeBaseTypeEnum"
        },
        "terms": {
          "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "privacy": {
          "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "merchantOrderId": {
          "description": "The order id from your system/shop",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "description": {
          "description": "The description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "statementDescription": {
          "description": "The statement description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "basket": {
          "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        },
        "customer": {
          "description": "The customer id which will be used to process this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "persona": {
          "description": "The persona id which will be used to process this order. note: the persona must be a persona from the given customer.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "billingAddress": {
          "description": "The address id used as billing address for this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "shippingAddress": {
          "description": "The address id used as shipping address for this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "ipAddress": {
          "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "channel": {
          "$ref": "#/definitions/ChannelsBaseTypeEnum"
        },
        "source": {
          "description": "The source is a form free descriptor of the origin.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "allowedProducts": {
          "description": "A List of all valid products for this order.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductsBaseTypeEnum"
          }
        }
      },
      "required": [
        "initialAmount",
        "currency",
        "async",
        "transactionType"
      ]
    },
    "InitialTransactionTypeBaseTypeEnum": {
      "title": "InitialTransactionTypeBaseTypeEnum",
      "type": "string",
      "description": "The type of the underlying Transaction",
      "enum": [
        "PREAUTH",
        "DEBIT"
      ]
    },
    "OrderUpdateRequest": {
      "title": "OrderUpdateRequest",
      "type": "object",
      "properties": {
        "terms": {
          "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "privacy": {
          "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "merchantOrderId": {
          "description": "The order id from your system/shop",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "description": {
          "description": "The description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "statementDescription": {
          "description": "The statement description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "initialAmount": {
          "description": "Amount as smallest currency unit\ne.g 100€ will be result in amount = 10000\n",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "currency": {
          "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217",
          "type": "string",
          "minLength": 3,
          "maxLength": 3
        },
        "basket": {
          "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        },
        "customer": {
          "description": "The customer id which will be used to process this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "persona": {
          "description": "The persona id which will be used to process this order. note: the persona must be a persona from the given customer.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "billingAddress": {
          "description": "The address id used as billing address for this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "shippingAddress": {
          "description": "The address id used as shipping address for this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "ipAddress": {
          "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "channel": {
          "$ref": "#/definitions/ChannelsBaseTypeEnum"
        },
        "source": {
          "description": "The source is a form free descriptor of the origin.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "async": {
          "$ref": "#/definitions/Async"
        },
        "allowedProducts": {
          "description": "A List of all valid products for this order.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductsBaseTypeEnum"
          }
        },
        "transactionType": {
          "$ref": "#/definitions/InitialTransactionTypeBaseTypeEnum"
        }
      }
    },
    "OrderOpenRequest": {
      "title": "OrderOpenRequest",
      "type": "object",
      "properties": {
        "initialAmount": {
          "description": "Amount as smallest currency unit\ne.g 100€ will be result in amount = 10000\n",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "currency": {
          "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217\n",
          "type": "string",
          "minLength": 3,
          "maxLength": 3
        },
        "product": {
          "$ref": "#/definitions/ProductsBaseTypeEnum"
        },
        "async": {
          "$ref": "#/definitions/Async"
        },
        "terms": {
          "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "privacy": {
          "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "merchantOrderId": {
          "description": "The order id from your system/shop",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "description": {
          "description": "The description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "statementDescription": {
          "description": "The statement description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "basket": {
          "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        },
        "customer": {
          "description": "The customer id which will be used to process this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "persona": {
          "description": "The persona id which will be used to process this order. note: the persona must be a persona from the given customer.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "billingAddress": {
          "description": "The address id used as billing address for this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "shippingAddress": {
          "description": "The address id used as shipping address for this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "ipAddress": {
          "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "channel": {
          "$ref": "#/definitions/ChannelsBaseTypeEnum"
        },
        "source": {
          "description": "The source is a form free descriptor of the origin.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "payment": {
          "$ref": "#/definitions/OrderOpenPaymentRequest"
        },
        "deviceIdent": {
          "$ref": "#/definitions/DeviceIdentRequest"
        }
      },
      "required": [
        "initialAmount",
        "currency",
        "product",
        "async"
      ]
    },
    "OrderCreditRequest": {
      "title": "OrderCreditRequest",
      "type": "object",
      "properties": {
        "initialAmount": {
          "description": "Amount as smallest currency unit\ne.g 100€ will be result in amount = 10000\n",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "currency": {
          "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217\n",
          "type": "string",
          "minLength": 3,
          "maxLength": 3
        },
        "product": {
          "$ref": "#/definitions/ProductsBaseTypeEnum"
        },
        "terms": {
          "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "privacy": {
          "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "merchantOrderId": {
          "description": "The order id from your system/shop",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "description": {
          "description": "The description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "statementDescription": {
          "description": "The statement description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "basket": {
          "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        },
        "customer": {
          "description": "The customer id which will be used to process this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "persona": {
          "description": "The persona id which will be used to process this order. note: the persona must be a persona from the given customer.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "billingAddress": {
          "description": "The address id used as billing address for this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "shippingAddress": {
          "description": "The address id used as shipping address for this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "ipAddress": {
          "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "channel": {
          "$ref": "#/definitions/ChannelsBaseTypeEnum"
        },
        "source": {
          "description": "The source is a form free descriptor of the origin.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "payment": {
          "$ref": "#/definitions/OrderOpenPaymentRequest"
        },
        "deviceIdent": {
          "$ref": "#/definitions/DeviceIdentRequest"
        }
      },
      "required": [
        "initialAmount",
        "currency",
        "product",
        "async"
      ]
    },
    "OrderOpenPaymentRequest": {
      "title": "OrderOpenPaymentRequest",
      "type": "object",
      "description": "Additional information Payment neede to proceed the order.",
      "properties": {
        "paymentInstrumentId": {
          "description": "An ID of an already created paymentinstrument. Used to proceed the order. (optional)",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "cardNumber": {
          "description": "The Creditcard PAN used to proceed. (mandatory for creditcard, optional if a creditcard paymentInstrumentId was passed)",
          "type": "string",
          "minLength": 12,
          "maxLength": 19
        },
        "verification": {
          "description": "The verification number of the creditcard. (mandatory for creditcard, optional if a creditcard paymentInstrumentId was passed)",
          "type": "string",
          "minLength": 3,
          "maxLength": 4
        },
        "expiryMonth": {
          "description": "The expiry month of the creditcard. Format: 01 -> january, 02 -> February, etc. (mandatory for creditcard, optional if a creditcard paymentInstrumentId was passed)",
          "type": "string",
          "minLength": 2,
          "maxLength": 2
        },
        "expiryYear": {
          "description": "The expiry year of the creditcard. Format: 01 -> 2001, 02 -> 2002, etc. (mandatory for creditcard, optional if a creditcard paymentInstrumentId was passed)",
          "type": "string",
          "minLength": 2,
          "maxLength": 2
        },
        "cardHolder": {
          "description": "The full name of the cardholder.",
          "type": "string",
          "minLength": 3,
          "maxLength": 128
        },
        "bankName": {
          "description": "The name of the bank of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId was passed)",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "iban": {
          "description": "IBAN of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId was passed)",
          "type": "string",
          "maxLength": 34
        },
        "bic": {
          "description": "BIC of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId was passed)",
          "type": "string",
          "minLength": 8,
          "maxLength": 11
        },
        "accountHolder": {
          "description": "The account holders name of the SEPA account. (mandatory for sepa, optional if a sepa paymentInstrumentId was passed)",
          "type": "string",
          "minLength": 4,
          "maxLength": 128
        },
        "numberOfRates": {
          "description": "Number of rates for ratepay installment",
          "type": "integer"
        },
        "rate": {
          "description": "Rate for ratepay installment",
          "type": "integer"
        },
        "lastRate": {
          "description": "Last rate for ratepay installment",
          "type": "integer"
        },
        "interestRate": {
          "description": "Interest rate for ratepay installment",
          "type": "number"
        },
        "totalAmount": {
          "description": "Total amount for ratepay installment",
          "type": "integer"
        },
        "mandate": {
          "$ref": "#/definitions/MandateRequest"
        }
      }
    },
    "MandateRequest": {
      "title": "Mandate",
      "type": "object",
      "description": "SEPA mandate (only mandatory for SEPA orders)",
      "properties": {
        "mandateId": {
          "description": "The mandateId assigned to the SEPA mandate (optional)",
          "type": "string"
        },
        "createdDateTime": {
          "description": "Timestamp for mandate creation (mandatory)",
          "type": "number",
          "format": "date-time"
        },
        "mandateText": {
          "description": "Mandate text displayed to the customer (mandatory)",
          "type": "string"
        },
        "directDebitType": {
          "title": "DirectDebitType",
          "type": "string",
          "description": "The current mandate type of the direct debit type.\nThe mandate type can be one of the following.\nFIRST: It's the first execution of the mandate SINGLE: It's used only for one execution of the mandate RECURRING: It's used for recurring mandate usage FINAL: It's the last execution of the recurring mandate\n",
          "enum": [
            "FIRST",
            "SINGLE",
            "RECURRING",
            "FINAL"
          ]
        }
      }
    },
    "OrderResponse": {
      "title": "OrderResponse",
      "type": "object",
      "properties": {
        "orderId": {
          "description": "The order id from payengine.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "initialAmount": {
          "description": "The initial amount given to create this order.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "preauthorizedAmount": {
          "description": "The amount which has been authorized.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "capturedAmount": {
          "description": "The amount which has been captured.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "refundedAmount": {
          "description": "The amount which has been refunded.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "canceledAmount": {
          "description": "The amount which has been cancelled.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "currency": {
          "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217",
          "type": "string",
          "minLength": 3,
          "maxLength": 3
        },
        "transactions": {
          "description": "A list of all underlying transactions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionResponse"
          }
        },
        "status": {
          "$ref": "#/definitions/OrderStatesBaseTypeEnum"
        },
        "channel": {
          "$ref": "#/definitions/ChannelsBaseTypeEnum"
        },
        "createdAt": {
          "description": "This timestamp indicates the creation of this order.",
          "type": "number",
          "format": "date-time"
        },
        "modifiedAt": {
          "description": "This timestamp indicates the last modification of this order.",
          "type": "number",
          "format": "date-time"
        },
        "terms": {
          "description": "A timestamp in milliseconds of the approval of the customer to your terms and conditions. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "privacy": {
          "description": "A timestamp in milliseconds of the approval of the customer to your privacy policy. E.g. this is required for RatePAY orders.",
          "type": "number",
          "format": "integer"
        },
        "merchantOrderId": {
          "description": "The order id from your system/shop",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "paymentProviderTransactionId": {
          "description": "The order id from the payment provider.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "description": {
          "description": "The description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "statementDescription": {
          "description": "The statement description from your system/shop of this order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "basket": {
          "description": "The basket of your order. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        },
        "customer": {
          "$ref": "#/definitions/CustomerResponse"
        },
        "persona": {
          "$ref": "#/definitions/PersonaResponse"
        },
        "billingAddress": {
          "$ref": "#/definitions/AddressResponse"
        },
        "shippingAddress": {
          "$ref": "#/definitions/AddressResponse"
        },
        "ipAddress": {
          "description": "The IP address used to submit the order. (Optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "paymentInstrument": {
          "$ref": "#/definitions/PaymentInstrumentResponse"
        },
        "redirectUrl": {
          "description": "The URL which the customer needs to be redirected to.",
          "type": "string",
          "format": "url",
          "minLength": 6,
          "maxLength": 2048
        },
        "source": {
          "description": "The source of the order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "product": {
          "$ref": "#/definitions/ProductsBaseTypeEnum"
        },
        "allowedProducts": {
          "description": "A List of all valid products for this order.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductsBaseTypeEnum"
          }
        },
        "settled": {
          "description": "A flag which indicates if this order has been settled or not.",
          "type": "boolean"
        },
        "settlementDate": {
          "description": "The date of the settlement.",
          "type": "string",
          "format": "date-time"
        },
        "transactionType": {
          "$ref": "#/definitions/InitialTransactionTypeBaseTypeEnum"
        },
        "deviceIdent": {
          "$ref": "#/definitions/DeviceIdentResponse"
        }
      },
      "required": [
        "orderId",
        "initialAmount",
        "preauthorizedAmount",
        "capturedAmount",
        "refundedAmount",
        "canceledAmount",
        "currency",
        "transactions",
        "status",
        "channel",
        "createdAt",
        "modifiedAt"
      ]
    },
    "CustomerResponse": {
      "title": "CustomerResponse",
      "type": "object",
      "properties": {
        "customerId": {
          "description": "The identifier of the customer. Created by payengine",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "email": {
          "description": "The customers email address. unique.",
          "type": "string",
          "format": "email"
        },
        "merchantCustomerId": {
          "description": "The identifier of the customer. Created by you.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "addresses": {
          "description": "A list of all underlying addresses which are connected to the customer.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressResponse"
          }
        },
        "personas": {
          "description": "A list of all underlying personas which are connected to the customer.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PersonaResponse"
          }
        },
        "paymentInstruments": {
          "description": "A list of all underlying paymentinstruments which are connected to the customer.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentInstrumentResponse"
          }
        }
      },
      "required": [
        "customerId",
        "email"
      ]
    },
    "AddressResponse": {
      "title": "AddressResponse",
      "type": "object",
      "properties": {
        "addressId": {
          "description": "The identifier of the address. Created by payengine",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "createdAt": {
          "description": "This timestamp indicates the creation of this address.",
          "type": "number",
          "format": "date-time"
        },
        "modifiedAt": {
          "description": "This timestamp indicates the last modification of this address.",
          "type": "number",
          "format": "date-time"
        },
        "firstName": {
          "description": "The firstname of this address. limited to 35 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "lastName": {
          "description": "The lastname of this address. limited to 35 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "street": {
          "description": "The street of this address.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "houseNumber": {
          "description": "The housenumber of the street.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "city": {
          "description": "The city of the address.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "zip": {
          "description": "The zip of the address.",
          "type": "string",
          "minLength": 3,
          "maxLength": 10
        },
        "country": {
          "description": "The country of the address. Format [https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2]",
          "type": "string",
          "minLength": 2,
          "maxLength": 2
        },
        "state": {
          "description": "The state of the address.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "phone": {
          "description": "The phone of the address. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "fax": {
          "description": "The fax of the address. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "mobile": {
          "description": "The mobile of the address. limited to 16 characters!",
          "type": "string"
        },
        "title": {
          "description": "The title of the address.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "additionalDetails": {
          "description": "Additional details for this address. This is a form free descriptor.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        }
      },
      "required": [
        "addressId",
        "createdAt",
        "modifiedAt"
      ]
    },
    "PersonaResponse": {
      "title": "PersonaResponse",
      "type": "object",
      "properties": {
        "personaId": {
          "description": "The identifier of the persona. Created by payengine",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "createdAt": {
          "description": "This timestamp indicates the creation of this persona.",
          "type": "number",
          "format": "date-time"
        },
        "modifiedAt": {
          "description": "This timestamp indicates the last modification of this persona.",
          "type": "number",
          "format": "date-time"
        },
        "firstName": {
          "description": "The firstname of this persona. limited to 35 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "lastName": {
          "description": "The lastname of this persona. limited to 35 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "phone": {
          "description": "The phone of the persona. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "mobile": {
          "description": "The mobile of the persona. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "fax": {
          "description": "The fax of the persona. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "birthday": {
          "description": "The birthday of the persona. Format as milliseconds.",
          "type": "number",
          "format": "date-time"
        },
        "gender": {
          "$ref": "#/definitions/GenderBaseTypeEnum"
        },
        "title": {
          "description": "The title of the persona.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        }
      },
      "required": [
        "personaId",
        "createdAt",
        "modifiedAt"
      ]
    },
    "PaymentInstrumentResponse": {
      "title": "PaymentInstrumentResponse",
      "type": "object",
      "description": "The paymentinstrument which has been used to process this order. note: If no paymentinstrument has been submitted, one has been created with your submitted data.",
      "properties": {
        "paymentInstrumentId": {
          "description": "The identifier of the paymentinstrument. Created by payengine",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "merchantPaymentInstrumentId": {
          "description": "The identifier of the paymentinstrument on your system. Created by you. limited to 100 characters.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "origin": {
          "$ref": "#/definitions/ProductsBaseTypeEnum"
        },
        "type": {
          "$ref": "#/definitions/PaymentInstrumentType"
        },
        "recurring": {
          "description": "This flag indicates if this paymentinstrument can be used for recurring payments.",
          "type": "boolean"
        },
        "createdAt": {
          "description": "Timestamp when it was created",
          "type": "integer"
        },
        "modifiedAt": {
          "description": "Timestamp when it was last updated",
          "type": "integer"
        },
        "attributes": {
          "description": "Additional attributes of this paymentinstrument. E.g. masked bank- or creditcarddata.",
          "type": "object"
        }
      },
      "required": [
        "paymentInstrumentId",
        "merchantPaymentInstrumentId",
        "origin",
        "type",
        "recurring",
        "attributes"
      ]
    },
    "InstallmentConfigResponse": {
      "title": "InstallmentConfigResponse",
      "type": "object",
      "description": "Installment Configurations",
      "properties": {
        "rateMinNormal": {
          "description": "Minimum rate of a normal installment plan",
          "type": "integer"
        },
        "monthNumberMin": {
          "description": "Minimum duration of installment plan",
          "type": "integer"
        },
        "monthNumberMax": {
          "description": "Maximum duration of installment plan",
          "type": "integer"
        }
      },
      "required": [
        "rateMinNormal",
        "monthNumberMin",
        "monthNumberMax"
      ]
    },
    "InstallmentCalculationRateResponse": {
      "title": "InstallmentCalculationRateResponse",
      "type": "object",
      "description": "Installment Calculation Rate Response",
      "properties": {
        "totalAmount": {
          "description": "Total of amount, interest-amount and service-charge",
          "type": "integer"
        },
        "amount": {
          "description": "Price that has to be financed",
          "type": "integer"
        },
        "interestAmount": {
          "description": "Total of all monthly paid interests",
          "type": "integer"
        },
        "serviceCharge": {
          "description": "Additional costs of financing",
          "type": "integer"
        },
        "interestRate": {
          "description": "Interest-rate which will be used to calculate the annual percentage rate",
          "type": "integer"
        },
        "annualPercentageRate": {
          "description": "Interest-rate based on service-charge and interest- rate",
          "type": "integer"
        },
        "monthlyDebitInterest": {
          "description": "Monthly interest rates based on annual-percentage- rate",
          "type": "integer"
        },
        "numberOfRates": {
          "description": "Number of months; duration of the installment plan",
          "type": "integer"
        },
        "rate": {
          "description": "Monthly rate to be paid by the customer",
          "type": "integer"
        },
        "lastRate": {
          "description": "Last monthly rate to be paid by the customer",
          "type": "integer"
        }
      },
      "required": [
        "totalAmount",
        "amount",
        "interestAmount",
        "serviceCharge",
        "interestRate",
        "annualPercentageRate",
        "monthlyDebitInterest",
        "numberOfRates",
        "rate",
        "lastRate"
      ]
    },
    "InstallmentCalculationTimeResponse": {
      "title": "InstallmentCalculationTimeResponse",
      "type": "object",
      "description": "Installment Calculation Time Response",
      "properties": {
        "totalAmount": {
          "description": "Total of amount, interest-amount and service-charge",
          "type": "integer"
        },
        "amount": {
          "description": "Price that has to be financed",
          "type": "integer"
        },
        "interestAmount": {
          "description": "Total of all monthly paid interests",
          "type": "integer"
        },
        "serviceCharge": {
          "description": "Additional costs of financing",
          "type": "integer"
        },
        "interestRate": {
          "description": "Interest-rate which will be used to calculate the annual percentage rate",
          "type": "integer"
        },
        "annualPercentageRate": {
          "description": "Interest-rate based on service-charge and interest- rate",
          "type": "integer"
        },
        "monthlyDebitInterest": {
          "description": "Monthly interest rates based on annual-percentage- rate",
          "type": "integer"
        },
        "numberOfRates": {
          "description": "Number of months; duration of the installment plan",
          "type": "integer"
        },
        "rate": {
          "description": "Monthly rate to be paid by the customer",
          "type": "integer"
        },
        "lastRate": {
          "description": "Last monthly rate to be paid by the customer",
          "type": "integer"
        }
      },
      "required": [
        "totalAmount",
        "amount",
        "interestAmount",
        "serviceCharge",
        "interestRate",
        "annualPercentageRate",
        "monthlyDebitInterest",
        "numberOfRates",
        "rate",
        "lastRate"
      ]
    },
    "TransactionResponse": {
      "title": "TransactionResponse",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/TransactionType"
        },
        "transactionId": {
          "description": "The identifier of the transaction. Created by payengine",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "status": {
          "$ref": "#/definitions/TransactionStatesBaseTypeEnum"
        },
        "initialAmount": {
          "description": "The initial amount given to create this transaction.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "currency": {
          "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217",
          "type": "string",
          "minLength": 3,
          "maxLength": 3
        },
        "description": {
          "description": "The description from your system/shop of this transaction.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "createdAt": {
          "description": "This timestamp indicates the creation of this transaction.",
          "type": "number",
          "format": "date-time"
        },
        "modifiedAt": {
          "description": "This timestamp indicates the last modification of this transaction.",
          "type": "number",
          "format": "date-time"
        },
        "order": {
          "description": "The identifier of the connected order.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "transactions": {
          "description": "A list of underlying transactions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parentTransaction": {
          "description": "The identifier of the parent transaction.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "capturedAmount": {
          "description": "The amount which has been captured.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "refundedAmount": {
          "description": "The amount which has been refunded.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "canceledAmount": {
          "description": "The amount which has been cancelled.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        }
      },
      "required": [
        "transactionId",
        "status",
        "initialAmount",
        "currency",
        "description",
        "createdAt",
        "modifiedAt",
        "order",
        "transactions",
        "parentTransaction",
        "capturedAmount",
        "refundedAmount",
        "canceledAmount"
      ]
    },
    "TransactionStatesBaseTypeEnum": {
      "title": "TransactionStatesBaseTypeEnum",
      "type": "string",
      "description": "The current status of the transaction.\nThe status can be one of the following.\nCREATED, PENDING, IN_PROGRESS, OK, SUCCESS, FAILURE, DECLINED, ABORTED, EXPIRED\n",
      "enum": [
        "CREATED",
        "PENDING",
        "IN_PROGRESS",
        "OK",
        "SUCCESS",
        "FAILURE",
        "DECLINED",
        "ABORTED",
        "EXPIRED"
      ]
    },
    "OrderStatesBaseTypeEnum": {
      "title": "OrderStatesBaseTypeEnum",
      "type": "string",
      "description": "The current status of the order\nIt can be one of the following\nCREATED, OPEN, CLOSED\nA order remains open until the initial amount has been refunded or cancelled.\n",
      "enum": [
        "CREATED",
        "OPEN",
        "CLOSED"
      ]
    },
    "PreauthResponse": {
      "title": "PreauthResponse",
      "type": "object",
      "properties": {
        "capturedAmount": {
          "description": "The amount which has been captured.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        },
        "canceledAmount": {
          "description": "The amount which has been cancelled.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        }
      },
      "required": [
        "capturedAmount",
        "canceledAmount"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/TransactionResponse"
        }
      ]
    },
    "DebitResponse": {
      "title": "DebitResponse",
      "type": "object",
      "properties": {
        "refundedAmount": {
          "description": "The amount which has been refunded.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        }
      },
      "required": [
        "refundedAmount"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/TransactionResponse"
        }
      ]
    },
    "CaptureResponse": {
      "title": "CaptureResponse",
      "type": "object",
      "properties": {
        "refundedAmount": {
          "description": "The amount which has been refunded.",
          "type": "number",
          "format": "int",
          "minimum": 1,
          "maximum": 99999900
        }
      },
      "required": [
        "refundedAmount"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/TransactionResponse"
        }
      ]
    },
    "TransactionRequest": {
      "title": "TransactionRequest",
      "type": "object",
      "properties": {
        "initialAmount": {
          "description": "Amount as smallest currency unit\ne.g 100€ will be result in amount = 10000\n",
          "type": "number",
          "format": "int"
        },
        "currency": {
          "description": "Currency code according to https://en.wikipedia.org/wiki/ISO_4217",
          "type": "string",
          "minLength": 3,
          "maxLength": 3
        },
        "description": {
          "description": "The description from your system/shop of this transaction.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "basket": {
          "description": "The basket of your transaction. (optional, mandatory for ratepay-invoice, ratepay-directdebit and ratepay-installment)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      },
      "required": [
        "initialAmount",
        "currency"
      ]
    },
    "CustomerRequest": {
      "title": "CustomerRequest",
      "type": "object",
      "properties": {
        "email": {
          "description": "The customers email address. unique.",
          "type": "string",
          "format": "email",
          "minLength": 1,
          "maxLength": 254
        },
        "merchantCustomerId": {
          "description": "The identifier of the customer. Created by you.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        }
      },
      "required": [
        "email"
      ]
    },
    "CustomerUpdateRequest": {
      "title": "CustomerUpdateRequest",
      "type": "object",
      "properties": {
        "merchantCustomerId": {
          "description": "The identifier of the customer. Created by you.",
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        }
      }
    },
    "PersonaRequest": {
      "title": "PersonaRequest",
      "type": "object",
      "properties": {
        "firstName": {
          "description": "The firstname of this persona. limited to 35 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "lastName": {
          "description": "The lastname of this persona. limited to 35 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "phone": {
          "description": "The phone of the persona. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "mobile": {
          "description": "The mobile of the persona. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "fax": {
          "description": "The fax of the persona. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "birthday": {
          "description": "The birthday of the persona. Format as milliseconds.",
          "type": "number",
          "format": "date-time"
        },
        "gender": {
          "$ref": "#/definitions/GenderBaseTypeEnum"
        },
        "title": {
          "description": "The title of the persona.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        }
      }
    },
    "AddressRequest": {
      "title": "AddressRequest",
      "type": "object",
      "properties": {
        "firstName": {
          "description": "The firstname of this address. limited to 35 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "lastName": {
          "description": "The lastname of this address. limited to 35 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "street": {
          "description": "The street of this address.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "houseNumber": {
          "description": "The housenumber of the street.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "city": {
          "description": "The city of the address.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "zip": {
          "description": "The zip of the address.",
          "type": "string",
          "minLength": 3,
          "maxLength": 10
        },
        "country": {
          "description": "The country of the address. Format [https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2]",
          "type": "string",
          "minLength": 2,
          "maxLength": 2
        },
        "state": {
          "description": "The state of the address.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "phone": {
          "description": "The phone of the address. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "fax": {
          "description": "The fax of the address. limited to 16 characters!",
          "type": "string",
          "minLength": 1,
          "maxLength": 16
        },
        "mobile": {
          "description": "The mobile of the address. limited to 16 characters!",
          "type": "string"
        },
        "title": {
          "description": "The title of the address.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "additionalDetails": {
[...]
