In Payment Instruments section you can see details about your Payment Instruments
<ul>
 	<li><a href="#navigation" name="">Navigation to Payment Instruments</a></li>
 	<li><a href="#create" name="">Create Payment Instrument</a></li>
 	<li><a href="#details" name="">Payment Instruments details</a></li>
 	<li><a href="#delete" name="">Delete Payent Instruments</a></li>
</ul>
<div id="navigation"></div>
&nbsp;
<h3>Navigation</h3>
Payment Instruments information can be found in "Payment Instruments" menu item. After you click on menu item you must see Payment Instruments list.

<img class="alignnone wp-image-7740 size-full" src="/img/payment_instruments/pi_list.png" alt="" width="100%"  />
<div id="create"></div>
&nbsp;
<h3>Create</h3>
To create customer, you must click on "Plus" button on top right corner:

<img class="alignnone wp-image-7741 size-full" src="/img/payment_instruments/pi_create.png" alt="" width="100%"  />

It will open new window:
<img class="alignnone size-large wp-image-5763" src="/uploads/2017/09/Create-Payment-Instrument-1024x306.png" alt="" width="100%" />
<table>
<tbody>
<tr>
<th><span class="badge">1</span></th>
<th>You can select the payment method in the first field. You can find more information about payment methods <a>here</a>.</th>
</tr>
<tr>
<th><span class="badge">2</span></th>
<th>You can add your custom ID in the "Merchant Payment Instrument Id" field.</th>
</tr>
<tr>
<th><span class="badge">3</span></th>
<th>Add the credit card information here.</th>
</tr>
</tbody>
</table>
<div id="details">
<h3>Details</h3>
You can see detailed Payment Instrument information if you click on "Actions" button for selected Payment Instrument:
<div></div>
<div><img class="alignnone wp-image-7742 size-full" src="/img/payment_instruments/pi_details.png" alt="" width="100%"  /></div>
It open new page with detailed Payment Instruments information:

<img class="alignnone wp-image-7743 size-full" src="/img/payment_instruments/pi_details_all.png" alt="" width="100%" />
<div id="delete">
<h3>Delete</h3>
If you want to delete Payment Instrument you must select "Delete Payment Instrument" button on the top right corner:

</div>
</div>
<img class="alignnone wp-image-7745 size-full" src="/img/payment_instruments/pi_details_delete.png" alt="" width="100%" />
<div id="details">
<div id="delete">

You will see modal window with for confirmation of deleting:

<img class="alignnone wp-image-7746 size-full" src="/img/payment_instruments/pi_delete_modal.png" alt="" width="100%" />

After you confirm, the Payment Instrument will be deleted from the Payment Instruments list.

<img class="alignnone wp-image-7747 size-full" src="/img/payment_instruments/pi_deleted.png" alt="" width="100%"  />

</div>
</div>
