<img class="img-responsive" src="/uploads/2017/09/Create-Payment-Instrument.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>You can select the payment method in the first field. You can find more information about payment methods <a href="">here</a>.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>You can add your custom ID in the "Merchant Payment Instrument Id" field.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 3 </span></td>
    <td>Add the credit card information here.</td>
</tr>
</tbody>
</table>