<img class="img-responsive" src="/uploads/2017/09/Create-Transaction-1.png" />
To create a transaction, select a payment method in the first step. You can get more Information about the status of your available payment methods <a href="">here</a>.
<img class="img-responsive" src="/uploads/2017/09/Create-Transaction-2.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>You can change the payment method before saving the transaction in the first field.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>A custom MerchantOrder ID, a description aswell as a statement description can be added here, these fields are not mandatory.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>The currency and the amount</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>Information about the credit card and the card holder can be added here.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>Selecting "Add Basket" or "Add customer information" will open additional fields to add basket items or a customer. Information how to view or edit your costumers can be found <a href="">here</a>. </td>
</tr>
</tbody>
</table>