<div>
  <br/>
  <br/>
  <p>1. We have introduced a drop-down menu for all checkbox fields in the <strong>Filters</strong> section. You can see the examples below:</p>
  <br/>
  <p>
      - When you expand the Last Status drop-down menu, all order transaction status checkbox options will be displayed, for example, <strong>Authorized, Authorization pending, Authorization failed,</strong> etc. 
  </p>
  <br/>
  <p>Fig. <em>Last Status</em> drop-down menu checkbox options.</p>
  <br/>
  <img src="/img/merchant/img-1.png" width="70%">
  <br/>
  <p>
    - When you expand the Channel drop-down menu, all order channel type checkbox options will be displayed. (<strong>ECOM, MOTO, POS</strong>). 
  </p>
  <br/>
  <p>Fig. <em>Channel</em> drop-down menu checkbox options.</p>
  <br/>
  <img src="/img/merchant/img-2.png" width="70%">
  <br/>
  <p>- When you expand the Product drop-down menu, all payment method checkbox options will be displayed, for example, <strong>Credit card, Paydirekt, Paypal</strong>, etc. </p>
  <br/>
  <p>Fig. <em>Products</em> drop-down menu checkbox options.</p>
  <br/>
  <img src="/img/merchant/img-3.png" width="70%">
  <br/>
</div>
<div>
  <br/>
  <br/>
  <p>
    2. The new version of the order list criteria in the <strong>ORDERS</strong> tab introduces a new parameter called <em>Last Status</em>. It replaces the <em>Status</em> parameter from the previous version. The new <em>Last Status</em> is generated based on the order transaction result. It displays the last transaction status of the order.
  </p>
  <br/>
  <p>Тhe following transaction statuses are supported:</p>
  <br/>
  <ul>
    <li>Authorized</li>
    <li>Authorization pending</li>
    <li>Authorization failed</li>
    <li>Canceled</li>
    <li>Cancel pending</li>
    <li>Cancel failed</li>
    <li>Debit initiated</li>
    <li>Debited</li>
    <li>Debit pending</li>
    <li>Debit failed</li>
    <li>Captured initiated</li>
    <li>Captured</li>
    <li>Capture pending</li>
    <li>Capture failed</li>
    <li>Refund initiated</li>
    <li>Refunded</li>
    <li>Refund pending</li>
    <li>Refund failed</li>
    <li>Credit initiated</li>
    <li>Credited</li>
    <li>Credit pending</li>
    <li>Credit failed</li>
    <li>Chargeback booked</li>
    <li>Chargeback reversed</li>
  </ul>
  <br/>
  <p>The label is displayed in a green, yellow, red or a grey color. </p>
  <br/>
  <p>
    <span style="background-color:#00875a; padding: 0 5px; color: white;">GREEN</span> 
    indicates that the transaction was processed successfully and the funding has been triggered, for example, debit, capture or credit.
  </p>
  <p>
    <span style="background-color:#ffab00; padding: 0 5px; color: white;">YELLOW</span> 
    indicates that there is a pending transaction for the order or there is no transaction available at all. 
  </p>
  <p>
    <span style="background-color:#de350b; padding: 0 5px; color: white;">RED</span> 
    indicates that the transaction has failed internally or it has been rejected by the processor. 
  </p>
  <p>
    <span style="background-color:#dfe1e6; padding: 0 5px; color: white;">GREY</span> 
    indicates that the transaction was processed successfully but the funding has not been triggered yet, for example, authorization, or a previous successful funding has been reverted (CANCEL, REFUND or CHARGEBACK).
  </p>
  <br/>
  <p><strong>NOTE</strong> You can filter orders based on the <em>Last Status</em> criteria.</p>
</div>
<br/>
<div>
  <br/>
  <br/>
  <p>3. We have introduced a new <em>Refunded Amount</em> parameter in the order list criteria. It shows the amount refunded to a customer.</p>
  <br/>
  <p><strong>NOTE</strong> You can sort all orders by refunded amount in ascending or descending order, using the up and down arrows <img src="/img/merchant/arrows.png"></p>
</div>
<br/>
<div>
  <br/>
  <br/>
  <p>The new <em>Channel</em> parameter displays the order channel type.</p>
  <br/>
  <p>Channel types: </p>
  <br/>
  <ol>
    <li>MOTO (Mail Order/Telephone Order) channel type: a payment transaction where the customer makes an order via a merchant's representative.
      <br/>
      <strong>NOTE</strong> RatePAY via the MOTO channel type is also possible.
    </li>
    <li>
      ECOM (E-commerce) channel type: the retail part of e-commerce on the internet (Business-to-consumer (B2C)). It is when businesses sell products, services or information directly to consumers at e-commerce sites.
    </li>
    <li>
      POS (Point Of Sale) channel type: It enables you to pay directly from your card at a retail location. 
    </li>
  </ol>
  <br/>
  <p>Fig. <em>Last Status, Refunded Amount</em> and <em>Channel</em> paramenters in the Orders list</p>
  <br/>
  <img src="/img/orders/sepa/create-order-1.png" width="70%">
</div>
<br/>
<div>
  <br/>
  <br/>
  <p>5. We have introduced a new <em>Transaction Amount</em> filter in the <strong>Orders</strong> tab. </p>
  <br/>
  <p>You can provide a specific positive integer in the <em>Transaction Amount</em> field and a list of all the orders with a transaction amount, regardless of the transaction type, will be displayed.</p>
  <br/>
  <p>Fig. <em>Transaction Amount</em> filter result</p>
  <br/>
  <img src="/img/orders/sepa/create-order-2.png" width="70%">
</div>
<br/>
<div>
  <br/>
  <br/>
  <p>
    6. We have changed the <em>Status</em> field result in the <strong>Transactions</strong> section of the <strong>Order Details.</strong> It is a combined status, based on order transaction type and transaction status, for example, <strong>Debited, Refunded</strong>, etc.
  </p>
  <br/>
  <p>Fig. <em>Status</em> field in the <strong>Transactions</strong> section of the <strong>Order Details.</strong></p>
  <br/>
  <img src="/img/orders/sepa/create-order-3.png" >
</div>
<br/>
<div>
  <br/>
  <br/>
  <p>
    7. The <em>Channel</em> type is now in the <em>SUMMARY</em> section of the <strong>Order Details.</strong>.
  </p>
  <br/>
  <p>Fig. <em>Channel</em> type in the <em>SUMMARY</em> section of the <strong>Order Details.</strong>.</p>
  <br/>
  <img src="/img/orders/sepa/create-order-4.png" >
</div>
