<img class="img-responsive" src="/uploads/2017/09/create-customer.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>Add the customers E-Mail here, this field is mandatory.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>You can add a custom customer ID here.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 3 </span></td>
    <td>One or more addresses can be added here to the customers account.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 4 </span></td>
    <td>You can add one or more personas to the customers account with this button.</td>
</tr>
</tbody>
</table>