<p>The Merchant Center provide payments in different currencies. Available currencies for different payment methods depends of enabled currencies for current merchant.
  <a target="_blank" href="https://en.wikipedia.org/wiki/ISO_4217">Learn more about currency codes...</a>
</p>
</br>
<b>Important!</b>
<p>
  Most of the currencies has decimal fraction of the main unit, but there are some exceptions (See in the table below:).
  That means that validation will expect 0 or 3 units after decimal point.
</p>
</br>
<p>
  Non-decimal fraction currencies:
</p>
<table style="border:1px solid black;">
  <thead>
    <tr>
      <th>Code</th>
      <th>Country</th>
      <th>Currency</th>
      <th>Fractions</th>
    </tr>
  </thead>
  <tbody style="border:1px solid black;">
    <tr>
      <td>BHD</td>
      <td>BAHRAIN</td>
      <td>Bahrain-Dinar</td>
      <td>3</td>
    </tr>
    <tr>
      <td>BIF</td>
      <td>BURUNDI</td>
      <td>Burundi-Franc</td>
      <td>0</td>
    </tr>
    <tr>
      <td>BYR</td>
      <td>WEIßRUSSLAND</td>
      <td>Weißrussischer Rubel</td>
      <td>0</td>
    </tr>
    <tr>
      <td>DJF</td>
      <td>DSCHIBUTI</td>
      <td>Dschibuti-Franc</td>
      <td>0</td>
    </tr>
    <tr>
      <td>GNF</td>
      <td>GUINEA</td>
      <td>Guinea-Franc</td>
      <td>0</td>
    </tr>
    <tr>
      <td>IDX</td>
      <td>VEREINIGTEN STAATEN VON AMERIKA (DIE)</td>
      <td>US-Dollar (Nächster Tag)</td>
      <td>0
      </td>
    </tr>
    <tr>
      <td>IQD</td>
      <td>IRAK</td>
      <td>Irakischer Dinar </td>
      <td>3</td>
    </tr>
    <tr>
      <td>JOD </td>
      <td> JORDANIEN </td>
      <td>Jordanischer Dinar </td>
      <td>3</td>
    </tr>
    <tr>
      <td>JPY </td>
      <td> JAPAN</td>
      <td> Yen </td>
      <td>0</td>
    </tr>
    <tr>
      <td>KMF </td>
      <td> KOMOREN (DIE) </td>
      <td>Komoren-Franc</td>
      <td> 0</td>
    </tr>
    <tr>
      <td>KRW </td>
      <td>KOREA (REPUBLIK) </td>
      <td>Won </td>
      <td>0</td>
    </tr>
    <tr>
      <td>KWD </td>
      <td> KUWAIT</td>
      <td> Kuwait-Dinar</td>
      <td> 3</td>
    </tr>
    <tr>
      <td>LYD </td>
      <td> LIBYEN</td>
      <td> Libyscher Dinar</td>
      <td> 3</td>
    </tr>
    <tr>
      <td>OMR </td>
      <td> OMAN</td>
      <td> Rial-Oman</td>
      <td> 3</td>
    </tr>
    <tr>
      <td> PYG </td>
      <td> PARAGUAY</td>
      <td> Guarani </td>
      <td>0</td>
    </tr>
    <tr>
      <td>TND </td>
      <td> TUNESIEN </td>
      <td>Tunesischer Dinar </td>
      <td>3</td>
    </tr>
    <tr>
      <td>VND </td>
      <td> VIETNAM</td>
      <td> Dong </td>
      <td>0</td>
    </tr>
    <tr>
      <td>XAF </td>
      <td>KAMERUN, ZENTRALAFRIKANISCHE REPUBLIK, TSCHAD, KONGO, ÄQUATORIAL GUINEA, GABUN </td>
      <td>CFA-Franc BEAC</td>
      <td> 0</td>
    </tr>
    <tr>
      <td>XOF </td>
      <td> BENIN, BURKINA FASO; ELFENBEINKÜSTE, GUINEA-BISSAU, MALI, NIGER, SENEGAL, TOGO </td>
      <td>CFA-Franc BCEAO </td>
      <td>0</td>
    </tr>
    <tr>
      <td>XPF </td>
      <td> FRANZÖSISCH-POLYNESIEN, NEU-KALEDONIEN, WALLIS UND FUTUNA </td>
      <td>CFP-Franc </td>
      <td>0</td>
    </tr>
  </tbody>
</table>
