<img class="img-responsive" src="/uploads/2017/09/Customers.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>General information about your customers ID, E-Mail, your custom customer IDs, creation and modification date can be found here.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>You can restrict the viewed group of customers by using this filters, if you are looking for a specific customer or a customer group.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 3 </span></td>
    <td>To view detailed customer information or edit a customer, use this button.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 4 </span></td>
    <td>The viewd customers can be exported either in CSV or PDF format here.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 5 </span></td>
    <td>You can add a new customer with this button.</td>
</tr>
</tbody>
</table>