<img class="img-responsive" src="/img/screenDashboard.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>Change the dashboard layout here. Possible options: one, two or three columns.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>You can change the viewed time period here. Currently available: Todays data, data from last week / month or year.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 3 </span></td>
    <td>If you'd like to view a specific time period you can select a start and end date here.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 4 </span></td>
    <td>To export a chart use the right top button. Formats: PNG / JPG / PDF / SVG</td>
</tr>
</tbody>
</table>