In Order Details you can see form with Transactions

<img class="alignnone wp-image-6687 size-full" src="/img/merchant//transaction_details.png" alt="" width="100%"  />

In left pane you can see list of transactions

<img src="/img/merchant//transaction_details-list.png" alt="" width="100%"  class="alignnone size-full wp-image-6692" />

In right pane you can see details of the selected in left pane transaction

<img src="/img/merchant//transaction_details-details.png" alt="" width="100%"  class="alignnone size-full wp-image-6693" />

At the end of the transaction details you can see messages provided by external systems (e.g. Paypal)

<img src="/img/merchant//transaction_details-messages.png" alt="" width="100%"  class="alignnone size-full wp-image-6694" />

For a full list of Error codes please see "Messages provided by External Systems ( GICC )"