In Payment Methods section you can all available payment methods.
<ul>
 	<li><a href="#general" name="">General Info</a></li>
 	<li><a href="#settings" name="">3ds settings</a></li>
 	<li><a href="#flows" name="">3ds flows</a></li>
 	<li><a href="#rules" name="">Flexible Rules</a></li>
  <ul>
   	<li><a href="#how_to_define" name="">How to define</a></li>
   	<li><a href="#rules_criteria" name="">Rules criteria</a></li>
   	<li><a href="#examples" name="">Examples</a></li>
  </ul>
 	<li><a href="#tracking_rules" name="">Tracking Rules Application</a></li>
  <ul>
 	  <li><a href="#values" name="">Flexible 3DS possible values</a></li>
  </ul>
</ul>
<div id="general">
  &nbsp;
  <h3>General Info</h3>
  <p><strong>Flexible 3d secure (3ds)</strong> is a feature that allows the merchant to define rules when to use credit card 3ds authentication. Using this feature the merchant can define smart rules to reduce friction for some transactions and at the same time provide the necessary security layer for riskier ones.
  </p>
  <p>Creating flexible 3ds rules is available for all credit card brands offered by the Payengine.</p>
</div>
<div id="settings">
  &nbsp;
  <h3>3ds settings</h3>
  <p>3ds is enabled by default for credit cards by the Payengine's account managers or admins. It is separately set for every card, and every card's entry mode. You can check the current values of the option in Merchant Center → Payment methods → Credit Card Options view.</p>
  <img class="" src="/img/3ds/CC_MPI.png" alt="" width="100%"/>
  <p>
    <strong>
      Important:
      <ul>
       	<li>
          The flexible 3ds rules will only apply when a transaction reaches the 3ds flow according to the active settings.
        </li>
        <li>
          If no flexible 3ds rules are defined the 3ds processing will be done according to the main settings defined.
        </li>
      <ul>
    </strong>
  <p>
</div>
<div id="flows">
  &nbsp;
  <h3>3ds flows</h3>
  <ul>
    <li>
      <strong>Always</strong> - Always authenticate with 3ds - requires patch of verification (cvc)
    </li>
    <li>
      <strong>For initial transactions</strong> - Require 3ds authentication only for initial transactions depends of flexible rules.
    </li>
    <li>
      <strong>Never</strong>  - Do not require 3ds authentication
    </li>
  </ul>
</div>
<div id="rules">
  &nbsp;
  <h3>Flexible Rules</h3>
  <p>Flexible 3ds rules can be defined based on transaction parameters in order to trigger or skip the 3ds authentication.</p>
  &nbsp;
  <div id="how_to_define">
    <h4>How to define</h4>
    <p>The flexible 3ds rules can be defined from the Merchant Center's <i>"Risk Settings"</i> section under <i>"Flexible 3ds"</i>.</p>
    &nbsp;
    <img class="" src="/img/3ds/rules_nav.png" alt="" width="100%"/>
  </div>
  &nbsp;
  <div id="rules_criteria">
    <h4>Rules criteria</h4>
    <p>Тhere are several criteria, the combination of which creates a 3ds rule.</p>
    <ul>
      <li>
        when to require rule (ALWAYS or NEVER)
      </li>
      <li>
        card Issuer Country
      </li>
      <li>
        amount comparison (GREATER or LESS )
      </li>
      <li>
        transaction amount (in smallest currency unit, e.g. cents)
      </li>
      <li>
        currency of the transaction
      </li>
    </ul>
    <img class="" src="/img/3ds/edit_rule_1.png" alt="" width="100%"/>
    <img class="" src="/img/3ds/edit_rule_2.png" alt="" width="100%"/>
    &nbsp;
    <p><b>Important: Filled amount must be in smallest currency unit (e.g. cents, NOT in EUR)!!!</b></p>
  </div>
  &nbsp;
  <div id="examples">
    <h4>Examples</h4>

    &nbsp;
    <b>Example 1</b>

    &nbsp;
    <p>If the merchant intends to reduce friction for some of his customers with cards issued in Germany who are doing orders with low amounts, a rule can be defined as follows:</p>
    <img class="" src="/img/3ds/Example1.png" alt="" width="100%"/>
    <p>This rule means that if there is an order with a card which issuing country is <b>German (DE)</b> and the order amount is <b>less</b> than <b>2 EUR (200 cents)</b>, then the 3ds process will be <b>never</b> required.</p>

    &nbsp;
    <b>Example 2</b>

    &nbsp;
    <p>A more complex example may define some inclusion and exclusion techniques as follows:</p>
    &nbsp;
    <img class="" src="/img/3ds/Example2.png" alt="" width="100%"/>
    <p>These three rules will be executed consecutively. When a rule applies then it's result (ALWAYS, NEVER) will be taken into account for the processing of the order and corresponding 3ds authentication.</p>
    <p>This way with the above-mentioned example a transaction with a <b>German (DE)</b> card for <b>more</b> than <b>2 EUR (200 cents)</b> will <b>always</b> require a 3ds, while orders from a <b>USA (US)</b> card for less than <b>10 EUR(1000 cents)</b> or transactions from a card of <b>any</b> other issuing country for <b>less</b> than <b>4 EUR (400 cents)</b> will <b>never</b> require 3ds.</p>
  </div>
</div>
<div id="tracking_rules">
  &nbsp;
  <h3>Tracking Rules Application</h3>
  &nbsp;
  <p>All credit card orders contain a property flexibleThreeDS under their meta object. This property indicates whether a rule was hit or not and what is the result. It is available via both API and Merchant Center</p>
  &nbsp;
  <h4>Flexible 3DS possible values</h4>
  <p>The following three value options can be returned in the Flexible 3DS property.</p>

  <ul>
    <li>
      3DS offered without applying any Flexible 3DS Risk Rules
    </li>
    <li>
      3DS offered based on riskcard #: [riskcard identifier]
      <ul>
        <li>
          e.g. "3DS offered based on riskcard #: RiskCard-f4c8feb0-b028-4c8f-9ad9-d764e28cdde3"
        </li>
      </ul>
    </li>
    <li>
      3DS not offered based on riskcard #: [riskcard identifier]
    </li>
  </ul>

  <b>Code Example:</b>
  <code>
  {
    "createdAt": 1545049075692,
    "modifiedAt": 1545049075826,
    "merchantId": "Merchant-11111111-1111-1111-1111-111111111111",
    "terms": 1468590412476,
    "privacy": 1468590412476,
    "orderId": "lvqancy9fh",
    "merchantOrderId": null,
    "paymentProviderTransactionId": null,
    "description": "flex 3ds transaction",
    "statementDescription": null,
    "initialAmount": 100,
    "preauthorizedAmount": 0,
    "capturedAmount": 0,
    "refundedAmount": 0,
    "canceledAmount": 0,
    "currency": "EUR",
    "basket": [
        {
            "id": "Article-36f5190b-e6a9-46fc-b429-26ddd56587e2",
            "name": "USB-Stick",
            "articleNumber": "SW10029",
            "totalPrice": 100,
            "totalPriceWithTax": 100,
            "unitPrice": 100,
            "unitPriceWithTax": 100,
            "quantity": 1,
            "tax": 0,
            "discount": null,
            "imageUrl": null,
            "articleUrl": null,
            "articleType": null
        }
    ],
    "customer": null,
    "persona": null,
    "billingAddress": null,
    "shippingAddress": null,
    "ipAddress": "192.168.0.1",
    "paymentInstrument": {
        "createdAt": 1545049075707,
        "modifiedAt": 1545049075707,
        "paymentInstrumentId": "paymentinstrument_vrkohr6i3y",
        "merchantPaymentInstrumentId": null,
        "attributes": {
            "cardHolder": "Max Mustermann",
            "expiryMonth": "12",
            "expiryYear": "18",
            "brand": "VISA",
            "issuerCountry": "US",
            "cardNumber": "************0002"
        },
        "encrypted": true,
        "origin": "creditcard",
        "type": "creditcard",
        "recurring": false
    },
    "transactions": [
        {
            "createdAt": 1545049075711,
            "modifiedAt": 1545049075734,
            "type": "PREAUTH",
            "transactionId": "transaction_uzdrlushnz",
            "description": "flex 3ds transaction",
            "initialAmount": 100,
            "capturedAmount": 0,
            "canceledAmount": 0,
            "currency": "EUR",
            "status": "PENDING",
            "order": "lvqancy9fh",
            "parentTransaction": null,
            "transactions": null,
            "basket": [
                {
                    "id": "Article-36f5190b-e6a9-46fc-b429-26ddd56587e2",
                    "name": "USB-Stick",
                    "articleNumber": "SW10029",
                    "totalPrice": 100,
                    "totalPriceWithTax": 100,
                    "unitPrice": 100,
                    "unitPriceWithTax": 100,
                    "quantity": 1,
                    "tax": 0,
                    "discount": null,
                    "imageUrl": null,
                    "articleUrl": null,
                    "articleType": null
                }
            ],
            "providerCode": null,
            "merchantMessage": null,
            "customerMessage": null,
            "descriptor": null,
            "meta": null,
            "challenge": null,
            "asyncNotificationSubscriptionId": null
        }
    ],
    "status": "OPEN",
    "channel": "ECOM",
    "source": "TEST",
    "settled": false,
    "settlementDate": null,
    "allowedProducts": null,
    "product": "creditcard",
    "transactionType": "PREAUTH",
    "meta": {
        "threeDs": 2,
        "flexibleThreeDS": "ThreeDSecure offered without applying any Flexible ThreeDS Risk Rules"
    },
    "async": {
        "success": "https://merchanttest.payengine.de/",
        "failure": "https://merchanttest.payengine.de/",
        "cancel": "https://merchanttest.payengine.de/"
    },
    "deviceIdent": null,
    "asyncNotificationSubscriptionId": null,
    "redirectUrl": "https://apitest.payengine.de/async/creditcard/1.0/redirect/ff428729c9b83585a4ad"
  }
  </code>
</div>
