<img class="img-responsive" src="/uploads/2017/09/Invite-User.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>You can add the new users E-Mail address here. The user will receive an e-mail with further information.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>The users role can be set here: </td>
</tr>
<tr>
    <td></td>
    <td>Only Customer(r): this role can only view your customers. </td>
</tr>
<tr>
    <td></td>
    <td>Only Customer(r/w): this role can also edit and add new customers.</td>
</tr>
<tr>
    <td></td>
    <td>Full access: this role has full access.</td>
</tr>
</tbody>
</table>