 <img class="img-responsive" src="/uploads/2017/09/Login.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>You can change the display language to your preferred language at any time in the top right corner.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>Enter here your E-mail.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 3 </span></td>
    <td>Enter here your password set during the registration process.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 4 </span></td>
    <td>Use this button to login.</td>
</tr>
</tbody>
</table>