<ul>
    <li><a href="#navigation">Navigation</a></li>
    <li><a href="#rule_types">Rule types</a></li>
    <ul>
    <li><a href="/merchantcenter/rulecomparison">Ruletype I: Comparison (simple)</a></li>
<li><a href="/merchantcenter/rulevelocityrisk">Ruletype II: Limits (velocity)</a></li>
</ul>
        <li><a href="#important">Important: Don't forget to save</a></li>
</ul>
<div id="navigation"></div>
</br>
</br>

<h3>Navigation</h3>

Risk card can be found in "Risk settings" menu item, "Risk card" Tab.<br>
<br>
<img class="aligncenter wp-image-7235 size-full" src="/uploads/2018/02/Risk_cards_nav.png" alt="" width="100%" gege="1096" />

Risk card allows every merchant to define up to 20 risk rules. You can see how many you have already saved in the upper left corner.
<img class="aligncenter wp-image-7243 size-full" src="/uploads/2018/02/20_rules.png" alt="" width="100%" ggg="682" />

<div id="rule_types"></div>
</br>
</br>
<h3>Rule types</h3>
There are two different rule types a merchant can use to build his own rules: Simple and Velocity Rules.
<ul>
<li><a href="/merchantcenter/rulecomparison">Ruletype I: Comparison (simple)</a></li>
<li><a href="/merchantcenter/rulevelocityrisk">Ruletype II: Limits (velocity)</a></li>
</ul>
<div id="important"></div>
</br>
</br>
<h3><strong>Important: Don't forget to save</strong></h3>
After you finish entering/deleting the items, you must click the "Save" button at the bottom of the page. Otherwise, your changes will not be saved, even if you see notification that the rule was saved.
<img class="aligncenter wp-image-7239 size-full" src="/uploads/2018/02/riskcard_save.png" alt="" width="100%" ggg="1154" />