<ul>
    <li><a href="#description">Description</a></li>
    <li><a href="#navigation">Navigation</a></li>
    <li><a href="#blacklists_add_rule">How to add new rule to blacklists</a></li>
    <li><a href="#blacklists_remove_rule">How to remove rule from blacklists</a></li>
    <li><a href="#important">Important: Don't forget to save</a></li>
</ul>
<div id="description"></div>
</br>
</br>
<h4>Description</h4>
Blacklists allow merchant to define lists that will block specific transactions by:
<ul>
    <li>BIN</li>
    <li>IP</li>
    <li>CustomerId</li>
    <li>IBAN</li>
    <li>Email</li>
    <li>ClientName</li>
    <li>PaymentInstrumentId</li>
    <li>AddressId</li>
</ul>
<div id="navigation"></div>
</br>
</br>
<h4>Navigation</h4>
Blacklist can be found in "Risk settings" menu item, "Blacklists" Tab.</br>
</br>
<img class="aligncenter wp-image-6465 " src="/uploads/2018/02/blacklist_nav.png" alt="" width="100%" geg="1500" />

<div id="blacklists_add_rule"></div>
</br>
</br>
<h3>How to add new rule to blacklists:</h3>
(Example: Add email)
<ul>
    <li>Fill the input field</li>
</ul>
<img class="alignnone wp-image-7212 " src="/uploads/2018/02/blacklist_new.png" alt="" width="50%" gg="358" />
<ul>
    <li>Clicl on "Add" button</li>
</ul>
<img class="alignnone wp-image-7216 " src="/uploads/2018/02/blacklist_add.png" alt="" width="50%" ghgh350" />
<ul>
    <li>New email will appear on email blacklist</li>
</ul>
<img class="alignnone wp-image-7222 " src="/uploads/2018/02/blacklist_email_added.png" alt="" width="50%" ghgh380" />

<div id="blacklists_remove_rule"></div>
</br>
</br>
<h3>How to remove rule from blacklists:</h3>
(Example: Remove email)
<ul>
    <li>Select delete icon for selected item</li>
</ul>
<img class="alignnone wp-image-7224 " src="/uploads/2018/02/blacklist_delete_email.png" alt="" width="50%" ghgh462" />
<ul>
    <li>Selected email will disappear from email blacklist</li>
</ul>
<img class="alignnone wp-image-7226 " src="/uploads/2018/02/blacklist_email_deleted.png" alt="" width="50%" ghgh410" />

<div id="important"></div>
</br>
</br>
<h3><strong>Important: Don't forget to save</strong></h3><br>
After you finish entering/deleting the items, you must click the "Save" button at the bottom of the page. Otherwise, your changes will not be saved.<br>
<img class="aligncenter wp-image-7228 " src="/uploads/2018/02/blacklist_save.png" alt="" width="100%" ghgh1390" />