 <p>A notifications tool allows to merchant to receive notifications about multiple events in the system. Notifications can be sent to e-mail or specific url.</p>

<ul>
  <li><a href="#navigation" name="">Navigation to Notifications</a></li>
  <li><a href="#notification_create" name="">Create new Notification</a></li>
  <li><a href="#notification_view" name="">View Notification</a></li>
  <li><a href="#notification_edit" name="">Edit Notification</a></li>
  <li><a href="#notification_delete" name="">Delete Notification</a></li>
  <li><a href="#notification_filters" name="">Notification Filters</a></li>
  <li><a href="#notification_types" name="">Notification Types</a></li>
  <li><a href="#notification_events" name="">Notification Events</a></li>
</ul>

<div id="navigation"></div>
</br>
</br>
<h3>Navigation</h3>
<p>Notifications can be found in "Notifications" menu item.</p>

<img class="alignnone wp-image-7548 " src="/uploads/2018/03/notifications_navigation.png" alt="" width="100%" />

<div id="notification_create"></div>
</br>
</br>
<h3>Create new notification</h3>
<ul>

  <li>Click on „Plus“ icon on top right corner</li>
  <img class="alignnone wp-image-7553 " src="/uploads/2018/03/notifications_create-1.png" alt="" width="100%"  />
  &nbsp;

  <li>New window will open to create a notification</li>
  <img class="alignnone wp-image-7555 " src="/uploads/2018/03/notifications_new.png" alt="" width="100%" />
  &nbsp;

  <li>Select notification type. (In this Example we will use Email notification)</li>
  <img class="alignnone wp-image-7557 " src="/uploads/2018/03/notification-type-select.png" alt="" width="100%"  />
  &nbsp;

  <strong>Note: </strong>There are two different notification types you can use( <a href="#notification_types" name="">See more...</a> ):
  <ul>
    <li>webhooks (URL) - deliver event information directly to your system by calling a script hosted on your server</li>
    <li>Email - event information is sent to the specified email address</li>
  </ul>
  &nbsp;

  <li>A new email field will appear</li>
  <img class="alignnone wp-image-7558 " src="/uploads/2018/03/notification_type_email.png" alt="" width="100%"  />
  &nbsp;

  <li>Fill in the notification information</li>
  <img class="alignnone wp-image-7563 " src="/uploads/2018/03/notifications_description-1.png" alt="" width="100%" />
  &nbsp;

  <strong>Note: </strong>
  <ul>
    <li>E-mail (respectively URL field, when URL notification type is selected) is <strong>required</strong></li>
    <li>Name and description are optional.</li>
  </ul>
  &nbsp;

  <li>Select the events for which you want to receive notifications ( <a href="#notification_events" name="">See more about Notification events...</a> )</li>
  <img class="alignnone wp-image-7566 " src="/uploads/2018/03/notifications_select.png" alt="" width="100%"  />
  &nbsp;

  <p>You can select one or more events when you create a
  new notification. If you want to select all avaliable events, you can use the "Select All" option.</p>
  <img class="alignnone wp-image-7569 " src="/uploads/2018/03/notifications_select_all-1.png" alt="" width="100%" />
  &nbsp;

  <li>Activate Notification</li>
  <strong>Important: </strong>
  <p>By default, the "Activate notification" box is selected when you create a new notification. So, if you do not want to activate it, you must uncheck it explicitly!</p>
  <img class="alignnone wp-image-7570 " src="/uploads/2018/03/notification_activate.png" alt="" width="100%"  />
  &nbsp;

  <li>Save new Notification by selecting "Save" button on the bottom of the page</li>
  <img class="alignnone wp-image-7571 " src="/uploads/2018/03/notification_save.png" alt="" width="100%"  />
  &nbsp;

  <li>You can now see the created new notification in the notification list.</li>
  <img class="alignnone wp-image-7572 " src="/uploads/2018/03/notifications_list.png" alt="" width="100%"  />
</ul>

<div id="notification_view"></div>
</br>
</br>
<h3>View notification details</h3>
<ul>
  <li>Select dots in "Actions" column for notification that you want to view</li>
  <img class="alignnone wp-image-7575 " src="/uploads/2018/03/notifications_edit.png" alt="" width="100%" />

  <li>It will open new window with selected notification details</li>
  <img class="alignnone wp-image-7581 " src="/uploads/2018/03/notification_view.png" alt="" width="100%"  />
</ul>

<div id="notification_edit"></div>
</br>
</br>
<h3>Edit notification</h3>

<ul>
  <li>Select dots in "Actions" column for notification that you want to edit</li>
  <img class="alignnone wp-image-7575 " src="/uploads/2018/03/notifications_edit.png" alt="" width="100%"  />

  <li>It will open new window with selected notification details</li>
  <img class="alignnone wp-image-7581 " src="/uploads/2018/03/notification_view.png" alt="" width="100%" " />
  &nbsp;

  <li>Select "Edit" button in top left corner</li>
  <img class="alignnone wp-image-7584 " src="/uploads/2018/03/notification_view-edit.png" alt="" width="100%" />
  &nbsp;

  <li>It will open new window with selected notification for edit</li>
  <img class="alignnone wp-image-7585 " src="/uploads/2018/03/notification_edit.png" alt="" width="100%"  />
  &nbsp;

  <div id="notification_change"></div>
  <p> You can edit all notification fields:</p>
  <ul>
    <li><a href="#change_type" name="">Change notification type</a></li>
    <li><a href="#change_desc" name="">Change notification info(E-mail/URL, Name, Description)</a></li>
    <li><a href="#change_events" name="">Change selected Events</a></li>
    <li><a href="#change_activation" name="">Activate/Deactivate Notification</a></li>
    <li><a href="#change_save" name="">Don't forget to save</a></li>
  </ul>

  <div id="change_type"></div>
  </br>
  </br>
  <li>Change notification type</li>
  <img class="alignnone wp-image-7586 " src="/uploads/2018/03/notifications_change_type.png" alt="" width="100%" />

  <strong>Note: </strong>There are two different notification types you can use( <a href="#notification_types" name="">See more...</a> ):
  <ul>
    <li>webhooks (URL) - deliver event information directly to your system by calling a script hosted on your server</li>
    <li>Email - event information is sent to the specified email address</li>
  </ul>
  &nbsp;

  <p><strong>Important: </strong> Be careful when changing the notification type! You also need to change the next field where the email / URI is filled in!</p>
  <img class="alignnone wp-image-7588 " src="/uploads/2018/03/notification_change_url_error.png" alt="" width="100%"/>

  <div id="change_desc"></div>
  </br>
  </br>
  <li>Change notification information</li>
  <img class="alignnone wp-image-7563 " src="/uploads/2018/03/notifications_description-1.png" alt="" width="100%"  />

  <strong>Note: </strong>
  <ul>
    <li>E-mail (respectively URL field, when URL notification type is selected) is <strong>required</strong></li>
    <li>Name and description are optional.</li>
  </ul>

  <div id="change_events"></div>
  </br>
  </br>
  <li>Change selected notification events for which you want to receive notifications ( <a href="#notification_events" name="">See more about Notification events...</a> )</li>
  <img class="alignnone wp-image-7566 " src="/uploads/2018/03/notifications_select.png" alt="" width="100%"  />
  &nbsp;

  <li>You can select one or more events when you create a new notification. If you want to select all available events, you can use the "Select All" option.</li>
  <img class="alignnone wp-image-7569 " src="/uploads/2018/03/notifications_select_all-1.png" alt="" width="100%"  />
  &nbsp;

  <div id="change_activation"></div>
  </br>
  </br>
  <li>You can Activate/Deactivate Notification by checking the box at the bottom of the page.</li>
  <img class="alignnone wp-image-7570 " src="/uploads/2018/03/notification_activate.png" alt="" width="100%"  />
  &nbsp;

  <div id="change_save"></div>
  </br>
  </br>
  <li>Don't forget to save: Save edited Notification by selecting "Save" button on the bottom of the page</li>
  <img class="alignnone wp-image-7571 " src="/uploads/2018/03/notification_save.png" alt="" width="100%"  />
</ul>
&nbsp;


<div id="notification_delete"></div>
</br>
</br>
<h3>Delete Notification</h3>

<p>To delete a notification, you must click the delete icon of the selected notification.</p>
<img class="alignnone wp-image-7591 " src="/uploads/2018/03/notification_delete.png" alt="" width="100%"  />

<p>You will see modal window where you must confirm that you want to delete notification.</p>
<img class="alignnone wp-image-7593 " src="/uploads/2018/03/notification_delete_confirm.png" alt="" width="100%" />

<p>After confirmation,the selected notification will be deleted from notifications lists.</p>
<img class="alignnone wp-image-7594 " src="/uploads/2018/03/notification_deleted.png" alt="" width="100%"  />

<div id="notification_filters"></div>
</br>
</br>
<h3>Notification Filter</h3>
<p> You can filter list of notifications by different options.</p>
<a href="#notification_filters_create" name="">Filter by "Created At"</a>
<a href="#notification_filters_update" name="">Filter by "Updated At"</a>
<a href="#notification_filters_active" name="">Filter "Active" notifications</a>
<a href="#notification_filters_type" name="">Filter by "Notification type"</a>
<img class="alignnone wp-image-7596 " src="/uploads/2018/03/notification_filters.png" alt="" width="100%" />

<div id="notification_filters_create"></div>
</br>
</br>
<h5>Filter by "Created At"</h5>
<ul>
  <li>To filter notifications by "Created At", first you must select wanted dates. To select date click on calendar icon before the input field, and calendar will open.</li>
  <img class="alignnone wp-image-7599 " src="/uploads/2018/03/notification_filter_create_from.png" alt="" width="100%"  />

  <li>If you fill only first date, the list will be filtered for notification created from selected to current date: "FROM" first date "TO" now. (In our example from 17-02-2018) Example:</li>
  <img class="alignnone wp-image-7600 " src="/uploads/2018/03/notification_filter_create_from1.png" alt="" width="100%" ghgh1298" />

  <li>On Apply you will see information for applied criteria and filtered list:</li>
  <img class="alignnone wp-image-7608 " src="/uploads/2018/03/notification_filtered_create_from1-1.png" alt="" width="100%" ghgh914" />

  <li>If you fill only second date, the list will be filtered for notification created from beginning to selected date: (In our example to 17-02-2018) Example:</li>
  <img class="alignnone wp-image-7602 " src="/uploads/2018/03/notification_filter_create_to.png" alt="" width="100%" ghgh1290" />

  <li>On Apply you will see information for applied criteria and filtered list:</li>
  <img class="alignnone wp-image-7603 " src="/uploads/2018/03/notification_filtered_create_to.png" alt="" width="100%" ghgh852" />

  <li>If you fill both dates, the list will be filtered for period of time: "FROM" first date "TO" second date. (In our example from 25-02-2018 to 19-03-2018 )</li>
  <img class="alignnone wp-image-7604 " src="/uploads/2018/03/notification_filer_create_both.png" alt="" width="100%" ghgh1384" />

  <li>On Apply you will see information for applied criteria and filtered list:</li>
  <img class="alignnone wp-image-7605 " src="/uploads/2018/03/notification_filered_create_both.png" alt="" width="100%" ghgh798" />

  <li>To delete selected dates click on delete icon at the end of applied criteria:</li>
  <img class="alignnone wp-image-7606 " src="/uploads/2018/03/notification_filer_create_delete.png" alt="" width="100%" ghgh1158" />

  <li>To Apply filter you must select "Apply"button.</li>
  <img class="alignnone wp-image-7598 " src="/uploads/2018/03/notification_filter_creted-1.png" alt="" width="100%" ghgh742" />
</ul>

<div id="notification_filters_update"></div>
</br>
</br>
<h5>Filter by "Updated At"</h5>
<ul>

  <li>To filter notifications by "Updated At", first you must select wanted dates. To select date click on calendar icon before the input field, and calendar will open.</li>
  <img class="alignnone wp-image-7610 " src="/uploads/2018/03/notification_filter_update_date.png" alt="" width="100%" ghgh1304" />

  <li>If you fill only first date, the list will be filtered for notification updated from selected to current date: "FROM" first date "TO" now. (In our example from 17-02-2018) Example:</li>
  <img class="alignnone wp-image-7611 " src="/uploads/2018/03/notification_filter_update_from.png" alt="" width="100%" ghgh1342" />

  <li>On Apply you will see information for applied criteria and filtered list:</li>
  <img class="alignnone wp-image-7613 " src="/uploads/2018/03/notification_filter_updated_to.png" alt="" width="100%" ghgh914" />

  <li>If you fill only second date, the list will be filtered for notification updated from beginning to selected date: (In our example to 17-02-2018) Example:</li>
  <img class="alignnone wp-image-7614 " src="/uploads/2018/03/notification_filter_update_to.png" alt="" width="100%" ghgh1312" />

  <li>On Apply you will see information for applied criteria and filtered list:</li>
  <img class="alignnone wp-image-7616 " src="/uploads/2018/03/notification_filtered_update_to.png" alt="" width="100%" ghgh852" />

  <li>If you fill both dates, the list will be filtered for period of time: "FROM" first date "TO" second date. (In our example from 25-02-2018 to 19-03-2018 )</li>
  <img class="alignnone wp-image-7617 " src="/uploads/2018/03/notification_filer_update_both.png" alt="" width="100%" ghgh1318" />

  <li>On Apply you will see information for applied criteria and filtered list:</li>
  <img class="alignnone wp-image-7618 " src="/uploads/2018/03/notification_filered_update_both.png" alt="" width="100%" ghgh798" />

  <li>To delete selected dates click on delete icon at the end of applied criteria:</li>
  <img class="alignnone wp-image-7619 " src="/uploads/2018/03/notification_filer_update_delete.png" alt="" width="100%"  />

  <li>To Apply filter you must select "Apply" button.</li>
  <img class="alignnone wp-image-7620 " src="/uploads/2018/03/notification_filter_updated_apply.png" alt="" width="100%" />
</ul>

<div id="notification_filters_active"></div>
</br>
</br>
<h5>Filter "Active" notifications</h5>
<ul>
  <li>To filter only "Active" notifications, you must check "Active" box, and select "Apply" button.</li>
  <img class="alignnone wp-image-7621 " src="/uploads/2018/03/notification_filered_active.png" alt="" width="100%" />

  <li>On Apply you will see information for applied "Active" criteria and filtered list:</li>
  <img class="alignnone wp-image-7622 " src="/uploads/2018/03/notification_filer_active.png" alt="" width="100%"  />
</ul>

<div id="notification_filters_type"></div>
</br>
</br>
<h5>Filter by "Notification type"</h5>
<ul>
  <li> To filter by notifications type, you must check type of notifications you want to filer, and select "Apply" button.</li>
  <img class="alignnone wp-image-7623 " src="/uploads/2018/03/notification_filer_type.png" alt="" width="100%" />

  <li>On Apply you will see information for applied type criteria and filtered list:</li>
  <img class="alignnone wp-image-7624 " src="/uploads/2018/03/notification_filered_type.png" alt="" width="100%"  />
</ul>

<div id="notification_types"></div>
</br>
</br>
<h3>Notification Types</h3>
<p>There are two different notification types a merchant can use: Email and URL notifications.</p>
<ul>
  <li><strong>webhooks (URL)</strong> - deliver event information directly to your system by calling a script hosted on your server</li>

  <p>Format: Webhooks are sent as HTTP POST requests on the given URI. Accepted are ports 80,8080 as well 443 for HTTPS. <p>Notes:</p>
  <ul>
    <li>A valid SSL certificate is needed in order to receive webhooks via HTTPS, which is highly recommended. </li>
    <li>Basic authentication is possible through standard ( and already deprecated) url encoding: https://Aladdin:OpenSesame@www.example.com/ </li>
    <li>The event is sent in the request body as application/json. </li>
  </ul>
  <p>The message format of the events is as following:</p>
  <code>
    {
      createdAt: unix timestamp. ( contained in the event )
      eventId: the unique identifier for this event. ( contained in the event )
      notificationApiVersion: the version of the notification API, currently only "1.0"
      apiVersion: the API version that triggered the event ( contained in the event )
      ipAddress: the ip address that caused the request ( contained in the event )
      globalTrackId: either a string or null. corresponds to the ID of the request that cause the event. ( contained in the event )
      mode: ‘live’ or ‘test’
      type: event type ( e.g. order.create.success.)
      notificationId: 'not_123' ( the id of the configured notification that caused this event to be fired )
      payload: json object, depends on the type. ( contained in the event )
    }
  </code>


  <li><strong>Email</strong> - event information is sent to the specified email address</li>

  <p>Example of the email:</p>
  <img class="alignnone wp-image-7627 " src="/uploads/2018/03/email_example-1.png" alt="" width="100%" ghgh356" />
</ul>

<div id="notification_events"></div>
</br>
</br>
<h3>Notification Events</h3>
<p>You can receive notifications for the following events:</p>
<ul>
  <li>customer create success</li>
  <li>customer create failure</li>
  <li>customer update success</li>
  <li>customer update failure</li>
  <li>customer paymentInstrument add success</li>
  <li>customer paymentInstrument add failure</li>
  <li>customer paymentInstrument delete success</li>
  <li>customer paymentInstrument delete failure</li>
  <li>customer address create success</li>
  <li>customer address create failure</li>
  <li>customer address duplicate success</li>
  <li>customer persona create success</li>
  <li>customer persona create failure</li>
  <li>customer persona duplicate success</li>
  <li>order create success</li>
  <li>order create failure</li>
  <li>order update success</li>
  <li>order update failure</li>
  <li>transaction create success</li>
  <li>transaction create failure</li>
  <li>transaction update success</li>
  <li>transaction update failure</li>
  <li>paymentInstrument create success</li>
  <li>paymentInstrument create failure</li>
  <li>paymentInstrument expires</li>
</ul>