In customers section you can see datails about your customers
<ul>
 	<li><a href="#navigation" name="">Navigation to Customers</a></li>
 	<li><a href="#create" name="">Create customer</a></li>
 	<li><a href="#details" name="">Customers details</a></li>
 	<li><a href="#delete" name="">Delete customer</a></li>
</ul>
<div id="navigation"></div>
&nbsp;
<h3>Navigation</h3>
Customers information can be found in "Customers" menu item. After you click on menu item you must see customers list.

<img class="alignnone wp-image-7725 size-full" src="/img/pics_manage_customers/customers_list.png" alt="" width="100%"  />
<div id="create"></div>
&nbsp;
<h3>Create</h3>

Creating a customer is pretty simple, since there is only one value which is mandatory.

<img class="alignnone size-large wp-image-5774" src="uploads/2017/09/create-customer-1024x322.png" alt="" width="100%" />
<table>
<tbody>
<tr>
<th><span class="badge">1</span></th>
<th>Add the customers E-Mail here, this field is mandatory.</th>
</tr>
<tr>
<th><span class="badge">2</span></th>
<th>You can add a custom customer ID here.</th>
</tr>
<tr>
<th><span class="badge">3</span></th>
<th>One or more addresses can be added here to the customers account.</th>
</tr>
<tr>
<th><span class="badge">4</span></th>
<th>You can add one or more personas to the customers account with this button.</th>
</tr>
</tbody>
</table>

<div id="details">
&nbsp;
<h3>Details</h3>
 You can see detailed customer information if you click on "Actions" button for selected customer:
<div></div>
<div><img class="alignnone wp-image-7730 size-full" src="/img/pics_manage_customers/customer_select.png" alt="" width="100%"  /></div>
It open new page with detailed customer information:

<img class="alignnone wp-image-7731 size-full" src="/img/pics_manage_customers/customer_details.png_to_change" alt="" width="100%" />

<div id="delete">
&nbsp;
<h3>Delete</h3>
If you want to delete customer you must select "Delete customer" button on the top right corner:

<img class="alignnone wp-image-7732 size-full" src="/img/pics_manage_customers/customer_delete.png_to_change" alt="" width="100%" />

You will see modal window with for confirmation of deleting:

<img class="alignnone wp-image-7733 size-full" src="/img/pics_manage_customers/customer_delete_modal.png_to_change" alt="" width="100%" />

After you confirm, the customer will be deleted from the customers list.

<img class="alignnone wp-image-7734 size-full" src="/img/pics_manage_customers/customer_deleted.png" alt="" width="100%"  />

</div>
