In this section you can view how to create, edit, delete and manage basket items.
<ul>
 	<li><a href="#basket_create" name="">Create new Basket Item</a></li>
 	<li><a href="#basket_edit" name="">Edit Basket Item</a></li>
 	<li><a href="#basket_delete" name="">Delete Basket Item</a></li>
 	<li><a href="#basket_capture" name="">Capture Basket Items</a></li>
 	<li><a href="#basket_cancel" name="">Cancel Basket Item</a></li>
 	<li><a href="#basket_refund" name="">Refund Basket Item</a></li>
</ul>
<div id="basket_create"></div>
&nbsp;
<h3>Create new Basket Item</h3>
To create new basket item you first must select "Add Item" button

<img class="alignnone wp-image-7780 size-large" src="/img/pics_manage_baskets/baset_create_add-1024x208.png" alt="" width="100%"  />

It will open new section for adding basket item details:

<img class="alignnone wp-image-7781 size-large" src="/img/pics_manage_baskets/basket_create_item-1024x658.png" alt="" width="100%"   />
<ul>
 	<li style="list-style-type: none;">
<ul>
 	<li style="list-style-type: none;">
<ul>
 	<li><strong>Name (Required) -</strong> Name of the basket item</li>
 	<li><strong>Article number (Required) - </strong>Article number</li>
 	<li><strong>Unit price (Required) -</strong> Price for one unit</li>
 	<li><strong>Quantity (Required) - </strong>Quantity</li>
 	<li><strong>Tax (Required) -</strong> Tax in percents</li>
 	<li><b>Discount  - </b>Discount in Euro</li>
 	<li><strong>Total price (disabled for edit)-</strong> Total price without Tax</li>
 	<li><strong>Unit Price With Tax (disabled for edit)- </strong>Unit Price With Tax</li>
 	<li><strong>Total Price With Tax (disabled for edit)- </strong>Total Price With Tax</li>
</ul>
</li>
</ul>
</li>
</ul>
After you fill required fields, You will see calculated prices:

<img class="alignnone wp-image-7782 " src="/img/pics_manage_baskets/basket_create_item_filled.png" alt="" width="100%"  />

To save the item click on save button:

<img class="alignnone wp-image-7783 " src="/img/pics_manage_baskets/basket_create_item_save.png" alt="" width="100%"  />

You will see just saved item information

<img class="alignnone wp-image-7784 " src="/img/pics_manage_baskets/basket_item_saved.png" alt="" width="100%"  />

If you want to add another item click on "Add Item" button again

<img class="alignnone wp-image-7785 " src="/img/pics_manage_baskets/basket_item_saved_view.png" alt="" width="100%"  />
<div id="basket_edit"></div>
&nbsp;
<h3>Edit Basket Item</h3>
To edit basket item you must select edit icon for selected item

<img class="alignnone wp-image-7787 " src="/img/pics_manage_baskets/basket_edit_icon.png" alt="" width="100%"  />

It will open new section for editing basket item details:

<img class="alignnone wp-image-7788 " src="/img/pics_manage_baskets/basket_edit_details.png" alt="" width="100%"   />
<ul>
 	<li style="list-style-type: none;">
<ul>
 	<li style="list-style-type: none;">
<ul>
 	<li><strong>Name (Required) -</strong> Name of the basket item</li>
 	<li><strong>Article number (Required) - </strong>Article number</li>
 	<li><strong>Unit price (Required) -</strong> Price for one unit</li>
 	<li><strong>Quantity (Required) - </strong>Quantity</li>
 	<li><strong>Tax (Required) -</strong> Tax in percents</li>
 	<li><b>Discount  - </b>Discount in Euro</li>
 	<li><strong>Total price (disabled for edit)-</strong> Total price without Tax</li>
 	<li><strong>Unit Price With Tax (disabled for edit)- </strong>Unit Price With Tax</li>
 	<li><strong>Total Price With Tax (disabled for edit)- </strong>Total Price With Tax</li>
</ul>
</li>
</ul>
</li>
</ul>
After you edit needed fields, you will see recalculated prices:

<img class="alignnone wp-image-7789 " src="/img/pics_manage_baskets/basket_edited_details.png" alt="" width="100%"   />

To save edited item click on save button:

<img class="alignnone wp-image-7790 " src="/img/pics_manage_baskets/basket_edited_details_save.png" alt="" width="100%"   />

You will see just saved item information

<img class="alignnone wp-image-7792 " src="/img/pics_manage_baskets/basket_edited_details_saved.png" alt="" width="100%"  />

&nbsp;
<div id="basket_delete"></div>
&nbsp;
<h3>Delete Basket Item</h3>
&nbsp;

To delete basket Item you must select delete icon for selected basket

<img class="alignnone wp-image-7793 " src="/img/pics_manage_baskets/basket_delete.png" alt="" width="100%"  />

When you click it, basket item will disappear from items list

<img class="alignnone wp-image-7794 " src="/img/pics_manage_baskets/basket_deleted.png" alt="" width="100%" />

&nbsp;
<div id="basket_delete"></div>
&nbsp;
<h3> Basket Details in Order transactions</h3>
&nbsp;

In Order view you can find basket details in transactions details section:

<img class="alignnone wp-image-7797 " src="/img/pics_manage_baskets/order_basket_details_2.png" alt="" width="100%"   />

If you click on the arrow of the basket item you can see additional detals

<img class="alignnone wp-image-7798 " src="/img/pics_manage_baskets/order_basket_details_full_2.png" alt="" width="100%"  />
<ul>
 	<li><strong>Name -</strong> Name of the basket item</li>
 	<li><strong>Article number  - </strong>Article number</li>
 	<li><strong>Unit price  -</strong> Price for one unit without tax</li>
 	<li><strong>Quantity  - </strong>Quantity</li>
 	<li><strong>Tax -</strong> Tax in percents</li>
 	<li><strong>Total price-</strong> Total price without Tax</li>
 	<li><strong>Unit Price With Tax - </strong>Unit Price With Tax</li>
 	<li><strong>Total Price With Tax- </strong>Total Price With Tax</li>
</ul>
&nbsp;
<div id="basket_capture"></div>
&nbsp;
<h3> Capture basket Items</h3>
&nbsp;

On Capture transaction, merchant can capture all or partial items from basket

When you are on Capture screen you will see basket section:

<img class="alignnone wp-image-7799 " src="/img/pics_manage_baskets/basket_capture.png" alt="" width="100%"  />

&nbsp;

If you click on the arrow of the basket item you can see additional detals

<img class="alignnone wp-image-7800 " src="/img/pics_manage_baskets/basket_capture_item_details.png" alt="" width="100%"  />

It will open full details about the selected basket item:

<img class="alignnone wp-image-7802 " src="/img/pics_manage_baskets/basket_capture_item_details_full.png" alt="" width="100%"   />
<ul>
 	<li><strong>Name -</strong> Name of the basket item</li>
 	<li><strong>Article number  - </strong>Article number</li>
 	<li><strong>Unit price  -</strong> Price for one unit without tax</li>
 	<li><strong>Quantity  - </strong>Quantity</li>
 	<li><strong>Tax -</strong> Tax in percents</li>
 	<li><strong>Total price-</strong> Total price without Tax</li>
 	<li><strong>Unit Price With Tax - </strong>Unit Price With Tax</li>
 	<li><strong>Total Price With Tax- </strong>Total Price With Tax</li>
</ul>
To Capture basket items you must check on "Capture" checkbox for selected item

<img class="alignnone wp-image-7804 " src="/img/pics_manage_baskets/basket_capture_check.png" alt="" width="100%"  />

It will enable selection of Quantity and calculate Amount to capture:

<img class="alignnone wp-image-7805 " src="/img/pics_manage_baskets/basket_capture_checked.png" alt="" width="100%"  />
<strong>Important! - By default It will capture all units of selected item. If you want partial capture you can change wanted quantity.</strong>

If you don't want to capture all units, you can change quantity:

<img class="alignnone wp-image-7806 " src="/img/pics_manage_baskets/basket_capture_part_select.png" alt="" width="100%"  />

When you change quantity, the Amount to capture will be recalculated:

<img class="alignnone wp-image-7807 " src="/img/pics_manage_baskets/basket_capture_part.png" alt="" width="100%"  />

Now you can continue with capturing wanted amount, by selecting capture button:

<img class="alignnone wp-image-7809 " src="/img/pics_manage_baskets/basket_capture_part_save.png" alt="" width="100%"  />

Now you can see successfully captured items in Transaction details section:

<img class="alignnone wp-image-7820 " src="/img/pics_manage_baskets/basket_capture_success.png" alt="" width="100%"   />

&nbsp;

&nbsp;
<div id="basket_cancel"></div>
&nbsp;
<h3> Cancel basket Items</h3>
&nbsp;

On Cancel transaction, merchant can cancel all or partial items from basket

When you are on Cancel screen you will see basket section:

<img class="alignnone wp-image-7810 " src="/img/pics_manage_baskets/basket_cancel.png" alt="" width="100%"  />

&nbsp;

If you click on the arrow of the basket item you can see additional detals

<img class="alignnone wp-image-7811 " src="/img/pics_manage_baskets/basket_cancel_full_open.png" alt="" width="100%"  />

It will open full details about the selected basket item:

<img class="alignnone wp-image-7812 " src="/img/pics_manage_baskets/basket_cancel_details_full.png" alt="" width="100%"   />
<ul>
 	<li><strong>Name -</strong> Name of the basket item</li>
 	<li><strong>Article number  - </strong>Article number</li>
 	<li><strong>Unit price  -</strong> Price for one unit without tax</li>
 	<li><strong>Quantity  - </strong>Quantity</li>
 	<li><strong>Tax -</strong> Tax in percents</li>
 	<li><strong>Total price-</strong> Total price without Tax</li>
 	<li><strong>Unit Price With Tax - </strong>Unit Price With Tax</li>
 	<li><strong>Total Price With Tax- </strong>Total Price With Tax</li>
</ul>
To Cancel basket items you must check on "Cancel" checkbox for selected item

<img class="alignnone wp-image-7813 " src="/img/pics_manage_baskets/basket_cancel_check.png" alt="" width="100%"  />
<div id="basket_delete"> It will enable selection of Quantity and calculate Amount to cancel:</div>
<div><img class="alignnone wp-image-7814 " src="/img/pics_manage_baskets/basket_cancel_all.png" alt="" width="100%"  /></div>
<strong>Important! - By default It will cancel all units of selected item. If you want partial cancel you can change wanted quantity.</strong>

If you don't want to cancel all units, you can change quantity:

<img class="alignnone wp-image-7815 " src="/img/pics_manage_baskets/basket_cancel_part_select.png" alt="" width="100%"  />

When you change quantity, the Amount to cancel will be recalculated:

<img class="alignnone wp-image-7817 " src="/img/pics_manage_baskets/basket_cancel_part_selected.png" alt="" width="100%"  />

Now you can continue with capturing wanted amount, by selecting "Submit" button:

<img class="alignnone wp-image-7818 " src="/img/pics_manage_baskets/basket_cancel_part_selected_save.png" alt="" width="100%"  />

After submitting you can view successful Cancel transaction in Transaction details section:

<img class="alignnone wp-image-7819 " src="/img/pics_manage_baskets/bascet_cancel_success.png" alt="" width="100%"   />

&nbsp;
<div id="basket_refund"></div>
&nbsp;
<h3>Refund basket Items</h3>
&nbsp;

On Refund transaction, merchant can refund all or partial items from basket

When you are on Refund screen you will see basket section:

<img class="alignnone wp-image-7821 " src="/img/pics_manage_baskets/basket_refund_section.png" alt="" width="100%"  />

&nbsp;

If you click on the arrow of the basket item you can see additional details

<img class="alignnone wp-image-7822 " src="/img/pics_manage_baskets/basket_refund_section_details.png" alt="" width="100%"  />

It will open full details about the selected basket item:

<img class="alignnone wp-image-7823 " src="/img/pics_manage_baskets/basket_refund_details.png" alt="" width="100%"   />
<ul>
 	<li><strong>Name -</strong> Name of the basket item</li>
 	<li><strong>Article number  - </strong>Article number</li>
 	<li><strong>Unit price  -</strong> Price for one unit without tax</li>
 	<li><strong>Quantity  - </strong>Quantity</li>
 	<li><strong>Tax -</strong> Tax in percents</li>
 	<li><strong>Total price-</strong> Total price without Tax</li>
 	<li><strong>Unit Price With Tax - </strong>Unit Price With Tax</li>
 	<li><strong>Total Price With Tax- </strong>Total Price With Tax</li>
</ul>
To Refund basket items you must check on "Refund" checkbox for selected item

<img class="alignnone wp-image-7824 " src="/img/pics_manage_baskets/basket_refund_check.png" alt="" width="100%"  />

It will enable selection of Quantity and calculate Amount to refund:

<img class="alignnone size-medium wp-image-7825 " src="/img/pics_manage_baskets/basket_refund_checked.png" alt="" width="100%"  />
<strong>Important! - By default It will refund all units of selected item. If you want partial refund you can change wanted quantity.</strong>

If you don't want to refund all units, you can change quantity:

<img class="alignnone wp-image-7826 " src="/img/pics_manage_baskets/basket_refund_select.png" alt="" width="100%"  />

When you change quantity, the Amount to refund will be recalculated:

<img class="alignnone wp-image-7827 " src="/img/pics_manage_baskets/basket_refund_selected.png" alt="" width="100%"  />

Now you can continue with capturing wanted amount, by selecting "Submit" button:

<img class="alignnone wp-image-7828 " src="/img/pics_manage_baskets/basket_refund_save.png" alt="" width="100%"  />

After submitting you can view successful Refund transaction in Transaction details section:

<img class="alignnone wp-image-7829 " src="/img/pics_manage_baskets/basket_refund_saved.png" alt="" width="100%"   />

&nbsp;
