 <img class="img-responsive" src="/uploads/2017/09/Navigation.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>Logout</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <th>Change / view your current merchant accounts</th>
</tr>
<tr>
    <td><span class="badge badge-warning"> 3 </span></td>
    <td>Toggle the left navigation menue</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 4 </span></td>
    <td>Navigate through the menue</td>
</tr>
</tbody>
</table>