 <img class="img-responsive" src="/uploads/2017/09/Payment-Methods.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>In the first column you can see the payment method type.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>In the second column you can see the current payment method status. Orders can only be created with active payment methods.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 3 </span></td>
    <td>For further information about the payment method use this button.</td>
</tr>
</tbody>
</table>