 <img class="img-responsive" src="/uploads/2017/09/Payment-Instruments.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>General information about your payment instruments can be found here.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td> To edit an existing payment instrument use this button.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 3 </span></td>
    <td>If you'd like to add a new payment instrument use this button. More information about adding a new payment instrument can be found <a href="">here</a>.</td>
</tr>
</tbody>
</table>