In Payment Instruments section you can see details about your Payment Instruments
<ul>
 	<li><a href="#general" name="">General Info</a></li>
 	<li><a href="#usecase" name="">Usecase</a></li>
 	<li><a href="#example" name="">Example</a></li>
</ul>
<div id="general"></div>
&nbsp;
<h3>General Info</h3>
<p>When processing credit card transactions you may want to ask for additional verification not only on the first transaction for which this is mostly mandatory but also for any subsequent transaction with a saved card (payment instrument).</p>
&nbsp;
<p>There are two major additional verification methods that may present the customer with additional security challenge - cvc and 3d secure.</p>
&nbsp;
<p>Both challenges require a code that should be only known to the cardholder and is used in the processing.</p>
&nbsp;
<p>The CVV/CVC code (Card Verification Value/Code) is located on the back of the cardholder’s credit/debit card on the right side of the white signature strip.</p>
&nbsp;
<p>3d secure code is only known to the cardholder and should be only submitted via an issuer specific page.</p>
&nbsp;
<p>The Payengine allows merchants to create payment instruments in order to process recurring payments for the same credentials (card number). Even though the merchant can decide to additionally ask for cvc and/or 3d secure on each subsequent cardholder present transaction as well.</p>
&nbsp;
<p>In order to do so the merchant should ask the cardholder to enter his cvc on each subsequent transaction and patch the already existing payment instrument with this value.</p>
&nbsp;
<p>When the cvc is successfully patched and the order is submitted for processing according to the merchant settings the transaction may result in additional 3d secure asynchronous process.</p>
&nbsp;
<div id="usecase">
<h3>Usecase</h3>
&nbsp;
<p><strong>Given:</strong></p>
<p>You have a previously used payment instrument.</p>
&nbsp;
<p><strong>Usecase:</strong></p>
<p>On creating the recurring payment you need to collect the cvc via one of the following options:</p>

<ul>
 	<li>
    Widget as a bridge
  </li>
  &nbsp;
  <p>PayEngineWidget.initAsInlineComponentPiUpdate(container, publishableKey, paymentInstrumentId, optionalParameters, resultCallbackPatchPi);</p>
  &nbsp;
 	<li>Bridge iframes solution</li>

</ul>


<div id="example">
<h3>Example</h3>
<code>
<xmp>
  <!DOCTYPE html>
<head>
  <script type="text/javascript">
    var merchantId = "YOUR_MERCHANT_ID";
    var frameReference = null;
    var paymentInstrumentId = "example-payment-instrument-id";
    var options = {"verificationStyle":"example-custom-style-id","verificationPlaceholder":"example-cvv-placeholder"};

    function onBridgeLoaded() {
      console.log("Bridge loaded, set publishable key");
      PayEngine.setPublishableKey(merchantId);
    }

    function triggerInit() {
      PayEngine.iframesInitVerificationOnly("verification-only-iframe-container", options, initFrameCallback);
    }

    function initFrameCallback(error, result) {
       if (error) { console.log("Something went wrong..."); return; }
       frameReference = result;
    }

    function triggerValidate() {
      function onTriggerValidationResult(error, result) {
        if (error) {console.log("the input is not valid", error); return; }
        console.log("Valid input", result);
      }
      PayEngine.iframesValidateVerificationOnly(frameReference, onTriggerValidationResult);
    }

    function onValidationListenerCallback(error, result) {
      if (error && error.verificationValid === false) {console.log("the input is not valid", error); return; }
      console.log("Valid input", result);
    }

    function addValidationListener() {
      PayEngine.iframesAddEventListener(frameReference, "verification", "input", onValidationListenerCallback);
    }

    function removeValidationListener() {
      PayEngine.iframesRemoveEventListener(frameReference, "verification", "input", onValidationListenerCallback);
    }

    function updatePaymentInstrumentCallback(error, result) {
      if (error) { console.log("Something went wrong...", error); return; }
      console.log("PI updated successfully", result);
    }

    function updatePaymentInstrument() {
      PayEngine.iframesUpdatePaymentInstrument(frameReference, paymentInstrumentId, updatePaymentInstrumentCallback);
    }
  </script>
  <script onload="onBridgeLoaded()" src="https://pp.payengine.de/bridge/1.0/payengine.min.js"></script>
</head>

<body>
  <div id="verification-only-iframe-container"></div>
  <button onclick="triggerInit()">Init Iframe</button>
  <button onclick="triggerValidate()">Trigger Validate</button>
  <button onclick="addValidationListener()">Add Validation Listener</button>
  <button onclick="removeValidationListener()">Remove Validation Listener</button>
  <button onclick="updatePaymentInstrument()">Update</button>
</body>

</html>
</xmp>
</code>
</div>
