In Payment Methods section you can all available payment methods.
<ul>
 	<li><a href="#navigation" name="">Navigation to Payment methods</a></li>
 	<li><a href="#status" name="">Payment method status</a></li>
 	<li><a href="#credit_card" name="">Credit card configuration settings</a></li>
 	<li><a href="#paypal" name="">Paypal configuration settings</a></li>
 	<li><a href="#paydirect" name="">Paydirekt configuration settings</a></li>
 	<li><a href="#ratepay_dd" name="">RatePAY (Direct Debit) configuration settings</a></li>
 	<li><a href="#ratepay_installment" name="">RatePAY (Installment) configuration settings</a></li>
 	<li><a href="#ratepay_invoice" name="">RatePAY (Invoice) configuration settings</a></li>
 	<li><a href="#sepa" name="">SEPA configuration settings</a></li>
 	<li><a href="#sofort" name="">Sofort configuration settings</a></li>
</ul>
<div id="navigation"></div>
&nbsp;
<h3>Navigation</h3>
Payment methods information can be found in "Payment methods" menu item. After you click on menu item you must see payment methods list.

<img class="alignnone wp-image-7679 size-full" src="/uploads/2018/05/pm_nav.png" alt="" width="100%"   />
<div id="status"></div>
&nbsp;
<h3>Payment method status</h3>
In the Payment methods table you can see the status of the payment method.

<img class="alignnone wp-image-7680 size-full" src="/uploads/2018/05/p_status.png" alt="" width="100%"   />

When payment method is with "Active" status, you can see information about payment method configuration if you click on "Actions".

<img class="alignnone wp-image-7681 size-full" src="/uploads/2018/05/pm_actions.png" alt="" width="100%"   />

When payment method is with "Inactive" status, if you click on "Actions" you will see error message on top of your window.

<img class="alignnone wp-image-7682 size-full" src="/uploads/2018/05/pm_inactive.png" alt="" width="100%"   />
<div id="credit_card"></div>
&nbsp;
<h3>Credit card configuration settings</h3>
If credit card payment method is with "Active" status, by clicking on "Actions",  you will see all available information about credit card configuration.

<img class="alignnone wp-image-7685 size-full" src="/uploads/2018/05/pm_cc-1.png" alt="" width="100%"   />
There you can find different sections with configuration information.
<ul>
 	<li>Card Acceptor information<img class="alignnone wp-image-7686 size-full" src="/uploads/2018/05/pm_cc_acceptor.png" alt="" width="100%"  /></li>
 	<li>Contracts information
<img class="alignnone wp-image-7687 size-full" src="/uploads/2018/05/pm_cc_constracts.png" alt="" width="100%"   /></li>
 	<li>Other credit card configuration information<img class="alignnone wp-image-7692 size-medium" src="/uploads/2018/05/pm_cc_other-300x92.png" alt="" width="100%" />At the bottom of the page you will find : - Is Recurring verification enabled - Is CVC required - Is Cardcheck enabled</li>
</ul>
<div id="paypal"></div>
&nbsp;
<h3>Paypal configuration settings</h3>
If paypal payment method is with "Active" status, by clicking on "Actions",  you will see all available information about paypal configuration.

- First section: Paypal user, password and signature

- Second: SFTP username and password

- Third: Accepted currencies (<a href="https://en.wikipedia.org/wiki/ISO_4217">More about currency codes...</a>)

<img class="alignnone wp-image-7694 size-full" src="/uploads/2018/05/pm-paypal.png" alt="" width="100%"  />
<div id="paydirect"></div>
&nbsp;
<h3>Paydirekt configuration settings</h3>
If paydirekt payment method is with "Active" status, by clicking on "Actions",  you will see all available information about paydirekt configuration.

- First section: API key and API Secret

- Second: Accepted currencies (<a href="https://en.wikipedia.org/wiki/ISO_4217">More about currency codes...</a>)

<img class="alignnone wp-image-7695 size-full" src="/uploads/2018/05/pm_paydirect.png" alt="" width="100%"  />
<div id="ratepay_dd"></div>
&nbsp;
<h3>RatePAY (Direct Debit) configuration settings</h3>
If RatePAY Direct Debit payment method is with "Active" status, by clicking on "Actions",  you will see all available information about RatePAY configuration.

- First section: Device Ident Ids

- Second: Accepted currencies (<a href="https://en.wikipedia.org/wiki/ISO_4217">More about currency codes...</a>)

- Third: Information about different RatePAY credentials.

<img class="alignnone wp-image-7696 size-full" src="/uploads/2018/05/pm_ratepay_dd.png" alt="" width="100%"   />
<div id="ratepay_installment"></div>
&nbsp;
<h3>RatePAY (Installment) configuration settings</h3>
If RatePAY Installment payment method is with "Active" status, by clicking on "Actions",  you will see all available information about RatePAY configuration.

- First section: Device Ident Ids

- Second: Accepted currencies (<a href="https://en.wikipedia.org/wiki/ISO_4217">More about currency codes...</a>)

- Third: Information about different RatePAY credentials.

<img class="alignnone wp-image-7697 size-full" src="/uploads/2018/05/PM_Ratepay_istallment.png" alt="" width="100%"   />
<div id="ratepay_invoice"></div>
&nbsp;
<h3>RatePAY (Invoice) configuration settings</h3>
If RatePAY Invoice payment method is with "Active" status, by clicking on "Actions",  you will see all available information about RatePAY configuration.

- First section: Device Ident Ids

- Second: Accepted currencies (<a href="https://en.wikipedia.org/wiki/ISO_4217">More about currency codes...</a>)

- Third: Information about different RatePAY credentials.

<img class="alignnone wp-image-7698 size-full" src="/uploads/2018/05/pm_ratepay_invoice.png" alt="" width="100%"   />
<div id="sepa"></div>
&nbsp;
<h3>SEPA configuration settings</h3>
If SEPA payment method is with "Active" status, by clicking on "Actions",  you will see all available information about SEPA configuration.

- First section: Payout delay in days

- Second: Accepted currencies (<a href="https://en.wikipedia.org/wiki/ISO_4217">More about currency codes...</a>)
<div id="sofort"></div>
&nbsp;
<h3>Sofort configuration settings</h3>
If Sofort payment method is with "Active" status, by clicking on "Actions",  you will see all available information about Sofort configuration.

- First section: Device Ident Ids

- Second: Accepted currencies (<a href="https://en.wikipedia.org/wiki/ISO_4217">More about currency codes...</a>)

- Third: Information about different RatePAY credentials.

<img class="alignnone wp-image-7700 size-full" src="/uploads/2018/05/pm_sofort.png" alt="" width="100%"  />
