Create your Merchant Account on: <a href="https://www.concardis.com/e-commerce/payengine">https://www.concardis.com/e-commerce/payengine</a><br>
<br>
<h4>Users</h4>
You can manage your accounts with access to the Merchant Center on this page. More information about user management can be found <a href="/merchantcenter/usermanagement">here</a>.
<br>
<br>
<h4>Payment Methods</h4>
This page shows you the current status of your payment methods like Credit Card or Paypal. Only active payment instruments can be used by you or your customers. If you would like to activate a new payment method feel free to contact us. You can find more information about payment methods <a href="/merchantcenter/paymentmethods">here</a>.
<br>
<br>
<h4>Customers</h4>
You can create / view and edit your customer accounts on this page. Furthermore you can add a payment instrument to your customers account here, or perform an order. You can find more information about customer accounts <a href="/merchantcenter/customer">here</a>.
<br>
<br>
<h4>Orders</h4>
You can create / view and edit all of your transactions on this page. To create an order with an exsisting customer account use the customers page. For detailed information about orders click <a href="/merchantcenter/createtransaction">here</a>.
<br>
<br>
<h4>Payment Instruments</h4>
You can create / view and edit all of your payment instruments on this page. More information about payment instruments can be found <a href="/merchantcenter/paymentinstrument">here</a>.