 A risk management tool is essential for reducing fraudulent activity on the platform, protectint our merchants from monetary loss and broadening Concardis' market appearance and reputation.<br>
<h3>Goals</h3><br>
<ul>
    <li>Have a system wide risk management tools, allowing both CC admin and merchant to define rules that block / don't block specific transactions during Preauth+Auth (in case of 'debit', first step is an authorization)</li>
    <li>Offer a basic tool with basic functionality for our pilot merchants (SME, DACH)
Background and strategic fit</li>
</ul>
<strong>Important</strong><br>
When there is a combination of red and green rules their order becomes essential. During execution the rules will be checked in the exact order supplied in the risk card. When the execution hits a green rule which is satisfied no further rules will be taken into account.<br>
<br>
<a href="/merchantcenter/manageblacklist">How to manage blacklists</a><br>
<a href="/merchantcenter/manageriskcard">How to manage risk cards</a><br>