 <ul>
    <li><a href="#description">Description</a></li>
    <li><a href="#simple_add_rule">How to add new Comparison Rule</a></li>
    <li><a href="#simple_define_rule">How to define new Comparison Rule</a></li>
        <li><a href="#simple_edit_rule">How to edit existing Comparison Rule</a></li>
        <li><a href="#simple_delete_rule">How to delete existing Comparison Rule</a></li>
        <li><a href="#important">Important: Don't forget to save</a></li>
        <li><a href="#options_description">Description of the options</a></li>

</ul>
<div id="description"></div>
</br>
</br>
<h4>Description</h4>
Comparison (simple) Rule defines a logical rule that allows or prohibits the transaction from being executed when the conditions are met.
<h3><strong>Important:</strong></h3>
<strong>Be very careful with the rules you define as certain combinations may prohibit the execution of all transactions!</strong>
<div id="simple_add_rule"></div>
</br>
</br>
<h3>How to add new Comparison Rule:</h3>
<ul>
    <li>Click on „Plus“ icon on top right corner</li>
</ul>
<img class="aligncenter wp-image-7247 size-full" src="/uploads/2018/02/riskcard_Add_rule.png" alt="" width="100%" ggg="730" />
<ul>
    <li>A modal window will open to add new rule</li>
</ul>
<img class="alignnone wp-image-7248 size-large" src="/uploads/2018/02/riskcard_modal-877x1024.png" alt="" width="50%" ggg="1024" />
<ul>
    <li>Select "Simple rule" option in "Rule type" dropbox</li>
</ul>
<img class="alignnone wp-image-7249 size-large" src="/uploads/2018/02/riskcard_select_rule-871x1024.png" alt="" width="50%" ggg="1024" />
<ul>
    <li>You will see Modal window for add/edit Simple risk rule</li>
</ul>
<img class="alignnone wp-image-7252 size-large" src="/uploads/2018/02/Screen-Shot-2018-02-28-at-08.52.27-1024x818.png" alt="" width="50%" ggg="818" />

<div id="simple_define_rule"></div>
</br>
</br>
<h3>How to define new Comparison Rule:</h3>
When you see Modal window for add/edit Simple risk rule, you can define new rule by choosing the required attributes, operator, and result.

The definition logic is as follows:
If "Attribute 1" and "Attribute 2" meet the condition selected in the "Operator", the "Result" will be executed.
<img class="alignnone wp-image-7255 size-large" src="/uploads/2018/02/riskcardsimple_rule-1024x818.png" alt="" width="50%" gg="818" />
<h3>Example</h3>
"I want Billing and Shipping address to be in same country."
<ul>
    <li>Select "billing.address.country" option in "Attribute 1" dropbox</li>
</ul>
<img class="alignnone wp-image-7257 size-large" src="/uploads/2018/02/risckard_simple_attr1-1024x929.png" alt="" width="50%" g="929" />
After you select the option in "Attribute 1", this option will disapear from "Attribute 2" dropbox.
<ul>
    <li>Select "!=" option in "Operator" dropbox</li>
</ul>
<img class="alignnone wp-image-7258 size-large" src="/uploads/2018/02/riskcard_simple_operator-1024x801.png" alt="" width="50%" gg="801" />
<ul>
    <li>Select "shipping.address.country" option in "Attribute 2" dropbox</li>
</ul>
<img class="alignnone wp-image-7259 size-large" src="/uploads/2018/02/risckard_simple_attr2-1024x820.png" alt="" width="50%" gg="820" />
<ul>
    <li>Select "Red" option in "Result" dropbox</li>
</ul>
<img class="alignnone wp-image-7260 size-large" src="/uploads/2018/02/risckard_simple_result-1024x826.png" alt="" width="50%" gg="826" />
<ul>
    <li>Click on "Save" button on the bottom of the modal window</li>
</ul>
<img class="alignnone wp-image-7261 size-large" src="/uploads/2018/02/risckard_simple_save-1024x821.png" alt="" width="50%" ghgh821" />

<strong>Important:</strong>
After you save the items in modal window, you must click the "Save" button at the bottom of the page. Otherwise, your changes will not be saved.
<img class="alignnone wp-image-7262 size-full" src="/uploads/2018/02/Screen-Shot-2018-02-28-at-09.27.14.png" alt="" width="100%" ghgh732" />

<div id="simple_edit_rule"></div>
</br>
</br>
<h3>How to edit existing Comparison Rule:</h3>
<ul>
    <li>Click on „Edit“ icon on the row with selected item</li>
</ul>
<img class="alignnone wp-image-7304 size-full" src="/uploads/2018/02/riskcard_edit.png" alt="" width="100%" ghgh644" />
<ul>
    <li>A modal window will open to edit selected rule</li>
</ul>
<img class="alignnone wp-image-7306 size-large" src="/uploads/2018/02/riskcard_edit_modal-1024x809.png" alt="" width="50%" ghgh809" />
<ul>
    <li>At this point "Rule type" dropbox can not be changed</li>
</ul>
<img class="alignnone wp-image-7307 size-large" src="/uploads/2018/02/riskcard_edit_modal-1-1024x809.png" alt="" width="50%" ghgh809" />
<ul>
    <li>Change the options that you want</li>
</ul>
<img class="alignnone wp-image-7308 size-large" src="/uploads/2018/02/riskcard_edit_modal3-1024x809.png" alt="" width="50%" ghgh809" /><img class="alignnone wp-image-7309 size-large" src="/uploads/2018/02/riskcard_changed-1024x799.png" alt="" width="50%" ghgh799" />
<ul>
    <li>Save the risk rule</li>
</ul>
<img class="alignnone wp-image-7310 size-large" src="/uploads/2018/02/riskcard_changed_save-1024x827.png" alt="" width="50%" ghgh827" />

<strong>Important:</strong>
After you save the items in modal window, you must click the "Save" button at the bottom of the page. Otherwise, your changes will not be saved.
<img class="alignnone wp-image-7311 size-full" src="/uploads/2018/02/riskcard_changed_save2.png" alt="" width="100%" ghgh666" />

<div id="simple_delete_rule"></div>
</br>
</br>
<h3>How to delete existing Comparison Rule:</h3>
<ul>
    <li>Click on „Delete“ icon on the row with selected item</li>
</ul>
<img class="alignnone wp-image-7312 size-full" src="/uploads/2018/02/riskcard_delete.png" alt="" width="100%" ghgh742" />
<ul>
    <li>Risk Rule will be deleted from the rules list</li>
</ul>
<img class="alignnone wp-image-7313 size-full" src="/uploads/2018/02/riskcard_after_delete.png" alt="" width="100%" ghgh752" />

<div id="important"></div>
</br>
</br>
<strong>Important: Don't forget to save</strong>
After you delete the items from list, you must click the "Save" button at the bottom of the page. Otherwise, your changes will not be saved.
<img class="alignnone wp-image-7311 size-full" src="/uploads/2018/02/riskcard_changed_save2.png" alt="" width="100%" ghgh666" />

<div id="options_description"></div>
</br>
</br>
<h3>Description of the options:</h3>

"Attribute 1" and "Attribute 2"

"billing.address.city" --&gt; Billing Address City
"billing.address.country" --&gt; Billing Address Country
"billing.address.firstName" --&gt; Billing Address First Name
"billing.address.houseNumber" --&gt; Billing Address House Number
"billing.address.id" --&gt; Billing Address Id
"billing.address.lastName" --&gt; Billing Address Last Name
"billing.address.state" --&gt; Billing Address State
"billing.address.street" --&gt; Billing Address Street
"billing.address.zip" --&gt; Billing Address Zip Code
"order.ipAddress" --&gt; IP Address of Order
"shipping.address.city" --&gt; Shipping Address City
"shipping.address.country" --&gt; Shipping Address Country
"shipping.address.firstName" --&gt; Shipping Address First Name
"shipping.address.houseNumber" --&gt; Shipping Address House Number
"shipping.address.id" --&gt; Shipping Address Id
"shipping.address.lastName" --&gt; Shipping Address Last Name
"shipping.address.state" --&gt; Shipping Address State
"shipping.address.street" --&gt; Shipping Address Street
"shipping.address.zip" --&gt; Shipping Address Zip Code

Operator:

"&gt;=" - Greater than or equal
"&lt;=" - Less than or equal
"&lt;" - Less than 
"==" - Equality 
"!=" - Inequality 
"&gt;" - Greater than

Result:

"Red" - Transaction will be declined
"Green" - Transaction will pass