The Merchant Center provides reconciliation and settlement files for credit card transactions. When a transaction is settled the corresponding data becomes available in a merchant downloadable csv file which can be found under the Settlements section of the Merchant Center. These files contain detailed information for each transaction including:
<ul>
    <li>GUID of the transaction</li>
    <li>VP-Number</li>
    <li>Terminal-ID</li>
    <li>ARN</li>
    <li>Trx.-Date</li>
    <li>Time</li>
    <li>Author.-Nr</li>
    <li>Trace ID</li>
    <li>Merchant Order ID / Order ID</li>
    <li>Credit- Debitindikator</li>
    <li>Revenue in transaction currency (gross)</li>
    <li>Transaction currency</li>
    <li>Renvenue in settlement currency (gross)</li>
    <li>Settlement currency</li>
    <li>Interchange Fee (payout currency)</li>
    <li>Card Scheme Fee (payout currency)</li>
    <li>Acquirer Service Fee (payout currency)</li>
    <li>MSC Fee (payout currency)</li>
    <li>VAT (payout currency)</li>
    <li>Revenue in settlement currency (net amount)</li>
    <li>GUID Settlement</li>
    <li>Payment method</li>
    <li>payment date</li>
    <li>Sequence Number des Payments</li>
</ul>