<img class="img-responsive" src="/uploads/2017/09/Users.png" />
<table class="table table-striped">
<tbody>
<tr>
    <td><span class="badge badge-warning"> 1 </span></td>
    <td>General information about your users e-mail, creation date, current role and status can be found in this table.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 2 </span></td>
    <td>To view or edit (e.g. role) a specific user, use this button.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 3 </span></td>
    <td>You can delete a user with this button.</td>
</tr>
<tr>
    <td><span class="badge badge-warning"> 4 </span></td>
    <td>If you'd like to grant a new user access to this merchant account use this button. More information about adding a user to your merchant account can be found <a href="">here</a>.</td>
</tr>
</tbody>
</table>