
<ul>
  <li><a href="/3dsecure/3dsecure_v2_testing#card3DSv2EnrolledFrictionlessFlow" name="">Card 3DS 2.0 Enrolled - Frictionless Flow</a></li>
  <li><a href="/3dsecure/3dsecure_v2_testing#card3DSv2EnrolledChallengeFlow">Card 3DS 2.0 Enrolled - Challenge Flow</a></li>
  <li><a href="/3dsecure/3dsecure_v2_testing#card3DSv2EnrolledProtocolError">Card 3DS 2.0 Enrolled - Protocol Error</a></li>
  <li><a href="/3dsecure/3dsecure_v2_testing#cardNon-3DSv2Enrolled">Card Non-3DS 2.0 Enrolled</a></li>
</ul>

<div id="card3DSv2EnrolledFrictionlessFlow">
  <br/>
  <br/>
  <p>In order to test certain 3DS 2.0 use cases the test card credentials listed on this page can be used.</p>
  <br/>
  <br/>
  <h2>Card 3DS 2.0 Enrolled - Frictionless Flow</h2>
    <table border="1px solid black" class="table table-bordered table-striped table-condensed" width="500px;">
      <thead>
        <tr>
          <th  width="100px;">Brand</th>
          <th  width="200px;">Card Number</th>
          <th  width="100px;">Expiry Date</th>
          <th  width="100px;">CVC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Visa</td>
          <td>4111111111111111</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
        <tr>
          <td>Mastercard</td>
          <td>5556011778787485</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
        <tr>
          <td>Amex</td>
          <td>371449635398431</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
      </tbody>
    </table>
    <br/>
</div>
<br/>
<div id="card3DSv2EnrolledChallengeFlow">
  <br/>
  <h2>Card 3DS 2.0 Enrolled - Challenge Flow</h2>
  <br/>
    <table border="1px solid black" class="table table-bordered table-striped table-condensed" width="500px;">
      <thead>
        <tr>
          <th  width="100px;">Brand</th>
          <th  width="200px;">Card Number</th>
          <th  width="100px;">Expiry Date</th>
          <th  width="100px;">CVC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Visa</td>
          <td>4000007000000031</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
        <tr>
          <td>Mastercard</td>
          <td>2720992593319364</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
        <tr>
          <td>Amex</td>
          <td>346018484777573</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <p>In addition to the cards the following onetime passwords (OTP) can be used in the challenge to simulate certain use cases.</p>
    <br/>
    <br/>
    <table border="1px solid black" class="table table-bordered table-striped table-condensed" width="500px;">
      <thead>
        <tr>
          <th  width="150px;">OTP</th>
          <th  width="150px;">Result</th>
          <th  width="200px;">Transaction Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1234</td>
          <td>Success</td>
          <td>Y - Authentication / Account verification successful</td>
        </tr>
        <tr>
          <td>2222</td>
          <td>Success</td>
          <td>A - Attempts processing performed; Not authenticated / verified, but a proof of attempt authentication / verification is provided</td>
        </tr>
        <tr>
          <td>3333</td>
          <td>Reject</td>
          <td>N - Not authenticated / Account not verified; Transaction denied</td>
        </tr>
        <tr>
          <td>4444</td>
          <td>Reject</td>
          <td>R - Authentication / Account verification Rejected. Issuer is rejecting authentication/verification and request that authorization not be attempted</td>
        </tr>
        <tr>
          <td>5555</td>
          <td>Reject</td>
          <td>U - Authentication / Account verification could not be performed; technical or other problem</td>
        </tr>
      </tbody>
    </table>
    <br/>
</div>
<br/>
<div id="card3DSv2EnrolledProtocolError">
  <br/>
  <br/>
  <h2>Card 3DS 2.0 Enrolled - Protocol Error</h2>
  <br/>
    <table border="1px solid black" class="table table-bordered table-striped table-condensed" width="500px;">
      <thead>
        <tr>
          <th  width="100px;">Brand</th>
          <th  width="200px;">Card Number</th>
          <th  width="100px;">Expiry Date</th>
          <th  width="100px;">CVC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Visa</td>
          <td>4485388452014884</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
        <tr>
          <td>Mastercard</td>
          <td>5555555555554444</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
        <tr>
          <td>Amex</td>
          <td>370475131625895</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
      </tbody>
    </table>
    <br/>
</div>
<div id="cardNon-3DSv2Enrolled">
  <br/>
  <br/>
  <h2>Card Non-3DS 2.0 Enrolled</h2>
  <br/>
    <table border="1px solid black" class="table table-bordered table-striped table-condensed" width="500px;">
      <thead>
        <tr>
          <th  width="100px;">Brand</th>
          <th  width="200px;">Card Number</th>
          <th  width="100px;">Expiry Date</th>
          <th  width="100px;">CVC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Visa</td>
          <td>4149011500000147</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
        <tr>
          <td>Mastercard</td>
          <td>5232569007637831</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
        <tr>
          <td>Amex</td>
          <td>373953192351004</td>
          <td>12/21</td>
          <td>123</td>
        </tr>
      </tbody>
    </table>
    <br/>
</div>
