<h2>Merchant Center Interface</h2>
<ul>
	<li><a type="button" class="btn btn-light text-left" href="/batch/#h3_mcUploadFile">Upload a Batch File</a></li>
	<li><a type="button" class="btn btn-light text-left" href="/batch/#h3_mcBatchInfo">Batch Information</a></li>
</ul>

<div>

	<br />
	<div id="h3_mcUploadFile">
		<h3>Upload a Batch File</h3>
		<br />
		<p>Once the request file has been created, it can be uploaded via the Merchant Centre. Click on Batch on the right side menu. </p>
		<p>
			<img class="" src="/img/batch/batch_1.png" width="20%" />
		</p>
		<br />
		<p>You then need to select and upload the csv file by clicking on Upload and then Save. <span style="color: rgb(51,51,51);">There is a status filed on the API which shows will correspond to &quot;processStatus&quot;: &quot;PENDING&quot; after you upload the file. </p>

		<p><br /></p>
		<p>
			<img class="" src="/img/batch/batch_2.png" width="100%" />
		</p>
		<br />
	</div>
	<div id="h3_mcUploadFile">
		<h3>Batch Information</h3>
		<p>A few seconds after the upload, you will be able to see the request file as well as the corresponding response file within the Merchant Center Batch list. The status field on the API will then change to &quot;processStatus&quot;: &quot;COMPLETE&quot;.</p>
		<p>
			<img class="" src="/img/batch/batch_3.png" width="100%" />
		</p>
		<br />
	</div>
</div>
