<div id="h2_overview">
	<h2>Overview</h2>
	<br/>
	<p>
		Batch processing is a feature allowing the merchant to upload a file with multiple transactions data that will be processed asynchronously by the Payengine. It aims at easing the integration of automated back-office operations and recurring payments processing.
	</p>
	<ul>
		<li>The Payengine provides a light API interface for uploading batch files.</li>
		<li>Batch processing is achieved via API upload of csv files containing the requested operations.</li>
		<li>When the csv batch file is uploaded the Payengine will start processing the operations asynchronously.</li>
		<li>You can submit up to 5000 operations per file which are then picked up and processed by the system. </li>
		<li>After completion of the execution of a batch file request the Payengine provides a response file listing all the operations results.</li>
		<li>There are flexible options for receiving notifications about batch files processing via email or webhooks.</li>
	</ul>
	<br/>
</div>
