<ul>
  <li><a href="#scope" name="">Scope of Notification Service Subscription</a></li>
  <li><a href="#service_management" name="">Management of Notification Service</a></li>
  <ul>
    <li><a href="#navigation" name="">Accessing 'Notifications' section</a></li>
    <li><a href="#notification_create" name="">Creating new notifications</a></li>
    <li><a href="#notification_actions" name="">Actions with existing notifications</a></li>
    <ul>
      <li><a href="#notification_view" name="">Reviewing notification details</a></li>
      <li><a href="#notification_edit" name="">Editing notifications</a></li>
      <li><a href="#notification_delete" name="">Deleting Notifications</a></li>
      <li><a href="#notification_filters" name="">Filtering Notifications List</a></li>
      <ul>
        <li><a href="#notification_filters_create" name="">Filtering by "Created at"</a></li>
        <li><a href="#notification_filters_update" name="">Filtering by "Updated at"</a></li>
        <li><a href="#notification_filters_active" name="">Filtering by "Active" status</a></li>
        <li><a href="#notification_filters_type" name="">Filtering by "Notification type"</a></li>
      </ul>
    </ul>
  </ul>
</ul>

<div id="scope">
  <br/>
  <br/>
  <h2>Scope of Notification Service Subscription</h2>
  <br/>
  <p>When using Merchant Center for setting up notifications,  merchants can subscribe to be notified for all or some events from the following four event categories:</p>

  <ul>
    <li>Transaction Events</li>
    <li>Customer Events</li>
    <li>Payment Instrument Events</li>
    <li>Order Events</li>
  </ul>

  <p>More detailed information about events can be found under the following link: <a href="/merchantcenter/notifications_api" name="">- Notifications in API</a> </p>

</div>

<div id="service_management">
  <br/>
  <br/>
  <h2>Management of Notification Service</h2>

  <div id="navigation">
    <br/>
    <br/>
    <h3>Accessing 'Notifications' section</h3>
    <p>Management of notifications can be done when accessing  "Notifications" section on Merchant Center menu</p>

    <img class="alignnone wp-image-7548 " src="/uploads/2018/03/notifications_navigation.png" alt="" width="100%" />
  </div>

  <div id="notification_create">
    <br/>
    <br/>
    <h3>Creating new notifications</h3>
    <br/>

    <strong>Step 1 - </strong>Clicking on „Plus“ icon in the top right corner
    <img class="alignnone wp-image-7553 " src="/uploads/2018/03/notifications_create-1.png" alt="" width="100%"  />
    <br/>

    <strong>Outcome - </strong>A new window containing all parameters of the notification will be opened
    <img class="alignnone wp-image-7555 " src="/uploads/2018/03/notifications_new.png" alt="" width="100%" />
    <br/>

    <strong>Step 2 - </strong>Selecting notification type option (email for the current example)
    <img class="alignnone wp-image-7557 " src="/uploads/2018/03/notification-type-select.png" alt="" width="100%"  />
    <br/>

    <strong>Outcome - </strong>A new 'Email' field will be displayed
    <img class="alignnone wp-image-7558 " src="/uploads/2018/03/notification_type_email.png" alt="" width="100%"  />
    <br/>

    <strong>Step 3 - </strong>Filling information fields which individualize new notification (mandatory - email address receiver, optional - appropriate name and description)
    <img class="alignnone wp-image-7563 " src="/uploads/2018/03/notifications_description-1.png" alt="" width="100%" />
    <br/>

    <strong>Step 4 - </strong>Selecting events for which merchant wants to be notified
    <ul>
      <li>Option one - Selecting all available events - by marking 'Select All' checkbox</li>
      <li>Option two - Selecting one or more events - by marking checkbox/es of the desired event/s </li>
    </ul>
    <img class="alignnone wp-image-7566 " src="/uploads/2018/03/notifications_select.png" alt="" width="100%"  />
    <br/>

    <strong>Important Note:</strong>
    <p>
      When creating a notification, by default, the "Activate notification" checkbox is marked . If the merchant wants to create an inactive notification, this checkbox has to be unmarked.
    </p>
    <img class="alignnone wp-image-7570 " src="/uploads/2018/03/notification_activate.png" alt="" width="100%"  />
    <br/>

    <strong>Step 5 - </strong>Saving the new notification - by pressing "Save" button on the bottom of the page
    <img class="alignnone wp-image-7571 " src="/uploads/2018/03/notification_save.png" alt="" width="100%"  />
    <br/>

    <strong>Outcome - </strong>Successfully created notification is displayed in the notification list
    <img class="alignnone wp-image-7572 " src="/uploads/2018/03/notifications_list.png" alt="" width="100%"  />
    <br/>

  </div>


  <div id="notification_actions">
    <br/>
    <br/>
    <h3>Actions with existing notifications</h3>

    <div id="notification_view">
      <br/>
      <br/>
      <h4>Reviewing notification details</h4>
      <br/>

      All details for any existing notification from the notification list can be reviewed by the merchant by selecting dots in the column 'Actions' for a chosen notification.
      <img class="alignnone wp-image-7575 " src="/uploads/2018/03/notifications_edit.png" alt="" width="100%" />
      <br/>

      After selecting the dots a new window will be opened displaying available details for the chosen notification.
      <img class="alignnone wp-image-7581 " src="/uploads/2018/03/notification_view.png" alt="" width="100%"  />
      <br/>
    </div>

    <div id="notification_edit">
      <br/>
      <br/>
      <h4>Editing notifications</h4>
      <br/>

      An 'Edit' button is present on the window containing details for the selected notification.
      <img class="alignnone wp-image-7584 " src="/uploads/2018/03/notification_view-edit.png" alt="" width="100%" />
      <br/>

      After pressing the 'Edit' button a new window will be opened displaying notification details that can be edited.
      <img class="alignnone wp-image-7585 " src="/uploads/2018/03/notification_edit.png" alt="" width="100%"  />
      <br/>

      <p>The following edit actions are possible:</p>
      <ul>
        <li><strong>Changing notification type - </strong>in the current example from email to URL</li>
        <img class="alignnone wp-image-7586 " src="/uploads/2018/03/notifications_change_type.png" alt="" width="100%" />
        <br/>

        <strong>Important Note: </strong>Changing the notification type requires a change in the field below  'Email'/ 'URL' - in the current example a valid URL has to be specified.
        <img class="alignnone wp-image-7588 " src="/uploads/2018/03/notification_change_url_error.png" alt="" width="100%"/>

        <li><strong>Changing notification information</strong></li>
        <p>Email/URL field is mandatory - a valid email address/URL is required</p>
        <p>Name & Description fields are optional</p>
        <img class="alignnone wp-image-7563 " src="/uploads/2018/03/notifications_description-1.png" alt="" width="100%"  />
        <br/>

        <li><strong>Changing events for which merchant to be notified </strong></li>
        <img class="alignnone wp-image-7566 " src="/uploads/2018/03/notifications_select.png" alt="" width="100%"  />
        <br/>

        <li><strong>Changing active status of the notification - </strong>when marking/unmarking field 'Activate Notification'</li>
        <img class="alignnone wp-image-7570 " src="/uploads/2018/03/notification_activate.png" alt="" width="100%"  />
        <br/>

        <strong>Important Note: </strong>In order to be applied all changes have to be saved by clicking on the 'Save' button.
        <img class="alignnone wp-image-7571 " src="/uploads/2018/03/notification_save.png" alt="" width="100%"  />
        <br/>

      </ul>
    </div>

    <div id="notification_delete">
      <br/>
      <br/>
      <h4>Deleting Notifications</h4>
      <br/>

      Deleting a chosen notification from the notifications list can be done by clicking on the delete icon placed at the end of notification row.
      <img class="alignnone wp-image-7591 " src="/uploads/2018/03/notification_delete.png" alt="" width="100%"  />
      <br/>

      After clicking on the delete icon, a modal window with cancel and confirmation options will be displayed.
      <img class="alignnone wp-image-7593 " src="/uploads/2018/03/notification_delete_confirm.png" alt="" width="100%" />
      <br/>

      After pressing 'Delete' button on the modal window the selected notification will be deleted from the notifications list.
      <img class="alignnone wp-image-7594 " src="/uploads/2018/03/notification_deleted.png" alt="" width="100%"  />
      <br/>

    </div>

    <div id="notification_filters">
      <br/>
      <br/>
      <h4>Filtering Notifications List</h4>
      <br/>

      <p>A list of notifications can be narrowed down by applying filters based on various criteria including; creation date, update date, active status and type of notification.</p>
      <p>Clicking in the field 'Filters' above the notifications list will make all filters visible.</p>
      <img class="alignnone wp-image-7596 " src="/uploads/2018/03/notification_filters.png" alt="" width="100%" />
      <br/>

      <div id="notification_filters_create">
        <br/>
        <br/>
        <h4>Filtering by "Created at"</h4>
        <br/>

        <p>There are three options for setting up date/s for the filter 'Created at".</p>
        <p>For all three options desired date/s has/have to be chosen from the calendar by clicking on the calendar icon in front of the input field/s as shown below.</p>
        <img class="alignnone wp-image-7599 " src="/uploads/2018/03/notification_filter_create_from.png" alt="" width="100%"  />
        <br/>

        <strong>Option 1 - </strong>Specifying only the start date of a date range.
        <p>The end date of the range will not be specified and the second input field will remain empty. </p>
        <img class="alignnone wp-image-7600 " src="/uploads/2018/03/notification_filter_create_from1.png" alt="" width="100%" ghgh1298" />
        <br/>

        <strong>Outcome - </strong>SAfter pressing 'Apply' button the list of notifications will be narrowed down to those notifications which are created from the specified start date to current date.
        <img class="alignnone wp-image-7608 " src="/uploads/2018/03/notification_filtered_create_from1-1.png" alt="" width="100%" ghgh914" />
        <br/>

        <strong>Option 2 - </strong>Specifying only the end date of a date range.
        <p>The start date of the range will not be specified and the first input field will remain empty. </p>
          <img class="alignnone wp-image-7602 " src="/uploads/2018/03/notification_filter_create_to.png" alt="" width="100%" ghgh1290" />
        <br/>

        <strong>Outcome: </strong>After pressing 'Apply' button the list of notifications will be narrowed down to all existing notifications which are created from the beginning to the specified end date.
        <img class="alignnone wp-image-7603 " src="/uploads/2018/03/notification_filtered_create_to.png" alt="" width="100%" ghgh852" />
        <br/>

        <strong>Option 3 - </strong>Specifying both the start date and the end date of a date range.
        <p>Both input fields of 'Created at' filter will be filled. </p>
        <img class="alignnone wp-image-7604 " src="/uploads/2018/03/notification_filer_create_both.png" alt="" width="100%" ghgh1384" />
        <br/>

        <strong>Outcome: </strong>After pressing 'Apply' button the list of notifications will be narrowed down to all existing notifications which are created from the specified start date to the specified end date of the date range
        <img class="alignnone wp-image-7605 " src="/uploads/2018/03/notification_filered_create_both.png" alt="" width="100%" ghgh798" />
        <br/>

        <strong>Important Note: </strong>Deleting of already selected date/s is possible by pressing 'X' icon at the end of the second input field for dates.
        <img class="alignnone wp-image-7606 " src="/uploads/2018/03/notification_filer_create_delete.png" alt="" width="100%" ghgh1158" />
        <br/>

      </div>

      <div id="notification_filters_update">
        <br/>
        <br/>
        <h4>Filtering by "Updated at"</h4>
        <br/>

        <p>Filter 'Updated at' works in a similar way to the way of working of filter 'Created at'</p>
        <p>There are three options for setting up date/s for the filter 'Updated at".</p>
        <p>For all three options desired date/s has/have to be chosen from the calendar by clicking on the calendar icon in front of the input field/s as shown below.</p>
        <img class="alignnone wp-image-7610 " src="/uploads/2018/03/notification_filter_update_date.png" alt="" width="100%" ghgh1304" />
        <br/>

        <strong>Option 1 - </strong>Specifying only the start date of a date range.
        <p>The end date of the range will not be specified and the second input field will remain empty. </p>
        <img class="alignnone wp-image-7611 " src="/uploads/2018/03/notification_filter_update_from.png" alt="" width="100%" ghgh1342" />
        <br/>

        <strong>Outcome - </strong> After pressing 'Apply' button the list of notifications will be narrowed down to those notifications which are updated from the specified start date to current date.
        <img class="alignnone wp-image-7613 " src="/uploads/2018/03/notification_filter_updated_to.png" alt="" width="100%" ghgh914" />
        <br/>

        <strong>Option 2 - </strong>Specifying only the end date of a date range.
        <p>The start date of the range will not be specified and the first input field will remain empty.  </p>
        <img class="alignnone wp-image-7614 " src="/uploads/2018/03/notification_filter_update_to.png" alt="" width="100%" ghgh1312" />
        <br/>

        <strong>Outcome: </strong>After pressing 'Apply' button the list of notifications will be narrowed down to all existing notifications which are updated from the beginning to the specified end date.
        <img class="alignnone wp-image-7616 " src="/uploads/2018/03/notification_filtered_update_to.png" alt="" width="100%" ghgh852" />
        <br/>

        <strong>Option 3 - </strong>Specifying both the start date and the end date of a date range.
        <img class="alignnone wp-image-7617 " src="/uploads/2018/03/notification_filer_update_both.png" alt="" width="100%" ghgh1318" />
        <br/>

        <strong>Outcome: </strong>After pressing 'Apply' button the list of notifications will be narrowed down to all existing notifications which are updated from the specified start date to the specified end date of the date range.
        <img class="alignnone wp-image-7618 " src="/uploads/2018/03/notification_filered_update_both.png" alt="" width="100%" ghgh798" />
        <br/>

        <strong>Important Note: </strong>Deleting of already selected date/s is possible by pressing 'X' icon at the end of the second input field for dates.
        <img class="alignnone wp-image-7619 " src="/uploads/2018/03/notification_filer_update_delete.png" alt="" width="100%"  />
        <br/>

      </div>

      <div id="notification_filters_active">
        <br/>
        <br/>
        <h4>Filtering by "Active" status</h4>
        <br/>

        <p>Notifications with 'Active' status can be filtered from the full list of notifications by marking checkbox 'Active' in 'Filters' section and pressing button 'Apply'.</p>
        <img class="alignnone wp-image-7621 " src="/uploads/2018/03/notification_filered_active.png" alt="" width="100%" />
        <br/>

        <strong>Outcome - </strong> After pressing 'Apply' button the full list of notifications will be narrowed down only to notifications which are with status 'Active'
        <img class="alignnone wp-image-7622 " src="/uploads/2018/03/notification_filer_active.png" alt="" width="100%"  />
        <br/>

      </div>

      <div id="notification_filters_type">
        <br/>
        <br/>
        <h4>Filtering by "Notification type"</h4>
        <br/>

        <p>Notifications with chosen notification type can be filtered from the full list of notifications by marking corresponding to the notification type checkbox in 'Filters' section and pressing button 'Apply'.</p>
        <img class="alignnone wp-image-7623 " src="/uploads/2018/03/notification_filer_type.png" alt="" width="100%" />
        <br/>

        <strong>Outcome - </strong> After pressing 'Apply' button the full list of notifications will be narrowed down only to notifications from selected notification type.
        <img class="alignnone wp-image-7624 " src="/uploads/2018/03/notification_filered_type.png" alt="" width="100%"  />
        <br/>

      </div>
      <br/>

    </div>
  </div>
</div>
