<!-- <ul>
  <li><a href="#scope" name="">Scope of Notification Service Subscription</a></li>
  <li><a href="#service_management" name="">Management of Notification Service</a></li>
  <ul>
    <li><a href="#navigation" name="">Accessing 'Notifications' section</a></li>
    <li><a href="#notification_create" name="">Creating new notifications</a></li>
    <li><a href="#notification_actions" name="">Actions with existing notifications</a></li>
    <ul>
      <li><a href="#notification_view" name="">Reviewing notification details</a></li>
      <li><a href="#notification_edit" name="">Editing notifications</a></li>
      <li><a href="#notification_delete" name="">Deleting Notifications</a></li>
      <li><a href="#notification_filters" name="">Filtering Notifications List</a></li>
      <ul>
        <li><a href="#notification_filters_create" name="">Filtering by "Created at"</a></li>
        <li><a href="#notification_filters_update" name="">Filtering by "Updated at"</a></li>
        <li><a href="#notification_filters_active" name="">Filtering by "Active" status</a></li>
        <li><a href="#notification_filters_type" name="">Filtering by "Notification type"</a></li>
      </ul>
    </ul>
  </ul>
</ul> -->
<ol>
  <li><a href="/notifications/subscription_via_mc#version">Version</a></li>
  <li><a href="/notifications/subscription_via_mc#v1NotificationServiceSubscription">V1 Notification Service Subscription</a></li>
  <li><a href="/notifications/subscription_via_mc#v2NotificationServiceSubscription">V2 Notification Service Subscription</a></li>
  <li><a href="/notifications/subscription_via_mc#notificationServiceManagement">Notification Service Management</a>
    <ol>
        <li><a href="/notifications/subscription_via_mc#accessToTheNotificationsSection">Access to the Notifications Section</a></li>
        <li><a href="/notifications/subscription_via_mc#createNewNotification">Create a new Notification</a></li>
        <li><a href="/notifications/subscription_via_mc#notificationActions">Notification Actions</a>
          <ol>
              <li><a href="/notifications/subscription_via_mc#reviewingNotificationDetails">Reviewing Notification Details</a></li>
              <li><a href="/notifications/subscription_via_mc#еditingNotifications">Editing Notifications</a></li>
              <li><a href="/notifications/subscription_via_mc#deletingNotifications">Deleting Notifications</a></li>
              <li><a href="/notifications/subscription_via_mc#filtering">Filtering the Notifications List</a></li>
              <li><a href="/notifications/subscription_via_mc#filteringNotificationsByUpdateDate">Filtering Notifications by Update Date</a></li>
              <li><a href="/notifications/subscription_via_mc#filteringNotificationsByActiveStatus">Filtering Notifications by Active Status</a></li>
              <li><a href="/notifications/subscription_via_mc#filteringNotificationsByNotificationType">Filtering Notifications by Notification Type</a></li>
              <li><a href="/notifications/subscription_via_mc#filteringNotificationsByVersion">Filtering Notifications by Version</a></li>
            </ol>
        </li>
        
      </ol>
  </li>
  
</ol>

<div id="version">
  <br/>
  <h2>Version</h2>
  <br/>
  <br/>
  <p>
    The notification service introduces a version flag. There are two types of notifications - V1 and V2. The existing notification services, created prior to the newly implemented V2 notifications, are flagged as V1, and all newly-created notifcations are now flagged as V2 by default. There is also an option for the merchant to switch between V1 and V2 notifications and create a new notification as V1.
  </p>
  <br/>
</div>
<br/>
<div id="v1NotificationServiceSubscription">
  <br/>
  <h2>V1 Notification Service Subscription</h2>
  <br/>
  <br/>
  <p>You can subscribe for V1 event notifications from the following categories:</p>
  <br/>
  <ul>
    <li>Transaction Events</li>
    <li>Customer Events</li>
    <li>Payment Instrument Events</li>
    <li>Order Events</li>
  </ul>
  <br/>
  <p>For more information on events, see: <a href="/notifications/notifications_api">Notifications - General Overview and Management via API.</a></p>
</div>
<br/>
<div id="v2NotificationServiceSubscription">
  <br/>
  <h2>V2 Notification Service Subscription</h2>
  <br/>
  <br/>
  <p>You can subscribe for V2 event notifications from the following categories:</p>
  <br/>
  <p><strong><u>NOTE:</u></strong> All events can be categorized.</p>
  <br/>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Transaction</td>
        <td>
            Payment transaction related events that notify the merchant  about relevant status updates on the corresponding order.<br/>
            Each specific event is raised for the given combination of transaction type and corresponding status.
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <p>The following table lists all required events, grouped by category and specifies which events are available through which channel.</p>
  <br/>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th  >Category</th>
        <th  >Event</th>
        <th  >Transaction Type</th>
        <th>Status</th>
        <th>Webhook</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Transaction</td>
        <td>trx.preauth.pending</td>
        <td>PREAUTH</td>
        <td>PENDING</td>
        <td>yes</td>
        <td>no</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.preauth.success</td>
        <td>PREAUTH</td>
        <td>OK</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.preauth.failure</td>
        <td>PREAUTH</td>
        <td>FAILURE,<br/> ABORTED,<br/> DECLINED,<br/> EXPIRED</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.cancel.initiated</td>
        <td>CANCEL</td>
        <td>OK</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.cancel.success</td>
        <td>CANCEL</td>
        <td>SUCCESS</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.cancel.failure</td>
        <td>CANCEL</td>
        <td>FAILURE,<br/> DECLINED</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.debit.pending</td>
        <td>DEBIT</td>
        <td>PENDING</td>
        <td>yes</td>
        <td>no</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.debit.initiated</td>
        <td>DEBIT</td>
        <td>OK</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.debit.success</td>
        <td>DEBIT</td>
        <td>SUCCESS</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.debit.failure</td>
        <td>DEBIT</td>
        <td>FAILURE,<br/> ABORTED,<br/> DECLINED,<br/> EXPIRED</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.capture.initiated</td>
        <td>CAPTURE</td>
        <td>OK</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.capture.success</td>
        <td>CAPTURE</td>
        <td>SUCCESS</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.capture.failure</td>
        <td>CAPTURE</td>
        <td>FAILURE,<br/> DECLINED,<br/> EXPIRED</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.refund.initiated</td>
        <td>REFUND</td>
        <td>OK</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.refund.success</td>
        <td>REFUND</td>
        <td>SUCCESS</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.refund.failure</td>
        <td>REFUND</td>
        <td>FAILURE,<br/> DECLINED</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.credit.initiated</td>
        <td>CREDIT</td>
        <td>OK</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.credit.success</td>
        <td>REFUND</td>
        <td>CREDIT</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Transaction</td>
        <td>trx.credit.failure</td>
        <td>CREDIT</td>
        <td>FAILURE,<br/> ABORTED, <br/>DECLINED</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
    </tbody>
  </table>
  <br/>
</div>
<br/>
<div id="notificationServiceManagement">
  <br/>
  <h2>Notification Service Management</h2>
  <br/>
  <br/>
  <h3 id="accessToTheNotificationsSection">Access to the Notifications Section</h3>
  <br/>
  <p>You can manage notifications via the <strong>Notifications</strong> section on the <strong>Merchant Center</strong> homepage.</p>
  <br/>
  <h3 id="createNewNotification">Create a new Notification</h3>
  <br/>
  <p>1. To create a new notification via Merchant Center, click on the <img src="/img/notififications/create-notification-button.png" width="10%"> icon in the top right corner.</p>
  <br/>
  <img src="/img/notififications/create-notification.png" width="70%">
  <br/>
  <br/>
  <p>2. A new window that contains all notification parameters opens.</p>
  <br/>
  <img src="/img/notififications/step-2.png" width="70%">
  <br/>
  <br/>
  <p>3. Select a notification type option:</p>
  <br/>
  <p> 3.1 <strong>Notification Type: Email</strong> is used for receiving notifications via email.</p>
  <br/><p>   3.1.1 Select <strong>Email</strong> from the drop-down <strong>Notification Type</strong>, and in the <strong>Email</strong> field, fill in the email address for receiving notifications.</p>
  <br/>
  <p>   <strong>Note:</strong> You can provide optional information in the <strong>Name</strong> and <strong>Description</strong> fields. The information described in these fields may serve as reference to the merchant in case the received notifcations must be recognized. </p>
  <img src="/img/notififications/step-3.png" width="70%">
  <br/>
  <p>3.1.2 From the <strong>Events</strong> section, select one or more events by checking the box(es) next to the desired event(s).</p>
  <br/>
  <p><strong>Note:</strong> To select all events, check the <strong>Select All</strong> box.</p>
  <br/>
  <p><strong>Note:</strong> When creating a notification, the <strong>Activate notification</strong> box is checked by default. Uncheck the <strong>Activate notification</strong> box to create an inactive notification.</p>
  <br/>
  <img src="/img/notififications/step-3-2.png" width="70%">
  <br/>
  <p>2.1.3 Click <strong>Save</strong> to validate your changes.</p>
  <br/>
  <p>2.1.4 The new notification is displayed in the notification list.</p>
  <br/>
  <img src="/img/notififications/step-3-4.png" width="70%">
  <br/>
  <p>2.2 You can use Notification Type: URL for receiving notifications that deliver event information to your system by calling a script hosted on the server.</p>
  <br/>
  <br/>
  <h3 id="notificationActions">Notification Actions</h3>
  <br/>
  <h4 id="reviewingNotificationDetails">Reviewing Notification Details</h4>
  <br/>
  <p>1. Click the <img src="/img/notififications/dots-menu.png" width="10%"> ellipsis icon in the Actions column to review the details for a notification.</p>
  <br/>
  <img src="/img/notififications/notifications_edit.png" width="70%">
  <br/>
  <p>2. A new window opens which shows all details for a selected notification.</p>
  <br/>
  <img src="/img/notififications/notifications_edit-2.png" width="70%">
  <br/>
  <h3 id="еditingNotifications"><u>Editing Notifications</u></h3>
  <br/>
  <p>You can edit notifications using the <strong>Edit</strong> button in the window that contains details for a selected notification.</p>
  <br/>
  <p>1. To edit notification details, click the <strong>Edit</strong> button.</p>
  <br/>
  <img src="/img/notififications/edit-1.png" width="70%">
  <br/>
  <p>2. Click <strong>Save</strong> to apply all changes.</p>
  <br/>
  <img src="/img/notififications/edit-2.png" width="70%">
  <br/>
  <h5><u>Editing the Notification Information and the Notification Events Subscription</u></h5>
  <br/>
  <p>
      You can change or edit the information of an existing notification, for example an email address, a URL.<br/>
      You can modify your subscription for an existing events notification from the Events section. <br/>
      You can change the active status of a notification by checking or unchecking the Activate Notification field.<br/>
      <strong>Note: Email</strong> or <strong>URL</strong> are mandatory fields, and <strong>Name</strong> and <strong>Description</strong> fields are optional.
  </p>
  <br/>
  <p>To change the notification type to <strong>Email:</strong> </p>
  <ol>
    <li>Click <strong>Edit</strong>, and provide a valid email address in the <strong>Email</strong> field.</li>
    <li>Select all events for which you want to receive notifications.</li>
    <li>To activate the notification, check the <strong>Activate Notification</strong> box.</li>
    <li>Click <strong>Save</strong> to apply all changes.</li>
  </ol>
  <br/>
  <p>To change the notification type to <strong>URL:</strong></p>
  <ol>
    <li>Click Edit, and provide a valid URL in the <strong>URL</strong> field.</li>
    <li>Select all events for which you want to receive notifications.</li>
    <li>To activate the notification, check the <strong>Activate Notification</strong> box.</li>
    <li>Click <strong>Save</strong> to apply all changes.</li>
  </ol>
  <br/>
  <img src="/img/notififications/edit-3.png" width="70%">
  <br/>
  <h5 id="deletingNotifications"><u>Deleting Notifications</u></h5>
  <br/>
  <p>1. To delete a notification from the notifications list, click thedelete <img src="/img/notififications/delete-icon.png" > icon in the <strong>Actions</strong> column.</p>
  <br/>
  <p>2. Confirm your choice to delete the selected notification from the notifications list.</p>
  <br/>
  <img src="/img/notififications/delete-1.png" width="70%">
  <br/>
  <h5 id="filtering"><u>Filtering the Notifications List</u></h5>
  <br/>
  <p>You can narrow down the list of notifications by applying filters, based on various criteria, including creation date, update date, active status and type of notification.</p>
  <br/>
  <p><strong>Filtering Notifications by Creation Date</strong></p>
  <br/>
  <ol>
    <li>To extend the notifications filtering options and make all filters visible, click on the <stron>Filters</stron> drop-down.</li>
    <li>Click on the <img src="/img/notififications/calendar-icon.png" > calendar icon, choose a date form the <strong>Created at</strong> filter, and click <strong>Apply</strong>.
        <br/><br/>
        <strong>Note:</strong> If you specify only the <strong>Created at</strong> date, you will get a list of notifications which will include only the notifications, created from the specified <strong>Created at</strong> date to the current date.
        <br/><br/>
        <strong>Note:</strong> If you specify only the <strong>TO</strong> date, you will get a list of notifications which will include only the notifications, created from the beginning to the specified <strong>TO</strong> date.
        <br/><br/>
        <strong>Note:</strong> If you specify both, the <strong>Created at</strong>  and the <strong>TO</strong>  date, you will get a list of notifications which will include only the notifications, created from the specified <strong>Created at</strong> to the specified <strong>TO</strong>  date.
        <br/><br/>
        <strong>Note:</strong>  To remove a selected <strong>Created at</strong> or <strong>TO</strong>  date, click the <img src="/img/notififications/x-icon.png" > icon in the <strong>TO</strong>  date field.
    </li>
  </ol>
  <br/>
  <img src="/img/notififications/filter-1.png" width="70%">
  <img src="/img/notififications/filter-2.png" width="70%">
  <img src="/img/notififications/filter-3.png" width="70%">
  <br/>
  <br/>
  <h5 id="filteringNotificationsByUpdateDate">Filtering Notifications by Update Date</h5>
  <br/>
  <ol>
    <li>To extend the notifications filtering options and make all filters visible, click on the <stron>Filters</stron> drop-down.</li>
    <li>Click on the <img src="/img/notififications/calendar-icon.png" > calendar icon, choose a date form the <strong>Updated at</strong> filter, and click <strong>Apply</strong>.
        <br/><br/>
        <strong>Note:</strong> If you specify only the <strong>Updated at</strong> date, you will get a list of notifications which will include only the notifications, created from the specified <strong>Updated at</strong> date to the current date.
        <br/><br/>
        <strong>Note:</strong> If you specify only the <strong>TO</strong> date, you will get a list of notifications which will include only the notifications, created from the beginning to the specified <strong>TO</strong> date.
        <br/><br/>
        <strong>Note:</strong> If you specify both, the <strong>Updated at</strong>  and the <strong>TO</strong>  date, you will get a list of notifications which will include only the notifications, created from the specified <strong>Updated at</strong> to the specified <strong>TO</strong>  date.
        <br/><br/>
        <strong>Note:</strong>  To remove a selected <strong>Updated at</strong> or <strong>TO</strong>  date, click the <img src="/img/notififications/x-icon.png" > icon in the <strong>TO</strong>  date field.
    </li>
  </ol>
  <br/>
  <img src="/img/notififications/update-1.png" width="70%">
  <img src="/img/notififications/update-2.png" width="70%">
  <img src="/img/notififications/update-3.png" width="70%">
  <br/>
  <br/>
  <h5 id="filteringNotificationsByActiveStatus">Filtering Notifications by Active Status</h5>
  <br/>
  <p>You can filter notifications with an Active status.</p>
  <br/>
  <ol>
    <li>Check the <strong>Active</strong> box in the <strong>Filters</strong> section.</li>
    <li>Click <strong>Apply</strong> to view all active status notifications.</li>
  </ol>
  <br/>
  <img src="/img/notififications/active-1.png" width="70%">
  <br/>
  <br/>
  <h5 id="filteringNotificationsByNotificationType">Filtering Notifications by Notification Type</h5>
  <br/>
  <p>You can filter notifications by <strong>URL</strong> notification type.</p>
  <br/>
  <ol>
    <li>Check the <strong>URL</strong> box in the <strong>Notification type </strong>section.</li>
    <li>Click <strong>Apply</strong> to view all Notification type: <strong>URL</strong> notifications.</li>
  </ol>
  <br/>
  <p>You can filter notifications by <strong>Email</strong> notification type.</p>
  <br/>
  <ol>
    <li>Check the <strong>Email</strong> box in the <strong>Notification type </strong>section.</li>
    <li>Click <strong>Apply</strong> to view all Notification type: <strong>Email</strong> notifications.</li>
  </ol>
  <br/>
  <img src="/img/notififications/type-1.png" width="70%">
  <img src="/img/notififications/type-2.png" width="70%">
  <br/>
  <br/>
  <h5 id="filteringNotificationsByVersion">Filtering Notifications by Version</h5>
  <br/>
  <p>You can filter notifications by <strong>Version (V1/V2)</strong>.</p>
  <br/>
  <ol>
    <li>Check the <strong>V1</strong> or <strong>V2</strong> box under <strong>Version</strong>.</li>
    <li>Click <strong>Apply</strong> to view all <strong>V1</strong> or <strong>V2</strong> notifications.</li>
  </ol>
  <br/>
  <img src="/img/notififications/ver-1.png" width="70%">
  <br/>
</div>











