<h3>PATCH /orders/{orderId}</h3>
<p>Method: <code>PATCH</code></p>
<p>URI: <code>/orders/{orderId}</code></p>
<p>Parent Error Code: <code>12004 12003 "Error while updating order"</code></p>
<p>The HTTP Status is always <code>400 Bad Request</code></p>

<table width="100%">
  <thead>
    <tr>
      <th style="text-align: center;">Field</th>
      <th style="text-align: center;">Required</th>
      <th style="text-align: center;">Data Type</th>
      <th style="text-align: center;">Validation</th>
      <th style="text-align: center;">Code</th>
    </tr>
  </thead>
  <tbody>
    <tr style="text-align: center; background-color: white; border-top: 1px solid black;">
      <td>orderId</td>
      <td>Yes</td>
      <td>String</td>
      <td>valid identity of type order</td>
      <td><p>12004<p></p>12003</p></td>
    </tr>
  </tbody>
</table>
