<table style="border-collapse: collapse;">
	<thead>
		<tr>
			<th style="width: 300px; text-align: left; padding: 10px;"><b>What</b></th>
			<th style="width: 300px; text-align: left; padding: 10px;"><b>Sandbox URL</b></th>
			<th style="width: 350px; text-align: left; padding: 10px;"><b>Production URL</b></th>
		</tr>
	</thead>
	<tbody>
		<tr style="text-align: left; background-color: white; border-top: 1px solid black;">
			<td style="padding: 5px;">MerchantCenter</td>
			<td style="padding: 5px;">https://merchanttest.payengine.de</td>
			<td style="padding: 5px;">https://merchant.payengine.de</td>
		</tr>
		<tr style="text-align: left; background-color: white; border-top: 1px solid black;">
			<td style="padding: 5px;">API Host</td>
			<td style="padding: 5px;">https://apitest.payengine.de/v1</td>
			<td style="padding: 5px;">https://api.payengine.de/v1</td>
		</tr>
		<tr style="text-align: left; background-color: white; border-top: 1px solid black;">
			<td style="padding: 5px;">PaymentPage</td>
			<td style="padding: 5px;">https://pptest.payengine.de</td>
			<td style="padding: 5px;">https://pp.payengine.de</td>
		</tr>
		<tr style="text-align: left; background-color: white; border-top: 1px solid black;">
			<td style="padding: 5px;">JSBridge</td>
			<td style="padding: 5px;">https://pptest.payengine.de/bridge/1.0/payengine.min.js</td>
			<td style="padding: 5px;">https://pp.payengine.de/bridge/1.0/payengine.min.js</td>
		</tr>
		<tr style="text-align: left; background-color: white; border-top: 1px solid black;">
			<td style="padding: 5px;">Widget</td>
			<td style="padding: 5px;">https://pptest.payengine.de/widgetjs/payengine.widget.min.js</td>
			<td style="padding: 5px;">https://pp.payengine.de/widgetjs/payengine.widget.min.js</td>
		</tr>
	</tbody>
</table>