.redoc-element {
  font-family: "Calibri", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Calibri", sans-serif !important;
  font-weight: bold !important;
  color: #005776 !important;
}

div[data-section-id]:nth-of-type(2),
div[data-section-id]:nth-of-type(3),
div[data-section-id]:nth-of-type(2) > div[data-section-id] {
  padding: 0 !important;
}

a[target] {
  display: none !important;
}

.main-header{
  visibility: hidden !important;
  position: absolute;
}

label{
  font-weight: normal !important;
}

.tabs-nav li a, .main-header .header-nav > li > a,
.hero-heading, .hero-text, h1, h2, h3, h4, h5, h6,
.main-header .header-nav > li > a, .hero-heading, .hero-text{
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}

h3{
  font-size: 1.17em  !important;
  font-weight: bold !important;
  /* font-family: Roboto,sans-serif !important; */
}

/*
  Sidebar menu and API documentation contents
  fix for Chrome issue in redoc
  https://github.com/Redocly/redoc/issues/1167
*/
.menu-content {
  font-family: "Calibri", sans-serif !important;
  position: fixed;
  background: rgb(235, 235, 235);
}

.menu-content p, .menu-content span {
  font-family: "Calibri", sans-serif !important;
  color: #005776 !important;
}

.menu-content > div {
  padding: 10px;
}

.menu-content > div > img{
  background: none !important;
}

@media screen and (min-width: 800px) {
  div.api-content {
    margin-left: 300px;
  }
}